[2017-03-09 12:50] juliusv commented on #646
@beorn7 That'd be a cool alternative as well of course :)

[2017-03-09 12:58] dewey commented on #650
Thank you, should we close this issue or should it be marked as a feature request?

I think it'd definitely be great to have as it allows to structure the alerts in a better way (in addition to: https://github.com/prometheus/alertmanager/pull/649)

[2017-03-09 17:43] brian-brazil opened #651 "VictorOps config options do not match API"
The `from` and `message` config options for VictorOps map to `monitoring_tool` and `state_message` in the API call, this is confusing as it does't line up with the VictorOps docs. This should be made to follow the naming of the API.

[2017-03-09 18:51] alfredfrancis opened #652 "Dynamic urls in Alertmanager webhooks"
How can i use template inside custom webhook urls ?

I tried following but the templating is not getting processed.

    - name: 'jenkins'
      webhook_configs:
         - send_resolved: false
           url: "http://xxx.xxx.xxx.xxx/job/{{ .Labels.jobname }}/buildWithParameters?server={{ .Labels.instance }}&token=devopsforprom"

any help is appreciated

[2017-03-10 03:46] civik commented on #384
@estechnical you're my f'n hero with the 'require_tls: false'.  Wasted a day because that flag seems to not be documented ANYWHERE.

[2017-03-10 17:16] mattbostock opened #653 "Feature request: add histogram metric for time alert was firing"
So that you can detect flapping alerts and determine how actionable an alert is, it would be good if Alertmanager exposed a histogram metric for the amount of time that an alert was firing.

Such a metric could have high cardinality (hundreds of alert names with a few buckets each could result in a lot of metrics), so we might want to disable it by default.

Or perhaps there's a better way of trac

[2017-03-10 17:17] brian-brazil commented on #653
That's not a metric about the alertmanager, so it doesn't belong on /metrics.

This is something to be be analysed in another tool after the fact I think.

[2017-03-10 22:05] civik commented on #307
I think I have a pretty good grip on using the Group* and Common* values after reading this thread.  I'm still having difficulty accessing data OUTSIDE of the group union however.  Take this example case - A filesystem alert where I group by [alertname,instance] and I want to access the individual 'device' label attribute of each group member.

Any pointers?

[2017-03-14 11:52] fabxc commented on #645
I don't think we ever have to add it. There is really no point as it is only needed during bootstrapping.

Agreeing with @matthiasr on all ends.

There any script that populates the startup flags with results from querying service discovery serves the purpose just fine. All the complexity of relabeling makes the cost/benefit of adding this underwhelming.
Being not a stateless application and havin

[2017-03-14 12:27] iksaif commented on #645
I guess the idea was that it would be more user friendly not to have to script it, but it certainly is not a priority

[2017-03-14 12:31] fabxc commented on #645
I could see it as part of `amtool` #636 possibly but it's probably not trivial to do without still having a config file for it.

[2017-03-14 12:39] stuartnelson3 commented on #645
Closing issue as it is currently not planned to be implemented

[2017-03-14 12:42] stuartnelson3 commented on #652
This question should be directed to the [prometheus users mailing list](https://groups.google.com/forum/#!forum/prometheus-users).

[2017-03-14 12:42] #652 closed

[2017-03-14 12:47] stuartnelson3 commented on #650
Seems like a reasonable feature request. Could you write up a description with relevant links in a new issue?

[2017-03-14 12:47] #650 closed

[2017-03-14 12:58] dewey opened #654 "Feature request: Support Slack Attachments in alert templates"
Hey,

as already discussed in #650 it would be great to support custom Slack Attachments in the [alert templates](https://prometheus.io/blog/2016/03/03/custom-alertmanager-templates/). Right now [it's already used](https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L500-L508) but only in a hardcoded way and it's not possible to add additional custom attachments.

This would be r

[2017-03-14 12:58] dewey commented on #650
@stuartnelson3 Done in #654, let me know if there's anything missing.

[2017-03-14 14:00] fabxc commented on #646
There's no way around passing in const labels right now. Was at the same place elsewhere and also ran into a wall when not being able to wrap the registry with the required logic due to metric descs not exposing required fields.

I do not agree with allowing random components to now have additional arguments for const labels because some company needed it. It is arbitrary, sets a bad example, and

[2017-03-14 16:44] brian-brazil commented on #646
The way I've seen this play out previously is that things will start out with the per-file metrics (and metrics usually stay that way indefinitely). At some point a particular module/metric might find a new way of being used, in which case it gets a rewrite to use (only) the new metric or some way to pass in some form of "shard" identification in the constructor.

What that'd imply here would be a

[2017-03-14 16:49] threemachines commented on #635
We had a production issue yesterday that happened to confirm correct resolution behavior via the Pagerduty API. Not sure if 0.5.1 fixed it or if there was something wrong in my original manual test.

[2017-03-14 16:49] #635 closed

[2017-03-14 17:37] beorn7 commented on #646
I like the idea of "curried Registerers" more and more. Weekend was just cramped. Once I have a few idle cycles, I'm happy to give it a try. Should be relatively easy.

In this concrete context (multi-tenant), prefixing wouldn't really solve the use-case. In general, a Registerer curried with a prefix would take the role of namespace/subsystem, but this time in the proper way.

Could look like:
[c

[2017-03-14 17:47] brian-brazil commented on #646
The is a different use case. Namespace is about the library name, so e.g. all grpc metrics would always have a grpc_ metric no matter which application they're inside. If users started prefixing all metrics with their application name that'd be bad, as that makes horizontal monitoring challenging and would likely result in other anti-patterns.

What we're talking about here is where labels are bei

[2017-03-14 23:05] juliusv commented on #646
@fabxc Yes, totally fair comment. Seems like this won't be solved here directly, so closing.

@beorn7 Thanks, that would be useful to have!

[2017-03-14 23:05] #646 closed

[2017-03-14 23:12] fabxc commented on #646
That looks pretty much like what the interface should be 👍

[2017-03-15 08:27] yamingwa commented on #642
@brancz That's exactly what I am experimenting. I think I've got the idea. will close this issue. Thanks.

[2017-03-15 08:27] #642 closed

[2017-03-16 07:47] zgfh opened #657 "Architecture picture can have a better Font?"
sorry, I can not read the lots of words in Architecture(https://github.com/prometheus/alertmanager/blob/master/doc/arch.jpg).
I think the font of prometheus will be better.(https://github.com/prometheus/prometheus/blob/master/documentation/images/architecture.svg)

Can we attach  a more explicit picture or something like that?

[2017-03-16 07:56] fabxc commented on #657
I actually drew this image by hand – so that will be hard to change without just creating a new one :)

[2017-03-16 08:04] zgfh commented on #657
I would like to help to draw a new image  if I could see it clearly .
And I found there is a good tool for it, here is the link: https://www.processon.com/
Hope this can help you .

[2017-03-16 10:25] metalmatze commented on #657
I'd suggest StarUML for that kind of things, because you can easily export everything as json. Maybe even put into this repository.

[2017-03-16 13:15] mgtriffid commented on #642
Hi,

Can somebody please clarify, in this situation

when Alertmanager sends again after group_interval elapsed, it will notify about both alerts or about {foo="bar", instance="instanceB"} only?

[2017-03-16 16:51] lhoss commented on #157
any update on this ?
we need SNS support soon in one of our prometheus deployments .

is there anything missing to make a PR with @GiantToast 's suggestion above ? ( https://github.com/prometheus/alertmanager/issues/157#issuecomment-174033404 )

[2017-03-16 17:01] #647 closed

[2017-03-16 17:02] #265 closed

[2017-03-16 17:03] #465 closed

[2017-03-17 12:49] rahul-rs-srivastava opened #658 "Email Notification not working behind firewall"
Hi,

The alertmanager email notification to a gmail a/c is not working when run behind a firewall, even with the http_proxy set. However, the same config works perfectly fine when run outside the firewall. I also tried to configure to use the SMTP server on port 465, but that doesn't works either. Any help is appreciated.

Set the proxy
[[
export http_proxy=http://myproxy:80
export https_proxy=htt

[2017-03-17 22:43] radut commented on #611
so how can we actually filter resolved notifications, after being sent once ?

[2017-03-17 23:07] radut commented on #611
I have tested docker tag v0.4.2 and it works as expected, but v0.5.0 and v0.5.1 does send continuously the resolved information

[2017-03-18 21:43] mattbostock commented on #653
I'll look at doing this with an Elasticsearch script.

[2017-03-18 21:43] #653 closed

[2017-03-20 07:57] AndreaGiardini opened #659 "Email notification when alarm expires"
I would like to have a notification whenever an alarm expires.

Is it possible to do it with alertmanager? I didn't find anything related to it in the docs

[2017-03-20 08:02] brancz commented on #659
Do you mean a resolved notification? In that case you need to set the `send_resolved` field to `true` in your email config. https://prometheus.io/docs/alerting/configuration/#email_config

The [Prometheus Users](https://groups.google.com/forum/#!forum/prometheus-users) mailing list is in general a better place to ask user questions as they have better visibility and other users can benefit from it

[2017-03-20 08:10] AndreaGiardini commented on #659
That's great :) I will make sure to use mailing list next time, thank you!

[2017-03-20 08:10] #659 closed

[2017-03-20 09:45] stuartnelson3 commented on #658
Hey Rahul, this is more of a support question than an issue (as of now, it could turn into an issue). Could you post this message to the `prometheus-users` mailing group?

[2017-03-20 09:45] #658 closed

[2017-03-21 16:37] mattbostock opened #660 "Alertmanager v0.4.2 entered deadlock and stopped sending alert notifications"
Filing this issue for verison 0.4.2 (an old version) in case it helps anyone else using this version. We're unable to upgrade to 0.5.x currently until pagination for silences is supported (#522).

One of our Alertmanager instances entered a deadlock twice in two days, during which it stopped sending alert notifications. We resolved the issue by restarting Alertmanager on both occasions. Metrics we

[2017-03-22 14:56] sstorie opened #662 "Trying to clarify something about alerts resolved within "group wait""
I'm debugging a problem we've seen where a few alerts yesterday were fired and then resolved within 30 seconds, but alertmanager did not seem to act upon them. I can see the alerts in prometheus itself using the ALERTS metric, so I know they happened, but we were not notified. We have both email and webhook receivers configured, and other alerts worked during this time frame.

So my general questi

[2017-03-22 15:00] stuartnelson3 commented on #662
Hey @sstorie,

This is a question that should be moved to the prometheus-users mailing group (https://groups.google.com/forum/#!forum/prometheus-users)

[2017-03-22 15:00] #662 closed

[2017-03-22 15:43] sstorie commented on #662
Ok, thanks for the guidance. I've asked my question there.

[2017-03-22 17:44] QingsongYao opened #663 "Slack notification sometime has empty text"
Hi,
  The alert sent to slack sometime have empty description text below
AlertManager APP [10:21 AM]
Status: FIRING
Description:

My slack config is
    slack_configs:
        - send_resolved: true
          api_url:
          title: '{{ .CommonAnnotations.summary }}'
          pretext: 'Status: {{ .Status | toUpper }}'
          text: 'Description: {{ .CommonAnnotations.description }}'

I wonder

[2017-03-22 18:38] QingsongYao commented on #663
I fixed this issue by using
  text: 'Description: {{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}'

[2017-03-22 21:36] #663 closed

[2017-03-22 22:01] QingsongYao opened #664 "can an alert route to two receivers?"
I like to have two receivers for each alert.  One for slack/devops notification. another goes to logstach => elasticsearch for auditing purpose.  I wonder if we can achieve this today?

[2017-03-22 22:08] brian-brazil commented on #664
User questions are best asked at https://groups.google.com/forum/#!aboutgroup/prometheus-users

https://www.robustperception.io/sending-alert-notifications-to-multiple-destinations/

[2017-03-22 22:08] #664 closed

[2017-03-22 23:17] juliusv commented on #653
@mattbostock Note that Prometheus stores pending + firing alerts in an `ALERTS` metric with the alertname and other alert labels as labels. When the alert goes into `firing`, the corresponding `firing` time series for it first appears with value `1`, and when an alert is resolved, a final `0` sample is written out for it. So you could for example do something like this to find the alerts that are

[2017-03-23 12:51] steinliber opened #665 "add dingding support in alertmanager"
Dingding is the most popular communicate tool in China like slack, but altermanager doesn't support send message to dingding robort(webhook doesn't match format in dingding ), i'd like to PR this function like slack

[2017-03-23 13:25] stuartnelson3 commented on #665
You can write a service to receive the webhook request, parse the message, and then send the correctly formatted message to dingding.

[2017-03-23 15:40] fb-datax commented on #473
+1

[2017-03-23 16:19] mattbostock commented on #653
Thanks @juliusv, `changes()` is a good start.

[2017-03-23 17:25] lmb opened #666 "Alerts can inhibit themselves"
I have a bunch of alerts in the form of Prefix_Some_Name. I've set up the following inhibition rule:

[code]

As far as I can tell, this alert will inhibit itself, and never be delivered. Depending on how you look at it this is a bug in the alertmanager, or an important gotcha that should be documented.

Happy to contribute a patch either way.

Edit: I should add that I empirically verified this a

[2017-03-23 17:40] juliusv commented on #666
Hm yes, that is the behavior I would expect. I guess you expected that alerts generally cannot inhibit themselves?

I think adding a clarfiying sentence to https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md#inhibit_rule would be generally welcome if you think this is something that is confusing.

[2017-03-23 17:50] threemachines commented on #666
I also discovered this behavior the hard way. I agree that it's strictly reasonable within the context of how inhibitions are currently structured, but is this behavior considered desirable?

If alerts never inhibited themselves, certain types of alerting noise could be reduced in a way that's currently infeasible. The only use case I can imagine for self-inhibiting alerts is ensuring they never n

[2017-03-23 19:48] juliusv commented on #666
Yeah, I can't come up with a reason why an alert should be able to inhibit itself either. The question is, is it worth introducing an explicit exception for this case? That's ultimately up to the Alertmanager maintainers (@stuartnelson3 @fabxc).

[2017-03-23 21:36] brian-brazil commented on #666
I think the general expectation here is that there's some other label you can work off to distinguish these, such as a "dependency" label or similar.

The "Prefix_" being the same on both is also a bit of a smell, that should probably be a label.

[2017-03-24 01:40] steinliber commented on #665
ok, i will try this

[2017-03-24 11:55] lmb commented on #666
@brian-brazil that might be correct, but doesn't change the underlying issue.

[2017-03-24 14:06] #651 closed

[2017-03-25 01:47] #665 closed

[2017-03-27 21:17] lukasz-cf commented on #609
Would it be acceptable to solve this by:

- add a new field `processed` to alerts (probably needs a better name), defaulting to false
- set `processed = true` in https://github.com/prometheus/alertmanager/blob/503a6c0569b1225d41347c6ff1570c6b12f93b39/types/types.go#L78
- in the API only return alerts with `processed == true` (not sure where should this live)

?

[2017-03-27 21:19] prymitive commented on #609
Would it be acceptable to solve this by:

* add a new field processed to alerts (probably needs a better name), defaulting to false
* set processed = true in https://github.com/prometheus/alertmanager/blob/503a6c0569b1225d41347c6ff1570c6b12f93b39/types/types.go#L78
* in the API only return alerts with processed == true (not sure where should this live)

?

[2017-03-28 08:48] mattbostock commented on #609
:+1: That's roughly the approach I was thinking of. We should cater for inhibited alerts also.

It might make sense to add separate fields for marking silences and inhibition rules as being 'processed' to the `Alert` type:
https://github.com/prometheus/alertmanager/blob/503a6c0569b1225d41347c6ff1570c6b12f93b39/types/types.go#L132-L144

[2017-03-29 07:09] hiscal2015 opened #669 "Disable grouping?"
Hi,

I'm new to alertmanager, after testing for several days, I'm stuck at the grouping feature, seems the default value is to group by "alertname" even if you don't configure it, if 10 MemoryUsage alerts triggered from 10 hosts, there will be only one ticket created in the target alert system like PagerDuty or Opsgeniu...
But for team work, I'd like to assign the 10 alerts to 10 different users,

[2017-03-29 13:27] jaredstehler commented on #214
What about for an environment with a relaxed SLA (e.g. Dev)? Makes sense to only alert during business hours.

[2017-03-29 15:53] stuartnelson3 commented on #669
This is a question that should be moved to the prometheus-users mailing list (https://groups.google.com/forum/#!forum/prometheus-users) since it's about using alertmanager and not a specific issue with the alertmanager.

[2017-03-29 15:53] #669 closed

[2017-03-30 09:39] Rudd-O commented on #625
I have HA problems too.  Silences set on one of the nodes propagate to one other node, but not to the third.  This is causing alerts to be sent when we don't want them sent.  Nothing in the debug logs to fix or even to track down the issue either.

[2017-03-30 10:53] stuartnelson3 commented on #625
@Rudd-O can you write an email to the prometheus-users google group with the following:

- Describing your situation
- Your command line invocation for the 3 nodes
- Basic machine information

It might just be a configuration mistake, and if it's an actual bug then we can write it up as an separate issue.

[2017-03-30 11:19] stuartnelson3 opened #670 "Fix date in SilencesList and AlertsList views"
![image](https://cloud.githubusercontent.com/assets/1398104/24370441/b77cf544-1327-11e7-8cb8-5d35b8431624.png)

requested by @beorn7

[2017-03-30 11:59] stuartnelson3 opened #671 "Add ElmTest"
- https://github.com/elm-community/elm-test
- Write a test or two
- Set it up with jenkins

[2017-03-30 12:00] stuartnelson3 opened #672 "Improve Filter text box"
Consider:

- Making it into a text field (we probably don't need a full text box)
- Catching `enter` when the box is focused to trigger an update

[2017-03-30 12:37] stuartnelson3 opened #673 "Pick CSS Lib"
Gather samples of bootstrap/material sites, assemble them into an email, then send the email out to prometheus-devs to decide between the two.

[2017-03-30 12:38] stuartnelson3 opened #674 "Click label matcher -> update filter"
The actual UX for this is up for discussion, but I'm currently thinking:

- Click on a label matcher, it gets added to the filter text box
- cmd/ctrl+click will de-select a label and remove it from the filter text box
- **Bonus**: selected labels have a different CSS class applied to somehow "highlight" it. At first it seems difficult to do this when adding in regex label matchers, but the keys sh

[2017-03-30 17:47] bfosberry opened #675 "Slack Notifications URL uses default path"
When I post an alert to slack the clickable link includes the /graph url, i.e. `http://prometheus.myorg.com:9090/graph#/alerts?receiver=team-myorg-pager`, how do I override this behaviour?

[2017-03-30 20:09] Rudd-O commented on #625
On 03/30/2017 10:53 AM, stuart nelson wrote:

I'm using the latest Docker container release of alertmanager.  I will
give you the command lines tomorrow as I am not at work right now.
Basically, if I set a silence in one of my alertmanagers, it propagates
to one other, but the third doesn't get it.  Which one propagates to
which other one is really random.  I am confident this isn't a
configuratio

[2017-03-30 21:44] juliusv commented on #675
Please take usage questions to the mailing list or IRC channels: https://prometheus.io/community/

We use GitHub issues only for issues.

[2017-03-30 21:44] #675 closed

[2017-03-31 00:11] prymitive commented on #609
I'm trying to come up with a PR for this, I looked over the code and seems I need something like [this](https://github.com/prymitive/alertmanager/commit/84595967df380a1f0f77b4b1db2ea418cb1ec603), but I'm still reading into the codebase

[2017-03-31 03:19] ygormutti commented on #623
I'm having a similar problem with Slack integration. There are no `group_` properties in my routing tree.

[2017-03-31 08:46] txdyzdy opened #676 "Confused between group_interval and repeat_interval"
### what did I want?
I want to disable the `repeat_interval`.
Whether it is a repeat alert, Alertmanager will send me an alert every `group_interval`.
### what did I do?
I set the `group_interval` and `repeat_interval` to the same time.
Now their values are all 5 minutes.
[code]
### what did I see?
I can get emails for every 10 minutes...

### Another example:
When I set the `repeat_interval` high

[2017-03-31 14:03] #673 closed

[2017-03-31 14:27] stuartnelson3 commented on #670
Fixed by https://github.com/prometheus/alertmanager/commit/cc8f3bb86649d386fe0deab3129f5852d03a3183

[2017-03-31 14:27] #670 closed

[2017-03-31 17:35] Rudd-O opened #678 "Please add url escape to template FuncMap"
We need to convert /blah/bluh/app to %2F/bluh%2F/app.

It'd be great if we could, but there isn't any way to do this on the latest stable release, and reReplaceAll in the master branch is insufficient.

Thank you in advance!

[2017-03-31 19:09] brian-brazil commented on #678
Can you indicate exactly where and how you're doing this? Go templating does a lot of this automatically, and reReplaceAll should be sufficient as this is simple transliteration.

[2017-04-01 11:14] Rudd-O commented on #678
There are other characters that need to be quoted, not just slash.  I am doing this in an alertmanager template.  I want the equivalent of urllib.quote and also an XML/HTML entities escape, so I can chain both.

On March 31, 2017 9:09:26 PM GMT+02:00, Brian Brazil <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-01 11:29] brian-brazil commented on #678
Go templating handles all that for you for HTML fields automatically. You should not need to do this by hand.

[2017-04-01 11:44] davidkarlsen commented on #628
I think this issue is actually #270

[2017-04-01 11:57] Rudd-O commented on #678
Well, it's not URL-encoding a parameter in my case.  I tried.  If I just place the {{ value}} there, the slashes do not get url-escaped (this is a querystring I am trying to build).

On April 1, 2017 1:29:34 PM GMT+02:00, Brian Brazil <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-01 12:13] brian-brazil commented on #678
This is why I ask you to provide the full details of what you're doing, so we can see if there's an actual bug here.

[2017-04-01 13:34] Rudd-O commented on #678
My template goes like this:

<a href="http://base.url/marathon#/apps/{{ $variable }}">sometext</a>

I want $variable to get URL-escaped because the app name in the URL, if it has special characters like slashes or quotes, must be URL-escaped, otherwise the page does not load.

[2017-04-01 14:19] brian-brazil commented on #678
In which field of which notifier?

[2017-04-01 14:53] Rudd-O commented on #678
In the template itself.  Email notifier.  Body.

On April 1, 2017 4:19:45 PM GMT+02:00, Brian Brazil <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-01 15:03] brian-brazil commented on #678
I presume you mean the `HTML` field. Can you indicate the string that's not being correctly handled, as your original example is incorrect?

[2017-04-01 17:20] Rudd-O commented on #678
I am replacing default.tmpl (which is normally embedded in the code) with my own.

On Monday I will explain more, as I haven't managed yet to convey the state I am in.

On April 1, 2017 5:03:11 PM GMT+02:00, Brian Brazil <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-01 17:46] davidkarlsen opened #679 "Support heartbeating"
OpsGenie supports heartbeats (and I guess others do as well) - to check the liveliness between the alertsystem (e.g. alertmanager) and the alerting (opsgenie).
It would be nice if this could be supported in alertmanager.

https://www.opsgenie.com/docs/web-api/heartbeat-api

[2017-04-01 17:47] davidkarlsen commented on #679
Wops - duplicate of #444

[2017-04-01 17:47] #679 closed

[2017-04-01 20:37] juliusv opened #680 "`opsgenie_api_host` in the config should be `opsgenie_api_url`"
It's a URL, not just a hostname. This is confusing if one doesn't look at the default value (which is a URL). I don't know what our current policy towards feature breakage is in AM, but maybe break it together with the UI revamp?

[2017-04-02 16:46] HyperDevil opened #681 "Add ID for alerts and add alert ID's to silences"
Hi,

I am trying to parse the API output, for alerts and silences. (in PHP)
The silences seem to have an ID, but does not have the explicit alarm ID attached in the JSON output (if alarm has an ID?).
Also the alarms do not have an unique ID so that i cannot match which alarms are being silences by a certain rule.
Is there an internal connection between the alarms and the silences?

[2017-04-02 17:57] davidkarlsen opened #682 "opsgenie: propagate label k/v to opsgenie details"
See discussion in: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/Jmpxr8O5fXI/JTdlyfjBDAAJ

By default map k/v labels to the details in opsgenie alert api: https://www.opsgenie.com/docs/web-api/alert-api#createAlertRequest

It makes sense to use this part of the api as the k/v style of labels maps nicely over to their API, as well as leaving more room for

[2017-04-02 18:07] brian-brazil commented on #682
This may make sense for you, does it make sense for all potential users?

I don't think it's safe to assume that a random label added by a developer to some /metrics should automatically appear here, as that label name may have special semantics in how that organisation uses opsgenie.

[2017-04-02 18:53] davidkarlsen commented on #682
It does not necessarily match *all* users - but could at least match severals (as you see in the thread there was at least one picking up on it) - so having it as an option (a flag to activate it) would be nice - I can's see that it breaks anything at least.

[2017-04-03 07:53] brancz commented on #680
Agreed. Currently breaking is ok. :+1: for grouping with UI revamp.

[2017-04-03 08:15] stuartnelson3 commented on #681
In the current data model, alerts are ephemeral and do not have an ID assigned to them.

Internally, the first silence that matches (and silences) an alert has its ID added to the alert's data structure in the `silenced` field.

You can do two things:

1. You can iterate through the alerts and check for the `silenced` field. This only shows the first silence that affects the alert, though, and won

[2017-04-03 08:16] stuartnelson3 commented on #681
That having been said, we are adding alert ID's as part of the UI/API update that is currently underway. Assigning to @mxinden since he's so keen on it.

[2017-04-03 08:21] stuartnelson3 commented on #676
This is a usage/clarification question, rather than a feature request or bug report. Can you send this to the prometheus users mailing list?

[2017-04-03 08:21] #676 closed

[2017-04-03 08:37] fabxc opened #683 "Package for generating emails"
HTML emails are extremely painful. Currently we have a template that somewhat works, but not really. We also have no proper support for an alternative multipart sending HTML and plain text versions. Even less so for keeping both in sync.

There's a package now, that seems to do a great job at solving this problem: https://github.com/matcornic/hermes

We should evaluate switching to this one.

[2017-04-03 08:56] brian-brazil commented on #683
We'll always need to allow users to directly control the raw content of their emails, so this would be an optional extra at most.

[2017-04-03 10:17] fabxc commented on #683
Tend to agree with optional, wouldn't be sure about "optional extra at most" – practically speaking, this is probably the better choice in 99%  of the cases.

[2017-04-03 10:31] fabxc commented on #681
I'm curious about those alert IDs. What does the current plan look like?

[2017-04-03 10:33] prasenforu opened #684 "Allow templating in the webhook URL"
Alertmanager version: 0.5.1

My alert configure as follows ...

[code]
webhooks setup as follows ..

[code]

In webhook server logs I am getting data as follows.

[code]
not as a data, its coming as a complete variable.

So I am not able to pass the value/data "labels.kubernetes_pod_name" & "labels.container_label_io_kubernetes_pod_namespace" in webhook_configs "email-n-webhookup"

Statically it w

[2017-04-03 10:46] juliusv commented on #684
The webhook URL is not a templateable field. Instead the webhook notifier sends all metadata in the request body, as outlined in [https://prometheus.io/docs/alerting/configuration/#<webhook_config>](https://prometheus.io/docs/alerting/configuration/#<webhook_config>).

You can grab the labels from there in your webhook implementation.

Closing, as this is hopefully answered. If not, please ask que

[2017-04-03 10:50] brian-brazil commented on #683
I'd guess nearer 50-80%, lots of email will be going to ticketing systems which won't care for fancy formatting.

[2017-04-03 11:10] erikgrinaker opened #685 "group_by not applied after continue"
In the following example, alerts to receiver `critical` are always grouped by `instance`, not `daemonset` etc. Alerts to `default` are grouped correctly.

[code]

[2017-04-03 12:32] brian-brazil commented on #685
This is the correct behaviour, as you've only overridden the group_by in the route with the continue.

Usage questions are best aksed on https://groups.google.com/forum/#!forum/prometheus-users

[2017-04-03 12:32] #685 closed

[2017-04-03 13:03] mattbostock opened #686 "Feature request: Notification delay set per-route"
I'd like to be able to set a notification delay, set per-route.

This would allow for situations where you want to send a low-priority notification (e.g. Slack or HipChat) and then follow-up with a high priority notification (e.g. PagerDuty) if the alert is still firing after a specified duration of time.

There are hacks you can do to make PagerDuty do this, though it creates a lot of additional

[2017-04-03 13:08] brian-brazil commented on #686
The way to do this is to have two alerts in Prometheus with different severity labels.

Escalation policies are not an intended feature of the alertmaanger.

[2017-04-03 13:09] mattbostock opened #687 "Panic: Nil pointer dereference when mesh.peer is empty"
Found during my local testing with version 0.5.1. It appears that if `-mesh.peer` is set but empty, Alertmanager will panic:

[code]

[2017-04-03 13:09] stuartnelson3 commented on #686
I talked briefly with @SuperQ about putting that in the alert definition, something like

[code]

But yeah, as Brian noted while I was writing this, you can achieve this with two different rules.

[2017-04-03 13:10] stuartnelson3 commented on #686
Since this is something that would be added to prometheus, I'm going to close it over here.

[2017-04-03 13:10] #686 closed

[2017-04-03 14:04] stuartnelson3 opened #688 "Alertpage silenced / inhibited checkbox"
Add checkbox ("[x] display suppressed alerts")  to alert page to filter out  all suppressed alerts.

A suppressed alert can either be a silenced or inhibited.

Depends on #717

[2017-04-03 14:05] stuartnelson3 opened #689 "Regex match on receiver query string"
Allow for a greedy regex, i.e. `backend-crit` and `backend-warn` would both be matched by `backend-.*`

[2017-04-03 14:43] erikgrinaker commented on #685
Thanks, my bad. I was under the impression that `continue` routes modify the alert and pass it on, rather than actually triggering a notification on each match.

[2017-04-03 14:53] mxinden commented on #681
@stuartnelson3: I talked to @fabxc in regards to adding Alert ids with the API update. There are no actions (create, update, delete) needed in the UI where we have to address a specific alert. Thereby adding a specific Alert id is not on the agenda. Doing so would open up many questions in regards to the realisation of eventual consistency inside a mesh network of Alertmanagers.

@HyperDevil Let u

[2017-04-03 15:17] prasenforu commented on #684
Thanks.

Don't you think its a enhancement.

[2017-04-03 16:25] juliusv commented on #684
I can reopen this as a feature request, but it started out as a question.

[2017-04-03 16:30] brian-brazil commented on #684
This wouldn't make sense feature wise. The webhook is meant to work in exactly one way, with the other end specifically designed to accept what we send.

The other end already has all the information it needs.

[2017-04-03 16:32] juliusv commented on #684
That's what I thought too. Confirmed then...

[2017-04-03 19:31] HyperDevil commented on #681
@mxinden and @stuartnelson3
Thank you for the answers so far.
I am currently using version 0.4.2 of Alertmanager, and i have silences active. But i cannot seem to find any alerts with silences attached when using the /api/v1/alerts, am i using an old version that does not have this?

The point for me is that i need to make a list of alerts outside of Alertmanager using the API, and i want to filte

[2017-04-03 23:38] lukasz-cf commented on #609
I tried to test those changes locally and it does seem to be doing the right thing, but it breaks tests at random, as some time constrains are now violated. I need to spend some time looking into that and implement test fixes & and add tests covering this feature. But would be nice if I got a confirmation that the direction of this change is correct.

[2017-04-03 23:38] prymitive commented on #609
I tried to test those changes locally and it does seem to be doing the right thing, but it breaks tests at random, as some time constrains are now violated. I need to spend some time looking into that and implement test fixes & and add tests covering this feature. But would be nice if I got a confirmation that the direction of this change is correct.

[2017-04-04 00:23] prasenforu commented on #684
Like other config where url used that all are customised template.

Why not webhook? and can't be a static all time.

Let it be open for further discussion..

[2017-04-04 00:35] juliusv commented on #684
@prasenforu The reasoning here goes:

1. None of the other notification mechanisms have a templateable URL field.
1. You get all the dynamic information that you need, just not in the URL of the request, but in the request body.
1. Two Prometheus core developers have agreed here that we don't think adding this is a good idea, so I think we'll keep this closed.

[2017-04-04 02:25] prasenforu commented on #684
OK.
Thanks.

Let me explain why ?

I am using prometheus in containers platform  (kubernetes) where things are changing very dynamically.

I do agree your point.

Can you please suggest any alternative solution where I can pass labels in that url.

Otherwise I have to write for each conrainer separate webhook which is not a good idea.

Basically I want to make global.

Anyway thanks for your conti

[2017-04-04 07:24] stuartnelson3 commented on #681
0.4.2 has the concept of `silenced` as part of the alert's data structure. Query the api for all alerts, then filter out the ones that have the `silenced` field.

[2017-04-04 07:26] HyperDevil commented on #681
@stuartnelson3 i am quering /api/v1/alerts using my web browser. Then i try to search for the string "silen" and i find no results, while i have several alerts which have been silenced. Strange.

[2017-04-04 07:48] brian-brazil commented on #684
Uhm, write a webhook that does this and sends out the requests in the format you need.

[2017-04-04 07:51] rtreffer commented on #627
This seems to happen for us, too. I've added several predictive MySQL capacity alerts that have extremely high timing settings:
[code]

I still get quite some complains about 'alert storms': all alerts firing at the same second. It looks like we are hitting the issues described here.

From the log
[code]
The flush happens within less than a second of the config reload

[2017-04-04 08:47] stuartnelson3 commented on #627
Issue seems to be here: https://github.com/prometheus/alertmanager/blob/master/cmd/alertmanager/main.go#L227-L240

Reloading tears down and completely recreates the dispatcher.

[2017-04-04 12:36] brancz commented on #627
@stuartnelson3 that shouldn't be an issue as the notification log should still be populated from previous notifications regardless of the dispatcher being recreated. Maybe loading the notification log from disk races with the notification queue accepting ingestion though.

[2017-04-04 12:52] stuartnelson3 commented on #674
Note: Moving the discussion from the PR to here

@brian-brazil @brancz @mxinden

Right now the search bar is just a text area that contains label matchers (`{foo="bar", baz="quux"}`), so there's no fancy grouping like in the fiddle you linked to.

In the event of buttons like in the fiddle, I would expect:
1. Clicking on a label (without ctrl or any modifier key) adds additional labels
2. Clicking

[2017-04-04 13:01] brancz commented on #674
All of the above sounds good to me, just one detail that was not elaborated on: there should be a separate action to actually perform the search, not as soon as a label gets added via the described actions, as that can change the list view one was previously clicking a label from (as we wanted to be able to add labels from alerts previously loaded).

[2017-04-04 16:43] prymitive commented on #609
I did investigate those test errors and couldn't find how they are related to my change, after re-running those on master I see that it also fails there https://gist.github.com/prymitive/017a6bd77fe1768cca78a28e352c8191
that's on 0.5.1:

[code]

So it doesn't look that my change is causing any regression. I will work on adding tests cases to the code, I did some scripted testing yesterday that see

[2017-04-04 17:05] prymitive commented on #609
FYI here's a log of my testing - https://gist.github.com/prymitive/4d2ae3f9bdab981fc40e4153654d506e
I've started AM instance using sample config (with empty data dir) and run alerts.py & checks.py in two console tabs, alerts.py was creating new alerts while checks.py was querying AM API for alerts
One test run on latest master branch and the second one was with alertmanager binary compiled from a

[2017-04-05 04:50] bernielomax commented on #635
I am experiencing the same issue on 0.5.1 for the Opsgenie receiver.

[2017-04-05 09:47] xixikaikai opened #693 "using the latest alertmanager, but alerting emails not received"
`global:
  smtp_smarthost: 'smtp.163.com'
  smtp_from:  "Alertmanager <XXXXXX@163.com>"
  smtp_auth_username: 'XXXXXX@163.com'
  smtp_auth_password: 'XXXXXXXX0808'

route:
  group_by: ['alertname', 'cluster', 'service']

  group_wait: 30s

  group_interval: 5m

  repeat_interval: 3h

  receiver: email-me

receivers:
- name: 'email-me'
  email_configs:
  - to: 'kXXX@XXXXXX'`

this is my alerting ya

[2017-04-05 09:50] xixikaikai commented on #693
My setting for email related seemed to work fine in a python email sending scripts, and can send test mail to my set receiver, but alertmanager could not, and no logs.

Anyway, who can tell me where can I find the logs?
I am using docker to run alertmanager, and I use docker logs $containerID, but there is no email sending related issues.

[2017-04-05 10:35] xixikaikai commented on #693
Some errors catched

time="2017-04-05T10:18:29Z" level=error msg="Error on notify: dial tcp: missing port in address smtp.163.com" source="notify.go:272"
time="2017-04-05T10:18:29Z" level=error msg="Notify for 12 alerts failed: dial tcp: missing port in address smtp.163.com" source="dispatch.go:246"
time="2017-04-05T10:18:30Z" level=error msg="Error on notify: dial tcp: missing port in address smt

[2017-04-05 11:25] xixikaikai commented on #693
already fixed by myself by adding the port in smtp host.
Thanks all the same.

[2017-04-05 11:25] #693 closed

[2017-04-05 12:19] mxinden opened #694 "Use /api/v1/alerts instead of /api/v1/alerts/groups"
I have been talking with @fabxc and @brancz about our current Alertmanager API consumption. We decided to keep `AlertGroups` and `AlertBlocks` a server-side implementation detail that the UI doesn't need to know of. This would flatten the UI representation of alerts and keep things simple. The UI would just consume `/api/v1/alerts` and would only know of the entity `Alerts` not `AlertGroups` or `B

[2017-04-05 15:00] mattbostock opened #696 "It should be possible to disable Mesh"
Alertmanager always listens on the Mesh port and cannot be disabled, even if you don't use the HA functionality.

It should be possible to turn off the HA functionality for deployments that don't use it or require it.

[2017-04-05 15:57] stuartnelson3 commented on #694
Can't think of any off the top of my head -- the logic just does a match on individual alert objects, so you should be able to re-use it just fine.

[2017-04-06 11:32] beorn7 opened #697 "Alerts not de-duplicated properly"
This is for alertmanager at revision 1e34f29532a251b728ddf304ebccd9234fcbd81a.

A call to `/api/v1/alerts/groups` results in two almost identical groups. Here the first few lines of each, the rest is completely identical:

[code]

[code]

The only difference between the two is the order of the strings in the `groupBy` list.

The alertmanager config contains the following `group_by` directives in d

[2017-04-06 11:37] brancz commented on #697
@fabxc @mxinden we identified this problem yesterday I believe. This problem should disappear with the `/api/v1/alerts` endpoint @beorn7 (#694).

[2017-04-06 16:21] brancz commented on #598
So @fabxc and I analyzed the problem and figured we will need the full list of active and resolved alerts to be able to build subsets from when evaluating whether we need to resend or not. Hashes will not be enough as we need to know whether the currently firing alerts are a subset of the previously sent alerts. Same goes for the resolved alerts. Therefore two lists of alerts, one for resolved one

[2017-04-06 16:28] brian-brazil commented on #598
Probably wise to add some metrics for bandwidth use, as that's going to be the primary limiting factor for the AM I expect.

[2017-04-07 12:11] beorn7 commented on #360
This is still relevant in v0.5:

[code]

(My guess is this particular incident is a Slack notification sent to a non-existent channel. Would be much easier to find out if a meaningful message were logged.)

[2017-04-07 12:44] fabxc commented on #360
What should we log then though? There's no upper bound on alerts in a notification. So maybe the grouping labels?

[2017-04-07 13:34] prasenforu commented on #684
Finally able to setup webhook without templating webhook url.

Thanks all to rethink on this.

Bydefault webhook resolve option is true.

Is that mean when it resolve it will fire same webhook.

Is that understanding correct?

[2017-04-07 13:56] juliusv commented on #684
Yes.

On Fri, Apr 7, 2017 at 3:34 PM, prasenforu <notifications@github.com> wrote:

[2017-04-07 13:58] beorn7 commented on #360
In this case, the URL that triggered the 404 would have been very helpful.

[2017-04-07 14:01] brian-brazil commented on #360
We need to be a little careful with some of the URLs, as they can contain auth tokens.

[2017-04-07 16:23] w0rm commented on #674
I implemented 1. and 2. in #690

[2017-04-08 11:17] stuartnelson3 commented on #674
We're going to go ahead and not immediately filter right now after a click, but I do think we'll want that in the future.

If you click a label, filtering by that label is the only thing that makes sense -- if we show other non-filtered alerts, the user can construct a label set that contains no alerts within it. Filtering immediately means that the user can only make a more specific label set tha

[2017-04-10 09:24] fabxc opened #701 "Arbitrary notifier integrations with Jsonnet"
Similar to Prometheus SD integrations, Alertmanager struggles with an increasing demand for more notifier integrations. We can only maintain so many of them ourselves, contributed integrations are often not great in quality and/or have no long-term maintainers.

Many requested integrations are not designed for reliable alert delivery, yet there's an understandable demand by people with low-risk en

[2017-04-10 09:55] brian-brazil commented on #701
One thing to consider is that errors are very inconsistently signalled. There's a good mix of 4xx, 5xx and message content - sometimes within the same integration.

[2017-04-10 15:23] mattbostock commented on #694
I find it useful to see the alert groups - I think it'd be a shame to lose that view in the UI.

[2017-04-10 15:24] mattbostock commented on #694
Does this mean that the `/api/v1/alerts/groups` API endpoint would be removed?

[2017-04-10 15:25] mattbostock commented on #697
#694 doesn't seem to address the issue with the `/api/v1/alerts/groups` endpoint specifically? It seems like this is a bug worth fixing independent of that change.

[2017-04-10 15:30] mattbostock commented on #611
We're also seeing this issue in 0.5.1 (0.4.2 worked as expected).

[2017-04-10 15:33] fabxc commented on #611
Hard to debug without the exact alert and notification sequences, but this is most likely a known regression other issued were filed about already. @brancz is working on it right now.

[2017-04-10 15:43] fabxc commented on #694
@mattbostock The current group representation is not accurate either as we flatten the routing tree they are in to reduce the complexity of the representation – giving you a false sense of security as may happen. What we end up with is something structured, yet not representing the actual structure underneath and not giving you the querying flexibility you want either.

Our reasoning is as follow:

[2017-04-10 15:50] mattbostock commented on #611
Looks like this may be https://github.com/prometheus/alertmanager/issues/598.

[2017-04-10 16:31] brancz commented on #611
I'll soon have a fix to test out.

[2017-04-11 08:38] brancz commented on #697
I see, I was a bit hasty with my conclusion. @beorn7 did this occur when doing two calls to that particular endpoint or did you find duplicate alerting groups in the same response? I feel it's more a stable order issue then a deduplication issue, or am I not understanding the problem correctly?

[2017-04-11 09:17] beorn7 commented on #697
This is all coming from one call to the endpoint.
I assume the AM code somewhere depends on stable order coming back from a map, which is not what a map does. (This is just a high level guess. I had no time to actually look at code.)

[2017-04-11 09:19] brancz commented on #697
@beorn7 that was my first guess as well.

[2017-04-11 21:36] IamPrvn opened #705 "Alert manager fails to send email through smtp server configured with port 465"
The issue have been raised here too
 [https://groups.google.com/d/msg/prometheus-users/962iFpDPFZU/4mimkxSuCQAJ](url) .
[https://groups.google.com/d/msg/prometheus-users/w2hUOAQFD7I/1L8FNTvaCgAJ](url)
With smtp port 465, it does not work (whether or not you are in proxy). Not all the smtp servers provide us with the priviledge of port 587. So, kind of stuck getting it worked with port 465. It resp

[2017-04-12 09:22] mxinden commented on #694
@mattbostock In regards to your second comment: So far there are no plans to remove the `/api/v1/alerts/groups` endpoint.

[2017-04-12 15:45] gianrubio opened #707 "Notification has empty text"
Related to #663

When one alert trigger multiple alarms, the description is blank.

## Alert
<img width="1415" alt="screen shot 2017-04-12 at 17 39 04" src="https://cloud.githubusercontent.com/assets/5694860/24966353/f805612e-1fa6-11e7-8b48-48c9cf5699c8.png">

## Notification

<img width="380" alt="screen shot 2017-04-12 at 17 42 11" src="https://cloud.githubusercontent.com/assets/5694860/24966504

[2017-04-12 17:30] juliusv commented on #707
Yeah, that is behaving as intended.

If you group multiple alerts into a single notification that have different values for the same annotations, then those will annotations will not be "common" anymore (as they differ). So if you include e.g. the `device` and `instance` labels in your description, the `description` annotation will not be in `CommonAnnotations` anymore, only in the `Annotations` o

[2017-04-12 17:30] #707 closed

[2017-04-13 08:08] Rudd-O commented on #678
Thanks folks, I got it to work nicely on my end.

On April 1, 2017 7:20:00 PM GMT+02:00, "Manuel Amador (Rudd-O)" <rudd-o@rudd-o.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-13 08:42] #678 closed

[2017-04-13 12:58] nickvth opened #708 "Routing not working"
Routing tree gives the correct route, but when alerting it will go to the default receiver
v0.5.1 and v0.4.2

[2017-04-13 13:26] brian-brazil commented on #708
Can you share your config and the alert in question?

[2017-04-13 13:54] nickvth commented on #708
It looks like it's not the alertmanager, but prometheus.

[2017-04-14 13:18] siavashs commented on #580
We are going to use VictorOps soon, so I will implement this.

[2017-04-14 15:33] jstoja opened #710 "Email file with garbage"
Hello,

I'm currently using the slack configuration that is working perfectly, but I just tried to add the email config and each time I receive an `.htm` file containing garbage (random characters).

[code]

Do you have an idea about the eventual issue I'm facing?
Thank you

[2017-04-14 18:52] prymitive commented on #609
The discussion from #692 leads us to some more changes:

- drop `inhibited` and `silenced` from marker and replace it with `status` field, which will default to `unprocessed`
- refactor `SetSilenced` and `SetInhibited` to update `status` instead of dedicated fields
- always return all alerts, but now with additional `status` field that the client can use to tell if alert was processed or not (solv

[2017-04-15 05:30] prasenforu opened #712 "Alertmanager HA"
I am using prometheus and alertmanager in kubernetes environment.

In kubernetes we use config map.

In prometheus configmap we define alertmanager  url  as a alertmanager service . Basically which act as a load balance. Under alertmanager service there are multiple alertmanager containers.

Will it work ?
Does gosssip protocol by default enabled.?
How discovery of multiple alertmanager in contain

[2017-04-16 10:13] andrewhowdencom commented on #712
I think you might get more help on the mailing list for this one.

[2017-04-16 23:10] grobie commented on #712
Please ask questions on the prometheus-users@ mailing list.

[2017-04-16 23:10] #712 closed

[2017-04-17 12:19] #611 closed

[2017-04-17 13:36] prasenforu commented on #712
Crated question with subject "Alertmanager HA" in mailing list.

[2017-04-18 08:19] nickvth commented on #708
Routing is working correctly, i will close this issue.

[2017-04-18 08:19] #708 closed

[2017-04-18 10:45] fabxc commented on #627
This should not be racy. The disk snapshot is fully loaded before the constructor of the notification log returns. That only happens on startup.

Reloading of Alertmanager only rebuilds the pipelines according to the new configuration.

I added a basic test in #716, which works as expected. We need some more information to reproduce this condition.

[2017-04-18 18:01] fabxc opened #718 "Add required name field to routing nodes"
I'd like to propose a mandatory new `name` field to be added to each node in the configured routing tree.

Reasoning as follows:

We need some sort of node identity to store whether we sent a notification. By current idea this happens by taking a hash over all matchers of the final node and all its parents. This obviously drops relevant information that's part of how an alert ends up in a certain

[2017-04-19 05:25] fabxc commented on #718
@mattbostock would be interesting to hear from a heavy user how adding of this field would impact your user experience.

[2017-04-19 08:14] stuartnelson3 commented on #674
Closed by #690 and #714

[2017-04-19 08:14] #674 closed

[2017-04-19 08:15] stuartnelson3 commented on #672
Closed by #790

[2017-04-19 08:15] #672 closed

[2017-04-19 08:18] stuartnelson3 opened #719 "Loading indicator"
Currently, the loading indicator replaces all silences. This is somewhat annoying/jarring for filtering silences or alerts, especially now that alerts can be so quickly and easily filtered thanks to #714.

I propose moving the now loading indicator to somewhere else on the page that doesn't remove all the alerts.

[2017-04-19 08:21] stuartnelson3 opened #720 "Integrate as main UI"
We're currently serving the old ui by default still. We want to update `make assets` to transpile and embed the elm assets.

[2017-04-19 09:03] stuartnelson3 commented on #718
I'm in favor since the one-time cost of adding a name field doesn't come close to outweighing the benefits. Having a config linter would also help.

[2017-04-19 09:05] brian-brazil commented on #718
It's an ongoing cost, as all new routes also need it added.

[2017-04-19 09:06] stuartnelson3 commented on #718
But you add it once to each route?

[2017-04-19 09:10] brian-brazil commented on #718
Yes, it'd be a new mandatory field. It's an additional thing everyone writing a config needs to consider.

[2017-04-19 09:17] fabxc commented on #718
One thing that did not come up yet: We likely want more tooling around showing the routing tree. Brief names will be a more consumable representation than displaying a set of matchers in each.

[2017-04-19 09:17] matthiasr commented on #718
We auto-generate large parts of the Alertmanager configuration based on lists of receivers (and the means to contact them). For us, this field would simply burden us with the task of automatically deriving a unique identifier for everything.

[2017-04-19 11:37] mattbostock commented on #718
So long as the name only needs to be unique among children at the same level, I think it's a manageable burden (and may be useful for documentation).

But (talking from the peanut gallery) I'm not convinced that this can't be solved using a hash or some method we haven't thought of.

[2017-04-19 17:28] fabxc commented on #718
@mattbostock the problem is that the info is not there to begin with. All we could come up with are "better" heuristics. That generally means getting more complicated, which means making things harder to debug and potential oddnesses more unpredictable.

[2017-04-20 09:03] stuartnelson3 opened #721 "CLI error output"
Any time there's an error, the usage text is output. It seems like a legitimate error (as opposed to mis-use of the cli) should just output the error text:

[code]

This should just be
[code]

That's my opinion, anyway. Thoughts?

@mxinden @fabxc @brancz @kellel

[2017-04-20 09:04] #567 closed

[2017-04-20 09:33] mxinden commented on #721
Is there a `--help` flag? If so we can omit the usage text and just add something along the lines of: `For further help run "amtool --help"`

[2017-04-20 11:28] raypettersen opened #722 "Silence alarm from email template"
Just an idea I'd like to share. Today we have one link in the default email template, "source". I would like to have another link called "silence", which populates the necessary items in the alertmanager-gui for silencing that particular alarm.

[2017-04-20 14:57] stuartnelson3 opened #723 "build failing on openbsd/armv5"
~~this commit broke the dragonfly build:~~

https://github.com/golang/sys/commit/9a7256cb28ed514b4e1e5f68959914c4c28a92e0

~~check it out and see how to fix it~~

Currently broken on openbsd/armv5

[2017-04-20 17:28] Kellel commented on #721
https://github.com/prometheus/alertmanager/pull/724

I did the linking of pr to issue incorrectly

[2017-04-20 18:12] stuartnelson3 commented on #723
https://github.com/golang/go/issues/20055

[2017-04-20 23:51] bspradling8 commented on #626
I'm running into this same issue. Did you find a workaround?

[2017-04-21 08:06] stuartnelson3 commented on #626
What version are you using? Seems this was fixed in january: https://github.com/prometheus/alertmanager/commit/f2ba86e9d204fbc08dca34940a353d61f7564987

We haven't had a release since then, unfortunately, but if you build from master it should be fine.

[2017-04-21 08:52] fabxc commented on #718
Okay, while I think it has lots of benefits the pro-vibes here are not really strong. Alternative proposal, we move away from hashes and by default use the full matcher representation as node name (user-defined `name` field could be added later).

Then a node at level 3 in the tree would for example be:

[code]

And a group key (key for one alert group that's send as one notification), would be th

[2017-04-21 08:56] brian-brazil commented on #718
I think match representation is a good approach, with the proviso that we may need to optimise overly-long matchers at some point in the future.

[2017-04-21 10:21] fabxc commented on #718
@brian-brazil mh, we should probably at least add a validation than that two siblings must not have the same matchers than, right?

This could theoretically be valid and result in oscillation if you use the continue keyword and have two sibling subtrees based on the same matchers.

[2017-04-21 11:05] fabxc commented on #618
Closing as I assume the quoting should indeed be the issue.

[2017-04-21 11:05] #618 closed

[2017-04-21 11:10] brian-brazil commented on #718
I think we have to keep having two siblings with the same matchers as valid, as it's one way to send a notification to two receivers. Maybe we need to distinguish on the receiver too?

[2017-04-21 12:32] fabxc commented on #697
I've trouble reasoning how this could happen. It is true that a map causes the grouping labels to not be shown in stable order but by the code this cannot have caused the whole group to duplicate.

When building the response we are deduping groups based on the hash of their `labels` field, which is the typlical `model.LabelSet.Fingerprint`, which ensures stable order. Because of that, I'm not sure

[2017-04-21 12:34] fabxc commented on #598
Fixed by #703

[2017-04-21 12:34] #598 closed

[2017-04-21 12:42] fabxc commented on #718
Closing here for now. We'll see how #725 plays out.

[2017-04-21 12:42] #718 closed

[2017-04-21 12:43] fabxc commented on #710
We need some more data to investigate here. What are the contents of the email exactly?

[2017-04-21 12:48] fabxc commented on #666
This should probably a documented caveat. I think it doesn't really happen for typical inhibition usage as there should be some clearly distinguishing labels. Probably an edge case not worth complicating implementation for.

[2017-04-21 12:50] #721 closed

[2017-04-21 12:57] #687 closed

[2017-04-21 14:20] bspradling8 commented on #626
Interesting, I checked to see that I'm running the latest, the docker container is `prom/alertmanager:v0.5.1`.

My routes are here:

  - match_re:
       job: dev
    receiver: {team}-dev-receiver

All the online helpers with tree routing seem to get this right when I copy my configuration in, it is just when the `alertmanager` is actually running, I never see my `{team}-dev-receiver` matching.

I

[2017-04-21 14:21] jstoja commented on #710
Here is the stripped raw email: https://pastebin.com/tyenrE7n

[2017-04-21 14:22] stuartnelson3 commented on #723
The process to contribute to the go repo is ... prohibitive. I committed the fix directly here and am waiting for someone to do https://github.com/golang/go/issues/20055.

https://github.com/prometheus/alertmanager/commit/e9cb88e15a3b28cb6c0afa3f20ef34a1edb12140

[2017-04-21 15:19] mxinden commented on #720
@stuartnelson3 The ui/bindata.go file in the `ui-rewrite` branch is updated to serve the new version of the UI, see PR #727.

[2017-04-21 15:22] mxinden commented on #539
@jjneely This will be fixed with the new UI (See branch [ui-rewrite](https://github.com/prometheus/alertmanager/tree/ui-rewrite)).

Closing here. Let me know if you have further questions.

[2017-04-21 15:22] #539 closed

[2017-04-21 16:03] stuartnelson3 commented on #723
Now it's failing on openbsd-armv5:

[code]

[2017-04-23 12:02] stuartnelson3 commented on #626
Yeah, 0.5.1 was released before this fix. You'll have to build from a later SHA to get the fix.

[2017-04-24 02:44] rmrf commented on #705
does this  a confirmed issue? I'm using another email ISP(not gmail) which using 465 as secure port, and have simillar issue as @IamPrvn .

[2017-04-24 16:27] mattbostock opened #730 "Silence notifications"
If a silence expires and the root cause that triggered the alert is not yet resolved, it can generate confusion when the alert starts firing. This can be particularly frustrating if an alert becomes unsilenced over a weekend or if the person that originally silenced the alert is on vacation.

I would find it useful if Alertmanager could send a notification when:

a) silences are created (e.g. so t

[2017-04-24 17:00] brian-brazil commented on #730
I've seen features like this in the past, and they're pretty much pure spam.

Including in the notification if it's due to an expired silence is useful.

[2017-04-24 18:51] taharah opened #731 "[Request] Add Slack fields to notifications"
The Slack notification API has added a fields parameter that allows for some additional formatting [1]. It looks like the work was started to add this additional parameter [2], but the feature was never finished so that it was available.

[1] https://api.slack.com/docs/message-attachments#fields
[2] https://github.com/prometheus/alertmanager/blob/v0.5.1/notify/impl.go#L485-L490

[2017-04-24 18:57] mattbostock commented on #730
I like the idea of including details of an expired (or recently expired) silence in the alert notification.

What about this feature made it spammy? I can guess what you mean, but if you have any examples that'd be really helpful (particularly regarding reminding people about silences expiring over weekends).

[2017-04-24 21:20] brian-brazil commented on #730
It was often directed towards a mailing list, and it turns out between automation and general operator activity that there are many many silences created, deleted and expired in a week.

In addition, emailing me to tell me that I create or deleted a silence or that it's going to expire is useless - I already know that.

In my opinion such notifications should be treated in the same fashion as emai

[2017-04-25 09:45] stuartnelson3 commented on #689
Closed by #729

[2017-04-25 09:45] #689 closed

[2017-04-25 09:45] stuartnelson3 commented on #720
closed by #727

[2017-04-25 09:45] #720 closed

[2017-04-25 09:46] #671 closed

[2017-04-25 09:46] stuartnelson3 opened #734 "Freshen up UI"
We've added bootstrap, now we need to get a rough draft of a UI going. Doesn't need to be permanent, but what we currently have needs some love.

[2017-04-25 15:15] copernico commented on #430
I am having the same issue, can you clarify what was the solution for you?
Thanks.

[2017-04-25 18:19] awells3 opened #737 "Pending silences display the end time in the "Starts..." text"
When I create a silence for a future time, the UI shows the end time in the "Starts..." text.  I have provided a screenshot below.

![pending_alert_ui_bug](https://cloud.githubusercontent.com/assets/27705592/25400810/60cb7538-29b9-11e7-8e6c-6b0928b5598d.PNG)

Running version 0.5.1

The behavior of the silence abides by what I put in the form when creating the silence so that is not an issue.  It w

[2017-04-26 01:00] andrewklau opened #739 "Support for headers in webhooks"
It'd be good to be able to have some sort of support to be able to set headers with the outgoing webhooks.

Use cases would be setting api tokens.
eg. api gateway wants `x-api-key`

Somewhat related https://github.com/prometheus/alertmanager/issues/324

[2017-04-26 05:36] juliusv commented on #739
We don't allow specifying arbitrary headers for HTTP calls anywhere else in Prometheus, but it would probably be fair to add the same HTTP client options that we use elsewhere: TLS options (including client certs), bearer token auth, and basic auth.

[2017-04-26 06:16] aljazkosir opened #740 "[Question] Send other metric data with alert"
Is there a way to send some other metric data with the alert.
I have an alert for CPU usage and I want that alert to also send data from some other metric.

Thanks, Aljaž

[2017-04-26 07:09] brian-brazil commented on #739
Yes, we should have the usual auth options.

Headers should not be supported for the same reasons we don't support url parameters.

[2017-04-26 07:11] brian-brazil commented on #740
Usage questions will get the best response from https://groups.google.com/forum/#!aboutgroup/prometheus-users

[2017-04-26 07:11] #740 closed

[2017-04-26 10:41] mxinden commented on #688
@stuartnelson3 Editing this as discussed in the meeting.

[2017-04-26 10:47] mjtrangoni opened #741 "Amtool: Documentation"
It would be nice to have the `amtool` behaviour in [README.md](https://github.com/prometheus/alertmanager/blob/master/README.md) and [here](https://prometheus.io/docs/alerting/configuration/).

For example, there is no example for 'amtool.yml' config file apart from [this](https://github.com/prometheus/alertmanager/pull/636).

[2017-04-26 10:47] mxinden opened #742 "Alertpage group by"
A user should be able to group all displayed alerts by a set of labels. The grouping should be flat, not nested.

Auto complete would be nice to have. Could be similarly realised like the already existing filter bar by @w0rm.

[2017-04-26 10:48] mxinden opened #743 "Silencepage filter bar"
The filter bar on the silence page should be updated like the one on the alert page.

[2017-04-26 10:50] mxinden opened #744 "Statuspage display more info"
Currently the status page displays a very minimal amount of information. It should display all information retrieved by the /status endpoint (See old ui).

[2017-04-26 10:55] mxinden opened #745 "Silencepage quick filter by pending / active / expired"
A user should be able to quickly filter all displayed silences by pending / active / expired ones with check boxes. The check boxes could be placed underneath the filter bar.

Style should be  similar to #688

[2017-04-26 10:55] mjtrangoni opened #746 "amtool: amtool config and alert issues."
Hi,

I compiled today the latest release v0.6.0 with go1.8.1 and I wanted to report the issues I am facing with `alert` and `config` commands. Just `silence` is working as expected. See,

[code]

[2017-04-26 12:15] mxinden commented on #745
@fabxc What do you think of returning pending / active / expired from the back-end instead of determining this on the client with timestamps? Would prevent time zone issues.  Either one is fine with me.

[2017-04-26 14:37] mxinden commented on #694
@stuartnelson3 @w0rm To prevent duplicate work: Starting on this now.

[2017-04-26 19:57] copernico commented on #603
+1

[2017-04-27 09:57] Nonymus opened #749 "OpsGenie integration broken in 0.6.0"
When notifying opsgenie in 0.6.0, it looks like alertmanager doesn't generate valid json for the alias field anymore. See the comparison of requests captured with nc below:

v0.6.0:
[code]
Notice the unicode characters and additional quotes.

v0.5.1 works fine:
[code]

This leads to alerts not being shown in OpsGenie for the most part. Sometimes they do, with an unreadable alias.

[2017-04-27 11:08] fabxc commented on #749
I shifted several integrations to use strings instead of numbers for deduplication fields like the alias.
For OpsGenie, we are doing a hash regardless as it has a 512 character limitation: https://www.opsgenie.com/docs/web-api/alert-api#createAlertRequest

Mistake here was to not properly hex encode the hash byte slice but directly converting it to a string.
If OpsGenie checked the string for vali

[2017-04-27 12:19] #749 closed

[2017-04-27 13:30] brian-brazil commented on #551
No response from reporter, and this is likely the set of issues we fixed in 0.6.0.

[2017-04-27 13:30] #551 closed

[2017-04-27 13:35] brian-brazil commented on #510
If you have additional detail, please reopen.

[2017-04-27 13:35] #510 closed

[2017-04-27 18:58] #596 closed

[2017-04-28 05:43] or4cle commented on #270
In regards to my previous post (regarding failed hipchat notifications with a 400 response code), we finally figured out the issue, I will post it here in case others stumble upon the same thing:

Basically hipchat will reject (with a 400 response code) any message field that is 0 bytes or greater than 10000 bytes. In our case we hit the upper limit. Here are a few ideas for improvement in the not

[2017-04-28 09:59] fabxc commented on #745
I'd not group them from the API, but attaching a status on pending/active/expired like we added for alerts would be good, yes.

We could follow the same pattern there of

[code]

The latter can be added later. Just so we make `status` an object to begin with.

[2017-04-28 11:47] stuartnelson3 commented on #745
+1 for setting state in the backend and passing it to the front end.

Regarding `suppresses` vs. `silences`: We use `suppressed` as an AlertState, but that struct still has a `silencedBy` field. I would say we stick with `silences` as the field name since that's the specific type of `suppressed` we're dealing with.

[2017-04-28 13:48] evollusion opened #756 "Question: Pushover config - message field"
I am trying to alter the message that is delivered via push over by using the message option in the receiver config.  However I don't seem to be able to do the likes of {{ range .Labels.SortedPairs }}{{ .Name }} = {{ .Value }}{{ end }}

Is this possible or does it have to be via a custom template ?

[2017-04-28 17:42] CharlesJUDITH commented on #741
Hey I started to play with `amtool` and made a PR (https://github.com/prometheus/alertmanager/pull/758) to help you to start with it.

[2017-04-29 04:45] prymitive commented on #609
Since #717 was merged I think we can close this, thanks

[2017-04-30 07:46] mxinden commented on #734
@w0rm Maybe you could combine this with your [comment](https://github.com/prometheus/alertmanager/pull/754#issuecomment-298097041) in PR #754?

I would also like to show the new UI to our internal design team.

[2017-04-30 07:48] mxinden commented on #744
@stuartnelson3 @w0rm To prevent duplicate work: I will start working on this.

[2017-04-30 08:40] pracucci commented on #504
Thanks for the whole discussion. I'm just not sure about not supporting env variables to keep consistency (that's usually a thing a do appreciate a lot), considering that [Prometheus config file supports secrets via environment variables](https://github.com/prometheus/docs/blob/master/content/docs/operating/configuration.md) too. I understand it wouldn't work in the same exact way, but it looks so

[2017-04-30 08:46] brian-brazil commented on #504
No it doesn't. Some libraries we happen to use support them.

[2017-04-30 08:51] pracucci commented on #504
Brian, I do understand it's not Prometheus directly but the libraries Prometheus relies on, but from the user point-of-view, isn't the same thing? As an user, on Prometheus secrets can be passed as env variables, on the Alertmanager not.

[2017-04-30 09:09] brian-brazil commented on #504
One type of secret for one SD mechanism happens to work via mechanisms other than being in the config file. I wouldn't read much into that.

[2017-05-02 08:24] mxinden opened #762 "CSS styling"
### How do we want to write CSS?

Right now we only have a style tag in our `index.html`.
I would suggest for the time being to just use a `styles.css` file which is served by the back-end. I am fine with using something that enables *nesting* like [*less*](http://lesscss.org/) but shy at the extra complexity introduced by the needed transpiler.

@w0rm @stuartnelson3 What do you think?

[2017-05-02 08:44] mxinden commented on #744
Closed by #761

[2017-05-02 08:44] #744 closed

[2017-05-02 09:43] w0rm commented on #762
@mxinden I think we should check https://github.com/rtfeldman/elm-css which is a type safe way to write css.

[2017-05-02 13:56] mxinden opened #765 "Update Silences instead of recreating"
Currently instead of updating a silence we only create a new one with the updated properties.
< details >

[2017-05-02 13:57] mxinden commented on #765
@fabxc Could you add more details to the issue description?

[2017-05-02 15:02] Conorbro commented on #519
This appears to be fixed in 0.6.0.

I couldn't reproduce issue with the provided config

[2017-05-02 15:18] #519 closed

[2017-05-03 02:54] hiscal2015 opened #766 "alertmanager can't send emails with ssl enabled"
I have alertmanager (v0.5.1, running with docker image) with below config:

[code]

If I use non-ssl (port 25) to send emails then everything looks fine, but I still get failed to send emails by enabling SSL, if I use python script to test email config with ssl enabled I can successfully get emails,
alertmanager logs are totally useless to debug:
[code]

Do I have to add additional parameters to g

[2017-05-03 04:43] fabxc commented on #765
As silences suppress alerts, we want a trackable history of what silences occurred in the past. This means if a silence with a set of matchers is or was active, it should not be possible to change the start (and end) timestamp or the matchers.  Currently the UI just expires a silence and creates a new one on edit. However, from a UX perspective, everything should remain editable and not unnecessar

[2017-05-03 07:28] mxinden commented on #762
@w0rm Definitely something I want to look into. Both inline and generating css files could be applicable for us.
I am a little afraid of the dependency though. So I would prefer a Spike before fully integrating it into the project. Do you have experience with the library?

[2017-05-03 08:06] pracucci commented on #331
Is the hand-written architecture diagram still valid? Do you have any preference about a tool to "digitalize" it?

[2017-05-03 08:22] w0rm commented on #762
I haven't used this library before, but I have heard many good things about it!

[2017-05-03 12:56] Conorbro commented on #356
I've tested this using the latest release of Alertmanager using `continue` correctly as pointed out by @rohit01 and the issue appears to have been resolved.

However, this issue is still present on the routing tree editor on [prometheus.io](https://prometheus.io/webtools/alerting/routing-tree-editor/).

[2017-05-04 00:31] MrAlias commented on #626
@stuartnelson3 it looks like the [above mentioned PR](https://github.com/prometheus/alertmanager/commit/f2ba86e9d204fbc08dca34940a353d61f7564987) was merged into the v0.6 release as well as master, but I'm still experiencing routing visualization issues when using those releases.

I'm using alertmanager (version=0.6.1, branch=release-0.6, revision=5aeaf2cb988b0094b7998bbe6568bba23a0eb9c2) and the

[2017-05-04 01:25] snarlysodboxer commented on #626
I'm having this exact same problem in v0.6.1.

[2017-05-04 13:07] raypettersen opened #770 "v0.6.1 severe malfunction."
We upgraded alertmanager today, and experienced severe problems in the GUI. For example, it seems the previous version had some javascripting cached so the rendering was way off. After testing in incognito, it was somewhat better, but we ran into some weird bugs. For example, when clicking "hide silences", the actual view updated and _showed_ the silences. The exact opposite behavior that was expe

[2017-05-04 13:19] raypettersen commented on #770
`ime="2017-05-04T13:35:37+02:00" level=warning msg="Could not get file: AssetInfo ui/lib/angular-sanitize.min.js.map not found" source="web.go:31"`
`time="2017-05-04T13:35:37+02:00" level=warning msg="Could not get file: AssetInfo ui/lib/jquery.min.map not found" source="web.go:31" `
`time="2017-05-04T13:35:37+02:00" level=warning msg="Could not get file: AssetInfo ui/lib/angular.min.js.map not fo

[2017-05-04 16:08] davidkarlsen opened #771 "opsgenie: alias field garbled with 0.6.0"
After upgrading to 0.6.0 the alias field in an opsgenie alert is garbled and looks like this:
�?�ur�龎��R���|H�Ŕ/}V� ��L

[2017-05-04 16:17] fabxc commented on #771
This was fixed in 0.6.1. Please upgrade to that release and reopen in case the issue does not disappear.

[2017-05-04 16:17] #771 closed

[2017-05-04 16:47] davidkarlsen commented on #771
OK, will have to wait for 0.6.2 since there are some severe issues with locks with 0.6.1: https://github.com/prometheus/alertmanager/pull/760

[2017-05-05 11:16] IamPrvn commented on #766
[](url) #705

[2017-05-05 11:18] IamPrvn commented on #766
Same as #705

[2017-05-05 14:15] fabxc commented on #770
The logging of `.map` files not being found is normal. That usually happens when you open the dev console in your browser, which than tries to get a `.js.map` file for every `.js` file that was loaded.

Otherwise, I cannot report similar behavior. I've been switching between different versions multiple times.
On the silencing issue, @stuartnelson3 @mxinden can you check again that https://github.c

[2017-05-05 14:17] fabxc commented on #771
We can cut 0.6.2. but FWIW, the lock protects something only used in some UI section and it has been around for many releases now. No reason to skip on the 0.6.1 bug fix really :)

[2017-05-05 14:23] raypettersen commented on #770
Testing was done on both chrome, firefox and IE. We tested with windows, linux, and mac. Gui was all over the place.

[2017-05-05 14:25] fabxc commented on #770
Mh, interesting. Thanks for the update. I tried multiple browsers and switching various AM versions now as well but couldn't reproduce yet.

What distribution of the version are you running? Docker, Tarballs, compiled yourself?

[2017-05-05 14:29] raypettersen commented on #770
We're using the tar balls, and bundling them into rpms. From what you're saying, it leads me to think that something went wrong in our end. I'll do some more checking over the weekend.

[2017-05-05 14:31] fabxc commented on #770
Will try again with tarballs rather than compiling it myself. I don't think your RPM packaging could be a cause. The javascripts and HTML files are compiled directly into the binary.

[2017-05-05 14:32] mxinden commented on #770
@fabxc @raypettersen I am not able to reproduce the issues either with a self compiled version of 6a909abf17d56a09ade3ad6753b5eb844fe5b244.

[2017-05-05 14:36] raypettersen commented on #770
Thanks for the input. We're running behind nat and using external path option. Could that be the issue?

[2017-05-05 14:39] fabxc commented on #770
There are many ways how this could cause problems. However, returning to the previous version resolves the problem, right?

[2017-05-05 14:43] raypettersen commented on #770
Reverting to 0.4.2 resolves everything.

[2017-05-05 15:02] fabxc commented on #770
Can't reproduce the issue of JS not loading properly at all but some of the silence-related ones. Trying to track it down.

[2017-05-05 15:37] stuartnelson3 commented on #762
I'm hoping that we can get 95% of our styling done wiht bootstrap, and then just a few simple things in a styles.css? I'm hoping we write a small enough amount of css that we don't need to consider less.

[2017-05-05 15:38] stuartnelson3 commented on #746
Are you also using the latest version of alertmanager on the server?

[2017-05-05 15:43] stuartnelson3 commented on #741
Documentation is available within the tool itself by appending the `--help` flag to commands.

[2017-05-05 15:43] #741 closed

[2017-05-05 18:02] stuartnelson3 commented on #742
So we were thinking of having this be a separate set of autocomplete boxes, correct? the user would type in, e.g., `service`, `region`, and then the alerts would be sorted as such? example heading for a group being `service=foo_service` `region=eu-west-1`?

[2017-05-08 07:59] mjtrangoni commented on #746
Hi @stuartnelson3,

We are running the latest releases, see
[code]

We see that it has something with parsing `match_re`, that at the end results in an empty service,

[code]

Any advice? The configuration is almost the default one, aside of emails.

[2017-05-08 08:18] mxinden commented on #742
@stuartnelson3 Yes, I would suggest a separate auto-complete box. When I add a new label via the input, alerts should be automatically grouped by it.

Yes

[2017-05-08 08:32] mxinden commented on #762
So far I would agree with @stuartnelson3 as it introduces the least amount of complexity. I would reconsider the choice if the amount of CSS we write gets out of hand.

So suggested next steps:
**Move style tag to separate CSS file.**

[2017-05-08 16:33] Kellel commented on #746
Oh I see. I'm able to reproduce. I'll see whats up.

[2017-05-08 16:35] Kellel commented on #746
@stuartnelson3 you can go ahead and assign this to me :smile:

[2017-05-08 16:52] stuartnelson3 commented on #746
Hah cool, thanks! Thought we had dealt with this, but 🤷‍♂️

[2017-05-08 16:53] stuartnelson3 commented on #746
Seems I can't assign you, but if anyone is looking, this issue is being addressed

[2017-05-08 17:09] Kellel commented on #746
Hmm looks like alertmanager is struggling with the config. Bug isn't actually in amtool. (I'll still try and fix it :smile: )
`kellen@chewbacca:~/.GOPATH/src/github.com/prometheus/alertmanager$ curl -s http://localhost:9093/api/v1/status | jq .data.configJSON.route.routes[0]
{
  "receiver": "team-X-mails",
  "match_re": {
    "service": {}
  },
  "routes": [
    {
      "receiver": "team-X-pager",

[2017-05-08 17:57] fabxc commented on #746
I think that issue is fixed as part of #773

[2017-05-08 18:15] stuartnelson3 commented on #743
closed by #755

[2017-05-08 18:15] #743 closed

[2017-05-08 23:26] bspradling8 opened #776 "Regular Expressions from `match_re` getting anchored"
I'm trying to supply a regular expression to catch all labels that contain `dev` to route to a development receiver and have a default production receiver. However, when I supply `match_re: service: dev`. In the AlertManager UI, I can see that it is actually turning that regular expression into `/^(?:dev)$/`.

Is it possible to have a regular expression for a tag to _contain_ a certain value?

[2017-05-09 08:08] #746 closed

[2017-05-09 08:27] mxinden commented on #694
Closed by #754

[2017-05-09 08:27] #694 closed

[2017-05-09 11:02] matthiasr commented on #776
Generally, all regular expressions in Prometheus land are anchored. This wasn't specified in Alertmanager before but it's now in line with the server's behaviour. To unanchor them, just use the regex `.*dev.*`.

[2017-05-09 11:16] #776 closed

[2017-05-09 12:08] raypettersen commented on #770
Seems like this issue is under control. Will we see another release soon? We're holding off upgrading at the time being.

[2017-05-09 12:37] #737 closed

[2017-05-09 12:37] stuartnelson3 commented on #737
fixed in #778

[2017-05-09 13:10] mxinden commented on #770
@raypettersen You can find the new release [here](https://github.com/prometheus/alertmanager/releases/tag/v0.6.2). Thanks for the help!

[2017-05-09 13:12] raypettersen commented on #770
Superb. I'll test the release tomorrow. Thanks!

[2017-05-09 13:40] mxinden commented on #770
Closing here. Please feel free to reach out to us again.

[2017-05-09 13:40] #770 closed

[2017-05-09 20:11] raypettersen opened #781 "0.6.1 crash."
I know the latest release is 0.6.2, but I would like to report a random crash that occured while version 0.6.1 was running in our test-environment.

The process was dead, and several hundred stacktrace entries was present in logs. I'm not sure how much log is needed to pinpoint and analyze the problem, but here is an entry. I can provide the entire log if needed.

fatal error: concurrent map read

[2017-05-09 20:20] raypettersen opened #782 "silence db not compatible with newer versions?"
During a test upgrade with several silences configured, alertmanager chocked while I was modifying my silences.

After this occured, all alertmanager gui pages didn't render properly. Is a full wipe recommended during upgrades?

[2017-05-09 21:38] juliusv commented on #781
Thanks, that sounds exactly like what was fixed in 0.6.2. See https://github.com/prometheus/alertmanager/pull/760.

[2017-05-09 21:38] juliusv commented on #781
Closing, but please reopen in case you still get this with the latest version.

[2017-05-09 21:38] #781 closed

[2017-05-10 00:34] stuartnelson3 commented on #782
That error occurs when you attempt to create a silence from json that has an ID field. In the current data model, silences are immutable, and can not be modified.

Silences from v0.5+ are forward compatible. If you do a rolling upgrade and the new instances have time to receive the silences via gossip from the old instances, it should be fine.

In the future, this sort of message should be directe

[2017-05-10 00:34] #782 closed

[2017-05-10 07:49] raypettersen commented on #781
Good to know. Thanks!

[2017-05-10 09:04] fabxc commented on #782
From which version did you upgrade to which version?

[2017-05-10 09:22] raypettersen commented on #782
I upgraded from 0.4.2.

Why on earth has the silences gone into a non-modified state? If we want to extend a maintenance window, the workflow chokes. Same if we miss with the first silence (typo for instance). Also, I am not able to delete any silences. The button exists, but doesn't do anything. I'm confused, is the GUI being deprecated? We're really stuck at 0.4.2 here.

[2017-05-10 09:32] fabxc commented on #782
Going from 0.4 the silences can indeed not be trivially ported due to disk format changes.

The immutability doesn't mean we want to prohibit any of the workflows you described. It is more about the underlying implementation. We want to be able to track a consistent history of what silences where active at which point in time.
This means if you change a matcher of an existing silence, it gets expi

[2017-05-10 09:47] raypettersen commented on #782
Ok, we'll try to adapt to the new way of doing things but we'll really miss being able to update our silences.

Regarding what you're saying about the expire button, you're right. After viewing the GUI in incognito everything displays properly. There are some caching issues going from 0.4.2 to 5+ it seems.

[2017-05-10 10:04] mxinden commented on #745
@stuartnelson3 @w0rm I am currently working on this. I will give the silence page a little bit of styling as well.

[2017-05-10 10:17] fabxc commented on #782
To be clear, from a UX perspective, you should still be able to update your silences. If it was a change mutating the past, it should just result in the silence being expired and being superseded by a new one.

The screenshot indicates an UI issue. We are very aware of the UI's shortcomings and @mxinden @stuartnelson3 and @w0rm are working hard on a more stable replacement, which should be able to

[2017-05-10 10:23] raypettersen commented on #782
Thanks for the feedback. I totally respect the time and effort you guys are putting into this. I just hope my input is valuable and not creating too much noise.

I found another UI issue. Silences created put in the future (start and expire), displays the delete button, and I am not able to expire the silence if I change my mind or if the silence is faulty.

This thread is getting messy. Should I

[2017-05-10 11:01] mxinden commented on #782
@raypettersen Caching issues should be fixed by #772 and will be merged into master with the new UI.

[2017-05-10 11:03] raypettersen commented on #782
Perfect, thanks.
Still don't think the future-silence delete-button is cache though. Seems to be a dead-lock.

[2017-05-10 11:06] raypettersen opened #783 "Silences placed in future creates a dead-lock."
When creating a future-silence, the silence is created with a delete button that doesn't function. I see no clear way of disarming or deactivating the silence.

[2017-05-10 11:09] raypettersen opened #784 "Extending a silence results in ID error."
If I understand the new scheme of things, silences can never be removed or edited directly. However they can be edited in such a way, that a new silence is created with the modifications.

This actually doesn't work when I try to expand the silence. Let's say extending the silence by +1h, results in the following error.

![selection_847](https://cloud.githubusercontent.com/assets/7197374/25895831/

[2017-05-10 11:15] raypettersen commented on #782
I've split this thread into two issues. #784 #783

[2017-05-10 16:22] MrAlias commented on #626
It looks like [this](https://github.com/prometheus/alertmanager/commit/6aece86ac15427faae5efe6ed651d1a8e5b7cf77) resolved this issue for me.

FWIW it also looks like this change was [merged into release-0.6](https://github.com/prometheus/alertmanager/pull/777) (which is also working now).

[2017-05-10 22:42] mmoya commented on #623
In my case I tried to group by a dummy label (`group_by: ['foobar']`) and alerts still get grouped

[2017-05-11 07:19] bkupidura opened #787 "Alertmanager notifications inconsistency when using mesh"
When you deploy 2 instances of alertmanager (AM#1 and AM#2) with mesh, "failure" of loadbalancer can lead to inconsistency of notification.

Scenario 1:
1) Alert fired by prometheus, send to AM#1
2) Alert still on, reported to AM#2
3) Alert resolved, and all further notification (status resolved) send to AM#1
4) After a while AM#2 will send notification that alert is active (till resolve_timeout)

[2017-05-11 07:26] fabxc commented on #787
Are you load balancing your alerts across Alertmanagers? If yes, you must
not do that. The whole thing is designed for all alerts being sent to every
Alertmanager and it will not work as expected otherwise.

On Thu, May 11, 2017 at 9:19 AM zynzel <notifications@github.com> wrote:

[2017-05-11 07:32] bkupidura commented on #787
So instead of using ex. docker-swarm loadbalancer/haproxy user should specify list of all AM to prometheus?

Instead of `-alertmanager.url docker_alertmanager` we should have `-alertmanager.url "http://10.0.0.2:9093,http://10.0.0.3:9093,http://10.0.0.2:9094"`

[2017-05-11 08:47] fabxc commented on #787
Yes, that's how it should work.
Note though that in recent Prometheus versions the url flag is deprecated
and the config file has a designated discovery section for Alertmanagers.
You can use all service discovery mechanisms to find Alertmanagers that you
can also use for targets.

On Thu, May 11, 2017 at 9:32 AM zynzel <notifications@github.com> wrote:

[2017-05-11 08:49] bkupidura commented on #787
Yeah, i know but its marked as `alpha` :) So we will stay with `-alertmanager.url` for now and move to dns discovery later on. We can close this issue. Thanks!

[2017-05-11 09:06] #787 closed

[2017-05-11 09:37] mxinden commented on #787
@fabxc @brancz  Should we add this to the `README.md` to prevent future confusion? If so I will open a PR.

[2017-05-11 19:59] fabxc commented on #787
That's probably a good idea

On Thu, May 11, 2017 at 11:37 AM Max Inden <notifications@github.com> wrote:

[2017-05-12 09:29] mxinden commented on #745
Closing here. #785 does not include the checkboxes but everything else. Let's see if we still need the filtering or if a hide/show button makes more sense.

[2017-05-12 09:29] #745 closed

[2017-05-14 05:15] rmeleromira opened #793 "_ in alertmanager.url gives 'ERRO[0000] invalid Alertmanager URL'"
When using a hostname with a `_` , prometheus exits with the following:

[code]
After changing `_` in alertmanager.url to `-`

[code]

Configs allow underscores:
[code]

[RFC 952](https://tools.ietf.org/html/rfc952) says that:

[code]

But the rule apparently isn't strictly followed by DNS servers and names in an `/etc/hosts` file can contain underscores.

Just pointing out that there's a little i

[2017-05-14 05:23] rmeleromira commented on #793
Wrong repo..

[2017-05-14 05:23] #793 closed

[2017-05-15 04:10] stuartnelson3 commented on #793
Using the command line flag to list alert manager instances is deprecated, you should move to using the discovery provided in the config.

[2017-05-15 07:29] mxinden opened #794 "Edit / Expire silence on SilenceView page"
When viewing the details of a silence, a user should be able to jump to the silence edit page, or expire the silence without going back to the *SilenceList* page.

[2017-05-15 22:12] mxinden commented on #742
Closing here as #775 is merged.

[2017-05-15 22:12] #742 closed

[2017-05-16 10:31] mxinden opened #797 "Implement silenced query parameter in /alerts endpoint"
The 'silenced' url query parameter is not yet implemented in the /alerts endpoint. We already show a checkbox on the AlertList view and change the query parameter accordingly, but the back-end ignores it.

[2017-05-16 11:46] mxinden commented on #797
@stuartnelson3 @w0rm I have added this to milestone v0.7 as I think we should tackle this before the next release. What do you think?

[2017-05-16 12:04] mxinden opened #798 "Rework SilenceForm"
@fabxc and I went over some improvements needed in the *SilenceForm* before v0.7:

* ~~Style SilenceForm and remove *tachyons* classes.~~
* ~~Show an initial matcher example~~
* ~~Instead of editing an expired silence, the UI should open the "new silence" dialog with the matchers from the old silence instead~~
* Make form without matchers invalid. If no matchers are specified "Create silence" butt

[2017-05-16 14:01] mxinden commented on #363
@beorn7 This is fixed with the new UI rewrite which will be released with v0.7. I will close here if you don't mind?

[2017-05-16 14:30] beorn7 commented on #363
We usually close issues once the fix is merged into master.

[2017-05-16 14:33] mxinden commented on #363
It was merged with #789. Sorry, I forgot to link this issue in the PR.

[2017-05-16 14:47] stuartnelson3 commented on #363
Closed by #789

[2017-05-16 14:47] #363 closed

[2017-05-16 15:02] stuartnelson3 commented on #798
I would add that we should have some visual indication that the creator and comment field need to be filled in. Currently, a silence cannot be created without those being filled in (in the UI), but some indication would clarify that.

[2017-05-16 15:03] stuartnelson3 commented on #797
agreed, and it looks like work is already underway :P

[2017-05-16 15:33] w0rm opened #800 "Filtering alerts by receivers"
Alerts could be filtered by receivers in the old UI. I think receivers make sense, from a perspective of being on call, I can quickly get all alerts that I am responsible for, without having to memorize all the labels and manually entering them into the filter bar.

It also allows me to filter out the alerts I am responsible for, even if they have totally different labels, so it is some kind of `O

[2017-05-16 15:38] stuartnelson3 commented on #800
I remember we discussed moving away from receivers the last time we were all together talking about this, but I don't remember the reasoning any more. I think the main point here that makes sense is being able to easily filter alerts with disparate labelsets but that I (as an operator) am interested in because I'm on-call.

What was the reason for getting rid of receivers? @fabxc @mxinden @brancz

[2017-05-16 17:11] stuartnelson3 opened #801 "Add Inhibited indicator to UI"
From this comment thread: https://github.com/prometheus/alertmanager/pull/799#discussion_r116765232

Just add a `inhibited` tag if that's the alert's status.

[2017-05-17 05:26] hiscal2015 commented on #705
@IamPrvn Any progress on this?

[2017-05-17 08:40] fabxc commented on #800
It's a consequence of switching to a flat view of all alerts.
We can add it back later. Probably by annotating alerts with this information or correlating it with the notification log.

[2017-05-17 08:51] fabxc opened #802 "Issue with alert grouping"
The grouping part has "alertname" in there by default.
If I remove it and try to add it again, the UI doesn't let me but doesn't tell me why.

<img width="1075" alt="screen shot 2017-05-17 at 10 49 52" src="https://cloud.githubusercontent.com/assets/4948210/26145962/cb6fb822-3aee-11e7-8bbf-ac882771b807.png">

[2017-05-17 09:51] mxinden commented on #802
@fabxc Works fine on my machine with the following click path:
1. Go to *Group* tab
2. Remove group *alertname* via `x` button
3. Type 'alertname'
4. Press `enter`

Can you help me reproduce the bug? Am I missing a step?

[2017-05-17 10:39] fabxc commented on #802
I did exactly that. In fact, just trying to add anything does not work for me. But as there no errors anyway, I can't say much more.

[2017-05-17 10:44] fabxc commented on #802
Ah, so it validates that the label name actually exists.
I think in general that doesn't really matter. Grouping by a label that has value "" for everything still does the right thing. I could imagine that it gets kind of tedious when I know what grouping I want but haven't applied the right filter yet, causing me to switch back and forth between filter and group.

Anyway, definitely not a bug, ju

[2017-05-17 13:00] #802 closed

[2017-05-18 07:16] #797 closed

[2017-05-18 07:17] mxinden commented on #765
Fixed by #796

[2017-05-18 07:17] #765 closed

[2017-05-18 07:19] mxinden commented on #688
Partly fixed by #799.

Now only `inhibited` is missing.

[2017-05-18 14:44] ipstatic opened #805 "Duplicate alerts in list"
When testing 0.6.2 we noticed duplicate alerts showing in the listing when more than one receiver is configured. Using Git bisect, it appears to be introduced in this [commit](https://github.com/prometheus/alertmanager/commit/1e34f29532a251b728ddf304ebccd9234fcbd81a). If you run the same configuration before this commit, you do not see the duplication issue.

![screen shot 2017-05-18 at 10 17 11 a

[2017-05-18 15:03] jjneely commented on #805
So, there is a known issue #539 that causes duplicate alerts to appear on the UI when routing alerts to two different receivers.  This should be fixed with the UI design.  But testing this version....yes now I have 4 alerts in the UI when routing alerts to 2 receivers.

This is not something I can expose my operations teams to.

[2017-05-18 17:58] mxinden commented on #805
@ipstatic as @jjneely pointed out, this will be fixed with the UI rewrite. The only thing holding us back from releasing the new UI right now is #806, which should be merged in the upcoming days.

Thanks for reporting the issue. I will close here. Feel free to reopen if you have any further questions.

[2017-05-18 18:00] ipstatic commented on #805
@mxinden Actually @jjneely was pointing out this is not the same issue. The API is duplicating data per "group" after this filtering was added. Please look at my pre and post dumps of this data.

[2017-05-18 18:03] jjneely commented on #805
Yes, this is now significantly worse.  We've introduced more bugs, not kept the same.

[2017-05-18 18:18] mxinden commented on #805
@ipstatic I am sorry for closing so quickly here.  I will look into it tomorrow.

[2017-05-18 18:19] pir1981 commented on #307
@kevin-bockman is there a way to the split of alerts also for logstash? I tried it with title and text and that does not work. I assume because a <webhook_config> is structured differently?

[code]

Thanks

[2017-05-19 00:16] r4j4h commented on #805
I don't want to pollute with more noise but I seem to be running into this as well and wanted to contribute something interesting that may help those debugging.

My afflicted alert uses variables and they only show up in the first one, but not the duplicated alerts.

IOTW, something like

`hi "{{ $labels.name }}"`

Shows up in first alert as

`hi "foo"`

while the duplicated alerts get

`hi ""`

A

[2017-05-19 06:47] IamPrvn commented on #705
@hiscal2015 No, PR is yet to be reviewed/merged .

[2017-05-19 14:30] jazzerjazzer commented on #250
If you are using **confd**, then you need to escape the curly braces:
Ex:
` name: 'slack_chatbots'
      slack_configs:
      - send_resolved: true
        api_url: '<url of slack web hook>'
        channel: '#test'
        text: 'https://internal.myorg.net/wiki/alerts/{{"{{"}} .GroupLabels.alertname {{"}}"}}'`

[2017-05-19 15:12] mxinden commented on #805
@ipstatic @jjneely & @r4j4h

We have just released a new version of Alertmanager (See [v0.7.0-rc.0](https://github.com/prometheus/alertmanager/releases/tag/v0.7.0-rc.0). Can you test if the described issue still exists in the new release candidate?

If so we will fix it in v0.7. Right now there would be no plans to backport the fix to v0.6 as the two are too different.

[2017-05-19 16:41] ipstatic commented on #805
@mxinden It does not appear in 0.7. Any ideas when this version will be released?

[2017-05-19 17:03] jjneely commented on #805
Yeah, it does appear fixed in 0.7 so that will be our next target to deploy rather than 0.6.x.

I guess the real question I'd like to pose is how can we test multiple receivers going forward?  Is that part of the automated testing / can it be?

[2017-05-19 18:08] w0rm commented on #798
@mxinden Editing duration puts the wrong value in the end time field

![screen shot 2017-05-19 at 19 57 07](https://cloud.githubusercontent.com/assets/43472/26260771/c6296a16-3cce-11e7-8d93-648a593870b0.png)
 and end time broke.

[2017-05-19 18:13] jcollie commented on #323
Just tried out 0.7.0-rc.0 and it's failing because the main page has an absolute reference to "/script.js".

[2017-05-19 21:56] stuartnelson3 opened #808 "Remove tachyons.css and css class references"
We've moved to bootstrap, so this is no longer necessary

[2017-05-19 21:58] stuartnelson3 commented on #323
The path is correct. I just downloaded and ran the release candidate, and experienced no failure.

[2017-05-19 22:59] jcollie commented on #323
The path "/script.js" is only correct if you have AlertManager at the root of the URL path. If, like me, you are using a proxy in front of AlertManager to put it into a subdirectory it's not correct. I have the proxy set up so that https://www.example.com/prometheus forwards to my Prometheus installation and https://www.example.com/alertmanager forwards to my AlertManager installation.

[2017-05-20 01:38] psalaberria002 commented on #323
I can confirm this is also happening here with v0.7.0-rc.0

[2017-05-20 04:02] stuartnelson3 commented on #323
Ah, thanks for the clarification

[2017-05-20 15:18] w0rm commented on #783
I got into the same issue when working on the new UI. When I want to delete a pending silence I get:

![screen shot 2017-05-20 at 16 26 03](https://cloud.githubusercontent.com/assets/43472/26276844/4e9be822-3d80-11e7-9fcf-5bf49f9f0843.png)

[2017-05-20 15:53] w0rm commented on #808
I removed it in #809 because it wasn't used.

[2017-05-20 18:46] w0rm opened #810 "Use relative times in the UI"
When alerts are hitting, we're probably interested in how many minutes/seconds ago it started, and not a UTC timestamp. The same goes for silences. E.g. for the active silences we're interested in for how long they remain active.

So far I could only find this library http://package.elm-lang.org/packages/alpacaaa/elm-date-distance/latest that implements this formatting. We also need to get rid of

[2017-05-21 10:53] w0rm commented on #798
@mxinden If you don't mind I can fix this and maybe address the initial validation state.

`type alias ValidatedField a = { value: String, validation: Result String a }` instead of `Result (String, String) (String, a)`

[2017-05-21 13:40] mxinden commented on #798
Sounds like a good idea. Thanks, and sorry for introducing the bug.

On 21 May 2017 12:53 p.m., "Andrey Kuzmin" <notifications@github.com> wrote:

[2017-05-21 14:18] w0rm commented on #798
@mxinden it's fine. I could've probably noticed this earlier! My plan is to complete this early next week, so that I can demo the new UI at work on Friday.

[2017-05-22 07:13] fabxc commented on #783
On it.

[2017-05-22 07:18] fabxc commented on #783
I fixed the issue semantically. But as we never delete but only expire, afterwards the silence still exists but has an effective duration of 0. It is still shown in the "pending" tab.

I think there are two options: Completely hide any silence at UI or API level where `startsAt == endsAt` or sort it into the "expired" tab even though the start lays in the future.

[2017-05-22 07:30] mxinden commented on #783
Another alternative would be to add this logic on the server in [`types.go/CalcSilenceState`](https://github.com/prometheus/alertmanager/blob/master/types/types.go#L352) and set any Silence to `Expired` where `startsAt == endsAt`. What do you think? @w0rm @fabxc

[2017-05-22 07:31] matthiasr commented on #783
I would prefer showing them as. It would be surprising to hide them or not,
just because they were expired before or after they begin. A silence that
will never be active has the same effect as one that did have an effect on
the past but not the future.

I think server side is the right place for this logic.

On Mon, May 22, 2017, 09:18 Fabian Reinartz <notifications@github.com>
wrote:

[2017-05-22 07:34] raypettersen commented on #783
Hiding will cause confusion. I'd prefer that it is placed in expired.

[2017-05-22 07:35] fabxc commented on #784
In 0.7-rc.0 and that copy-on-some-updates behavior is now directly implemented transparently in the backend. Can you verify that it is fixed there?

As you've been running into a ton of issues, it would be great to hear from you whether the new UI is something you'd upgrade to without hesitation. We really want to focus our efforts on that one.

[2017-05-22 07:47] raypettersen commented on #784
I'll give it a test-run, and get back to you.

[2017-05-22 08:04] mxinden commented on #805
@ipstatic I will update the [v0.7](https://github.com/prometheus/alertmanager/milestone/4) milestone today with all the issues that still need to be fixed before we can release. That's the best I can do.

@jjneely I would have to redirect this to @fabxc. The initial duplication issue is fixed due to the fact, that the new UI is using the `/alerts` endpoint, which is not aware of AlertGroups or rec

[2017-05-22 08:04] raypettersen commented on #784
Looks good @fabxc. I created a silence, and modified start and end without any problems. :-)

I do have some feedback regarding the new GUI. I'll compose a new issue with a few observations and suggestions.

[2017-05-22 08:04] #784 closed

[2017-05-22 08:12] mxinden commented on #801
I would like to extend this issue. In addition we should also tag silenced alerts with a `silenced` tag.

This was pointed out by Jack [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/QBTPLmB5c2o/RGDKytieAwAJ):

[2017-05-22 08:16] mxinden commented on #762
Closing here as we don't have any custom css right now (See [comment](https://github.com/prometheus/alertmanager/pull/809#discussion_r117636941)). Feel free to reopen.

[2017-05-22 08:16] #762 closed

[2017-05-22 08:20] mxinden commented on #734
I would like to close this issue as it is very generic and as I feel like @w0rm already did a great job styling the new UI. What do you think?

Please feel free to reopen.

[2017-05-22 08:20] #734 closed

[2017-05-22 08:21] raypettersen opened #812 "Alert sorting in 0.7 is not consistent."
When testing the RC, issues are rendered in different order on each refresh. Can be reproduced simply by reloading the page, or toggling the silence switch.

Not a big issue (more an annoyance), but a bit confusing for the end-user. Suggest sorting by start-date, perhaps with a per-alertname toggle so the end user can sort by newest or oldest.

[2017-05-22 08:22] mxinden commented on #688
This is related to issue #801.

[2017-05-22 08:28] mxinden opened #813 "Add routing tree back to the UI"
We should bring back the routing tree introduced by @stuartnelson3 in the old UI in the new UI (See [old UI](https://github.com/prometheus/alertmanager/blob/release-0.6/ui/app/partials/status.html#L25)).

This was mentioned by Jack [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/QBTPLmB5c2o/RGDKytieAwAJ):

[2017-05-22 08:30] raypettersen opened #814 "0.7 Create silence workflow suggestion."
I have an improvement suggestion when creating alarms. In the new GUI, a silence results in a "report" page. I would like this to be changed to a confirm step, so the end user can review the silence-output before enabling it, or clicking "back/cancel".

On a side-note, any chance of getting the silence rendered in cli-format for easy future automation? I've been using development tools for getting

[2017-05-22 08:30] mxinden commented on #810
I want to add this comment by Jack (See [google group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/QBTPLmB5c2o/RGDKytieAwAJ)) here:

I am fine with either one. Any other opinions @stuartnelson3 @fabxc @brancz?

[2017-05-22 08:33] mxinden opened #815 "Prometheus stops firing but alerts stay active"
This issue was reported by Jack and Julius [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-users/QBTPLmB5c2o/RGDKytieAwAJ):

[2017-05-22 08:50] brancz commented on #810
I think I'd like the relative time in the UI, but the real UTC timestamp when I hover over it (as @jjneely mentioned it would be good to make clear that it is indeed UTC).

@jjneely what do you think about this?

[2017-05-22 08:52] w0rm commented on #810
Yeah, we can show UTC timestamp in a tooltip https://v4-alpha.getbootstrap.com/components/tooltips/#static-demo

[2017-05-22 09:26] fabxc commented on #805
Did the duplication issue come from `/alerts/groups`? As [this commit](https://github.com/prometheus/alertmanager/commit/1e34f29532a251b728ddf304ebccd9234fcbd81a) was reported to have introduced it, I assume yes.

So a) we have to fix it or b) we should remove `/alerts/groups`. Generally fine with b) but I think we have currently no other way to inspect the internal state of our routing tree for p

[2017-05-22 11:16] psalaberria002 commented on #323
@mxinden I think this should be added to v0.7 Milestone. It should be an easy fix.

[2017-05-22 11:17] mxinden commented on #814
After creating a Silence the user is just redirected to the Silence view. I would vote against an additional step in the Silence creation process. The user can already see on the Silence form page which alerts are going to be silenced by clicking the "Show affected silences" button. @stuartnelson3 @w0rm What do you think?

What do you mean by "rendered in cli-format"?

[2017-05-22 11:28] stuartnelson3 commented on #723
Fixed by #732

[2017-05-22 11:28] #723 closed

[2017-05-22 11:31] w0rm commented on #814
@mxinden yeah, we do have a way to preview affected alerts before creating a silence.

[2017-05-22 11:33] w0rm commented on #812
Agree! I wonder if the sorting (most recent first) can be done in the api.

[2017-05-22 11:53] raypettersen commented on #814
Ah, just noticed the affected alerts button. That's a great feature!

@mxinden, for example:
`'{"matchers":[{"name":"alertname","value":"(^TEST)$","isRegex":true}],"startsAt":"2018-05-11T00:00:00.000Z","endsAt":"2018-05-11T07:00:00.000Z","createdAt":"2018-11-15T22:11:20.223119156+02:00","createdBy":"test@test.com","comment":"autogenerated-TEST","updatedAt":null,"elapsed":false,"pending":false,"act

[2017-05-22 11:57] stuartnelson3 commented on #810
I would prefer the duration. Assuming the duration calculation is correct, it saves me the trouble of doing the mental math to move from the reported UTC time to my current time.

[2017-05-22 12:04] stuartnelson3 commented on #813
Would be nice to take this as an opportunity to re-implement the routing tree. It seemed fairly helpful in the general case (~90% of the users), but for larger routing trees it was fairly un-usable.

This would also be a great opportunity to experiment with a parser+autocomplete when typing in label matchers, since it's something we want in the prometheus ui re-write.

[2017-05-22 12:33] mxinden commented on #814
@raypettersen Sure, sounds like a good idea. @fabxc Is this something the Prometheus eco system should invest into / was this demanded ever before?

[2017-05-22 12:43] brancz commented on #810
@stuartnelson3 I believe you are talking about silences rather than alerts?

[2017-05-22 12:46] stuartnelson3 commented on #810
Yeah, silences

[2017-05-22 14:43] mxinden opened #816 "Test if back-referencing to Alertmanager from receiver still works"
Test whether the back-referencing link still works with the new UI. As the UI format changed, this is probably going to be broken. The user should be redirected to the Alertlist page with specific filters and grouping already in place.

[2017-05-22 15:18] fabxc commented on #813
I'd say add back the existing one first and then make it nicer in a
subsequent effort.

On Mon, May 22, 2017 at 2:04 PM stuart nelson <notifications@github.com>
wrote:

[2017-05-22 15:20] fabxc commented on #814
Essentially like a button "Copy as curl" you can click, which then pops up a little text box with a commend? For sure. Could've used something like that for Prometheus queries tons of times in the past, so why not here too.

[2017-05-22 15:25] mxinden opened #817 "Copy as curl command on Silence creation form"
Add a button to the Silence creation form, which, on click, shows a text box containing the curl command one would need to run to create this Silence via the API.

See issue #814 for further details.

[2017-05-22 15:27] mxinden commented on #814
Closing here then. I have created a follow up issue to tackle the latter suggestion (See #817). @raypettersen If you are eager to try out  some Elm, feel free to file a PR. Otherwise we will implement it later.

Feel free to reopen if you have further questions.

[2017-05-22 15:27] #814 closed

[2017-05-22 15:31] raypettersen commented on #814
Cheers. Great work guys.

[2017-05-22 16:53] stuartnelson3 commented on #817
I'm going back and forth about this. We went to the trouble of creating a cli tool, `amtool`, which handles creating silences. I think we should direct users to the that if we want to continue supporting it.

[2017-05-22 17:05] raypettersen commented on #817
amtool is a huge thing compared to this small usability feature, isn't it? I trued the amtool and found it buggy, lacking features and documentation. With the help of curl, I (and likely others) will find a way to work around the flaws of amtool until it matures.

[2017-05-22 17:13] r4j4h commented on #805
@mxinden It looks like my issue on the repeated alerts not being hydrated is still a problem when running v0.7.0-rc.0.

On the positive side there is no negative change, it behaves the same.

Since it appears the main issue is fixed, should I create a new Issue regarding my variables-used-once problem?

[2017-05-22 17:15] r4j4h commented on #805
Actually more to report so editing my issue (just letting you know incase you try to respond wihle I do so, will delete this entry after)

[2017-05-22 20:37] AnudeepReddyJ21 commented on #440
@brian-brazil Does the above solution require you to run SMTP relay locally? Like postfix or something. I tried the above solution. Although the alarm is firing, I don't receive any email. Do you mind providing more details on the SMTP configuration part?

[2017-05-22 22:07] RSamal opened #819 "Issue while building from source"
Hi I get the below error while doing  "GO15VENDOREXPERIMENT=1 go get github.com/prometheus/alertmanager/cmd/...".  I use go 1.7 version.

# github.com/prometheus/alertmanager/vendor/github.com/weaveworks/mesh
github.com/prometheus/alertmanager/vendor/github.com/weaveworks/mesh/token_bucket.go:33: undefined: time.Until

[2017-05-22 22:22] RSamal commented on #819
Just upgraded to 1.8 and it works. I guess the vendor project is broken with lower version

[2017-05-23 06:42] ashoksahoo commented on #618
This is my template.
[code]
This is what I get in my email alerts.
Labels
alertname = MongoTooManyPageFaults
instance = 12.0.22.180:9001
job = mongo
service = mongo
severity = page
Annotations
description = <error expanding template: runtime error: invalid memory address or nil pointer dereference>

[2017-05-23 06:54] fabxc commented on #819
Yes, it uses the new `time.Until` function, which was added with go 1.8

On Tue, May 23, 2017 at 12:22 AM Ramakant <notifications@github.com> wrote:

[2017-05-23 06:56] #819 closed

[2017-05-23 07:03] stuartnelson3 commented on #817
As far as creating silences goes, it seems to have that feature. From a project perspective, if we continue to give people ways around the tool, it's never going to get used and mature. Up to the powers that be.

[2017-05-23 07:59] mxinden commented on #783
In #811 @RSamal @fabxc and came up with a third solution. Instead of setting `endsAt` to `startsAt` we can set both to `now`. Thereby the Silence will get the `expired` state by default.

[2017-05-23 08:18] mxinden commented on #805
@r4j4h Thanks for the positive feedback. Could you create a new issue for your feature request?

[2017-05-23 08:39] raypettersen commented on #817
I would think from a project perspective that "hiding" the api, would in the long run halt/harm the development of the api itself. I wasn't around when amtool was discussed and created, but I find it rather strange if the argument is one vs the other.

[2017-05-23 14:20] stuartnelson3 commented on #817
I suppose the whole thing seems slightly unnecessary to me, since you can go into the network tab and select "copy as curl", if getting the curl syntax is desired, but if we can add it in a way that makes sense, then sure. @w0rm seems to be our UX expert, so we'll see what he comes up with.

[2017-05-23 14:20] juliusv commented on #815
Prometheus built from current master:

[code]

Alertmanager built from current master:

[code]

Prometheus config:

[code]

`prometheus.rules` file:

[code]

Alertmanager config:

[code]

1. Start Prometheus without node exporter running
2. Wait for alert to fire - it appears on AM and notifications to the webhook (listener started with netcat) are sent
3. Bring up node exporter

After the last st

[2017-05-23 16:25] fabxc commented on #815
The display issue is theoretically unrelated as we simply forgot to filter resolved alerts in the new API endpoint. So they remain visible until they are garbage collected.

The re-sending might be related to the fixes we made for 0.6 already. If it's only occurring in 0.7 I'd be surprised. Any chance you can verify that?

[2017-05-23 19:39] HyperDevil commented on #817
I would also like the curl command as @raypettersen described.
Creating these manually is a hassle, and we are not going to the use the amtool before it matures, also the web interface is the primary interface for now.

[2017-05-23 22:39] r4j4h opened #821 "Display alert annotations"
The old UI used to contain current alerts listed by labels with silence buttons, as does the new UI.

To the left of the labels list in the old UI there used to be a Source link with a `+` button. Upon clicking the plus, a "panel" would pop out beneath showing the actual "hydrated" alert text.

The new UI seems to be missing this functionality.

For example, if the alert was `Low Quorom: There's o

[2017-05-24 02:31] odg0318 opened #822 "How can I use slackAttachmentField in slack receiver?"
Hello.

I try to use slack as a receiver and examine slack formatting.
I found `slackAttachmentField` struct which could be used for `fields` in slack formatting.
But there is no way to set the field through alertamanger configuration.
I want to show all labels of metrics using `fields` of slack.

Best regards.

[2017-05-24 03:14] hiscal2015 opened #823 "smtp use private CA certificate"
Hi,

I want to enable tls for smtp in my local network, but seems there's no option to config the private smtp ca certificate, how can I do?

[2017-05-24 06:26] ashoksahoo opened #824 "Error Expanding template."
This is my template.
[code]
This is what I get in my email alerts.
[code]
I looked at this https://github.com/prometheus/alertmanager/issues/618 but I cant find anything helpful.

[2017-05-24 06:33] ashoksahoo commented on #824
I get this in my log.

[2017-05-24 06:36] #824 closed

[2017-05-24 06:36] ashoksahoo commented on #824
I have to use {{$labels.instance}}. I feel so stupid now.

[2017-05-24 08:05] mxinden commented on #821
Thanks for the feedback! You are right, we are not displaying the alert annotations which we should definitely do. I will rename the issue title accordingly if you don't mind.

[2017-05-24 09:25] w0rm opened #825 "Add favicon"
A small thing that will make the UI look complete.

[2017-05-25 04:46] mxinden commented on #798
Updated issue. Most things are fixed by #806 & #827. Only things missing is:

[2017-05-26 06:42] titansmc opened #828 "Sending mail without authentication"
Hi, I've just installed Alertmanager along with prometheus and grafana, and when setting up the mail to be able to receive email alerts I don't see an option for sending emails (in my case using the Gmail servers) without authentication.
Since we have Google mail services, we can just use their SMTP without authentication.

Does anyone know whether that is possible with alertmanager?

Thank you.

[2017-05-26 07:57] brian-brazil commented on #828
Please ask usage questions at https://groups.google.com/forum/#!aboutgroup/prometheus-users

Nowhere is it documented that you need to use authentication.

[2017-05-26 07:57] #828 closed

[2017-05-26 11:25] fabxc commented on #815
@juliusv @mxinden any further insights on this?

[2017-05-26 12:16] juliusv commented on #815
Checking again now with 0.6.

[2017-05-26 13:14] juliusv commented on #815
So actually part of the weird behavior I got earlier from master was that I used `curl` to receive webhook requests, but that doesn't respond with a HTTP status response, so those requests just timed out and were retried for that reason probably.

Now I'm using a small Go web server that just responds with `200`, and I'm still seeing weird (but different) behavior.

This is from current master:

-

[2017-05-26 13:20] brian-brazil commented on #815
That's correct, otherwise we'd spam users as each individual resolution came in. Resolved notifications need to obey group_interval.

[2017-05-26 13:24] fabxc commented on #815
Okay, what you describe is the expected behavior. Curious about cases now
though where people report resolved being spammed endlessly into Slack.
For the UI, there's already a fixing PR open.

On Fri, May 26, 2017 at 3:20 PM Brian Brazil <notifications@github.com>
wrote:

[2017-05-26 13:31] brian-brazil commented on #815
We did have a bugs fixed in 0.6 around resolved notifications, so it could be those.

[2017-05-26 13:39] juliusv commented on #815
https://github.com/prometheus/alertmanager/pull/820 indeed fixes the UI issues for me. So from my side, I cannot reproduce this issue anymore. Should we close it and see if someone else reports similar issues again?

[2017-05-26 13:47] fabxc commented on #815
Fine with me.

On Fri, May 26, 2017 at 3:39 PM Julius Volz <notifications@github.com>
wrote:

[2017-05-26 13:48] #815 closed

[2017-05-26 14:36] w0rm opened #830 "Parse the error from the backend"
![screen shot 2017-05-26 at 16 34 25](https://cloud.githubusercontent.com/assets/43472/26499017/608e9146-4231-11e7-9568-e6977b541a5a.png)

![screen shot 2017-05-26 at 16 37 24](https://cloud.githubusercontent.com/assets/43472/26499099/a4f73db0-4231-11e7-88e4-ef18379d6d00.png)

I guess we can add a json parser that would try to extract the "error" message, so we don't show the json in plaintext.

[2017-05-28 11:16] stuartnelson3 commented on #830
This is the standard error format for both alertmanager and prometheus, will be nice to have this

[2017-05-28 14:26] stuartnelson3 commented on #756
Questions regarding usage should be directed to the prometheus-users google group

[2017-05-28 14:26] #756 closed

[2017-05-28 19:09] filippog opened #831 "amtool: /etc/amtool.yml is never read"
The amtool documentation states that `/etc/amtool.yml` will be read, though it attempts to read `/etc/.amtool.yml` (and many others) instead:

[code]

[2017-05-28 19:14] juliusv commented on #831
cc @Kellel

[2017-05-28 20:51] stuartnelson3 commented on #831
Looks like a typo in the documentation:

https://github.com/prometheus/alertmanager/blob/master/cli/root.go#L61-L63

[2017-05-28 20:53] juliusv commented on #831
@stuartnelson3 Hm, it'd be odd to check in `/etc/.amtool.yml` though. Config files under `/etc/` are usually not dotted / hidden, only homedir ones. So it seems to me that the expected thing to do here would be to change the behavior, not the documentation.

[2017-05-29 06:47] anandsh19 commented on #430
I am also facingthe same issue, could someone clarify and provide me the solution?
Thanks.

[2017-05-29 11:53] w0rm commented on #821
Can it go in 0.7? I'll be happy to work on this. I think we should prioritize feature compatibility with the old UI.

[2017-05-29 11:54] #808 closed

[2017-05-29 12:00] mxinden commented on #821
@w0rm Yes, if you curl the `/alerts` endpoint you will find an `annotations` field. You can find the server side implementation [here](https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/prometheus/common/model/alert.go#L35). It should be an array just like `labels`.

👍 For focusing on feature parity.

[2017-05-30 08:33] #783 closed

[2017-05-30 12:05] Jean-Daniel opened #834 "New UI can't load script.js when using "-web.external-url"."
I just installed alter manager 0.7.0-rc0 and start it using `-web.external-url=http://example.com/alerts/`, but when I load the UI in the browser, it tries to load '/script.js' and failed with a 404 error.

The UI should either use relative path or respect the path specified by `-web.external-url` when loading resources.

[2017-05-30 13:08] stuartnelson3 commented on #834
Thanks for the report! We have an issue tracking this (but I can't seem to find it right now ...). The fix will hopefully be included soon.

[2017-05-30 14:22] stuartnelson3 opened #835 "Webhook server fails when running HA example"
I'm running this the HA example using `goreman start`, on arch linux.

I get this error output (the alertmanagers run fine):

[code]

A quick googling didn't reveal anything. Anyone seen this?

[2017-05-30 14:56] mxinden commented on #834
As far as I can tell this is a duplicate of #323. It is part of the 0.7 milestone. I will close here, please reopen if I am mistaking.

[2017-05-30 14:56] #834 closed

[2017-05-30 19:04] #821 closed

[2017-05-31 06:44] damomurf commented on #815
@juliusv I'm seeing the repeating "resolved" alert firing into Slack right now, with two different Prometheus installations. What information can I give you to try and nail this down?

[2017-05-31 07:56] damomurf commented on #815
I've just tried with an alertmanager built from master and observe the same behaviour. The offending alert, once resolved, notifies "resolved" every repeat_interval.

Route and Receivers config:

[code]

[2017-06-01 08:13] #825 closed

[2017-06-01 08:43] #801 closed

[2017-06-01 13:59] brian-brazil opened #840 "Properly elide secrets in config in UI"
Similarly to what we did in Prometheus.

@Conorbro

[2017-06-02 18:06] Kellel commented on #831
After re-reading the viper documentation it seems I should have gone the method of putting a config file in a named directory
[code]
As it stands it seems I have set the config name to `.amtool` so it is required

I propose to change the default config file locations to be the following:
[code]

As far as reading multiple file types that is a feature of viper. I can restrict it if we think that is

[2017-06-02 18:07] Kellel commented on #831
Also can I get a component/cli label on this issue?  :smiley:

[2017-06-02 21:20] Kellel commented on #831
#842

[2017-06-03 21:15] Kellel commented on #831
Closed my other pr. It needed a rebase. This one is clean

[2017-06-05 09:05] damomurf opened #844 "Repeated "resolved" notifications firing"
I'm seeing repeating "resolved" notification firing into notification endpoints from the same alert rule, with two different Prometheus installations. The alerts seem to repeat 5 times after the initial notification and then stop. It seems to affect every version of Alertmanager right back to 0.5.0 - the latest version that doesn't exhibit the problem is 0.4.2.

I'm assuming this relates to #815.

[2017-06-05 17:25] saady opened #845 "Enable to send alerts emails from SparkPost (SMTP)"
I'm trying to send emails via SparkPost..but I can't get it work.
i'm getting this message:

```2017-06-05T17:17:26.165684583Z time="2017-06-05T17:17:26Z" level=error msg="Error on notify: sending mail from: 530 5.7.1 Authorization required. Ref. https://developers.sparkpost.com/api/index#header-smtp-relay-endpoints" source="notify.go:283"```

My alertmanager.yml file looks like:

[code]

I also p

[2017-06-05 17:33] brian-brazil commented on #845
Usage questions should be asked at https://groups.google.com/forum/#!aboutgroup/prometheus-users

[2017-06-05 17:33] #845 closed

[2017-06-06 04:55] #831 closed

[2017-06-06 09:19] mxinden opened #846 "Serve Bootstrap css by Alertmanager"
Do not load Bootstrap CSS from the Bootstrap CDN but serve it with Alertmanager itself.

[2017-06-06 09:48] fabxc commented on #844
A note on the configuration in general. Repeat interval should be generally really long in a sane setup – at the order of 3 to 48 hours. You will be notified in the group interval should anything change about the state of alerts. The repeat interval is only about unchanged state – anything in the minute range is typically way too noisy for this.

Can you provide your Prometheus configuration as we

[2017-06-06 10:19] fabxc commented on #844
You are sending from two Prometheus servers, right? Do they have different external labels?

[2017-06-06 10:51] damomurf commented on #844
@fabxc - Sorry, I wasn't very clear on a couple of those things.

The alert manager config above was just so that I could replicate the problem without waiting and waiting for hours. The normal config I run with is:

[code]

In reference to two servers I was highlighting that I have two completely independent, separate configurations of Prometheus/Alertmanager that end up triggering the same scena

[2017-06-06 11:02] #840 closed

[2017-06-06 11:22] fabxc commented on #844
So you have two Prometheus servers but they are not sending to the same Alertmanager cluster?
The logs indicate the same alert coming in twice in short sequence. Do they have any external labels set?

Really having trouble reproducing this in any way.

[2017-06-06 17:52] RSamal commented on #616
This issue has been taken care with the recent version.

[2017-06-06 17:52] #616 closed

[2017-06-07 07:51] iksaif commented on #616
@kamaradclimber can you confirm that the 2.0.0 preview doesn't have this bug ? I think you were able to reproduce it

[2017-06-07 11:13] damomurf commented on #844
I'll do some significant digging into establishing whether there are two sources of the alerts, but I can't see how. If not, I'll reproduce and include all of the config and logs.

[2017-06-07 14:38] mxinden commented on #816
For now this is partly fixed by this [commit](https://github.com/prometheus/alertmanager/commit/b3d2ff368885430b25590bafbe0fce7132a101de). I will move this to milestone v0.8. Feel free to intervene.

[2017-06-07 14:50] mxinden commented on #844
@damomurf Thanks for your help! I will move this issue to milestone v0.8. As we are having difficulties reproducing this bug, and as it is not a mission critical issue we will release v0.7 without it for now. Don't get me wrong. We are still very much interested in fixing this issue.

[2017-06-07 20:45] mxinden commented on #323
@psalaberria002 @jcollie We have fixed this with #836. You can try out current master or wait a little. We are planning to release again hopefully tomorrow. Let me know if you are having any further issues with this.

[2017-06-07 20:45] #323 closed

[2017-06-07 21:47] mxinden opened #848 "Fix doc/examples/simple.yml"
When running alertmanager with the config specified in `doc/examples/simple.yml`, alertmanager fails with
[code]

If I replace `- match_re:` with `- match:` alertmanager starts without issues.

This is similarly done in `config/testdata/conf.good.yml`.

@fabxc Any idea here?

[2017-06-07 23:56] RSamal commented on #616
It got fixed with the latest master branch. [https://github.com/prometheus/alertmanager/commit/08be6a4149cb512d9f91ab942eacfdc049c6fc10](url) Not sure the version you are referring.

[2017-06-08 06:08] eugene-chow commented on #628
@davidkarlsen did you manage to get alertmanager to connect to your corporate proxy? i'm facing a similar issue.

[2017-06-08 07:09] iksaif commented on #616
You're right, https://github.com/prometheus/alertmanager/commit/08be6a4149cb512d9f91ab942eacfdc049c6fc10 isn't in https://github.com/prometheus/alertmanager/releases/tag/v0.7.0-rc.0. Thanks !

[2017-06-08 07:45] #846 closed

[2017-06-08 08:05] brancz commented on #848
I'm getting a different error, but also an error unmarshaling:

[code]

Wondering why it didn't fail with the test config. Will investigate a bit.

[2017-06-08 08:10] davidkarlsen commented on #628
Yes - the problem was that the alerts did not contain a full description, and opsgenie will return http 400 for alerts with text "".

2nd, to get it to run the requests through the http-proxy, I define the HTTP_PROXY variable (from my compose file):

 alertmanager:
    image: myrepohost:8085/prom/alertmanager:v0.6.2
    restart: always
    hostname: myhostname
    environment:
      - HTTP_PROXY=h

[2017-06-08 08:12] brancz commented on #848
Probably unrelated but regex unmarshaling is inconsistent for yaml and json https://github.com/prometheus/alertmanager/blob/d383ab0d91e44ee33c17e766300700e2a030a4ba/config/config.go#L472-L513

[2017-06-08 09:37] eugene-chow commented on #628
Thanks! That helps

[2017-06-08 11:45] mxinden commented on #848
Fixed by #850

[2017-06-08 11:45] #848 closed

[2017-06-08 15:09] eugene-chow opened #853 "What's the correct way to config Alertmanager to use a forward proxy?"
In this [thread](https://github.com/coreos/prometheus-operator/issues/399#issuecomment-307114123) with @brancz, I was seeking a way to config Alertmanager to use a forward proxy. One way is to use the `https_proxy` env var detailed [here](https://github.com/prometheus/alertmanager/issues/628).

Is this the correct way to do it in the long haul, or should it be in Alertmanager's config. Thanks!

[2017-06-08 17:42] brancz commented on #853
As mentioned in the other thread, all Prometheus projects are exclusively configured via config files, and that this is configurable via an environment variable right now is purely a coincidence because of the underlying http client implementation.

I'd propose that an `http_proxy` config maybe to be consistent with Prometheus we should also call it `proxy_url` (see https://prometheus.io/docs/oper

[2017-06-08 17:50] brian-brazil commented on #853
For blackbox I'm getting the common http bits broken out to a library in common, which we could also use here.

[2017-06-08 19:09] RSamal opened #854 "Issue with UI Status page config details"
Hi,

Why am I seeing all unnecessary details in my config status. All the template details are getting added in receivers. Also the groupby clase getting expanded with "-"
`global:
  resolve_timeout: 5w
  smtp_from: ""
  smtp_smarthost: ""
  smtp_auth_username: ""
  smtp_auth_password: null
  smtp_auth_secret: null
  smtp_auth_identity: ""
  smtp_require_tls: true
  slack_api_url: null
  pagerduty

[2017-06-08 19:13] jhorwit2 opened #855 "0.7.0 - filtering doesn't work in Chrome"
I'm trying to add a simple filter `namespace=tyrell-test` and i receive the following error.

[code]

[2017-06-08 19:43] mxinden commented on #855
@jhorwit2 Thanks for reporting! I have created PR #856 with a fix. Does this version resolve your issue?

[2017-06-08 20:10] jhorwit2 commented on #855
I'll do a build tomorrow and test it out. 👍

[2017-06-08 20:56] RSamal commented on #616
Hey Corentin, By the way, I just noticed V0.7.0  has this fix now.

[2017-06-08 21:04] RSamal commented on #854
<img width="1211" alt="screen shot 2017-06-08 at 2 03 36 pm" src="https://user-images.githubusercontent.com/5267629/26950708-5d88fcee-4c53-11e7-8bd0-a5dd80d752a0.png">

[2017-06-08 21:05] RSamal commented on #854
<img width="974" alt="screen shot 2017-06-08 at 2 04 52 pm" src="https://user-images.githubusercontent.com/5267629/26950730-7b235d94-4c53-11e7-963d-5a979f58373e.png">

[2017-06-08 21:08] RSamal commented on #854
@mxinden  Why all the templates are showing up here in the config file , which was not before . It was much clear before. Now it's little bit messy to look up

[2017-06-09 06:50] zgfh commented on #98
I'd be interested in seeing support for this too.

[2017-06-09 07:36] brancz commented on #854
@RSamal this is unfortunately a technical necessity, before we showed the actually loaded plain text config, however, that doesn't allow us to reliably elide secrets from the config, therefore we parse the config, and marshal it again, making sure that anything containing a secret is elided in this step.

[2017-06-09 14:43] mxinden commented on #854
@RSamal Thanks for reporting! As @brancz described this was a technical choice we had to take. I will close here for now. Feel free to reopen if you have any suggestions how to improve this.

[2017-06-09 14:43] #854 closed

[2017-06-09 16:05] mxinden commented on #855
@jhorwit2 You can check out release v0.7.1 here: https://github.com/prometheus/alertmanager/releases/tag/v0.7.1

[2017-06-10 21:00] Mrcortez34 opened #860 "AlertManager Default Repeat_Interval"
So, I have disabled any type of repeat for alertmanager. The thing is that I still get alerts every 4 hours it seems. So is there a default repeat interval for alert manager?
 I have also setup inhibit rules but that doesn't seem to work completely.

[code]

[2017-06-12 08:42] brancz commented on #853
@brian-brazil is this already in process?

[2017-06-12 08:47] brian-brazil commented on #853
https://github.com/prometheus/common/pull/81 I must look at it again

[2017-06-12 19:57] r4j4h commented on #821
🎊

[2017-06-12 22:04] r4j4h commented on #437
To add to @davidwebber 's curl example here's a Gist I found that describes some other fields, namely 'status: firing/resolved' that may enrich other's testing efforts.

https://gist.github.com/cherti/61ec48deaaab7d288c9fcf17e700853a

[2017-06-13 08:44] stuartnelson3 commented on #860
This is a usage question that should be directed to the `prometheus-users` google mailing group

[2017-06-13 08:44] #860 closed

[2017-06-14 15:33] grobie opened #862 "Issues with marshaled config on status page"
* Regular expressions are shown as `{}` instead of the actual regular expression.
* unset fields are shown as `null` or `""` or their default value

Raw config

[code]

Printed config

[code]

[2017-06-14 15:42] grobie opened #863 "Missing option to filter alerts by receiver"
With the new UI introduced in v0.7 I can't find an option to show all alerts assigned to me/my receiver. As team with diverse responsibilities, very different label combinations end up in my receiver.

Is there any workaround? I tried the label `receiver="my-team"` but that didn't work.

[2017-06-14 15:46] brian-brazil commented on #862
@Conorbro

[2017-06-14 15:52] stuartnelson3 commented on #862
This is an issue we've dealt with before, I'm not sure why it keeps reappearing. Relevant code is here: https://github.com/prometheus/alertmanager/blob/master/config/config.go#L513-L518

[2017-06-14 16:46] gaya3chandran1 commented on #362
Is it possible to send alert A1 to group X and alert A2 to group Y? Can you please provide sample config. As of now I have all alerts reaching one group

[2017-06-14 18:11] juliusv commented on #172
Red Hat has a strong interest in this (including allocation engineer time), specifically in being able to get all recent notifications within a certain timestamp range with full labels and annotations over an API.

Would the existing mesh-replicated notification log be a good place to add this extra detail (currently it only stores the grouping key and firing/resolved status), or would it have to

[2017-06-14 18:24] brian-brazil commented on #172
I'm wary of adding such a broad function, we don't want arbitrary amounts of data stored in the Alertmanager. This information should be available for debugging, but for any non-trivial amount of time it should probably hang off a webhook or logging mechanism rather than being part of the AM.

[2017-06-14 18:47] juliusv commented on #172
@brian-brazil Ok, just checked. The requirement would be for ~weeks of data, or at least days. Probably a job for the webhook then?

[2017-06-14 19:16] brian-brazil commented on #172
Yeah, I'm thinking hours might be acceptable within the AM.

[2017-06-14 22:20] grobie commented on #862
@Conorbro The printed config also prints fields I have not set in the original config. For example `smtp_auth_password: null`.

[2017-06-15 10:56] mxinden commented on #862
@grobie In regards to `null or "" or their default value`: This is due to the fact, that we parse the config and then marshall it again in order to elide secrets properly. See this [comment](https://github.com/prometheus/alertmanager/issues/854#issuecomment-307318374).

[2017-06-15 11:00] mxinden commented on #362
@gaya3chandran1 Please raise support questions in the Prometheus-users mailing list.

[2017-06-15 11:04] mxinden commented on #863
Duplicate of #800. Closing here. Please reopen if I am mistaken. As far as I am aware there is no workaround.

[2017-06-15 11:04] #863 closed

[2017-06-15 11:06] sandersaares commented on #844
I am also experiencing repeated "resolved" notifications with version=0.5.1, branch=master, revision=0ea1cac51e6a620ec09d053f0484b97932b5c902.

Anonymized configuration snippets follow.

Alertmanager configuration:

[code]

Prometheus alerts configuration:

[code]

Prometheus monitoring configuration:

[code]

Logs only seem to have basic "performing maintenance" style info, no warnings/errors or

[2017-06-15 11:18] mxinden commented on #844
@sandersaares Are you able to test out v0.7.1 in your environment and try to reproduce the issue?

[2017-06-15 11:44] sandersaares commented on #844
Yes, doing that right now.

[2017-06-15 12:01] sandersaares commented on #844
Meanwhile, one thing I noticed was that the "job" label collection was different in each of the repeated "resolved" notifications. Here are the ones it sent (together with all the firing notifications). You can see some sort of pattern here but I can't quite understand what it means.

[code]

[2017-06-15 12:03] jdoupe commented on #623
Disclaimer: This is just a guess/opinion.
While it might be nice to have an option to say "Don't group", the implementation of "group_by" is to group by the *value* of the labels provided, not by the labels themselves.  In other words, if you have a label that has multiple values that you don't want grouped together, put that label in the "group_by" array.  For the OP, this would be simply be `gro

[2017-06-15 12:28] grobie commented on #863
Oops, thanks @mxinden. I missed that, but can I ask to prioritize it? It's quite hard to see all alerts for my team now.

[2017-06-15 13:13] sandersaares commented on #844
I am unable to reproduce with 0.7.1.

However, the behavior was also not consistently problematic with 0.5.1 - I first saw it yesterday and have been using the software for quite some time now. Will monitor behavior and report back if I have any more info to add - perhaps there are some hidden factors that affect the situation.

[2017-06-15 13:30] mxinden commented on #844
@sandersaares Thanks for reporting. Let us know if you are facing any further issues!

@damomurf Any news  from your side? Are you still facing these issues with v0.7.1?

[2017-06-15 13:32] damomurf commented on #844
@mxinden I'll deploy v0.7.1 first thing in my morning and definitely report back.

[2017-06-15 13:44] mxinden commented on #863
@grobie No worries. It is part of the 0.8 milestone, so we would add it in the upcoming release.

[2017-06-15 16:19] auhlig commented on #862
Same here. Regexp are shown as `{}`.
In addition the status page shows values that were never defined in [my configuration](https://github.com/sapcc/helm-charts/blob/master/global/prometheus-alertmanager/templates/config.yaml), but the `slack_api_url` which is actually defined is `null` as shown in the snippet below.
[code]

[2017-06-15 16:22] ianfriend commented on #846
Seems to be an error on windows returning 404 errors getting the assets.  Should they been embedded in the exe or assets shipped in the tar?

[2017-06-16 04:23] damomurf commented on #844
I'll need to leave it for at least 24 hours to get a read on some regular (ugh, yes - regular) alerts that were triggering the issue. However, initial indications are good.

[2017-06-16 08:11] mxinden commented on #846
@ianfriend They should be embedded in the `exe` file. Does the log output of Alertmanager give any more details?
If this issue still persists, please open up an issue. Thanks for reporting.

[2017-06-16 09:46] fabxc commented on #800
I'm somewhat worried about an explosion of options for views and clicking around them will not be really good UX.

Textual options were brought up in the past. I think that would be a good idea here.
Can we maybe filter by `silenced:true`, `silenced:false`, and `receiver:<name>` inline with the label selectors? Potentially even `group(a,b)` later.
Less clicky-pointy but not really complex and more

[2017-06-16 09:52] brancz commented on #800
Yes, I think this is very powerful. I imagine it like GitHub style issue/PR search.

[2017-06-16 10:03] w0rm commented on #855
This is fixed

[2017-06-16 10:03] #855 closed

[2017-06-16 10:39] kevincm opened #865 "Format Value become scientific"
I got some question regarding `{{ $values }}` usage,

I have basic alert which sending it to our slack:
this is the working one : `Redis Server  keys has increased 77.45077806845111%.`

while, this is the issue : `Production Server insert_shop_response Channel Depth is over (Current : 8.838815e+06).`

_note : i removed my instance labels_

the problem is `8.838815e+06` value.

this is snippet of m

[2017-06-16 10:47] brian-brazil commented on #865
Usage questions are best asked at https://groups.google.com/forum/#!forum/prometheus-users

[2017-06-16 10:47] #865 closed

[2017-06-16 11:22] w0rm commented on #805
@mxinden @fabxc I believe this is fixed in the new UI because we're not using /alerts/groups anymore?

[2017-06-16 11:27] #805 closed

[2017-06-16 11:27] fabxc commented on #805
Yes, should be fixed.

On Fri, Jun 16, 2017 at 1:22 PM Andrey Kuzmin <notifications@github.com>
wrote:

[2017-06-16 12:02] beorn7 opened #868 "Display "natural" grouping (and make groups linkable)"
If I understand correctly, the new UI only allows custom grouping by the labels given in the _Group_ tab. This implies that all alerts will be grouped by the same grouping label set.
The problem with that is that the alertmanager config allows different groupings for different alerts. That's the grouping that is relevant for sending out actual notifications. But this grouping is neither available

[2017-06-16 13:56] w0rm commented on #800
Can we support the `receiver` param in the `/alerts` endpoint, and add another endpoint to get the list of receivers for the dropdown in the UI?

[2017-06-16 14:27] w0rm commented on #798
@mxinden it is impossible to have a form without matchers now, so this is fixed.

[2017-06-16 14:27] #798 closed

[2017-06-16 15:59] ianfriend opened #869 "UI returns 404 getting assets on windows."
In version 0.7.1 with the self served assets, when installed on windows loading the UI returns 404's GETting the assets.
Log output:
time="2017-06-16T15:54:51Z" level=warning msg="Could not get file: AssetInfo ui\lib\jquery.min.js not found" source="web.go:31"

[2017-06-16 16:36] beorn7 commented on #800
Talked to @w0rm about it. Conclusion was to have an endpoint to find out about all configured receivers (for a UI component to select them).
The alerts endpoint needs an additional parameter, which is a regexp of the receiver (so you can match things like `teamX.*`, which would include `teamX-warn`, `teamX-crit`, and `teamX-info`, or lists, e.g. `foo|bar|baz`).

It would then be nice to give each

[2017-06-16 16:37] stuartnelson3 commented on #869
That file does not exist in the repo, it was removed in this commit: https://github.com/prometheus/alertmanager/commit/971a6b466013492d186c454cb5936ae579d71047

The new ui does not use jquery. I'm guessing you're seeing a caching issue.

[2017-06-16 16:48] beorn7 commented on #868
After talking to @w0rm , some conclusions:

The arbitrary grouping in the UI is neat if you are in a position where you want to review the totality of alerts. However, as the person on-call for something, you really want to see the one alert group that has just sent you a page. Or you want to see all the alert groups currently sending you alerts (which could be non-paging alerts). As described in

[2017-06-16 16:49] beorn7 commented on #868
@stuartnelson3 FYI.

[2017-06-16 22:25] Alwaysc0d3 opened #870 "Splitting up alertmamager config"
Is it possible to split up the alermanager config / route rules?

We arr currently havind a whole bunch of alerting and routing rules, in a more perfect situation you should be able to split this up.

Just like there's done for the alerting rules of premotheus.

Can this be done by the templating function (which isn't well documented, causing the confusion).

I would like to hear from you guys,
By

[2017-06-16 22:41] wombledmaize opened #871 "Alert routing usage"
Hi guys,

Im having a alertmanager.yml file where i defined all of the alert routes, matches and receivers. Now im wondering the following:

What is the processing order of the alert routing? Top, down?

Im wondering this, because we have alerts created with the label 'severity', containing the possible values 'warning' or 'critical'.

We defined the alert routes as the following:

- Routes:
  - m

[2017-06-16 22:43] wombledmaize commented on #871
By the way,i'm willing to create some documentation for the alertmanager config as soon as i know this. For example, the hipchat receiver documentation still needs to be wrote, where should i add that?

[2017-06-18 09:28] stuartnelson3 commented on #871
This is a usage question, which should be directed to the prometheus-users mailing group.

As to your question, alertmanager does a depth-first search left to right search (https://github.com/prometheus/alertmanager/blob/master/dispatch/route.go#L114-L115). You can test your alert config out here: https://prometheus.io/webtools/alerting/routing-tree-editor/

[2017-06-18 09:28] #871 closed

[2017-06-18 09:30] stuartnelson3 commented on #870
The file cannot be split up at this time. You could use a configuration management system to merge the two files together at deploy time, though.

I would suggest using config management instead of implementing this in a pull request. I'll leave the issue open in case this is something more people would like to see.

[2017-06-18 09:33] stuartnelson3 commented on #812
This will be addressed in #872

[2017-06-18 09:38] stuartnelson3 commented on #800
I added initial back-end support for filtering by receiver and including the receiver in `info` in #872, but did not expose the list of all receivers. There are some conflicting UX suggestions, between using a ui-component to suggest receivers or using textual options (`receiver:backend-.*`).

How do we want to move forward? If we go with textual options, potentially we still want to populate a li

[2017-06-18 10:19] #830 closed

[2017-06-18 14:33] mxinden commented on #871
@wombledmaize We welcome any kind of contributions to the documentation! As far as I can tell, the documentation of Alertmanager lives here: https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md

[2017-06-18 15:04] w0rm commented on #800
I don't think that receivers should be in the filter box, because it is different from labels, a label may only have one value, while a receiver is a list of values. It will be hard to mix them together.

What about having a separate autocomplete somewhere as the first iteration?

[2017-06-18 16:26] filippog commented on #831
👍  thanks @fabxc @Kellel

[2017-06-18 16:33] stuartnelson3 commented on #800
I'm fine with that.

I was imagining a receiver being a single value (turned into a regex) that the user provides, so `receiver=(backend-ops|frontend-thing|network-tightening)` if they want to see multiple receivers

[2017-06-18 16:55] w0rm commented on #800
@stuartnelson3 why not a multi-select (that is kept internally as a set of strings)? We have a fixed amount of receivers, so there is no need to regex match over them.

[2017-06-18 23:37] damomurf commented on #844
After running this for several days under v0.7.1, it definitely seems like the repeat resolved notification situation has been largely solved. I recall seeing one instance of a repeat, but believe there could have been additional reasons for that.

v0.7.1 shows "Error: Timeout exceeded" on the Silences page in the UI for me, but I'll raise that as another issue.

[2017-06-18 23:48] damomurf opened #873 "Error: Timeout exceeded on Silences page"
As part of dealing with #844 I've switching to v0.7.1 and almost every time I click on the "Silences" page, I receive a message in the selected Pending, Active or Expired tabs below of "Error: Timeout Exceeded".

I've enabled debug but can't see anything relevant in the Alertmanager logs.

![71225807-71d4-4f58-a832-08f746e09f5b](https://user-images.githubusercontent.com/1691475/27265190-346e794e-5

[2017-06-19 07:54] mxinden commented on #873
@damomurf Have you tried deleting your browser cache? Does the browsers *JS console* or *network tab* say anything? Do you run Alertmanager behind a reversed proxy?

[2017-06-19 07:56] mxinden commented on #844
@damomurf Thanks for testing this out on v0.7.1! I will close here for now, as it seems you issue has been resolved. Please feel free to reopen if it occurs again.

[2017-06-19 07:56] #844 closed

[2017-06-19 08:39] damomurf commented on #873
@mxinden No reverse proxy in play - direct to port 9093 for Alertmanager running as an Ubuntu service. The JS console shows nothing and the network info says that the request to silences?silenced=false returns a 200 but shows no content.

If I request the full silences?silcenced=false url using curl from a terminal, it seems to return the silence data with no issue, but we do have a reasonable abo

[2017-06-19 08:49] mxinden commented on #873
@damomurf Can you tell us which order of magnitude the amount of your silences is, so that we can try to reproduce it?

[2017-06-19 08:53] damomurf commented on #873
There are 234 silences in total, with 2 currently active. As I edited above, a successful silences request seems to return 126.88 KB of data. A failing one only returns 35.68 KB.

[2017-06-19 10:21] wombledmaize commented on #870
Thanks for the reply. I did some research and wasn't even aware of the option you proposed. That's working for me. Thanks.

The feature would be nice, for people without an config management system.
@stuartnelson3 thanks!

[2017-06-19 10:24] wombledmaize commented on #871
@stuartnelson3 Thanks for the reply. With the online tool you provided, i was able to get a bright view of the routing / alerting in alertmanager.

@mxinden I will, thanks.

[2017-06-19 10:48] beorn7 commented on #800
The problem with the receiver (and even other things like `silenced:true` etc) as textual options (see @fabxc `s suggestion above) has the problem of a possible collision with labels names. `receiver` is something I can imagine to show up as a useful label name (outside of the context of alerting) quite often.
I share concerns about polluting the UI, but the filtering by receiver is quite importan

[2017-06-19 11:00] kavyakul opened #874 "Alertmanager Error: Timeout Exceeded"
Hi,

I am using Prometheus version:v1.7.1 & alertmanager version:v0.7.1 as docker containers:

I am getting Timeout Exceeded Error while viewing alerts and also sometimes while viewing status. docker log of alertmanager doesnt show any error:
time="2017-06-16T07:13:14Z" level=info msg="Starting alertmanager (version=0.7.1, branch=master, revision=ab4138299b94c78dc554ea96e2ab28d04b048059)" source="

[2017-06-19 11:20] #874 closed

[2017-06-19 11:40] fabxc commented on #800
My idea was to have those use `key:val` and label selectors `key=val`. Maybe a subtle difference but I'm not really concerned that it will be too hard to understand.

[2017-06-19 11:53] stuartnelson3 commented on #800
@w0rm I thought having a regex match was desired, so `prodeng-*` would be acceptable in addition to being able to select `prodeng-crit` and `prodeng-warn`, for example.

@beorn7 , do you want the regex? I remember that being one of the things you were initially interested in.

 I think if we implement this as @fabxc suggests it would make a lot more sense to do the regex. The `silenced:true` synta

[2017-06-19 12:01] brancz commented on #800
Sorry for not commenting here, but I commented some of my thoughts here: https://github.com/prometheus/alertmanager/pull/872#discussion_r122640780

[2017-06-19 12:50] beorn7 commented on #800
@fabxc Indeed, it was too subtle for me. Personally, I like the idea. But I'm not sure if it will cause more confusion than good. I imagine naive users won't even think about `receiver` not being a label and will type `receiver="my-team"` instead of `receiver:my-team`. They will see no alerts and go to bed in ignorance.

@stuartnelson3 I would definitely go for the regexp in the URL so that I can

[2017-06-19 14:41] brian-brazil opened #875 "hipchat_url is not consistent with api_url"
The global default for the Hipchat url and its corresponding per-receiver setting are inconsistenly named. One has `api`, the other doesn't. This should be cleaned up.

Given that users shouldn't have to touch the global, I suggest renaming it to `hipchat_api_url`.

[2017-06-19 20:27] w0rm commented on #800
I added a simple dropdown that should temporary address the current use case. Because regex in the url is still supported, it is possible to manually edit the url to filter by regex.

![receiver](https://user-images.githubusercontent.com/43472/27304363-23e82dea-553e-11e7-9ff2-81f4b6920464.gif)

[2017-06-19 20:42] w0rm commented on #800
I'm not sure if all links from the alerts will work when the receiver parameter is a regexp.

[2017-06-20 09:14] discordianfish commented on #634
I came here to open the exact same issue. I fully agree with @stapelberg about the semantics and it matches what I'm used to and what I want to use pushover for. I think it's completely the right think to resolve the alert at pushover when it's resolved in the alertmanager.

[2017-06-20 09:16] discordianfish commented on #634
It's also exactly what pagerduty is doing IIRC. I'm not sure how it works with grouped alerts, but I'm sure resolved prometheus alerts resolve the alerts in PD.

[2017-06-20 09:25] SuperQ commented on #634
Looking over the other functionality, we do send resolved messages to PagerDuty.  It seems like "Cancel" is the equivalent for Pushover.  We should support this.  Users can control the behavior with `send_resolved`.

[2017-06-20 09:37] beorn7 commented on #800
Wouldn't an edit field with autocompletion have the same effect as the dropdown, with the added value that you can just type in a regexp?

About the links: I guess we need to escape receivers that happen to contain special characters of a regexp.

[2017-06-20 09:41] brian-brazil commented on #634
Pushover is not an escalation management system, so the semantics don't quite align. This is would be more like deleting a Slack message when the alert goes away, which doesn't at all feel right.

[2017-06-20 09:46] discordianfish commented on #634
It's not an 'escalation management system' but closer to it than it's to Slack.

[2017-06-20 09:56] w0rm commented on #800
@beorn7 sure, we can and should improve the UI of this feature. I worked on this after work, and did the best I could considering the time I had and the importance of the feature.

[2017-06-20 09:58] beorn7 commented on #800
Yes, much appreciated.

[2017-06-20 10:16] stapelberg commented on #634
Strong +1 to what @discordianfish. Pushover retains messages even after they are canceled, it will just stop demanding your attention.

[2017-06-20 10:25] brian-brazil commented on #634
This still doesn't feel correct. That an event got to the stage of a paging notification at all indicates that a human needs to urgently take a look.

I don't think we should be implementing features that encourage bad alerting practices. https://docs.google.com/document/d/199PqyG3UsyXlwieHaqbGiWVa8eMWi8zzAn0YfcApr8Q/edit which is what we follow goes into this more.

[2017-06-20 10:33] discordianfish commented on #634
@brian-brazil Then don't use `send_resolved`. I also disagree it's bad alerting practice. Maybe we can at least agree that there are different opinions on that and support what we can without sacrificing other goals? I'd understand your argument if this would recommend making it impossible to not resolve them.

Frankly in the end of the day three people want this feature and you're whole counter a

[2017-06-20 10:38] stapelberg commented on #634
I agree that using this feature in the wrong context encourages bad alerting practices. However, I outlined earlier in this discussion that I think I have a valid use-case for my specific context, and it seems that @discordianfish has one, too.

I’d love it if you could reconsider your position on this feature.

[2017-06-20 12:18] brian-brazil opened #876 "Time of day based alert routing/notification"
We've had numerous requests for routing alerts based on the time of day/week. This issue is to track those.

[2017-06-20 12:53] brian-brazil commented on #634
@stapelberg My understanding of your use case is that you don't want notifications between 22:00 and 08:00, and don't want a notification that fired only during that time to continue to be notifying you at 08:00.

The feature requested here is a roundabout way to make that work in some of your particular circumstances, and is not really doing what you want as it'll also stop notifications early du

[2017-06-20 15:10] mattbostock opened #877 "PagerDuty v1 API will be unsupported from February 2018"
See:
https://v2.developer.pagerduty.com/v2/docs/api-v2-frequently-asked-questions

We should migrate to v2.

[2017-06-20 17:09] #862 closed

[2017-06-21 09:26] davidkarlsen commented on #682
@juliusv thoughts?

[2017-06-21 09:42] sandersaares opened #878 "Resolved alert sent without sending corresponding active alert"
I have alertmanager sending notifications to Slack. Today it sent a "resolved" notification to Slack without ever sending an "active" notification. This is contrary to my expectations - I expect "resolved" to only be sent if an "active" is sent first.

Here is the log:

[code]

Configuration:

[code]

Prometheus main configuration:

[code]

Prometheus alerts configuration:

[code]

[2017-06-21 09:57] ianfriend commented on #869
You're absolutely right, re-downloaded 0.7.1 package, copied the exe and cleared cache...now working.  Thanks.

[2017-06-21 09:57] #869 closed

[2017-06-21 12:10] brian-brazil commented on #853
That's submitted over in common, so should be good to go here.

[2017-06-21 12:45] zerthimon commented on #586
is this gonna be merged any time soon ?

[2017-06-21 12:49] stuartnelson3 commented on #586
Following up now, sorry for letting this slip

[2017-06-21 13:00] KirillTemnov commented on #586
We have same issue, can you fix it?

[2017-06-22 01:03] juliusv commented on #682
I think it makes sense.

Or if we (@brian-brazil) are concerned that we don't want to populate the OpsGenie `details` field with random labels coming from alerts because they might have special semantics within an organization's context, we could still put the entire labelset under a top-level `labels` property in there: `"details": { "labels": {"foo": "bar", "biz": "buz"} }`. So it wouldn't pollu

[2017-06-22 06:26] fabxc commented on #878
What version of AM are you using?

[2017-06-22 06:44] sandersaares commented on #878
version=0.7.1, branch=master, revision=ab4138299b94c78dc554ea96e2ab28d04b048059

[2017-06-22 07:54] iksaif commented on #697
We seem to still experience that, we're looking for a way to reproduce it with 0.7.1.

[2017-06-23 09:18] iksaif commented on #697
My group key was: `"groupKey": "{}/{perimeter=~\"^(?:observability)$\"}/{alertname=~\"^(?:(Graphite|Grafana).*)$\",severity=~\"^(?:page|interrupts)$\"}:{alertname=\"GraphitePointLoss\", env=\"preprod\", graphite_web=\"primary\"}",`

I'm pretty sure that 47616633800da8e4daffae4e819e5531646bab6f fixed the issue (by @fabxc)

HEAD seems fixed while I can still reproduce the bug with 0.7.1

Configurati

[2017-06-23 09:22] iksaif opened #879 "mesh/weave complains about multiple connections"
Starting two instances on the same machine I get the followings logs (but everything seems to work).
Both instances are supposed to have different peer ids and nickname, but I may be doing something wrong here.

[code]

[code]

[2017-06-23 11:27] iksaif opened #880 "Duplicated notification (with group_interval)"
This is a follow up of https://github.com/prometheus/alertmanager/issues/697#issuecomment-310616402

I have a multiple prometheus instances sending ~10 alerts with the same alertname, occasionally the alertmanager will generate two notifications instead of one. I'm using the default group_interval (which is supposed to be 5m).

I tracked down what happens, and it looks like the 10 alerts are recei

[2017-06-23 11:28] iksaif opened #881 "Duplication notification with different groupKeys in OpsGenie"
This is a follow up of https://github.com/prometheus/alertmanager/issues/697#issuecomment-310616402

I'm receiving similar alerts (content is exactly the same) with different group keys:

[code]

I'm currently trying to debug how this could happen

[2017-06-23 11:28] iksaif commented on #697
The further I dig the more I think my issues are not related to the same thing, created:
* https://github.com/prometheus/alertmanager/issues/880
* https://github.com/prometheus/alertmanager/issues/881

[2017-06-23 11:34] iksaif commented on #881
Note: having a way to have groupKey available in the templates would be useful.

[2017-06-23 12:24] iksaif commented on #881
Looking at the API, I found
[code]

and

[code]

Let's see what could cause this ordering issue

[2017-06-23 12:44] iksaif commented on #881
Apparently route.go doesn't sort the matchers.

[2017-06-23 13:26] w0rm opened #883 "Confirmation dialog when deleting or expiring the silence"
I guess this should be implemented, in order to make it impossible to accidentally expire the silence

[2017-06-23 14:29] #881 closed

[2017-06-24 09:56] grobie opened #884 "Display URLs as links in labels and annotations"
It's common to include links in annotations and labels, e.g. to runbooks or dashboards. Detect them and render them as real link.

@w0rm

[2017-06-26 09:04] mxinden commented on #880
@iksaif Can you post the alerts and the full alertmanager config file as well?

Why is `entry` disjoint from `firing`? I guess you are talking about the
[code]
branch of the `needsUpdate` function? `entry.IsFiringSubset(firing)` should return `true`, if the alerts have the same name and labelsets, which is then negated.

[2017-06-26 09:43] iksaif commented on #880
I don't have access to the configuration here, but the two batches of alerts would look like:

{code}
First batch:
GraphitePointLoss{env="prod",dc="dc1"}
GraphitePointLoss[env="prod",dc="dc2"}

Second batch:
GraphitePointLoss{env="prod",dc="dc3"}
GraphitePointLoss{env="prod",dc="dc4"}
{code}

The configuration contains a `group_by [alertname, env]` in order to ignore the dc and not `group_wait` ov

[2017-06-26 09:43] mxinden commented on #873
@damomurf I have created 10000 silences and the UI still seems to be responsive.

[2017-06-26 09:47] beorn7 commented on #884
That's also one of the items on my wish list.

[2017-06-26 09:48] mxinden commented on #873
@damomurf I have created 10000 silences in an Alertmanager instance and the UI is still working just fine. But I remember seeing `Error: Timeout exceeded` once before, but I am having difficulties reproducing it. Can you try out a fresh Alertmanager instance without any silences and see if you are still facing this issue?

I am guessing you are running on a Mac. Both @stuartnelson3 and @w0rm do so

[2017-06-26 10:17] beorn7 opened #886 "Make the grouping label clickable, too (to move them into the filter box)."
In the view of alerts, if I click on a grey label, it is pushed into the filter box, which is quite handy.
However, I would expect the same to happen if I click on a blue label (i.e. a label that is currently set as a grouping label). But nothing happens then.

[2017-06-26 10:17] beorn7 commented on #886
@w0rm as discussed a minute ago in person.

[2017-06-26 10:26] beorn7 opened #887 "Make label text selectable"
After discussing it with @w0rm , this seems to be a hard one…

Let me explain:

A very common workflow is the following:
- I'm looking at an alert with an instance label, e.g. `instance="10.20.30.40:9100"`.
- Now I want to ssh into the instance, so I select `10.20.30.40` and use my favorite copy&paste key sequences to get `ssh 10.20.30.40` into my command line.

The problem with the new UI is that

[2017-06-26 13:14] w0rm commented on #873
The fix should be rather easy, I don't think we need to restrict the timeout in the UI: https://github.com/prometheus/alertmanager/blob/master/ui/app/src/Utils/Api.elm#L84 we should really set to `Nothing` because limiting it provides no real benefits.

[2017-06-26 13:23] mxinden commented on #873
@w0rm Cool, thanks for the hint!

@damomurf Can you try this out in your setup and if it works create a PR? If not, I can do it as well. Either one is fine with me.

[2017-06-26 13:38] w0rm commented on #887
What if we rendered each label as a label + button, where a label would not be clickable? We could also limit the length and show three dots (plus the full label in a tooltip).

[2017-06-26 13:42] fabxc commented on #887
Is it not possible to just make it a styled `<span>` with an on-click action attached?

[2017-06-26 13:45] w0rm commented on #887
@fabxc this should be possible, but I'm not sure if it affects accessibility.

[2017-06-26 13:49] pieterdejaeghere commented on #873
fyi: this issue does indeed pop up on slow (or just global >200ms) connections. It was reproducible on our network with 100% probability during a sudden latency hike on an intercontinental link.

[2017-06-26 13:54] w0rm commented on #873
@mxinden if you need a way to reproduce this, just throttle the network in the Chrome DevTools.

[2017-06-27 00:31] damomurf commented on #873
Aha. Of course - I'm in Australia hitting AlertManager running in the US with standard latency ~250+ms or so, so this makes a whole lot of sense. I'll try a custom build with the change above and see how I go.

[2017-06-27 01:52] damomurf commented on #873
I've just made the recommended change on a build from master but the problem still exists:

[code]

![4405145c-327e-4aa4-a61d-906475eaea83](https://user-images.githubusercontent.com/1691475/27567425-cf173340-5b2a-11e7-99a6-6e921fdcc137.png)

[2017-06-27 06:57] w0rm commented on #873
@damomurf have you done all steps: 1. Compiled the Elm code 2. Generated a bindata.go (`make assets`) 3. Compiled alertmanager?

[2017-06-27 07:13] damomurf commented on #873
@w0rm - I simply invoked "make build" as documented in the repo README.md. Is there another step to ensure the compilation (and importantly force re-compilation) of the Elm code?

[2017-06-27 07:28] mxinden commented on #873
@damomurf Yes there is. Sorry, we are not doing a very good job documenting it.
[code]
I will improve this with #792 hopefully this week. This requires you to have Elm and UglifyJS installed.

[2017-06-27 11:19] geethika-guruge opened #888 "New receiver for AWS API Gateway"
We have a use case to trigger an AWS lambda (exposed via AWS API Gateway) upon an alert. As we would need to pass the API Key in `x-api-key` header for authentication, initially we looked at [issue #739 ](https://github.com/prometheus/alertmanager/issues/739). But realised that a new receiver for AWS API Gateway would be a better fit.

Any thoughts?

[2017-06-27 11:22] brian-brazil commented on #888
Per our security model (https://prometheus.io/docs/operating/security/) putting secrets in random fields is not supported. I'd recommend writing a webhook receiver.

[2017-06-27 11:42] geethika-guruge commented on #888
We recently started using Prometheus and have limited knowledge on the source

did you mean something like `<hipchat_config>`? or is there a way to extend the existing `webhook receiver`

Thanks
.

[2017-06-27 11:51] brian-brazil commented on #888
The webhook receiver supports sending JSON to any endpoint you like over HTTP. You can write a small program that takes these in, and talks to lamda for you. https://prometheus.io/docs/alerting/configuration/#<webhook_config> has a bit more information.

[2017-06-27 12:06] RSamal opened #889 "UI does not show existing alert after a restart of AM"
The UI does not show the existing alerts from nflog if I restart the alertmanager.

Looks like its only showing the records from in-memory and the restart is not updating the in-memory.

[2017-06-27 12:13] geethika-guruge commented on #888
We looked at that option originally, but felt it would be tidier (and less moving parts) if we can integrate that piece of functionality to prometheus itself.
Thanks

[2017-06-27 12:37] fabxc commented on #889
nflig does not store alerts but only which notifications have been sent.
Alerts disappearing after a restart is expected. Prometheus continously
resends them as long as they are firing. So within one evaluation interval
(30-60s typically) all active alerts should reappear.

On Tue, Jun 27, 2017 at 2:06 PM Ramakant <notifications@github.com> wrote:

[2017-06-27 14:25] RSamal commented on #889
Thank you. That explains. But I hope that is not the case for silencer though I have not tested it.

[2017-06-27 14:55] brancz commented on #889
Silences just like notifications are gossiped and persisted.

[2017-06-27 15:41] rul commented on #873
This bug hit me too. I've tried compiling it with the fix in place and I can confirm it works. I'm not making a PR as the fix implies modifying a pseudo-binary file (bindata.go). I think it's better if a trusted collaborator of the project does that instead of a random Internet guy. :-)

This bug makes alertmanager ui unusable if the user is far from the server, so it would be really nice if we ca

[2017-06-27 16:08] mxinden commented on #873
@rul In regards to "random Internet guy": Generating `bindata.go` is deterministic. So our CI checks every commit, whether the code and the commited binary matches. So feel free to open it up, otherwise I will do so tomorrow.

@rul @damomurf Thanks for all the feedback. Very much appreciated.

[2017-06-27 18:53] RSamal commented on #889
Just a dumb question :( I have...if I want to send notification for my resolved alerts always, no matter if the nflog has a firing entry or not. Where should I look in the code?

[2017-06-27 22:05] w0rm commented on #873
Fixed in https://github.com/prometheus/alertmanager/pull/890

[2017-06-27 22:05] #873 closed

[2017-06-27 22:06] andreyev commented on #652
I've done something like this with https://wiki.jenkins.io/display/JENKINS/Generic+Webhook+Trigger+Plugin. Ping me if need more info!

Hope this helps!

[2017-06-28 08:49] mxinden commented on #889
If I understand your question correctly: You can set the `sendResolved` flag for each receiver (See [here](https://github.com/prometheus/alertmanager/blob/b5ad65fa3271775e0a5733efde9e0b6703595f09/config/notifiers.go#L122))

[2017-06-28 14:54] sciffer opened #891 "Inhibited alerts are being sent as resolved"
Alertmanager 0.7.1, Prometheus 1.6.3.
Every alert gets sent form 2 prometheus collectors(redundant collectors), Inhibit rules are in place to make sure only 1 of those alerts will get fired.
When the alerts are fired only 1 of them get's fired (which is what we expect), but when the alert is resolved both alerts are being sent as resolved - this is wrong.
So far, we noticed that behaviour with ema

[2017-06-28 17:20] discordianfish commented on #645
Could we at least support DNS RR based discovery for the initial peers? That seems straight forward and it's what consul is doing too for example. Basically just resolve the DNS name and use all returned IPs as initial peer list. Without that, you need a rather complex kubernetes setup to still make it work. And even in that case, you need to generate the manifest because 'replicas' need to match

[2017-06-28 20:48] fabxc commented on #645
I think DNS is reasonable request and makes a lot of deployments
significantly simpler. I'd only agree to this though if we can make a firm
decision to leave it at that. I've no interest in supporting the full set
of SD we do in Prometheus. Especially as all the meta data non-DNS gives us
is not required here.

On Wed, Jun 28, 2017 at 7:20 PM discordianfish <notifications@github.com>
wrote:

[2017-06-29 06:49] iksaif commented on #645
Maybe full DNS-SD support isn't required and just supporting SRV records (to be sure to get the right port, which is important if you run in marathon/kube/whatever).

Currently we need to do that:
[code]

And `alertmanager -mesh.peers $(./mesh_peers.sh)` which is hacky :)

[2017-06-29 09:08] discordianfish commented on #645
@fabxc Right, DNS-SD and nothing else. I'd say we should support A records and SRV records. All other SD systems usually support some from of pushing the state to DNS so it would help these users too.
Or to put it this way: At every job I ever had, if I wanted to introduce the AM, DNS-SD would help a lot.

@iksaif Agreed, something like that works too but I'd like to avoid "glue code" where possib

[2017-06-29 09:14] brancz commented on #645
What needs to be clear is that a "discovery" mechanism like this is only for discovery at startup time, after that the mesh library takes over and makes the peers discover each other. Updates from another discovery mechanism would break the mesh.

I'm torn whether this "glue code" might actually be the right solution, I think it might be. Is it really necessary that we build these initial discover

[2017-06-29 09:16] discordianfish commented on #645
@brancz I imaging the flag staying the same, that should convey it's only used for initial peers. That the same thing etcd or consul are doing.

[2017-06-29 09:18] iksaif commented on #645
@brancz it's honestly a pain to have to maintain and deploy this script. I'm sure that in "some way" the service discovery code could be put into a lib, and then programs like the AM would just do "mesh = discover_once(mesh_target)".

[2017-06-29 09:28] brian-brazil commented on #645
I'm not too sure about that, what if all peers one AM knows about die?

[2017-06-29 09:35] brancz commented on #645
My point was that after initial discovery (that each peer performs, including new peers), the mesh library performs discovery, mixing that with an additional discovery mechanism that perform discovery at runtime is likely to break the discovery that the mesh library performs at runtime.

[2017-06-29 09:58] discordianfish commented on #645
As a workaround, this is the clue script I came up with (which works in the existing AM image):

[code]

Which can be used directly in a kubernetes manifest like this:
[code]

(Where prometheus-am-mesh is a headless service, thanks to @brancz for that suggestion).

That seems to work for me, just would like to avoid this ugly and fragile glue. :)

[2017-06-29 10:06] brancz commented on #645
@discordianfish in the case of Kubernetes I would still encourage using a `StatefulSet`. As it gives you stable IPs, DNS names (although that's mainly thanks to the governing/headless service), and most importantly stable storage, so that when a node fails it can load from a previous snapshot, and only gossip and merge the delta through mesh, assuming there is at least one healthy remaining member

[2017-06-29 10:09] discordianfish commented on #645
@brancz StatefulSets are much more complex than deployments in every regard. Stable storage is something I hope I don't need for the alertmanager..? I assumed that syncing a tiny mesh like this should be done <1s. Storage isn't free and it's hard und not very reliable outside mature clouds.. Even on azure I wouldn't want to depend on storage for something like the AM.

[2017-06-29 10:13] brancz commented on #645
Mesh is very fast yes, I just played through some rolling deploy scenarios that showed that what you mentioned does work in the happy case (in fact haven't encountered a failure so far), but in the non-happy case which is still possible, you still want a backup/snapshot to restore from, otherwise you'll get notifications you don't want and more importantly you'll loose all silences.

[2017-06-29 10:18] discordianfish commented on #645
@brancz I don't know what non-happy cases you think but nothing prevent you from losing your disks too. On the cloud you can somewhat expect that your volumes are persisted but you can't depend on it either. If you need to keep your silences, you should do a real backup. Then again, I'm probably fine to lose silences in these rare cases.

[2017-06-29 19:17] Mrcortez34 commented on #630
Was this type of behavior resolved?

[2017-06-30 07:30] mxinden commented on #891
@sciffer Thanks for reporting! Could you supply your Prometheus and Alertmanager config as well as the alert so we can try to reproduce this?

[2017-06-30 09:13] brancz commented on #645
Having another layer of confidence definitely can only be good for your distributed system. I also don't agree with

But I think that's another discussion that shouldn't happen on this thread.

[2017-06-30 10:13] RichiH commented on #290
When this is touched, supporting custom headers would also make sense.

[2017-06-30 10:15] brian-brazil commented on #290
Custom headers are already supported.

[2017-06-30 10:19] RichiH commented on #290
For documentation if anyone finds this issue: https://prometheus.io/docs/alerting/configuration/#email_config

[2017-06-30 10:21] RichiH commented on #259
For documentation, multipart and thus plain text is tracked in https://github.com/prometheus/alertmanager/issues/290

[2017-06-30 15:41] gfliker commented on #891
Hi @mxinden, thx for responding.

I have attached our alertmanager yml file (removed the keys and aush parts where relevant)
[alertmanager.txt](https://github.com/prometheus/alertmanager/files/1115729/alertmanager.txt)

And the relevant alerting Prometheus config is pasted bellow here
The bellow config returns 4 alert managers but only 2 have  configs that have receivers.
The 2 active ones are in

[2017-07-03 09:44] #580 closed

[2017-07-03 10:04] fabxc commented on #645
If someone cares about examples, oklog supports some DNS flavors for discovery that seem reasonably simple: https://github.com/oklog/oklog/blob/master/cmd/oklog/forward.go#L144-L186

[2017-07-03 12:06] it-praktyk commented on #511
Hi

Any update about documentation of AlertManager REST API?

[2017-07-04 03:12] wdp-007 opened #894 "silence post api error"
using alertmanager latest
Want to create a new silence through API. When post data to /api/v1/silences, it comes an error: bad_data
Post:
{"startsAt":"2018-11-20T06:12:43Z","endsAt":"2019-11-20T06:12:43Z","createdBy":"pengw","matchers":[{"name":"job","value":"test","isRegex":true}],"comment":"hahahha"}
result:
{"status":"error","errorType":"bad_data","error":"EOF"}
log:
alertmanager        | time=

[2017-07-04 03:13] wdp-007 commented on #894
Can somebody have a look at this? Thanks!!

[2017-07-04 06:08] #894 closed

[2017-07-04 06:18] wdp-007 commented on #616
Hi,
when I delete a silence through the api, it failed as deleted Method Not Allowed
here is the ruby code:
uri = URI('http://localhost:9093/api/v1/silences/9b6bc1e4-b798-4e48-a729-6ab2cf7062f0')
http = Net::HTTP.new(uri.host, uri.port)
req = Net::HTTP::Delete.new(uri.path)
res = http.request(req)
puts "deleted #{res.body}"

Result is : deleted Method Not Allowed

[2017-07-04 06:56] RSamal commented on #616
I am not familiar with ruby , but can please try `curl -X DELETE http://localhost:9093/api/v1/silences/9b6bc1e4-b798-4e48-a729-6ab2cf7062f0` and see if it is successful.  as I am not familiar with ruby I am confused with `http = Net::HTTP.new(uri.host, uri.port)` . Your uri already has the host and port included 'http://localhost:9093'. What will happen when you define like this?

[2017-07-05 12:09] sandersaares commented on #891
Possibly related: https://github.com/prometheus/alertmanager/issues/878

[2017-07-05 13:11] wdp-007 commented on #616
Thanks a lot!
I am too careless!

[2017-07-06 07:59] wangycc commented on #511
+1

[2017-07-06 14:50] mxinden commented on #511
@it-praktyk @wangycc This is still on our road-map but we are too occupied with the current stabilization work and UI rewrite at the moment. In addition it is still subject to change.

I think most of the API can be understood by reading the source code. Feel free to ping us if you have any questions here.

Of course as always we are very happy for PRs. I am sorry for this disappointing reply.

[2017-07-06 15:03] lissa091 opened #896 "Alertrules Cronjob"
I want to create an alert rule for monitoring a cronjob. I want to see if the cronjob execution time is not older than 5 minutes. So i got a metric with the timestamp of the cronjob.
My idea is to compare the timestamp in the metric with "date --date="5 minutes ago" +%s " but how can i realize this in the .rules file?

ALERT cron_example
  IF cron_example < date --date="5 minutes ago" +%s
LABELS {

[2017-07-06 17:15] devinodaniel commented on #896
Hey @lissa091, using the [promtool](github.com/prometheus/prometheus/cmd/promtool) I ran `check-rules` on your rule and it returned ```FAILED: parse error at line 2, char 31: no valid statement detected```. It looks like your query may be invalid.

[2017-07-06 18:00] juliusv commented on #896
Yeah, that's not a valid PromQL query and not a bug in Alertmanager. Closing.

See https://prometheus.io/docs/practices/alerting/#batch-jobs for general batch job alerting and also see https://www.digitalocean.com/community/tutorials/how-to-query-prometheus-on-ubuntu-14-04-part-2#step-4-—-working-with-timestamp-metrics for how to work with timestamp metrics.

[2017-07-06 18:00] #896 closed

[2017-07-06 19:05] jjneely opened #898 "amtool should exit non-zero on error"
amtool should have a non-zero exit code during error so that failure can be detected easily by automation scripts.  It look like the error object returned by commands is printed and then discarded here:

https://github.com/prometheus/alertmanager/blob/master/cli/utils.go#L90

[2017-07-07 06:40] DonMartin76 commented on #878
We also get this, with the following alert:

[code]

For this one we get "RESOLVED" notifications once in a while, even if we didn't get the initial ones.

[2017-07-07 09:21] it-praktyk commented on #511
Do you have any standard for describing of REST APIs?

If not is it the [OpenAPI Specification/Swagger RESTful API Documentation Specification](https://swagger.io/specification/) OK?

[2017-07-07 19:22] jstoja commented on #710
Do you have any clue where I could be wrong?

[2017-07-10 11:07] mxinden commented on #511
@it-praktyk a swagger documentation sounds like a good idea. There were plans to use the [GRPC gateway](https://github.com/grpc-ecosystem/grpc-gateway) and auto generate a swagger documentation, but this is still to be determined.

Please wait for @fabxc approval.

[2017-07-10 11:25] w0rm opened #899 "Make the icons show in dev mode"
The icons are not showing in the dev mode, because they are served from a different domain without CORS header.

![screen shot 2017-07-10 at 13 24 41](https://user-images.githubusercontent.com/43472/28016099-38e30284-6573-11e7-89ea-be2b101c45c2.png)

![screen shot 2017-07-10 at 13 23 06](https://user-images.githubusercontent.com/43472/28016044-f9eef93e-6572-11e7-8a17-9386a44b5648.png)

[2017-07-10 19:08] Ian-Rossi-aimtheory commented on #552
@fabxc @brian-brazil  It would be really nice if there was a link to another thread where this was discussed so it could be understood why it came to this.

This is highly inconvenient--not being able to create and manage alerting rules via an API.
- Other tools cannot elgantly interact with Prometheus to modify alerting rules
- A custom interface cannot add/remove/modify alert rules in Prometheus

[2017-07-10 19:39] fabxc commented on #552
It basically boils down to the fact that alerting rules should be checked into source code management. They should be reviewed when changes are made as they are critical parts of your infrastructure.
Config management can easily roll them out to your Prometheus from there.

What inevitably happens when making such things part of the local DB is that you will need to replicate + backup and have pro

[2017-07-10 19:52] fabxc commented on #552
Since you are using Kubernetes already, you might want to give the [prometheus-operator](https://github.com/coreos/prometheus-operator) a look. It solves a lot of common tasks and makes it easy to follow Prometheus best practices while sticking to Kubernetes idioms. For that it expectedly takes a bit of an opinionated approach.

[2017-07-10 19:53] Ian-Rossi-aimtheory commented on #552
Thanks very much for the explanation. I understand that there are varying opinions on how alerts should be created and managed, and all the options you summarize are good options. The option for Kubernetes config maps is, indeed, the best option, but would still be considered inelegant by some. Especially for consumers or Prometheus services that are managing/configuring all supporting services vi

[2017-07-10 19:58] fabxc commented on #552
Prometheus reloads do not have any notable costs. You can reload Prometheus several times an hour without any issues. It does not act like an in-process restart but just updates config parameters where necessary.
Feedback is definitely noted. But without wanting to give any false hopes, this particular issue is one we are pretty settled on.

[2017-07-10 20:01] Ian-Rossi-aimtheory commented on #552
OK, thanks. What if Kubernetes is not being used? Then what is the best solution in that case? Of course, something like a Chef databag (configuration management) could be used as a database to store aggregated alert rules or something similar, but it also does not seem like an efficient and resilient solution. Thanks again.

[2017-07-10 20:18] fabxc commented on #552
Yes, databags or equivalents are the right fit. Ultimately, we consider it part of the configuration. So whatever you are using to deploy the config file is a good fit for rule files as well.

[2017-07-11 09:42] mxinden opened #901 "Display alert receiver in alert list"
In the alert list view display the receiver of each alert.

As suggested by @w0rm [here](https://github.com/prometheus/alertmanager/pull/900#issuecomment-314386904) this could be part of the info-collapse-section.

[2017-07-11 09:45] w0rm commented on #901
@mxinden are there multiple receivers per alert? I wonder if we can also make them clickable.

[2017-07-11 09:47] mxinden commented on #901
@w0rm Yes, the `receivers` endpoint returns an array, which can contain multiple receivers. Making them *clickable* would be great!

[code]

[2017-07-11 18:47] tomwilkie opened #902 "OpsGenie v1 API seems to be deprecated"
I'm getting `time="2017-07-11T18:41:13Z" level=error msg="Notify for 1 alerts failed: Cancelling notify retry for "opsgenie" due to unrecoverable error: unexpected status code 410" source="dispatch.go:261"`.

AlertManager seems to be doing the right thing according to their docs (https://docs.opsgenie.com/docs/web-api/alert-api#createAlertRequest).

When I try with postman, I get the following res

[2017-07-11 18:48] tomwilkie commented on #902
And following that link gives me too many redirections.  Not very confidence inspiring.

[2017-07-11 18:49] tomwilkie commented on #902
This is with alertmanager 0.7.1

[2017-07-11 19:01] tomwilkie opened #903 "VictorOps routing key is not optional, according to the code"
Code errors if its not set (see https://github.com/prometheus/alertmanager/blob/d5f0d1773f7d1c325802e1ea4bd77fc8b617aca1/config/notifiers.go#L347) whereas docs have it in square brackets, which I think means its optional (see https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md)

[2017-07-11 19:03] tomwilkie commented on #903
Also, victorops_api_url is missing from the global section

[2017-07-11 19:08] tomwilkie commented on #903
And probably want to link to https://help.victorops.com/knowledge-base/victorops-prometheus-integration/ to show how to set it up - VictorOps setting UI is misleading, as there is another API key it offers which is not the right one.

[2017-07-12 13:38] stuartnelson3 commented on #800
Closed by #872

[2017-07-12 13:38] #800 closed

[2017-07-13 17:27] parikhravish opened #904 "Alerting - False alerts and Missing alerts"
What did you do?
Alert generated for an event(Label sets). Followed by this the event repeated a few times, However since prometheus generates the alert id based on the label sets it made a determination that this was a continuation alert vs new alert and due to the repeat interval no new alert was sent.
What did you expect to see?
Alert sent whenever the event repeats it self, not when it is a co

[2017-07-13 18:26] gfliker commented on #891
Any updates on this issue ?

[2017-07-14 07:21] it-praktyk opened #905 "AlertManager - .GeneratorURL doesn't expand correctly more complex (only?) alert's conditions"
I've found that .GeneratorURL doesn't expand correctly more complex (only?) alert's conditions

A part of template - the file https://github.com/prometheus/alertmanager/blob/master/template/default.tmpl#L130-L138

[code]

for the alert definition

[code]

is expanded for

[code]

It was previously [posted](https://groups.google.com/forum/#!topic/prometheus-developers/wc03_aukKTc) at Prometheus Dev

[2017-07-14 07:24] brian-brazil commented on #905
What exactly do you believe is a bug here?

[2017-07-14 07:31] it-praktyk commented on #905
The part href of <a> tag
[code]
![selection_008](https://user-images.githubusercontent.com/4910261/28202740-a0943b20-686e-11e7-9a2a-c09eff110e9e.png)

[2017-07-14 07:38] mxinden commented on #846
@ianfriend Any updates on this?

[2017-07-14 13:44] ianfriend commented on #846
@mxinden yes i opened a ticket #869 and seemed to be a caching issue.  redownloaded package, cleared cache and then began working so all resolved now. Thanks for the help.

[2017-07-14 16:07] cornelf commented on #905
what about allowing https protocol in the externalURL build
also port should be an option

it looks like a full external-url override is preferable to building it from bits and mixing logic in.

[2017-07-16 13:12] stuartnelson3 opened #907 "Fix mktemp invocation in ui makefile"
on macOS:

[code]

mktemp isn't using the provided template.

[2017-07-16 13:50] huyujie opened #908 "alertmanger doesn't send mail when alert."
This is my simple.yml in alertmanger:
global:
  smtp_smarthost: 'smtp.***.com:587'
  smtp_from: '***'
  smtp_auth_username: '***'
  smtp_auth_password: ******
  smtp_require_tls: true

route:
  group_by: ['alertname']
  receiver: team-X-mails

receivers:
- name: 'team-X-mails'
  email_configs:
  - to: '****@qq.com'
    send_resolved: true

and the log is:
Jul 16 21:32:39 i-7un8vy31 alertmanager[23

[2017-07-16 17:09] mxinden commented on #907
@stuartnelson3 Strange, seems to work fine with Linux. @w0rm are you facing the same issues?

[2017-07-16 18:13] mxinden commented on #891
@gfliker @sciffer  I am sorry that this takes so long. I am able to reproduce your issue.

First of all a general question: Why are you using inhibition rules to de-duplicate your alerts send by two identical Prometheus for HA? If I am not misunderstanding your use case this can be done with the default behaviour of Alertmanager (See the [FAQ](https://prometheus.io/docs/introduction/faq/#can-prome

[2017-07-16 21:03] w0rm commented on #907
@mxinden yeah, I could reproduce this on macOS

[code]

[2017-07-18 01:37] gfliker commented on #891
Thx @mxinden for following up on this.

I guess that we can use alert_relabel_configs to drop / change the Prometheus instance label.
it makes sense.

FYI using inhibition was working fine for the last 6 months. im guessing something changed in 0.7.1.

Anyway we can close this issue since we will be switching to the alert_relabel_configs way.

Many thanks @mxinden

[2017-07-18 07:21] mxinden commented on #891
@gfliker Oh, I don't think this is a wanted change. I hope I got time to look into this further.

@brancz Can you approve my suggestion to use Alertmanagers default de-duplication instead of inhibition rules to handle duplicated Alerts due to an HA-Prometheus setup?