[2017-12-28 08:22] vsknov commented on #1169
Can anyone please help on this issue?

[2017-12-28 09:25] brian-brazil commented on #1169
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2017-12-28 09:25] #1169 closed

[2017-12-28 21:10] niravpat commented on #1170
I am seeing this too. I am able to reproduce this easily on windows 7 64 bit with [0.12.0](https://github.com/prometheus/alertmanager/releases/tag/v0.12.0). There seems to be a bug somewhere in the UI code that always calls `DELETE api/v1/silence` api with the last silence id. Using the api directly works fine.

[2017-12-29 11:09] w0rm commented on #1170
Thanks for reporting this! I'm working on the fix.

[2017-12-29 21:26] zemek opened #1173 "Default global api key for OpsGenie config"
Can we default the OpsGenie `api_key` to be like `global.opsgenie_api_key` ? It looks like it's not configured like that looking at the docs on https://prometheus.io/docs/alerting/configuration/#opsgenie_config
[code]

For example, the VictorOps config has
[code]

[2018-01-02 06:24] vsknov commented on #1169
Thanks for your valuable info 👍

[2018-01-02 08:09] lklkxcxc opened #1174 "*smtp.plainAuth failed: wrong host name"
**What did you do?**
The alertmanager send email failed
**What did you expect to see?**
My email accout received alert mail
**Environment**

* System information:

Linux 4.13.0 x86_64

* Alertmanager version:

alertmanager, version 0.12.0 (branch: HEAD, revision: fc33cc78036f82ef8d4734c197a96f7cb6c952a3)
  build user:       root@c9169eb10d06
  build date:       20171215-14:13:20
  go version:

[2018-01-02 10:26] brian-brazil commented on #1174
This is an error from your SMTP server, you probably need a different HELO.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provide

[2018-01-02 10:26] #1174 closed

[2018-01-02 11:25] #1170 closed

[2018-01-02 13:35] niravpat commented on #1170
thank you for the prompt fix. I tested it and it's working as expected now.

[2018-01-02 17:54] tbregolin opened #1176 "Add an option to list recently expired silences"
When an alert pops up it's often useful to check the recently expired silences. The work-around to do that right now is something like: "amtool silence query --expired --within 1s", then look towards the bottom of the big dump of expired silences.

The following PR adds an "--expired-within" option to list **only** the silences that have expired within Xs/m/w/y etc:

https://github.com/prometheus/

[2018-01-02 19:00] jamtur01 opened #1177 "[amtool] Import of silences not working"
Run:

[code]

Contents of `silence.json`

[code]

Try to re-import:

[code]

Expected the import to work...

version:

[code]

alertmanager logs:

[code]

[2018-01-02 22:12] tzz opened #1178 "allow user to request consistent ordering of grouped alerts"
alertmanager currently groups alerts without a consistent ordering, which is tough to follow for large groups.

The user should be able to specify a sort order on some label or annotation, which would give consistency and locally meaningful sorting. This could be done with a Go sort function in the template or with a alertmanager configuration entry perhaps.

[2018-01-02 22:14] brian-brazil commented on #1178
I propose that at a minimum the `Alerts` in the template structure should come with some ordering on it, like we have done elsewhere.

[2018-01-03 11:10] #1165 closed

[2018-01-04 09:35] Cornell123 opened #1179 "grouping of alerts issues validating rules failing"
**What did you do?**
cat node_memory_test.rules
groups:
- name: node_memory_test.rules
  rules:
  - alert: Test_Instance_Memory_Utilisation
    expr: ((node_memory_MemTotal - node_memory_MemFree + node_memory_Buffers - node_memory_Cached ) / (node_memory_MemTotal)) * 100 > 85
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "Instance {{ $labels.instance }} Memory hi

[2018-01-04 09:45] Cornell123 commented on #1179
Hi , Found the reason.. As am using 1.7X version of prometheus causing this issue. Do i have a way to group the alert rules in this version. Rather writing it down single rule for the same.

[2018-01-04 10:03] brian-brazil commented on #1179
Those are Prometheus 2.0 style rules, and this is the Alertmanager repository.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers prov

[2018-01-04 10:03] #1179 closed

[2018-01-05 09:45] #982 closed

[2018-01-06 16:25] rophy opened #1181 "Default template for multiple receivers"
Hi,  is it possible to do the following?

[code]

essentially, have some common receiver config which is shared between receivers, `pagerduty_configs.description` in the example above.

[2018-01-06 16:33] brian-brazil commented on #1181
This is not possible, you should look at having your configuration management system template this.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2018-01-06 16:33] #1181 closed

[2018-01-08 09:31] stuartnelson3 commented on #1178
Are you referring to the `/api/v1/alerts/groups` endpoint? we're currently sorting by internal identifier in `/api/v1/alerts` (https://github.com/prometheus/alertmanager/blob/master/api/api.go#L405-L407)

[2018-01-08 09:38] stuartnelson3 commented on #1177
I wasn't able to reproduce this unfortunately. I used the contents of your `silence.json` (updating the times), and it worked. I also did the whole process of creating a silence, exporting it, wiping the data, and then importing it.

[2018-01-08 09:42] brian-brazil commented on #1178
This is about notification templates.

[2018-01-08 09:56] stuartnelson3 commented on #1173
From reading the docs, the `api_key` can be either a specific team integration (in which case it replaces the `teams` field for the api_key's owning team), or a general key that then must be routed by using teams.

I think this proposal sounds fine. Users should be aware that setting the global `api_key` to a team integration `api_key` squashes all attempts to route via `teams`, since this happens

[2018-01-08 10:00] oscarruizmrf commented on #1153
Hi, any idea on this @beorn7 ?
Thanks.

[2018-01-08 10:03] beorn7 commented on #1153
(Just back from vacations.)

I'll investigate this case in our setup. So far, we haven't run into the issue in our production environment despite using quite a bit of inhibitions (which made me think it might have to do with some unlucky timing of your various config settings, but setting everything to 15s in the config should rule that out).

But @stuartnelson3 and perhaps @brancz are much closer

[2018-01-08 10:31] stuartnelson3 commented on #1173
@zemek may I ask a bit about your setup? I'm wondering how you're writing out your config file, and how many ops genie receivers you have, if you're using team integration api keys or a single global one, etc?

[2018-01-08 10:51] #1152 closed

[2018-01-08 13:48] #1168 closed

[2018-01-08 14:15] jamtur01 commented on #1177
Okay - I'll try to see if I can narrow down why it might be impacting me. I'll re-open if I can replicate it with further information.

[2018-01-08 14:15] #1177 closed

[2018-01-08 17:03] zemek commented on #1173
we have about 10 opsgenie receivers, one for each oncall rotation that's set up like this, using the same api key for each one.
[code]

@stuartnelson3 is there a better way of doing this?

[2018-01-08 19:34] sinkingpoint opened #1183 "amtool no longer takes duration units greater than hours"
**What did you do?**

    amtool silence add -e 1w -c 'Testing' instance=somethingthatdoesntexist

**What did you expect to see?**

A silence being created

**What did you see instead? Under which circumstances?**

    amtool: error: time: unknown unit w in duration 1w

We believe this is a regression introduced by https://github.com/prometheus/alertmanager/pull/976 which changes the type of the c

[2018-01-08 22:15] stuartnelson3 commented on #1183
It should be fairly easy to re-introduce the behavior again -- take the durations as a string, and parse. Sorry for the regression!

[2018-01-08 22:21] sinkingpoint commented on #1183
Hah. No problem - that was a monster PR to review! I'll probably throw something together tomorrow London time, if this hasn't been picked up by then.

[2018-01-09 03:57] heng-Yuan opened #1184 "Alertmanager only send one alert firing/resolved"
**I have deployed prometheus, node_exporter, alertmanaer, and my own webhook. When node_exporter was down, I could receive an alert from alertmanager to my webhook and email. But when I started node_exporter I couldn't receive nothing from alertmanager, Unless I restarted alertmanager.**

**There are my alertmanager debug infomation:**
[code]

**And this is my webhook code:**
[code]

**Environment

[2018-01-09 03:57] #1184 closed

[2018-01-09 08:40] stuartnelson3 commented on #1183
No worries, I got it

[2018-01-09 09:47] #1183 closed

[2018-01-09 14:21] Dominik-K opened #1187 "Amtool: `check-config` fails with "required flag --alertmanager.url not provided""
**What did you do?**
`docker run --rm -v $(pwd):/src --entrypoint=amtool prom/alertmanager:master check-config /src/alertmanager.yml`

**What did you expect to see?**
[code]

Works with `docker run --rm -v $(pwd):/src --entrypoint=amtool prom/alertmanager:v0.12.0 check-config /src/alertmanager.yml`, but with additional line:
[code]
**What did you see instead? Under which circumstances?**
`amtool:

[2018-01-09 14:29] stuartnelson3 commented on #1187
You need to supply a config file, or supply the flag

[code]
[code]

[2018-01-09 14:29] #1187 closed

[2018-01-09 21:39] roganartu opened #1188 "Add basic arithmetic functions to templating funcmap"
# Why
I link to grafana dashboards from my prometheus alerts, using some alert labels as grafana variables in the URL to narrow down the dashboard queries. I would like to link to a specific range (eg: 30 mins before/after) around `StartsAt` and/or `EndsAt` instead of having to adjust the timeline after opening the link, but this requires basic arithmetic functions (ie: add/sub). In addition, graf

[2018-01-10 08:17] brian-brazil commented on #1188
Anything like this should be done down in alert templates in Prometheus.

[2018-01-10 16:04] roganartu commented on #1188
The problem with putting this in Prometheus alert templates is that it will cause a huge amount of duplication in this case.

To solve my given example with my proposal I would need to add something like the following to a single shared template in alertmanager:
[code]
That I can then include wherever needed with `{{ template "grafana.link.href.partial" . }}`.

To achieve the same if these functio

[2018-01-10 17:12] brian-brazil commented on #1188
The StartsAt and EndsAt aren't exactly reliable, and may be zero depending on the current state of the alert. They're more an implementation detail than anything.

Usually you also want context on an alert, not merely when it get bad enough to start firing. What I'd suggest is creating links to Grafana with fixed parameters such as `&from=now-6h&to=now` or rely on the defaults for the dashboard wh

[2018-01-10 17:49] Conorbro opened #1191 "Alertmanager incorrectly handling newly resolved alert default startTime when zero"
This is a continuation from my findings on https://github.com/prometheus/prometheus/issues/1871

**What did you do?**

Sent following request to the AM where the `startTime` is zero and the `endTime` is an arbitrary time in the past:

Endpoint: `http://127.0.0.1:9093/api/v1/alerts`

[code]

What seems to be happening:

1. The endTime is set to the current time and the [startTime set to zero in Pro

[2018-01-10 18:25] stuartnelson3 commented on #1191
I think this makes sense. I'm a bit unsure about setting the start time when both values are empty, I would have to check how this would affect AM if a client is submitting alerts but never setting their start time.

[2018-01-11 12:09] simonpasquier commented on #427
I'm having a look at it since I've experienced the same problems while submitting a PR. I think I can at least explain the problem with `TestBatching` (has `repeat_interval = 5s` and `group_interval = 1s`):
* The dispatcher flushes the alerts at `t0`, sends the notification and marks the notification log at `t0+epsilon`.
* The dispatches flushes the alerts at `t1`, `t2`, `t3` and `t4` and doesn't

[2018-01-11 12:39] ojle commented on #992
@regardfs Did you managed to figure this out?

[2018-01-11 13:34] oscarruizmrf commented on #1153
@beorn7 can you provide us with some working config on inhibitions? it may help checking out differences to find the issue.

[2018-01-11 16:07] metalmatze opened #1192 "Add Help to TabList in the navigation"
When looking at the Prometheus UI there's a "Help" button in the top navigation bar.
I propose to add the same for the Alertmanager and link to https://prometheus.io/docs/alerting/alertmanager/. This is also referenced in the README.md.

For me personally, it's always harder to find the Alertmanager docs compared to the Prometheus docs, thus I would make use of it quite frequently.

I quickly look

[2018-01-11 16:25] mitchellrj commented on #1170
When do you think the next release might be cut with this in it? :)

[2018-01-11 16:26] stuartnelson3 commented on #1192
sounds cool to me. @w0rm ? :)

[2018-01-11 16:29] stuartnelson3 commented on #1170
It's been just shy of a month since the last release, but there's definitely plenty that's been added (https://github.com/prometheus/alertmanager/compare/v0.12.0...master). I'm waiting on some final documentation updates for https://github.com/prometheus/alertmanager/pull/1190 and then there'll be a new release. Hopefully within the week.

[2018-01-11 16:42] nsaud01 commented on #1125
I have repeat_interval set to 3 hours and I'm still getting "resolved" only alerts every three hours.

[code]

[2018-01-11 17:28] nsaud01 commented on #878
@alkalinecoffee Any progress or results on this? I'm also getting duplicate resolved alerts with no active firing ones. I'm on Alertmanager v0.12.0. Here's my config:
[code]

[2018-01-11 17:36] alkalinecoffee commented on #878
I haven't been able to duplicate it reliably locally, and I haven't looked at it since before the holidays.

From what I can tell, the firing and resolved alerts are sent immediately after the other, and alertmanager appears to only honor the resolved one.

We've since adjusted our alerts with longer time period thresholds, so we just don't see this issue much anymore.  It'll be more prevalent if

[2018-01-11 18:12] beorn7 commented on #1153
There is really nothing magic with our inhibition rules. It's well possible that we just haven't seen this issue yet because the inhibited alert also ceased firing when the inhibiting alert did so. (The usual use case is to inhibit a bunch of alerts if a known common root cause is in effect that another team should be alerted about. Once that cause is removed, also the formerly inhibited alerts ce

[2018-01-12 09:46] oscarruizmrf commented on #1153
So, in your cases, when the inhibitor ceases, all inhibited cease as well?
What you are saying is that there is no disinhibition implemented?
Inhibited alerts disinhibit because they resolve, not because parent
resolves.

On Thu, Jan 11, 2018 at 7:12 PM, Björn Rabenstein <notifications@github.com>
wrote:

[2018-01-12 09:46] stuartnelson3 commented on #1176
closed by #1190

[2018-01-12 09:46] #1176 closed

[2018-01-12 14:44] simonpasquier commented on #878
I can explain why this happens sometimes.

Assuming this AlertManager configuration with a single route:

[code]

Here is the workflow:
* Prometheus fires an alert with labels `{alertname="HighCPU",instance="foo",job="node"}` (_alertA_).
* After `group_wait`, AlertManager notifies the receiver and adds an entry to the notification log (nflog). The nflog entry stores the label sets as [hash values]

[2018-01-12 16:08] nsaud01 commented on #878
@simonpasquier That's interesting. I'll change my `group_by` value to include `instance` and see if that fixes the issue. Thanks!

[2018-01-12 16:13] alkalinecoffee commented on #878
I understand it's a workaround, but be aware that adding `instance` to `group_by` would cause multiple alerts to be fired (one for each instance) when something goes wrong.

[2018-01-12 16:16] nsaud01 commented on #878
Well that's no good. But it also makes sense the more I think about it.

[2018-01-12 16:56] simonpasquier commented on #878
@nsaud01 @alkalinecoffee yes, if you want to group CPU alerts for all instances in a single notification then you can't use the workaround...

[2018-01-12 17:42] simonpasquier commented on #1166
The issue is indeed in the mesh library. The connection status is updated by the `LocalConnection`'s [actor loop](https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/weaveworks/mesh/connection.go#L357-L382) once it gets the confirmation from the Overlay connection but we're using the [NullOverlay](https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/weavewo

[2018-01-13 12:40] vivek425ster opened #1195 "AlertManager Sends alert notification when the alert in a group gets resolved"
Whenever an alert in a group gets resolved alertmanager sends a notification of an alert with the remaining alerts in a group. This notification is not of a resolved alert but it is of the remaining alerts.

For example if i have 4 alerts(A, B, C, D) firing in a group. I get a notification with 4 alerts firing. Now if an alert 'C' gets resolved. I get a notification with 3 alerts(A, B, D) firing a

[2018-01-14 14:53] mitchellrj opened #1196 "Feature request: restrict the identity of silence creator to one passed by some HTTP header"
**What did you do?**
We configure a proxy in front of Alert Manager to authenticate, authorize and audit access, especially with regard to creating silences.

Currently a user can still enter any value they like for the "Creator" field of a silence through the web UI.

**What did you expect to see?**
It would be super if we could have an option to force the Creator value to one set via some HTTP h

[2018-01-15 06:59] oscarruizmrf commented on #1153
Hi,
@beorn7, @stuartnelson3 or @brancz, if you give us some indications we can work on it to fix the issue. Where should we start looking?
Thanks.

[2018-01-15 07:54] simonpasquier commented on #878
I'll try to send a PR this week.

[2018-01-15 09:49] brancz commented on #1153
Pretty much all code for inhibition is here: https://github.com/prometheus/alertmanager/blob/master/inhibit/inhibit.go

My gut feeling tells me we need to look at an "unmute" path, here: https://github.com/prometheus/alertmanager/blob/master/inhibit/inhibit.go#L141-L155

[2018-01-15 10:06] artemlive commented on #952
If you create several alerts with the same name, this problem is reproduced. I added another debug recipient in an alertmanager and it seems I figured out what the problem is.(https://github.com/prometheus/alertmanager/blob/master/examples/webhook/echo.go)
In my case it was like this:

generatorURL data is displayed from another service for the same alert.
I changed the alert name and now the prob

[2018-01-15 13:19] Dominik-K commented on #1187
@stuartnelson3 Why does `amtool check-config` need `alertmanager.url`? Does it now need to talk to an Alertmanager instance to check the Alertmanager config?

[2018-01-15 15:33] mitchellrj opened #1199 "amtool requires --alertmanager.url for check-config in 0.13.0"
**What did you do?**
[code]

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* System information:
Linux 4.9.49-moby x86_64

* Alertmanager version:
[code]

[2018-01-16 15:06] Gouthamve opened #1200 "Replace weaveworks/mesh"
Quoting @brancz :

[2018-01-16 15:10] Gouthamve opened #1201 "Optimise alert ingest path"
From @brancz :
While benchmarking & profiling Alertmanager it quickly became obvious, that the ingest path blocks _a lot_

Can you share some number about lock wait times?

[2018-01-16 15:22] Gouthamve opened #1202 "Improve alert indexing and search"
From @brancz

Further, I remember discussion of using the TSDB reverse index to do this.

[2018-01-16 16:15] brancz commented on #1201
Need to run the benchmarks again, for exact numbers. I remember that the channel alerts are sent to in the  dispatcher had the longest wait times. Increasing the channel buffer improved this a bit, but obviously only pushes out the issue.

A question we need to ask ourselves as well is, what kind of load are we expecting Alertmanager to handle? (nonetheless the limit should be resource bound not a

[2018-01-16 16:18] brancz commented on #1202
Questionable whether we should use it 1 to 1 or just as a concept, but yes I think the concept of the inverted index would work nicely, there are other questions of how to populate it efficiently and remove alerts efficiently as well though as don't have the same expectations as TSDB in terms of "immutability" of historic data.

[2018-01-16 16:18] brancz commented on #1200
I've started this, but it's in a very very early stage.

[2018-01-17 19:25] kamalmarhubi commented on #226
This would be incredibly useful.

@fabxc

Is there another issue or something with an explanation of what you mean here?

[2018-01-18 10:12] #878 closed

[2018-01-18 10:15] stuartnelson3 commented on #1187
It does not, it's an unintentional consequence of the move to a new flag parsing library. You can follow https://github.com/prometheus/alertmanager/issues/1199.

[2018-01-18 10:37] simonpasquier commented on #1195
IMO this is the intended behavior, at least this is what users currently rely on. If many people ask for it, *maybe* there could be an optional parameter telling AlertManager to send notifications only about new firing alerts.

Having said that, the description of the `group_wait` parameter could be improved to say that it encompass firing and resolved alerts.

[2018-01-18 10:41] brian-brazil commented on #1195
`group_wait` should have no impact on resolved alerts, as it delays the start of a group which is from firing alerts.

The OP's desired behaviour is correct though, the user already knows that ABD are firing so there's no need to tell them again before the repeat_interval.

[2018-01-18 11:21] simonpasquier commented on #1195
In that case, the issue is valid since currently the DeDup stage will pass the alerts to the Retry stage if the current set of resolved alerts (eg [D]) isn't a subset of the nflog entry (eg []). See https://github.com/prometheus/alertmanager/blob/9b10acae6866e96195d9387e00ae7b44c7377635/notify/notify.go#L493-L495

[2018-01-19 08:29] songjiayang opened #1203 "Why download package without default file template/default.tmpl"
**What did you do?**
Config alertmanager with stmp options.

**What did you expect to see?**
The unzip package should contains the default template file `template/default.tmpl`.

**What did you see instead? Under which circumstances?**
not yet.

**Environment**

* Alertmanager version: 0.13.0

Then the default config file can be
[code]

If we change to this, as a starter  they can use email templa

[2018-01-19 08:51] stuartnelson3 commented on #1203
The default template is compiled into the binary, so that users do not need to include it in the config.

[2018-01-19 08:51] #1203 closed

[2018-01-20 16:49] carlpett commented on #1199
Sorry for the slow reply, been travelling last week. Also, sorry for
causing this bug :(
I don't see a nice way around this, unfortunately. The two workarounds I
can think of is to either remove the `Required()` and do the check
explicitly for all the other sub-commands, or move the flag to the
sub-commands.
Not sure which is the least bad - both seem to invite subtle bugs or
behavior mismatches o

[2018-01-21 13:15] viq commented on #516
@riemers AFAIK all `ca-update` does is generate symlinks with hashes. You can do that outside of container, and mount that in container, and it should work.

[2018-01-21 14:09] #1166 closed

[2018-01-21 14:12] stuartnelson3 commented on #1199
Neither of those options seems very desirable. I guess we'll leave it as it is for now, and just let users know that they need to pass something as the alertmanager url.

[2018-01-22 19:20] kamalmarhubi commented on #226
@fabxc could you elaborate a bit? I'm willing to put half a day or so into this, as it'd be a great improvement to the Prometheus + Pagerduty combo. The implementation looks fairly straighforward except for uncertainty from your note above.

[2018-01-23 15:41] artemlive commented on #952
some kind of magic...
There is an alert added in prometheus:

There is an element of data named probe_ss_config. Here is the result of query, which returns sum of all checks for 2h, which equals to 0, means that service was down (all checks for 2h retruned 0).
Vector of data for 2h (all checks is equal to 0)
http://joxi.net/n2YB707ijzlYEA
And sum of all http://joxi.net/8AnWDNDTqJpqor elements is e

[2018-01-23 15:52] #1195 closed

[2018-01-23 16:21] hmacias commented on #362
@sgissi: your syntax for multiple recipients of a notification worked for me too. Thanks!

[2018-01-24 16:58] ddewar2k commented on #554
Gang, Looking to see if this every resolved. Looking at the code and configuration guide its not obvious that an HTTP proxy can be added to a webhook config.  If this is allowed, does anyone have an example configuration snippet.

[2018-01-24 18:32] mjudeikis opened #1206 "Lost Mesh peer due DNS to IP caching"
Running Alertmanager in  Statefulset where Peers is being defined as POD IP's using POD dns name:
https://github.com/mjudeikis/origin/blob/prometheus-ha/examples/prometheus/prometheus.yaml#L283-L288

When mesh network is established after startup if one of the members is restarted POD gets different IP address (next from the pool). But survival member is caching IP address of dead pod and trying t

[2018-01-25 12:49] caarlos0 commented on #1173
I implemented the global api_key for victorops, can do this fo opsgenie as well :)

[2018-01-25 12:58] caarlos0 commented on #1173
check #1208

[2018-01-25 14:36] fv-slavs opened #1210 "Alertmanager starts the script"
I want the script to run if AlertManager is triggered. In official documentation, there is no way to do this. Has anyone tried to solve such a problem?

[2018-01-25 14:39] stuartnelson3 commented on #1210
This is a usage question, and should be posted to prometheus-users@googlegroups.com

[2018-01-25 14:39] #1210 closed

[2018-01-25 14:59] dbonatto opened #1211 "Alert severity not correctly set on PagerDuty Alert"
I'm trying to migrate to the PagerDuty API v2. I already changed to use the routing_key in the configuration so that AM would use the API v2. What I can not find how to do is passing on to PagerDuty the severity that is declared as a label in the alert.

[code]
What is happening now is that AM is sending a "error" severity to PagerDuty, which looking in the code I could see that is the default beh

[2018-01-25 16:17] stuartnelson3 commented on #1211
Severity is set in `pagerduty_configs`:

[code]

[2018-01-25 20:14] dbonatto commented on #1211
Sorry, this was one of the tests I've done.

If you remove it, it will have the behavior I described. Its not passing on the severity and I can't find in the documentation how to do it.

[2018-01-25 21:23] dbonatto commented on #1211
Should I open another issue for this?

[2018-01-26 10:04] stuartnelson3 commented on #1211
Ah, I misunderstood, sorry about that. As it is now, the severity can only be defined statically in the receiver.

To pass on the severity in the label, the code needs to be slightly updated here: https://github.com/prometheus/alertmanager/blob/6a3dfaff45fafba1ef8553451e6b1fc0435b6523/notify/impl.go#L509

`n.conf.Severity` needs to become `tmpl(n.conf.Severity)`. Then you can use the normal templa

[2018-01-26 14:26] adamdifelice commented on #517
:+1:

[2018-01-26 14:35] brian-brazil commented on #517
I'm confused as to what the feature request is supposed to be here. Maybe you're looking for #876?

[2018-01-26 14:41] adamdifelice commented on #517
I followed both, but yes that is the same feature

[2018-01-26 14:43] brian-brazil commented on #517
This is a duplicate of #876 then.

[2018-01-26 14:43] #517 closed

[2018-01-26 16:23] dbonatto commented on #1211
Thanks for reopening.

So in my use of AM, we have around 10 teams and many more services. Each team will decide on the severity of an alert based on the type of problem and the environment in which the problem is happening. Also, PagerDuty makes use of the Severity to define what is the urgency of a alert and with that decide how to contact on call engineers.

So in my opinion it would be very us

[2018-01-26 19:07] dbonatto commented on #1211
@stuartnelson3 I went ahead and created the PR with the solution you mentioned in case you agree with integrating it.

Also, the routing solution works, still it creates a giant config file. Every team will need to have something like this:

[code]

In the end, more templates would make the configuration simpler.

[2018-01-27 10:22] #1211 closed

[2018-01-27 11:13] dbonatto commented on #1211
@stuartnelson3 Please let me know if this is what you are looking for:
https://github.com/prometheus/docs/pull/956

[2018-01-29 01:55] likunbyl opened #1215 "got duplicate alerts with the alertmanager 0.12.0"
**What did you do?**
I'm deploying prometheus at k8s environment. two prometheus pods, point to two alertmanager pods, with mesh.peer point to each other.

Then I stopped a monitored service,  got duplicate alert.

**What did you expect to see?**
deduplicate alert successfully

**What did you see instead? Under which circumstances?**
I stopped a monitered service with the command:
`# kubectl scale

[2018-01-29 13:24] sky-AndreCrujo opened #1217 "fatal error: concurrent map writes after alert flushing"
**What did you do?**
AM was running as expected, an alert was resolved and flushed.

**What did you expect to see?**
AM shouldn't have crashed.

**What did you see instead? Under which circumstances?**
AM crashed.

**Environment**

* System information:
      Dockerized Ubuntu 14.04 x64

* Alertmanager version:
       v0.6.1

* Prometheus version:
      Prometheus 1.8

* Logs:
[code]

[2018-01-29 13:29] simonpasquier commented on #1217
You're running an old (v0.6.1) version of AlertManager. Can you update to the latest AlertManager version?

[2018-01-29 13:36] sky-AndreCrujo commented on #1217
Sure. Just wanted to report the issue in case it was still outstanding.

[2018-01-29 15:05] #1173 closed

[2018-01-29 15:21] stuartnelson3 commented on #1215
thanks for opening the issue. it looks like the mesh connection was made, and that the alertmanagers sent their alerts 3 seconds apart. I believe there's a 10 second delay (supposed to be) between mesh peers and sending out messages.

Although it could be clock skew, I believe folks at soundcloud have been seeing similar double alertings (@grobie @beorn7 ).

[2018-01-29 15:37] beorn7 commented on #1215
Duplicate alerts can always happen (if the mesh gossiping fails). We have definitely seen it but it was inconclusive if it was just a communication blip or a real bug in Alertmanager. I'm also hunting a few other bugs (like alerts _not_ being sent out when we expected them to be), but it is sadly not my first priority right now.

[2018-01-29 17:08] jcs commented on #634
Hi, Pushover developer here.

You can now add a `tags` parameter when creating a message which is a comma-separated list of arbitrary tags.  Any of those tags can then be passed to `https://api.pushover.net/1/receipts/cancel_by_tag/(your tag).json` to cancel all receipts with that tag.

https://pushover.net/api/receipts#cancel_by_tag

[2018-01-29 21:45] noqcks commented on #333
For people who come from google: https://github.com/prometheus/alertmanager#amtool

[2018-01-30 07:21] likunbyl commented on #1215
Thank you, I have ntpd running to keep the time synced.

[2018-01-30 09:38] tom20180101 opened #1218 "missing agentid"
System information:

Linux ha-1 3.10.0-693.11.1.el7.x86_64 #1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

 Alertmanager version:latest

 Prometheus version:2.0
 WeChat:latest
Alertmanager configuration file:
[code]
my alertmanager on k8s 1.8.1 . when i use wechat alarm, i can`t  receive any message,  then, I found the following error through the dashboard
[code]
but if i change

[2018-01-30 13:36] discordianfish commented on #634
Great, I'll submit a PR to add canceling to the alertmanager soon.

[2018-01-30 15:57] stuartnelson3 commented on #1218
@berlinsaint

[2018-01-31 15:13] tzz commented on #1178
I don't mind writing some code if it will help move this forward. For me it would be enough to have a function or alert manager option to simply sort alerts lexicographically by label or annotation.

[2018-01-31 17:30] brian-brazil commented on #1178
I think we should start with a consistent ordering on the Alerts we provide to notification templates. That way users get something okay without having to do extra work.

[2018-01-31 18:12] tzz commented on #1178
For a default ordering, how about lexicographical by `(alert.annotations.summary, alert.creation_time)`? That's the simplest thing I can see that could be generally useful.

[2018-01-31 18:31] brian-brazil commented on #1178
You can't presume that any particular annotation exists, nor that creation times are stable. I'd suggest working entirely off alert labels. This should not be configurable at this level.

[2018-01-31 19:35] tzz commented on #1178
OK, what alert labels would make for a sensible default sort key? `(job, instance)`?

[2018-01-31 19:50] brian-brazil commented on #1178
You'll need to use all of them, otherwise it won't be consistent. Moving job and instance to the front is probably wise.

[2018-01-31 20:38] tzz commented on #1178
Looking at `dispatch/dispatch.go`, there seem to be two ways to go: either modify `aggrGroup` to always have a sorted list of `Alert` structs instead of a map, or sort the `alertsSlice` when alerts are flushed. The `alertsSlice` sort seems easier to implement.

Does that make sense or am I misunderstanding your intention or the code?

[2018-01-31 21:42] brian-brazil commented on #1178
Yes, the slice would be the one to sort somewhere along that codepath.

[2018-02-01 03:03] Keleir commented on #879
Seems the same question, I have already configured a alertmanager cluster with three peers like [**this**](https://gist.github.com/Keleir/177ffa058141cd627218532df6dabed9#file-alertmanager_peer_docker-compose-yml), It work well but one of the peer status page hints that **Multiple connections add to this peer** and it's state is failed.

![alertmanager_peer_connections_error](https://user-images.g

[2018-02-01 10:51] brb commented on #1200
Out of curiosity, could you link to problems you encountered with weaveworks/mesh? Thanks.

[2018-02-01 11:26] roidelapluie commented on #879
I can reproduce this as well

[2018-02-01 11:29] roidelapluie opened #1219 "Expose gossip status via /metrics"
Would be handy for alerting.

[2018-02-01 12:36] tzz commented on #1178
I'm having trouble compiling the code because of some strange unrelated error `vendor/github.com/weaveworks/mesh/token_bucket.go:33: undefined: time.Until
` so I can't verify the following, and Go is not a strong language for me. So I'm putting my proposed approach here (to be placed in dispatch/dispatch.go:flush():L426). I hope this is consistent with your thinking. If this trivial patch is enoug

[2018-02-01 12:38] gustav-b opened #1220 "Make Slack notification's mrkdwn_in configurable"
Slack's webhook API allows passing the `mrkdwn_in` attribute for specifying which fields that contain markdown. In Alertmanager's [current implementation](https://github.com/prometheus/alertmanager/blob/94bef6419f92107423c839855487c062a6eba5db/notify/impl.go#L664) this attribute value is hard-coded to `{"fallback", "pretext", "text"}`. This is somewhat limiting as Slack supports markdown rendering

[2018-02-01 14:21] jsuchenia opened #1221 "Misleading pagerduty example: use routing_key instead of service_key"
**What did you do?**
I was trying to use pagerduty syntax explained at https://prometheus.io/docs/alerting/configuration/#<pagerduty_config>
I was trying to use both: service_key and severity settings - they don't work together

**What did you expect to happen?**
A low-urgent Alert in Pagerduty

**What did you see instead? Under which circumstances?**
High-sev alert

**Environment**
Alertmanager 0

[2018-02-01 20:20] iksaif opened #1223 "OpsGenie returns 422 when team is not specified"
I'm still unsure if this is due to something on our side, but to help others users potentially affected by this I'm creating this issue.

Using the opsgenie notifier, we started to get the following error (with both 0.11.0 and 0.13.0).

{code}
{"message":"Request body is not processable. Please check the errors.","errors":{"teams[0]":"id or name should be provided"},"took":0.009,"requestId":"xxxxx

[2018-02-02 10:50] simonpasquier commented on #879
@Keleir I've dug into this problem and tracked it down to the mesh library when it checks for new connections to establish The interesting snippet is [here](https://github.com/weaveworks/mesh/blob/master/connection_maker.go#L268-L273). It says that if a direct peer (eg from `--mesh.peer`) has no specified port number and there's already an inbound connection from the same IP address then it won't

[2018-02-02 10:51] simonpasquier commented on #879
Also the mesh is working properly even if the debug message shows up repeatedly.

[2018-02-02 13:02] iksaif commented on #1223
Seems to be similar to #1108 and #1107

[2018-02-02 16:12] simonpasquier commented on #1219
I'm currently looking into various mesh issues. I'll give it a stab, hopefully in the coming weeks.

[2018-02-03 03:18] mauricio commented on #1191
Any possible fixes or workarounds for this? I'm seeing this with `prometheus 2.1.0` and `alertmanager 0.13.0`.

[2018-02-04 13:38] Conorbro commented on #1191
I've merged a fix on head for Prometheus which should resolve this issue.

[2018-02-05 02:18] bittopaz commented on #1191
@Conorbro  Will you plan to make a patch release for this, please?

[2018-02-06 05:53] Silence2012 opened #1226 "if the alertmanager support the alerts to the https webhook endpoints"
I am planing to send some kind of alert to an https webhook endpoints, How should I add the authentication token in the configuration file.

[2018-02-06 08:52] simonpasquier commented on #1226
This is being addressed by #1222.

[2018-02-06 09:03] songjiayang commented on #1218
I will check it soon.

[2018-02-06 09:45] stuartnelson3 commented on #1218
Feel free to open a PR

[2018-02-06 11:13] #1219 closed

[2018-02-06 11:19] roidelapluie commented on #1219
Awesome! Thanks all!

[2018-02-06 11:19] taragurung opened #1227 "Prometheus not abl to send alert request to alert manager."
Why exactly am I getting this. when visiting the api/v1/ links its working and giving the response. But why exactly do we get this error.
`
`prometheus_1     | level=error ts=2018-02-06T10:36:55.344497837Z caller=notifier.go:454 component=notifier alertmanager=http://X.X.X.X:9093/api/v1/alerts count=0 msg="Error sending alert" err="Post http://X.X.X.X:9093/api/v1/alerts: dial tcp X.X.X.X:9093: get

[2018-02-06 13:26] simonpasquier commented on #1227
Your Prometheus instance can't connect to the AlertManager's address and it looks like an IP routing issue.

[2018-02-06 16:39] fabxc commented on #1153
I unsuccessfully tried to reproduce this. There is no inhibition state being cached or anything so it's also hard to think what it could be.

The only way is really that the inhibiting alert actually lingers around and isn't resolved. But then it should also show up in the UI.

Note that the timing you provided here (2 and 10 minutes) is well within a typical group interval range. Some delays are

[2018-02-06 17:07] oscarruizmrf commented on #1153
Hi,
the inhibited alert never fires, as far as we have tested, for a couple of
hours, even when the source alert resolves.

On Tue, Feb 6, 2018 at 5:39 PM, Fabian Reinartz <notifications@github.com>
wrote:

[2018-02-07 05:26] songjiayang commented on #1218
ok, I want to  have a check.

[2018-02-07 09:24] tyrken commented on #876
So, @brian-brazil (@fabxc ?), could you provide any design guidance on how to implement said feature, as I think I'd like to suppress all 'severity: warning' alerts overnight rather than putting loads of time-based rule duplication into my Prometheus alert rules.  I really don't want to do that as warnings are still valid & worth warning about if I go looking for current Alerts active - I just don

[2018-02-07 10:18] fabxc commented on #1114
People usually set too low intervals. But 0 is just 100% wrong semantically. High resource usage is more than expected in this case.

We should probably return a configuration error in this case.

[2018-02-07 11:00] simonpasquier commented on #1114
@fabxc IIUC this is similar to #583.

In the [comments](https://github.com/prometheus/alertmanager/issues/583#issuecomment-268221690), another proposal was to have a sane minimum value (eg 1s) in case the parameter was zero. Personally I'd prefer a hard failure (explicit over implicit) but wanting to check.

[2018-02-07 11:01] fabxc commented on #1114
Yes, a hard failure is probably better so that there are no wrong expectations.

[2018-02-07 11:08] simonpasquier commented on #1114
Thanks! I'll give it a shot then

[2018-02-07 17:22] tzz commented on #1178
The proposed change is in https://github.com/prometheus/alertmanager/pull/1234 but if Alertmanager will allow arbitrary sorting from the user in the future, then the `LabelSet.Before()` method should probably be extended to take a list of label names, in which case the change becomes trivial. I didn't propose that change because I don't know if it's right, and wanted to keep the scope as small as

[2018-02-07 19:32] stuartnelson3 commented on #947
implemented

[2018-02-07 19:32] #947 closed

[2018-02-07 19:34] stuartnelson3 commented on #926
closed by #934

[2018-02-07 19:34] #926 closed

[2018-02-07 19:40] stuartnelson3 commented on #701
https://github.com/hashicorp/go-plugin was recently brought to my attention, which seems like a well-used solution

[2018-02-07 19:59] brian-brazil commented on #701
How would that differ from the existing webhook? It looks like a slightly different way of doing the same thing.

[2018-02-08 06:52] dulman commented on #1150
+1

[2018-02-08 07:54] brian-brazil commented on #1150
This is something that needs to be handled outside the Alertmanager, you can use your existing configuration management systems (plus likely some tooling) to stitch things together. Pre-commit checks that the config is valid will also help.

[2018-02-08 07:54] #1150 closed

[2018-02-08 11:26] simonpasquier commented on #1191
I've dug into the code and found that the AM API delegates the validation of the incoming alerts to [`model.Alert`](https://github.com/prometheus/common/blob/f65f7cd4fa676b0c89b98de7af7f650e7dd64c04/model/alert.go#L84-L102) from prometheus/common.

As @Conorbro noted [previously](#issuecomment-357287505), the current validation enforces both that
* `StartsAt` isn't empty/zero.
* `EndsAt` is after

[2018-02-08 11:30] brian-brazil commented on #1191
Both fields are documented as optional, so it's more about making sure the defaults are okay.

[2018-02-08 12:55] #1221 closed

[2018-02-08 13:59] stuartnelson3 commented on #701
It adds a degree of type safety since a plugin has to implement the interface we describe (in this case, the `Notifier` interface). I would initially propose using the basic rpc implementation, but defining the interface via gRPC would allow plugins in any language.

The communication is done via a unix socket within the system, which is managed by the library. Operationally I think this could be

[2018-02-08 14:07] brian-brazil commented on #701
That sounds like a more complicated and Go-specific way of doing things. There's nothing stopping users deploying all their webhooks into one binary today, the API/information a notifier gets is the same as what the webhook uses (i.e. there is no bi-directional communication), and Go plugins don't seem viable in our use case as we basically would have to distribute them all.

From Prometheus SD th

[2018-02-09 09:42] #981 closed

[2018-02-09 09:53] #1114 closed

[2018-02-11 19:10] #1218 closed

[2018-02-12 09:08] orlmar opened #1236 "Alert manager unable to send unsecured emails"
We just upgraded Alertmanager from version 0.9.1 to 0.13.0 and Prometheus from 1.8.1 to 2.1. The Alertmanager's email receiver doesn't work anymore with identical configuration.

In the log, we have an error:
msg="Notify attempt failed" attempt=10 integration=email err="*smtp.plainAuth failed: unencrypted connection"

Could it be related to this issue in net/smtp?
https://github.com/golang/go/issu

[2018-02-13 09:39] stuartnelson3 commented on #1236
The issue you linked says the fix for that regression was added to go1.9.2, which was used to compile v0.13.0.

[2018-02-13 13:14] simonpasquier commented on #1200
FWIW this is closed by #1232.

[2018-02-13 13:29] brancz commented on #1200
@simonpasquier thanks for catching, yes!

[2018-02-13 13:29] #1200 closed

[2018-02-13 14:02] r0bj opened #1240 "GUI: new silence form without matchers"
**What did you do?**

There is active alert `MySQLReplicationNotRunning`:
<img width="1121" alt="screen shot 2018-02-13 at 14 54 08" src="https://user-images.githubusercontent.com/1297747/36153223-d54b9f22-10cd-11e8-8efd-4122acea50c2.png">

I'm clicking `Silence` next to this alert:
[code]

New silence form is opened with empty `Matchers Alerts affected by this silence.`:
<img width="1191" alt="sc

[2018-02-13 14:05] roidelapluie opened #1241 "Add metrics reguarding notification duration"
It would be great to have an histogram with the notifications duration (per integration).

[2018-02-13 14:07] roidelapluie commented on #1240
I can not reproduce this (Alertmanager version: 0.14.0 too)

[2018-02-13 14:12] stuartnelson3 commented on #1240
Can you try this in incognito/private browsing mode? It might be an issue with the javascript being cached. We unfortunately don't version our `script.js` file, which can lead to this problem. This potentially could be fixed using a unique hash on the script name, and updating `index.html` to have that correct version "baked in".

@w0rm have you done anything like this on the front end? My immedia

[2018-02-13 14:14] r0bj commented on #1240
In incognito mode the result is the same for me - still empty matchers.

[2018-02-13 14:15] w0rm commented on #1240
@stuartnelson3 this looks like a bug somewhere in url serializing/parsing code.

[2018-02-13 15:26] #1191 closed

[2018-02-13 19:50] stuartnelson3 commented on #1240
The error is that you have empty matchers coming from Prometheus (`channel_name=""`, `connection_name=""`). Label matchers should not have an empty value.

@brian-brazil @grobie @beorn7 @brancz : I'm talking with @w0rm and we're thinking that invalid matchers should be dropped when clicking the the "silence" button on the alert page. I think we should still display the empty matchers on the alerts

[2018-02-13 20:40] adityanmishra opened #1243 "Alertmanager scanning entire network for peers"
**What did you do?**
Upgrade Alertmanager from 0.9 to 0.14 with mesh for HA
**What did you expect to see?**
Only assigned hosts
**What did you see instead? Under which circumstances?**
Almost all hosts in mesh
**Environment**
QA
* System information:
Linux 3.10.0-693.17.1.el7.x86_64 x86_64
	insert output of `uname -srm` here

* Alertmanager version:
0.14.0
	insert output of `alertmanager -version`

[2018-02-13 22:19] brian-brazil commented on #1240
`channel_name=""` is a valid matcher, it says that that label must not exist and creating such silences should be possible.

What does the alerting rule look like?

[2018-02-13 22:24] r0bj commented on #1240
Alerting rule:
[code]

[2018-02-13 22:27] brian-brazil commented on #1240
Can you share your alertmanager configuration and what this alert looks like on the Prometheus alert status page?

[2018-02-13 22:35] r0bj commented on #1240
alertmanager config:
[code]

Alert view from Prometheus:
<img width="1417" alt="screen shot 2018-02-13 at 23 31 51" src="https://user-images.githubusercontent.com/1297747/36177589-7c34baec-1116-11e8-831e-9f2306a93483.png">

[2018-02-13 22:46] brian-brazil commented on #1240
So on the Prometheus side I'm not sure where this empty channel_label is coming from, it should really be pruned at some point.

On the Alertmanager side it should also be getting pruned when the new alert comes in.

[2018-02-13 22:51] r0bj commented on #1240
It probably comes from `mysqld_exporter` metrics (https://github.com/prometheus/mysqld_exporter).

[code]
[code]

[2018-02-13 23:05] roidelapluie commented on #1240
@brian-brazil an exporter must render the same set of label for a given metric right? So could these metrics exist in one exporter ?

[code]
Or should the exporter "lie" and do:

[code]

[2018-02-14 08:26] brian-brazil commented on #1240
My point is that there's something wrong here on the Prometheus end, those labels shouldn't be getting this far.

[2018-02-14 09:24] stuartnelson3 commented on #1240
@w0rm I guess this should be valid filtering as well for silences then, too. `foo=""` should filter out any silences that have a label `foo`, I'll have to check to see if this is the behavior in the backend.

@brian-brazil this is also valid for filtering alerts?

[2018-02-14 09:31] brian-brazil commented on #1240
This is valid for filtering alerts. It's a bit weird, but it's valid.

[2018-02-14 09:42] simonpasquier commented on #1243
I'm not clear about the issue you're reporting. Even if you pass the same `--mesh.peer` address to all instances, they will eventually discover the other peers. This is how the AlertManager mesh is working and there is nothing wrong it.

[2018-02-14 11:58] nurgasemetey opened #1246 "AlertManager is not firing in Docker Swarm"
**What did you do?**

I wanted to integrate our prometheus and its alert manager in our system. The system works in docker swarm.
Firstly, I tried it using binaries that I downloaded from official web-site and alert was fired and sent to slack.
Then pulled images prometheus and alert manager and integrated in test swarm cluster. Yet alert was not sent to  slack but prometheus detected alert.

**Wh

[2018-02-14 12:43] stuartnelson3 commented on #1246
Did the alert successfully appear in alertmanager?

`level=error ts=2018-02-14T11:19:54.672008122Z caller=notify.go:303 component=dispatcher msg="Error on notify" err="dial tcp 127.0.0.1:25: getsockopt: connection refused"` from your config, I'm not sure why this local IP is being dialed.

[2018-02-14 12:58] nurgasemetey commented on #1246
It appeared in prometheus web-ui as shown in image included. As I know there is not web interface for alertmanager, am I right?

Yeah, it stuck me also. If there is some configuration, where it is defined in alertmanager configuration?

[2018-02-14 13:08] stuartnelson3 commented on #1246
there is a web interface for alertmanager. yours is available at port :9093.

[2018-02-14 13:08] nurgasemetey commented on #1246
@stuartnelson3

Yes, it is appeared in alertmanager's interface

![screenshot from 2018-02-14 16-07-06](https://user-images.githubusercontent.com/4669437/36205855-49b9c626-11a1-11e8-873a-c4b31482ec5d.png)

[2018-02-14 13:08] adityanmishra commented on #1243
Hi what is happening is alertmanager is trying to connect hosts which are not running any alert manager and are not part of any mesh.peer. this i see in the status page. This is not same behavior on 0.9. As not much doc is available i am stuck. We are using alertmanager heavily. Please let me know if i can provide any further information

[2018-02-14 13:31] simonpasquier commented on #1243
Can you run AlertManager with `--log.level=debug` and share the log file?

[2018-02-14 16:00] naveensrinivasan commented on #879
@simonpasquier Works great! Thanks!

[2018-02-14 22:45] sevagh opened #1248 "Query inhibitions from amtool"
**What did you do?**

I had some alerts not being routed. I used `amtool silence query` to find current silences, but via the web UI when I checked the `[ ] Inhbitions` box I was able to see that my query was inhibited.

It would be nice if there was `amtool inhibition query` to see current inhibition status. Is this possible, a planned feature, etc.?

* Alertmanager version:

	0.13.0

[2018-02-15 13:59] m4rcc opened #1249 "Add Alertmanager status "/metrics"."
I just upgraded Alertmanager to latest version ( 0.14.0). I am using a MESH of 3 Alertmanagers which are receiving  alert data from 2xPrometheus. I saw in the newer version the "/metrics" endpoint has been implemented with lots of metrics available but i do not see the most important metric ( my opinion ) that is the Alertmanager status :   "alertmanager_up  1"  or "alertmanager_up  0" so that i c

[2018-02-15 14:03] roidelapluie commented on #1249
hello

The up metrics are available at the prometheus level, as meta metrics added to evey jobs.

Look for up{job="alertmanager"} == 0

[2018-02-16 11:00] dup2 opened #1250 "panic: no valid network interfaces"
Switching from 0.12 to 0.14 does not work on systems that do not provide a hardware MAC address (i.e. OpenVZ hypervisor).

This is related to #582 but seems to be a regression from changing to kingpin which evaluates the default value for --mesh.peer-id which enforces a hardware MAC and panics.

**This same behaviour is also observed when `--mesh.peer-id 21:71:25:12:67:32` is provided** and thus t

[2018-02-16 11:57] stuartnelson3 commented on #1250
That code has been replaced in master -- there are no `--mesh.*` flags, they've been replaced by `--cluster.*` flags.

Looking at the code, it seems that the offending function isn't being executed anywhere (and should be deleted).

Fixed by #1232

[2018-02-16 11:57] #1250 closed

[2018-02-16 13:44] #516 closed

[2018-02-16 13:52] m4rcc commented on #1249
hello,

Thank you for the fast reply, unfortunately i am having Prometheus 1.7.1 and i am using only the "-alertmanager.url" to link Prometheus to Alertmanagers. Prometheus update was next in line after Alertmanager, i will check that metric after i update Prometheus also. I am assuming that now there is a bidirectional flow between Prometheus and Alertmanagers.

[2018-02-16 14:00] roidelapluie commented on #1249
What you should do is adding alertmanager as a prometheus job. Then you get the up metric.

[2018-02-16 16:01] simonpasquier commented on #1191
@aioue you would need to test with prometheus [2.2.0 rc.0](https://github.com/prometheus/prometheus/releases/tag/v2.2.0-rc.0) and alertmanager from master.

[2018-02-19 16:54] mjudeikis commented on #1206
closing in favor of https://github.com/prometheus/alertmanager/pull/1232

[2018-02-19 16:54] #1206 closed

[2018-02-19 21:35] zeisss opened #1252 "Recreate silence loses matchers"
**What did you do?**

1. Create a silence with some dummy matchers
2. Wait for it to expire
3. Navigate to expired silence list
4. Click recreate

NOTE: The URL does not contain any parameters, it's just `http://localhost:9093/#/silences/new?filter=`

**What did you expect to see?**

A form prefilled with the matchers from the previous silence

**What did you see instead? Under which circumstances

[2018-02-19 23:54] kylebevans commented on #511
You have to POST to the api to create a silence, which I believe is not technically RESTful.  It also means you have to embed a form in the alert email rather than just providing a link to create a silence.  Anyway, here is an example curl command to create a silence:

`curl -H "Content-Type: application/json" -X POST -d '{"comment": "test1","createdBy": "test1","endsAt": "2019-02-20T18:00:59.4641

[2018-02-20 17:06] ainola commented on #876
Indeed, it would be nice to see whether it is within the scope of AM. It'd be great to have this feature.

[2018-02-22 11:14] vivekbny opened #1254 "Alertmanager:0.14.0 is not allowing arguments"
**Deployment failed with an error "unknown short flag '-s'"?**
**However deployment is successful with Alertmanager version 0.12.0**
**Unable to deploy with v0.14.0**

**dev region**

Error: MESOS_TASK_ID=dev_xxx_monitoring_alertmanager.50dd9d17-17aa-11e8-983e-baa47a6be7d0 -p 9093:9093/tcp -p 8001:8001/tcp --name mesos-e4cfa6b5-722d-4052-8405-81840ee3bc57-S0.0df0076a-da2a-4b0e-b4b2-16a00364f8d5 pr

[2018-02-22 11:20] roidelapluie commented on #1254
Hello

Alertmanager has switched kingpin for its CLI.

Arguments take `--` instead of `-`.

[2018-02-22 12:11] vivekbny commented on #1254
Thanks a lot, it worked.

[2018-02-22 12:11] #1254 closed

[2018-02-22 14:56] brian-brazil commented on #528
Sounds like this was incorrect usage.

[2018-02-22 14:56] #528 closed

[2018-02-23 08:52] vivekthangathurai commented on #623
group_by: ['instance']  groups by each mchine

[2018-02-25 10:27] onorua opened #1259 "Alertmanager should have plugin system"
There are several integrations proposed, which were rejected due to reasons not really related to PR contents:

https://github.com/prometheus/alertmanager/pull/709
https://github.com/prometheus/alertmanager/pull/601
https://github.com/prometheus/alertmanager/pull/700
https://github.com/prometheus/alertmanager/pull/600

There are more of them, those are just some from the list.
Most rejections were

[2018-02-25 10:59] brian-brazil commented on #1259
Dupe of #701

The webhook has existed for a long time, and is the standard way to integrations. It is not Go specific, and does not require us to manage plugins, nor result in us having to debug end-user code.

[2018-02-25 10:59] #1259 closed

[2018-02-25 11:22] roidelapluie commented on #1259
Is there a plan to move existing integrations to standalone daemons?

[2018-02-25 11:23] onorua commented on #1259
Not sure you can tell that plugin request is duplication of jsonnet templating support inside core, except several comments in that ticket.

About plugins (from Hashicorp), all you need is gRPC support, you can register plugins and deregister, as it happens with Vault, or load them dynamically based on configuration as it happens with terraform.

[2018-02-25 11:38] brian-brazil commented on #1259
gRPC support is not as common as HTTP+JSON which we already have.

[2018-02-25 11:39] onorua commented on #1259
Difference between Web hook and gRPC based plugin is bi-directional communication (asynchronous callbacks). Many of users have bosses, which wants to use Prometheus and CNCF best practices, but don't want to create Web hook gateway themselves, as you need to have HA for that.
With plugin system done right, anyone can have HA notification agent (the sole purpose of alert-manager) without building 3

[2018-02-25 11:44] brian-brazil commented on #1259
That's not how any of this works. The webhook receiver could be local, and if the notification fails on one Alertmanagers the others will send it through theirs.

Plugins do not in any way address solve your claimed problems, as you'd have the exact same architecture and work to do with a webhook receiver.

[2018-02-25 12:03] onorua commented on #1259
OK, lets imagine HTTP+JSON will solve all the problems you may have ever face. Lets put yourself in the ordinary user's shoes. Where should I look for if I want integration with HTTP+JSON Web hook for alert manager?

I know where to look for if I want integration for terraform:
https://github.com/terraform-providers

But with current approach, I want to have Telegram integration, and look for tele

[2018-02-25 12:12] brian-brazil commented on #1259
The technology choice doesn't affect how you find integrations nor how they are curated. We list them at https://prometheus.io/docs/operating/integrations/#alertmanager-webhook-receiver for example.

[2018-02-26 19:46] nelsonfassis commented on #528
I have a similar issue I believe.
If I use "--web.external-url" with an actual external url on my deployment, the external URL works for accessing, but Prometheus fails to communicate with alertmanager (alertmanager-0.alertmanager and alertmanager-1.alertmanager).

If I remove the "--web.external-url", Prometheus works properly, but the link on slack alert will point to either alertmanager-0.alert

[2018-02-26 22:16] nelsonfassis opened #1260 "Alertmanager HA external URL"
**What did you do?**
This is my Alertmanager Statefulset so far.

[code]

Alertmanager service:
[code]

Prometheus configuration:
[code]

**What did you expect to see?**
I expected Prometheus (as many instances as needed) to fire alerts to Alertmanager that would dedup those alerts and fire alerts to my slack.
**What did you see instead? Under which circumstances?**
If I have --web.external-url se

[2018-02-26 23:29] #1249 closed

[2018-02-27 03:56] jamtur01 opened #1261 "memberlist DNS resolution error"
I am running `master` to play with the new memberlist clustering in Kubernetes. I have an odd DNS resolution error... It doesn't appear to interfere with functionality but wanted to log it in case anyone else sees it and is confused too.

So this is my service and statefulset:

[code]

This is the debug output from one of the alertmanagers:

[code]

HOWEVER - the cluster is working:

<img width="6

[2018-02-27 08:38] simonpasquier commented on #1261
It seems that this AlertManager instance tries to resolve the names while they are not yet registered in the k8s DNS server. I suspect that the cluster state is ok because another instance of the cluster has managed to connect to this instance and has broadcast the peer information.

@fabxc would it make sense to add more retries for the DNS resolution?

[2018-02-27 09:23] stuartnelson3 commented on #528
Is your prometheus communicating within the kubernetes cluster with the alert manager?

[2018-02-27 09:29] #1227 closed

[2018-02-27 17:21] nelsonfassis commented on #528
Yes @stuartnelson3 , I have a prometheus Deployment and an Alertmanager statefulset. The communication on network level is fine, I can ping services, name resolution works. The problem is if I set the '--web.external-url=http://myaddress.com:31080/alertmanager' parameter, being myaddress.com my cluster address, 31080 my ingress controller service port and /alertmanager my ingress path. If I set th

[2018-02-27 17:50] brian-brazil commented on #528
You want the `path_prefix` option.

[2018-02-27 17:59] nelsonfassis commented on #528
@brian-brazil I used path_prefix like this on my Prometheus configmap and it didn't work (nothing happened actually). I even deleted the deployment and redeployed thinking that maybe the curl -XPOST myaddress.com:31080/prometheus/-/reload wasn't working properly (and it would be a different problem), but no... still doesn't work. My prometheus target keep being myaddress.com:31080/api/v1/alerts.

[2018-02-27 19:03] brian-brazil commented on #528
The path prefix goes with the existing definition, not as a new alertmanager.

[2018-02-27 19:41] nelsonfassis commented on #528
@brian-brazil Sorry, but I don't know where do you mean. Tried "randomly" putting this "path_prefix: alertmanager" on my documents and they didn't work. Also I can't find documentation or samples of path_prefix anywhere. Could you please be a bit more specific?

[2018-02-27 19:55] muniyalr commented on #528
Should the path_prefix be prefixed with a /

`- path_prefix: "/alertmanager"`

[2018-02-27 20:07] nelsonfassis commented on #528
@muniyalr made no difference. with or without "/", the configuration is shown the same on my mydomain:31080/prometheus/config

global:
  scrape_interval: 15s
  scrape_timeout: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: news360-monitor
alerting:
  alertmanagers:
  - scheme: http
    path_prefix: /alertmanager
    timeout: 10s
  - static_configs:
    - targets:
      - mydomain:3

[2018-02-27 20:07] kamalmarhubi commented on #226
@fabxc ping on the above question: how do you see this interact with precomputed silences? I would like to work on this, but would like to avoid doing something that has to be thrown away in the near future.

[2018-02-27 20:23] cstyan commented on #1200
the GSoC page still lists this as a project: https://github.com/cncf/soc#replace-weaveworksmesh

[2018-02-27 21:08] nelsonfassis commented on #528
@muniyalr @brian-brazil It seems to me that most adequate way would be to have Alertmanager accessible by its host address (alertmanager-0.alertmanager) AND from its external-url.

After all, if it is external-url, it should only matter to whoever is accessing it from a different network (like users). And other services on the same network (as Prometheus) trying to access Alertmanager on :9093 sho

[2018-02-27 21:51] brian-brazil commented on #528
As discussed above, that doesn't make sense. Syntax questions are best handled on the mailing list.

[2018-02-27 22:03] nelsonfassis commented on #528
@brian-brazil How does it not make sense? Questions about the same thing on mailing list are open without answers since November last year. Clearly it is not just me having this issue and documentation about the path_prefix  you mentioned is nearly inexistent.

[2018-02-27 23:06] nelsonfassis commented on #1260
Execing into my pod and doing a wget http://alertmanager-1.alertmanager:9093/alertmanager/api/v1/alerts works, using path_prefix on my prometheus configmap didn't help at all:
`
[code]

`

[2018-02-28 00:29] nelsonfassis commented on #528
@muniyalr Fixed my problem as you suggested with "/", but at the end.
`
[code]
`

Now it works

[2018-02-28 10:30] brancz commented on #1200
Thanks for noticing @cstyan! I opened a PR to remove it.

[2018-02-28 17:19] roidelapluie opened #1265 "typo in 0.15.0rc tag description on GitHub"
There is a typo: s/not/now/.

[2018-03-02 05:55] starsdeep commented on #1201
Hey! I am a graduate student who want to apply GSoC this summer. I previously have some Go experience and I am seeking a Go performance optimization related project.

The problem here is the [dispatcher](https://github.com/prometheus/alertmanager/tree/master/dispatch) can not send out alert messages to all kinds of client efficiently, or data can not write into dispatcher efficiently?

[2018-03-02 06:34] brian-brazil commented on #1201
It's everything before the dispatcher that needs optimisation.

[2018-03-02 07:56] vivekbny opened #1268 "Selecting Silence from Alerts doesnt prepopulate the "Matchers Alerts affected by this silence""
**What did you do?** Trying to create a Silence from Alerts tab in Alert manager

**What did you expect to see?** "Matchers Alerts affected by this silence" values should be prepopulated in new Silence

**What did you see instead? Under which circumstances?** This works sporadically, for few alerts the values get prepopulated and for few alerts it doesn't show any value.

**Environment** Dev

* Al

[2018-03-02 08:03] vivekbny opened #1269 "Creation of silence in one Alertmanager takes time to reflect the changes in other 2 Alertmanagers"
**What did you do?** Created/Expired a silence in alertmanager1 and tried to view the silence in other Alert managers

**What did you expect to see?** All 3 Alertmanagers should be clustered and in Sync

**What did you see instead? Under which circumstances?** Creation of silence in one Alertmanager takes time to reflect the changes in other Alertmanagers, approximately 3 minutes to view the chang

[2018-03-02 08:08] brian-brazil commented on #1269
To be clear, does the silence not show up or the effect of the silence?

[2018-03-02 09:29] vivekbny commented on #1269
I created a silence in Alertmanager1
Trying to view the silence in Alertmanager 2 and 3
Silence is not seen in Alertmanager 2 & 3
Silence Shows up after approximately 3 minutes in Alertmanager 2&3

Same things happens with the Expiring silence scenario

[2018-03-02 09:59] #1268 closed

[2018-03-02 10:01] stuartnelson3 commented on #1269
This is expected due to the gossip protocol and the nature of eventual consistency. Hopefully time to convergence drops with the migration to the new gossip library (currently available in v0.15.0.rc0)

[2018-03-02 10:01] #1269 closed

[2018-03-02 10:02] stuartnelson3 commented on #1252
fixed by https://github.com/prometheus/alertmanager/pull/1270

[2018-03-02 10:02] #1252 closed

[2018-03-02 10:11] stuartnelson3 commented on #1201
What sort of request rate are you expecting for these 1 million alerts? In what little testing I've done, AM had no issue maintaining several thousands of active alerts (< 50,000), but had issues processing incoming alert batches when the rate hit ~30 requests/sec (the issue could occur at a lower rate, this was just the rate I noticed at which AM locked up).

[2018-03-02 10:16] brian-brazil commented on #1201
With a 10s eval interval it'd be 100k alerts/s which with a batch size of 64 would be ~1.5k requests/s. https://github.com/prometheus/prometheus/issues/2585 can bring that down to ~250/s.

[2018-03-02 12:23] pangorgo opened #1271 "hostname not supported in --cluster-advertise-address"
**What did you do?**

start alert manager with `--cluster.listen-address=0.0.0.0:6783 --cluster.advertise-address=alertmanager.example.com:6783`

**What did you expect to see?**

alertmanager starting normally

**What did you see instead? Under which circumstances?**

error in logs, when I put ip addr instead hostname, it works.

**Environment**

* System information:

`Linux 3.16.0-4-amd64 x86_64

[2018-03-02 12:37] RichiH commented on #1023
@brian-brazil How might escaping become an issue in this case?

As we're stumbling in similar issues, I would also be in favor of @beorn7 's second suggestion.

[2018-03-02 12:41] brian-brazil commented on #1023
PromQL matchers use quotes.

Have you considered multiple routes?

[2018-03-02 13:46] simonpasquier commented on #1271
This is because `cluster.advertise-address` expects an IP address string, not a DNS name. That being said, the check could happen be done earlier when parsing the CLI flags.
What would be the motivation for using a name?

[2018-03-02 13:54] pangorgo commented on #1271
Being in dynamic environment when I don't know IP address upfront?
And what is more, alertmanager is running as docker container so it is not easy for it to guess what is host address by doing `sockaddr.GetPrivateIP()`

[2018-03-02 14:09] simonpasquier commented on #1271
I'm not sure why you want to specify `cluster.advertise-address` in this case. If you leave it empty, it doesn't work? I did a quick test with 2 AlertManager containers running in the same Docker network and it worked fine for me.

[2018-03-02 15:00] simonpasquier commented on #1035
@josedonizetti are you still working on this? If not, I can carry on.

[2018-03-02 15:13] pangorgo commented on #1271
Problem is that they don't run on the same docker network but on separate hosts.
I can use IPs, they are just less convenient in my case. It was just natural to me that if i can use hostname in `cluster.peer` I can expect the same for `cluster.advertise-address`.

[2018-03-03 07:57] vedantjain0087 commented on #91
I Think this answer would help you [LINK](https://stackoverflow.com/questions/12889596/failed-to-send-auth-login-command-error-530-5-7-0-must-issue-a-starttls-comman/49082014#49082014)

[2018-03-03 23:20] starsdeep commented on #1201
Hey, I tried to use Go pprof to profiling AlertManager, but this seems can only help us to locate some inefficient function implementation. The whole workflow of AlertManager includes: deduplicating, grouping, inhibition, and routing, if we want to locate which stage is the bottleneck in high concurrency case, seems we need manually write code to track and time functions?

![pprof005](https://user

[2018-03-05 09:06] e9d26 opened #1273 "Fail to send notification by email with STARTTLS with PlainText"
**What I'd like to do**
send notification by email with STARTTLS with PlainText

**What I did**
send notification using openssl command and it makes **success!!** (executed command is below)
but, alertmanager failed to send notification with ***same credential information***.

[code]

* Alertmanager Logs:
[code]

* Alertmanager configuration file:
[code]

Why did alertmanager fail to send notifica

[2018-03-05 09:16] brancz commented on #1201
@starsdeep I had previously built and used [this](https://github.com/brancz/ambench), I remember having taken mutex profiles and seen a lot of lock contention starting at the dispatcher.

[2018-03-05 10:38] stuartnelson3 commented on #1035
@simonpasquier let me know if you start, I have some time off in a month when I was planning on doing this but it would be nice not to duplicate work :)

[2018-03-05 14:00] mrl045 opened #1274 "Alertmanager Configuration global http_config"
**What did you do?**
Tried to implement a global http_config.

**What did you expect to see?**
Nothing

**What did you see instead? Under which circumstances?**
time="2018-03-05T13:46:07Z" level=error msg="Loading configuration file failed: unknown fields in global: tls_config" file="/etc/config/alertmanager.yml" source="main.go:238"

Also tried the following configuration (i am using configMaps f

[2018-03-05 14:42] simonpasquier commented on #1274
This will be supported in the future version (v0.15.0) of AlertManager.

[2018-03-06 08:52] brancz opened #1275 "Update HA docs"
The [Alertmanager HA docs](https://github.com/prometheus/alertmanager#high-availability) are outdated due to the move from mesh to memberlist as flags have changed due to those changes. Beyond that it would probably be good if we add a section in the docs on HA on prometheus.io .

@stuartnelson3 @fabxc

cc @starsdeep

[2018-03-06 10:56] mrl045 commented on #1274
Okay great news. I will wait for the next update.

Thank you for your answer and keep up the good work 👍

[2018-03-06 10:56] #1274 closed

[2018-03-06 13:04] hawran commented on #879
What if I need to set up a peer listening on a not-default port? (I presume 6783 is the default).
For instance, an alertmanager within kubernetes behind a nodePort?

Yes, I can confirm that.
As far as I can guess it from the fact when I create a Silence in one AM, I can see the same Silence in the second AM (in a while).

As for the
`... caller=<autogenerated>:1 component=mesh level=debug msg="->[

[2018-03-06 13:20] roidelapluie commented on #879
We have changed the mesh library in the master branch. That bug report probably does not make sense.

[2018-03-06 14:08] simonpasquier commented on #1271
Ok I understand better now. How about resolving the host's IP address prior starting the container and passing it to the docker CLI (something similar to [this](https://imaginea.gitbooks.io/consul-devops-handbook/content/deploying_consul_in_docker_containers.html))? Is this possible with your deployment model?

[2018-03-06 21:47] starsdeep commented on #1201
I tried to use the ambench code to launch a benchmark, there are some goroutine block events though, there is no mutex contention events:

![jj](https://user-images.githubusercontent.com/7658665/37060281-c65f93ec-215d-11e8-92eb-b077e2cb021d.jpg)

PS: I launch AlertManager instances using "goreman start" with "DEBUG=true" environment variable, and run load test with `/ambench -alertmanagers=http://

[2018-03-07 06:55] brancz commented on #1201
what does the block profile look like? :slightly_smiling_face:

[2018-03-07 18:39] starsdeep commented on #1201
@brancz

![001](https://user-images.githubusercontent.com/7658665/37111086-dacfed04-220c-11e8-873f-fb3794cd1e98.jpg)
![002](https://user-images.githubusercontent.com/7658665/37111088-dae49da8-220c-11e8-98b0-343914a9f2f6.jpg)

[2018-03-08 17:15] brancz commented on #1201
I would look closer at that Dispatcher `90s` that's in the ingest path of alerts being added through the API.

[2018-03-08 20:14] limscoder commented on #1028
@thekad I have a fix in PR #1279

[2018-03-09 16:09] rahmanusta opened #1280 "Log connectivity issue with smtp server."
Alert manager doesn't log error if given smtp settings are incorrect. It can log something about it.

[2018-03-12 03:07] xinxiangmust opened #1281 "email questions"
How to distribute  different error to the people who difine the alert rules?

[2018-03-12 08:59] stuartnelson3 commented on #1281
This is a usage question, and should be sent to the users mailing list: prometheususers@googlegroups.com

[2018-03-12 08:59] #1281 closed

[2018-03-12 11:30] simonpasquier commented on #1280
Can you provide more details about your configuration and what you mean by "smtp settings are incorrect"? Do you mean that nothing is logged when the SMTP server can't be reached?

[2018-03-12 11:32] simonpasquier commented on #1226
It is now available in the master branch and in [v0.15.0-rc.0](https://github.com/prometheus/alertmanager/releases/tag/v0.15.0-rc.0) if you want to test.

[2018-03-12 11:35] #1226 closed

[2018-03-12 12:13] rahmanusta commented on #1280
For my configuration I needed to revert *smtp_require_tls* to false, and it worked but I didn't get any error console log when it is true by default.

global:
  smtp_smarthost: 'smtp_host:port'
  smtp_from: 'from_email_address'
  smtp_require_tls: false

[2018-03-12 19:57] TheyDroppedMe commented on #1240
I am also getting this issue with AM 0.13.0 and Prometheus 2.1.0, with basically exactly the same rule. Is this fixed in one of the new versions? It looks like the PR never got accepted. Alternatively, does the new version of prometheus prevent the empty label from coming in?

[2018-03-13 13:56] #1028 closed

[2018-03-13 14:01] stuartnelson3 commented on #1240
@w0rm do you have any bandwidth to look at this on friday? We need to accept empty matchers in both silences and alerts:

I can add the backend code to remove empty label matchers on ingestions in the same PR.

@TheyDroppedMe I'm hoping to get this into Alertmanager early next week, and I'll port it to v0.14 for a bug release.

[2018-03-13 14:08] w0rm commented on #1240
@stuartnelson3 sure! What exactly should we do on the frontend? I can modify the parser to allow empty strings for matchers. What about the silence form? Should we allow empty matchers there?

[2018-03-13 14:10] stuartnelson3 commented on #1240
Yeah, we need to allow both filtering by an empty matcher, as well as defining an empty matcher in the silence form.

[2018-03-13 14:15] w0rm commented on #1240
@stuartnelson3  as @brian-brazil mentioned, an empty label is not the same as an empty matcher. Empty matcher matches smth that doesn't have a specific label?

This means we cannot create a silence form from an empty label? What should be the behaviour in this case?

[2018-03-13 14:34] stuartnelson3 commented on #1240
Any empty matcher (e.g. `foo=""`) will match a silence that has no label `foo`.

It was my understanding that creating a silence with an empty matcher will only match silences that do NOT have that label. so sticking with `foo=""`, any alert with a label `foo` will not be matched.

@brian-brazil am I understanding this correctly?

Part of this PR will also include removing empty labels from incomi

[2018-03-13 15:08] brian-brazil commented on #1240
@stuartnelson3 Correct.

That was a bug that was fixed in Prometheus 2.2, though it's probably wise to do so anyway.

[2018-03-13 15:59] simonpasquier commented on #1022
I think this can be closed since we have moved from mesh to [memberlist](https://github.com/hashicorp/memberlist) and the latter supports IPv6 (I've tested quickly that it works as expected).

cc @stuartnelson3

[2018-03-13 16:29] vtolstov commented on #1022
@simonpasquier can you provide link to description why this moving happened? (i'm only interests to read)

[2018-03-13 16:33] simonpasquier commented on #991
This issue can be closed thanks to #1209.

cc @stuartnelson3

[2018-03-13 16:53] simonpasquier commented on #473
I think it can be closed thanks to https://github.com/prometheus/alertmanager/pull/892. You can use the `hello` parameter in the email configuration to specify the hostname used by the SMTP client.

[2018-03-13 17:06] simonpasquier commented on #1022
@vtolstov https://github.com/prometheus/alertmanager/issues/1200 has some information. AIUI the mesh library had some limitations (like IPv6) and it was slow/hard to get it fixed. On the other hand, memberlist is widely used and very mature.

[2018-03-14 10:35] simonpasquier opened #1282 "merge broadcast errors with unexpected EOF"
**What did you do?**

Run a pair of AlertManager instances with roughly 100 firing alerts.

**What did you expect to see?**

No error.

**What did you see instead? Under which circumstances?**

Lots of errors in the log.

[code]

**Environment**

* System information:

Linux 4.15.7-300.fc27.x86_64 x86_64

* Alertmanager version:

alertmanager, version 0.15.0-rc.0 (branch: master, revision: d63c25a

[2018-03-14 12:30] artemlive commented on #964
I increased the repeat_interval to 15 minutes and the problem is no longer reproduced.

[2018-03-14 12:58] matejzero commented on #579
I'm not the original owner, but I'm also hitting this problem. I get an alert with the initial value, but that value is not being updated in Alertmanager, although I see different values in Prometheus UI.

My setup is really simple with mostly default settings, since I'm just evaluating Prometheus.
Prometheus: 2.2.0
Alertmanager: 0.14.0

If you need any other information, I would be happy to get t

[2018-03-14 13:07] matejzero opened #1283 "Alertmanager value is not updated for subsequent reports"
**What did you do?**

Setup some exporter, alerts and hoped to see updated values for alarms in Alertmanager.

**What did you expect to see?**

I expected `value` field to be updated on reevaluation.

**What did you see instead? Under which circumstances?**

I'm seeing the same (first) value all the time. It doesn't get updated, although I can see updated values in Prometheus UI.

Similar issue(#5

[2018-03-14 14:05] brian-brazil commented on #1283
There's insufficient information in this report to indicate a problem. Where exactly are you seeing the old value, what are your alerting rules, and what is the receiver config?

[2018-03-14 15:35] simonpasquier commented on #1282
I'm investigating the issue and managed to trigger the panic but I don't understand how to reproduce it yet. It seems to happen when lots of alerts are firing (I'm testing with 2000 alerts).

[2018-03-14 18:34] matejzero commented on #1283
I'm seeing the old value in front page in AlertManager UI under Alerts and also in `unsee` dashboard.

Unfortunately, I don't have any reports sent by alertmanager to my email (will have them tomorrow), so I can't tell if values there are being updated.

My alerting rule:
[code]

Alertmanager config:
[code]

[2018-03-14 18:36] brian-brazil commented on #1283
Can you confirm via tcpdump that the updated annotation is coming fro Prometheus?

[2018-03-14 18:36] matejzero commented on #1283
Upper post was posted with delay, since I forgot to press Send when leaving work.

After some thinking, I think this is a mistake on my end, since the "value" I'm seeing in Alertmanager UI is actually a `label` and not a `value`. Labels are probably not updated on alert reevaluation?

[2018-03-14 18:43] brian-brazil commented on #1283
Labels are the identity of an alert, you don't want to put a value that varies over time in there. You should use an annotation.

[2018-03-14 18:43] #1283 closed

[2018-03-14 18:45] matejzero commented on #1283
Yea, it was a bad idea on my end. Sorry to waste your time:)

[2018-03-15 00:03] starsdeep opened #1285 "Asynchronously send alerts"
@brancz

cc @brian-brazil

We currently send alerts at every eval interval, and we sent alerts synchronously, see https://github.com/prometheus/alertmanager/blob/master/dispatch/dispatch.go#L371-L373, so when the reader read alerts from channel, it will not continue to read next alert until it successfully send the alert to all kinds of clients. And as we all know sending alert message to clients

[2018-03-15 00:07] starsdeep commented on #1285
ref https://github.com/prometheus/alertmanager/issues/1201

[2018-03-15 09:15] jpiper commented on #554
@ddewar2k I can see here

https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md

That there's a `proxy_url` settings under `http_config`

[2018-03-15 10:35] simonpasquier commented on #1282
My investigation discovered 2 problems:
1. gossip and push/pull intervals are swapped meaning that the peers ask for push/pull (eg full state) synchronization every 200ms while individual messages were gossiped every 1m. This is what #1284 fixes.
1. Update messages are not encoded the same way as full-state messages. This explains the `merge broadcast` errors on the receiver side. The result is th

[2018-03-15 11:22] stuartnelson3 commented on #1282
Awesome, ping me when it's been updated

[2018-03-15 15:46] simonswine commented on #1196
Ideally the header fields should be configurable as well. My identity proxy gives me: **`X-Auth-Request-Email`**

[2018-03-15 16:02] brian-brazil commented on #1196
Any authorisation features would have to be implemented by a proxy in front of the alertmanager, as that's a rabbit hole we don't want to go down inside the project itself. I think defaulting the value of this field based on hardcoded header name would be okay.

[2018-03-15 16:09] simonpasquier commented on #1261
In another context but still using StatefulSet, I've investigated a similar configuration (eg deploying AlertManager using statefulet). Here is what happens using the OP example:

* k8s launches the first pod (`alertmanager-0`). When the alertmanager process starts, it can't resolved any of the peer addresses hence the errors in the log.
* once `alertmanager-0` is running and ready, k8s launches `

[2018-03-16 09:09] simonpasquier opened #1288 "The default value of group_by should be [] instead of ["alertname"]"
The documentation says that the default value of `group_by` for a route is:

[code]

But the code says:

https://github.com/prometheus/alertmanager/blob/d63c25a8559f0ea208e2aff78b32923b0b56975f/dispatch/route.go#L28-L37

[2018-03-16 09:40] simonpasquier commented on #929
This issue can be closed since it is supported after replacing mesh by memberlist.
cc @stuartnelson3

https://github.com/prometheus/alertmanager/blob/d63c25a8559f0ea208e2aff78b32923b0b56975f/cluster/cluster.go#L471-L476

[2018-03-16 09:57] #929 closed

[2018-03-16 10:09] simonpasquier commented on #835
@stuartnelson3 I had the same error as you but upgrading `goreman` made it go away.

[2018-03-16 10:30] w0rm commented on #1240
@stuartnelson3 I opened PR that updates the UI part to allow empty matchers

[2018-03-16 12:45] simonpasquier commented on #681
This issue can be closed. cc @stuartnelson3

Here is the output of the /api/v1/alerts endpoint:
[code]

[2018-03-16 13:26] simonpasquier commented on #268
This can be closed. The new UI displays a "Network error" message. cc @stuartnelson3

![image](https://user-images.githubusercontent.com/2587585/37523005-f9088f18-2925-11e8-925a-7afbd6fec0eb.png)

[2018-03-16 13:27] #268 closed

[2018-03-16 13:29] brian-brazil commented on #1285
One thing to watch for is that currently we will be sending at most one notification per group, if this is made asynchronous this exasperate overload on the receiver. I think we should maintain the property that at most one notification attempt is ongoing for a group at once.

[2018-03-16 14:27] simonpasquier commented on #542
Closed by https://github.com/prometheus/alertmanager/pull/934 IIUC

[2018-03-16 14:49] simonpasquier commented on #416
I think this one can be closed. Gossiped nflogs and silence items contain their expiration date/time.

https://github.com/prometheus/alertmanager/blob/8c9e0cf50cba43476c2ee16d52d44f37df064425/nflog/nflogpb/nflog.proto#L44-L52

https://github.com/prometheus/alertmanager/blob/8c9e0cf50cba43476c2ee16d52d44f37df064425/silence/silencepb/silence.proto#L61-L66

[2018-03-16 14:51] simonpasquier commented on #387
That old issue can be closed since AlertManager snapshots the gossiped data now.

[2018-03-16 15:11] #416 closed

[2018-03-16 15:11] #387 closed

[2018-03-16 17:53] sipian commented on #1202
**#GSOC-2018**
I would like to take this issue up. Could someone elaborate a bit more on the problem at hand.

[2018-03-16 19:08] camsjams commented on #1254
Kind of a big change to throw in there without changing the version number accordingly

[2018-03-16 20:49] camsjams commented on #1254
True and fair. Easy fix on my side, and thank you for you hard work.

[2018-03-18 11:46] vtolstov commented on #1022
thanks!

[2018-03-19 07:12] brancz commented on #1202
The problem is that Alertmanager currently holds the alerts ingested simply in a map, and when the frontend or anything using the API wants to filter something, then Alertmanager filters them naively in the HTTP handlers, whereas we should be able to index the alerts more precisely in order to not have to iterate over the entire set of alerts currently in memory.

[2018-03-19 10:03] mxinden commented on #1275
With #1277 merged and the link on Prometheus.io to the updated README this seems fixed to me.

@jamtur01 Thanks for your help!

@brancz Please reopen in case I am missing something.

[2018-03-19 10:03] #1275 closed

[2018-03-19 17:41] stuartnelson3 commented on #1240
@brian-brazil clarifying the behavior of other matchers:

- `foo!=""` is valid, and matches any label `foo`
- `foo=~""` is valid, and matches no label `foo`
- `foo!~""` is valid, and matches any label `foo`

[2018-03-19 19:59] pecigonzalo commented on #204
If you have something like:
[code]
and a rule that says:
[code]
I dont think there is a way to say "if this is in pending all the time, then trigger".

EG: Im trying to detect a docker service task constantly being killed or dying.

[2018-03-20 10:48] stuartnelson3 commented on #1240
confirmed that that's the behavior in prometheus, so will implement as such

[2018-03-21 08:10] regardfs commented on #992
@ojle, noop!!! when I change to another version, everything seems fine...

[2018-03-21 12:30] ojle commented on #992
@regardfs what do you mean "everything seems fine" ??
ie, you get current state once the alert is resolved?

[2018-03-21 13:12] stuartnelson3 commented on #1240
closed by #1289

[2018-03-21 13:12] #1240 closed

[2018-03-21 15:49] kamalmarhubi commented on #226
Another ping here. Any other maintainers, could you route this to the right person?

[2018-03-21 20:38] jolson490 opened #1294 "Enhance http_config.proxy_url to support HA with multiple proxies"
There's a new [http_config configuration option](https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md#http_config) which was introduced in [v0.15.0-rc.0](https://github.com/prometheus/alertmanager/releases/tag/v0.15.0-rc.0).

Would someone please consider somehow enhancing `http_config.proxy_url` to support the use case of running multiple/HA alertmanager pods/inst

[2018-03-21 21:58] brian-brazil commented on #1294
That's not how HTTP proxies are generally used, it's expected that you'd at most have a single local proxy that could handle all requests.

[2018-03-22 08:32] regardfs commented on #992
I had use alertmanager with **master branch with commit cba3e6e** for about 4 month， It seems stable.

[2018-03-22 10:12] Sisphyus opened #1295 "alertmanager can't silenced all matched alerts"
**What did you do?**
prometheus run very well unless when I configure the alertmanager silence rules to test if I really can silenced alert, 9 alerts matched, but only 7 can be silenced(without "cache_traffic" and "nodestat_cnc_http_1") , I can't find what's wrong with my configuration

**What did you expect to see?**
all of the matched alerts can be silenced
**What did you see instead? Under whic

[2018-03-22 10:19] simonpasquier commented on #1295
Alerts are effectively marked as silenced at every `group_interval` (10m in your case). The Silence page is showing you the alerts that are going to be affected but it might not reflect the current internal state. If you wait for 10m after creating the silence, you should see all matching alerts marked as silenced.

It makes more sense to ask questions like this on the [prometheus-users mailing li

[2018-03-22 10:27] #1295 closed

[2018-03-22 12:32] ojle commented on #992
Hey @regardfs , I asked if you get current state once the alert is resolved?

[2018-03-22 12:53] #1282 closed

[2018-03-22 14:19] brian-brazil commented on #992
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-03-23 02:07] regardfs commented on #992
@brian-brazil see it，thanks for ur suggestion

[2018-03-23 12:19] FUSAKLA commented on #1294
Maybe I'm missing something out but you could create external name with the same name in both DC but at every dc it would poit to the DC specific proxy url and alertma ager would get just the name of the external name service?

[2018-03-23 12:41] brian-brazil commented on #1294
Yes, that would be a more normal approach.

[2018-03-23 14:48] stuartnelson3 opened #1297 "Make `amtool` code modular"
The code in the `cli` package is using entirely global variables.

Following the example here: https://github.com/alecthomas/kingpin/blob/master/_examples/modular/main.go

Turn the code in `cli/` into a modular cli application. Each sub command should have its own struct storing the values passed to the command's flags.

This will make it easy to contribute new subcommands, as well as test the dif

[2018-03-23 19:50] zemek opened #1299 "Populate regex checkbox when recreating silence"
In 0.15.0.rc1

When recreating a silence that used regexes, the regex checkbox is always left unchecked.

It would be nice to populate the regex box accordingly when recreating silences.

[2018-03-24 01:46] tomplus opened #1300 "env http_proxy stopped working"
**What did you do?**

Upgrade Alertmanager from version to 0.12.0 to 0.15.0-rc.0.

**What did you expect to see?**

In my previous configuration I exported the environment variable (`http_proxy`) to send alerts. It doesn't work in latest version, there is a new option `global/http_config/proxy_url` which does the same job.

Can you confirm it ? For me it was the breaking change so it's worth to me

[2018-03-24 02:06] tomplus commented on #1294
You can also create 2x statefulset with one replica, pinned to different zones and with zone-aware configuration. This approach will be less elastic than the operator, but should work.

IMO this feature is not related to the AlertManager, it's the prometheus-operator's responsibility.

[2018-03-24 07:29] prologic commented on #683
This is also painful as currently many mail servers reject email from alertmanager because of `MIME_MA_MISSING_TEXT`

[2018-03-24 07:35] brian-brazil commented on #1300
You can now configure proxies from the configuration file. The environment was never part of our API.

[2018-03-24 07:35] #1300 closed

[2018-03-24 07:36] brian-brazil commented on #1294
That wouldn't help.

This is an odd network setup which is out of scope to support. If you need it I'd suggest implementing a proxy which can deal with this.

[2018-03-24 07:36] #1294 closed

[2018-03-24 07:38] brian-brazil commented on #683
We support text now. If users want to use tools to generate their HTML and make it fancies they are free to do so.

[2018-03-24 07:38] #683 closed

[2018-03-24 07:48] prologic commented on #683
Yes :)

For future readers:

[code]

[2018-03-24 07:55] prologic commented on #437
I have a similar shell script:

[code]

In general however it would be nice if we shipped a nice CLI tool to trigger alerts more easily. Other use-case might actually be via shell scripts or other processes.

[2018-03-24 16:27] tomplus commented on #1300
Sure, but a small notice costs nothing but can save somebody's time.

[2018-03-24 17:05] stuartnelson3 commented on #1299
@w0rm did we support this previously?

[2018-03-27 12:09] simonpasquier commented on #1288
Closed by #1287

[2018-03-27 12:09] #1288 closed

[2018-03-28 04:58] chriswiggins commented on #654
Hate to dig up an old issue but this would be really helpful.

If I was to look into adding this, what would be the recommended approach with providing the receiver the different attachments to create? Where does `n.conf.Fields` come from that creates multiple attachmentFields?

[2018-03-28 09:01] brian-brazil commented on #1243
Is this still relevant given 0.15.0 will use a different mesh?

[2018-03-28 09:02] brian-brazil commented on #290
Text parts are support these days.

[2018-03-28 09:02] #290 closed

[2018-03-28 09:06] brian-brazil commented on #597
There is now an ordering based on the labels.

[2018-03-28 09:06] #597 closed

[2018-03-28 09:09] brian-brazil commented on #666
Bar 1-2 users using inhibits for things they shouldn't have been, this seems to have worked out fine and confusion in this area has gone away. I think we can close this.

[2018-03-28 09:36] beorn7 commented on #666
This is still on my list to try out. The asymmetry in the current implementation worries me. If the implementation of my final suggestion above turns out to be clean and straight-forward, I'd suggest to go for it.
I have assigned this to myself and would like to keep it open.

[2018-03-28 10:07] simonpasquier commented on #1243
We're still missing data to understand the original issue. Since it would need to be tested against 0.15 anyhow, it is probably fine to close this issue for now.

[2018-03-28 10:09] #1243 closed

[2018-03-28 16:16] lexfrei opened #1303 "JFYI: Outdated Dockerfile at docker hub"
Hello!
You got outdated dockerfile at docker hub.
https://hub.docker.com/r/prom/alertmanager/~/dockerfile/
JFYI, feel free to close this issue.

[2018-03-28 20:31] tzz commented on #1178
@brian-brazil the request was for the user to be able to request a specific sort order for alerts and I thought #1234 was just the first step. Does closing this request mean it won't be done or that it will be implemented elsewhere?

[2018-03-28 20:34] brian-brazil commented on #1178
Ah, I'd missed that. I'm personally hoping we can avoid having to implement that.

[2018-03-29 08:45] stuartnelson3 opened #1304 "Eventstream endpoint"
Live update endpoint, like a websocket that you can subscribe to that receives updates based on mesh info, incoming alerts, when an alert is silenced. Clients could consume this to e.g. live update the AM UI, or update a Prometheus UI to show an alert is silenced or the last time a notification was sent

[2018-03-29 08:47] stuartnelson3 opened #1305 "Show alert notification information"
Show notification information on an alert. You can see when it last alerted, what receiver/s, and the result as alertmanager saw it, and time to next alert.

This could then be added to an alert page

[2018-03-29 10:33] brian-brazil commented on #507
This is working as designed as far as I can see, missing labels are the same as empty labels.

[2018-03-29 10:33] #507 closed

[2018-03-29 10:35] brian-brazil commented on #1057
This doesn't make sense in terms of how Prometheus alerting is meant to be used, and additionally wouldn't work with AM clustering.

[2018-03-29 10:35] #1057 closed

[2018-03-29 10:36] brian-brazil commented on #965
Sorry about the delay, your SMTP server isn't listening on its port. Check that it's running.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from t

[2018-03-29 10:36] #965 closed

[2018-03-29 10:38] brian-brazil commented on #578
Dupe of #190

[2018-03-29 10:38] #578 closed

[2018-03-29 10:38] brian-brazil commented on #853
This was done.

[2018-03-29 10:38] #853 closed

[2018-03-29 12:09] stuartnelson3 commented on #157
The recommendation is to create a webhook notifer, as we are not currently adding new notifiers.

[2018-03-29 12:09] #157 closed

[2018-03-29 12:09] #98 closed

[2018-03-29 12:19] brian-brazil commented on #586
https://github.com/prometheus/alertmanager/pull/912 added this.

[2018-03-29 12:19] #586 closed

[2018-03-29 14:48] jimangel commented on #511
The command from @kylebevans returns a status and silenceId (sid). It can also be found in the silenced alert URL. This can then be used to [delete a silence](https://github.com/prometheus/alertmanager/blob/master/api/api.go#L149) (**note** v1/silence vs. v1/silence**s**):

`
curl -X DELETE http://alerts.example.org:9093/api/v1/silence/<silenceId>
`

[2018-03-29 15:40] LenzGr commented on #98
Why was this feature request closed without any comment?

[2018-03-29 21:53] dashvvv opened #1306 "Notification lag between Firing and Resolved."
**What did you do?**
Manually fired an alert using the following script.

[code]

**What did you expect to see?**
After hitting `enter` the alert should be resolved.

**What did you see instead? Under which circumstances?**
Running the script, the alert `fires` almost immediately. I see this event in amtool and in a slack integration.

Instead, after resolving the alert there is a 5min lag (always

[2018-03-30 08:02] simonpasquier commented on #98
@LenzGr AlertManager doesn't accept new receivers for the time being (see the [doc](https://prometheus.io/docs/alerting/configuration/#%3Creceiver%3E)) hence this issue being closed.

[2018-03-30 08:05] simonpasquier commented on #1306
The second `curl` command doesn't send a resolved alert, see https://prometheus.io/docs/alerting/clients/ for a description of the protocol.

Also it makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your

[2018-03-30 13:55] discordianfish opened #1307 "Regression: Resolving unqualified DNS names fails"
**What did you do?**
Running AM in prometheus as stateful set with a headless service, giving each AM a name like `alertmanager-0.alertmanager.default.svc.cluster.local`.
The pod gets, among others, `default.svc.cluster.local` configured as search domain in /etc/resolve.conf:

[code]
This allows for the `alertmanager-0.alertmanager` name to be resolved unqualified like this:

[code]

The alertmana

[2018-03-31 14:37] mpsmith commented on #876
I would like to be able to have time of day, or day of week influence which receiver an alert is sent to.  i.e. - during daytime/business hours, alerts might go to a slack channel, vs during night/weekends, same alerts might go to pagerduty, or on e-mail for the current on-call person.

From the Alertmanager perspective, it could be nice to use existing label matching to control routing to differe

[2018-04-02 18:05] repl-mike-roest opened #1308 "OpsGenie V1 API EOL"
OpsGenie has announce a EOL of the V1 API that alertmanager currently uses to send alerts:

They have published as migration guide:
https://docs.opsgenie.com/docs/migration-guide-for-alert-rest-api

We're currently using the OpsGenie integrations to feed alerts to escalation paths in OpsGenie, these could be migrated to alternative injest methods but having the direct integration updated to suppor

[2018-04-02 18:06] #1308 closed

[2018-04-02 18:10] repl-mike-roest commented on #1308
Looks like it's just the documentation that's out of date. https://github.com/prometheus/alertmanager/pull/1061 seems to have added this to the code but documentation https://prometheus.io/docs/alerting/configuration/#<opsgenie_config> still points to the old API.  So I just assumed it was using the deprecated API

[2018-04-03 10:11] stuartnelson3 commented on #1307
Memberlist is doing the resolving, and from looking at the code it uses go's stdlib `net.LookupIP` for this.

https://github.com/hashicorp/memberlist/blob/9f5b38f1dc837733754bf57f4ea62726a509c0fc/memberlist.go#L344

Are you able to resolve the address using this go code running in its own script in your container?

[2018-04-03 10:12] #1306 closed

[2018-04-03 10:43] princerachit commented on #1274
Has this feature added in v0.15.0-rc.1? @simonpasquier
I am getting the error ```Invalid Alertmanager config: unknown fields in webhook config: http_config```

[2018-04-03 12:15] simonpasquier commented on #1274
@princerachit yes the feature is present, I've just verified from the release tarball.

[2018-04-03 12:53] princerachit commented on #1274
Any idea why this is happening?

[code]

Error `Invalid Alertmanager config: unknown fields in webhook config: http_config`

[2018-04-05 12:26] stuartnelson3 commented on #108
Closed by https://github.com/prometheus/alertmanager/commit/bff889b4

[2018-04-05 12:26] #108 closed

[2018-04-05 12:27] stuartnelson3 commented on #1305
Related to https://github.com/prometheus/alertmanager/issues/172

[2018-04-05 12:30] stuartnelson3 commented on #190
Silence previews were added as part of the frontend rewrite

[2018-04-05 12:36] stuartnelson3 commented on #200
Config errors are reported by the deferred func within `reload`, after which `os.Exit()` is called.

https://github.com/prometheus/alertmanager/blob/b95b328/cmd/alertmanager/main.go#L300-L309

[2018-04-05 12:36] #200 closed

[2018-04-05 12:41] stuartnelson3 commented on #236
We're not currently adding any notifiers, it's recommended to use the webhook integration for this.

[2018-04-05 12:41] #236 closed

[2018-04-05 12:45] stuartnelson3 commented on #270
Truncation was added in 877d2780

[2018-04-05 12:45] #270 closed

[2018-04-05 12:53] stuartnelson3 commented on #360
With `--log.level=debug`, the logged message currently shows:

[code]

added in 23f31d7d

[2018-04-05 12:53] #360 closed

[2018-04-05 12:55] stuartnelson3 commented on #382
fixed by #459

[2018-04-05 12:55] #382 closed

[2018-04-05 13:00] stuartnelson3 commented on #409
It appears to me that any silence field can be altered, whether the silence is currently active or not.

[2018-04-05 13:00] #409 closed

[2018-04-05 13:01] stuartnelson3 commented on #410
This is no longer relevant, as we have a different frontend now.

[2018-04-05 13:01] #410 closed

[2018-04-05 13:03] stuartnelson3 commented on #411
current master has the latest client golang https://github.com/prometheus/alertmanager/blob/f53b247/vendor/vendor.json#L272-L289

[2018-04-05 13:03] #411 closed

[2018-04-05 13:05] stuartnelson3 commented on #427
closed by #1193

[2018-04-05 13:05] #427 closed

[2018-04-05 13:07] stuartnelson3 commented on #437
This should be relatively simple to add to `client/alert.go` using the functionality provided in `cli/client.go`.

[2018-04-05 13:19] gmauleon opened #1312 "Silences are not propagated in a ha/mesh configuration (v0.15.0-rc1)"
**What did you do?**
Create a 2 replicas alertmanager setup.
Create a silence in alertmanager from the exposed UI  (silenced the default "DeadManSwitch")

**What did you expect to see?**
All alertmanagers in the mesh should have the silence set

**What did you see instead? Under which circumstances?**
Only one of the 2 replicas seems to have the silent set

**Environment**
prometheus-operator: v0.

[2018-04-05 13:36] beorn7 commented on #462
For me, this would be "nice to have" at best. Let's only think about it once we have got the much more pressing issues under control.

[2018-04-05 13:38] beorn7 commented on #190
Note that there is still the related #979 .

[2018-04-05 13:47] stuartnelson3 commented on #484
I'm not sure it makes sense to do this. My main reasoning is that while you can start the default prometheus config file and it will scrape itself, there's no smart default that will allow an alertmanager to send alerts anywhere useful.

I opened a PR, as it does give the users a working AM which will send webhooks to local port.

[2018-04-05 13:51] stuartnelson3 commented on #524
I'm hoping to provide an event stream endpoint, where individuals can subscribe and receive events as seen by AM:
- silence creation/update
- alert received
- alert resolved
- alert silenced/inhibited/uninhibited
- notification sent

the front end could consume from this, but relying on this could lead to the UI showing out-of-sync data should the connection be dropped and then re-established.

[2018-04-05 13:54] stuartnelson3 commented on #536
I think this is an issue that should be handled outside of alertmanager, with the host's dns setup.

[2018-04-05 13:54] #536 closed

[2018-04-05 13:55] stuartnelson3 commented on #542
closed by #934

[2018-04-05 13:55] #542 closed

[2018-04-05 14:25] #484 closed

[2018-04-05 14:29] stuartnelson3 commented on #1312
Can you provide any log information? Have you checked the status page in the web ui to confirm that the mesh has been formed?

[2018-04-05 14:31] brian-brazil commented on #870
Prometheus presumes that you have configuration management, it's out of scope for us to duplicate that functionality.

[2018-04-05 14:31] #870 closed

[2018-04-05 14:32] stuartnelson3 commented on #190
noted

[2018-04-05 14:32] #384 closed

[2018-04-05 14:39] gmauleon commented on #1312
I sure can, here is from one of the alertmanager pod:
[code]

Here is the view from alertmanager:
![image](https://user-images.githubusercontent.com/9993711/38372442-d8860dc8-38bc-11e8-9bd7-36a1b481654d.png)

And here is the result from the api for each pod after creating a silence:
[code]

[2018-04-05 14:56] stuartnelson3 commented on #1312
[code]

What are you setting as your `--cluster.listen-address`? Is it set to the port `:6783`? That would seem to be a possible error that the current code isn't accounting for.

There's also a lookup error, so it could be related to https://github.com/prometheus/alertmanager/issues/1307

[2018-04-05 18:01] gmauleon commented on #1312
Humm, might be related indeed, I don't have that error with 0.14.0.
Althought I mentionned it in my environment section, to be extra clear I'm using the prometheus-operator so maybe 0.15 as some modifications that are not yet supported in the operator?

Looking at the generated args from the prometheus-operator, they are indeed different:

v0.14.0
[code]
v0.15.0-rc.1
[code]

[2018-04-06 09:25] stuartnelson3 commented on #1312
@brancz @fabxc have you all encountered anything like this using prometheus operator? Maybe one of you has a chance to take a look, i don't have access to a k8s cluster using this.

@gmauleon based on the status page, it does look like it's connected to a peer ... can you specify `0.0.0.0:6783` as the `cluster.listen-address`? I'm really not sure what that would do, but it would eliminate one erro

[2018-04-06 09:26] stuartnelson3 commented on #1307
There's a probably related issue in #1312. Does your status page show any peers?

[2018-04-06 09:31] stuartnelson3 commented on #1307
Looking a bit further into the code, it is resolving the addresses but apparently unable to join them ..

[2018-04-06 09:54] #190 closed

[2018-04-06 13:41] jolson490 commented on #1312
I ran into this same issue last night when running [v0.18.0](https://github.com/coreos/prometheus-operator/releases/tag/v0.18.0) of prometheus-operator/kube-prometheus (on a K8s cluster in AWS) - with my own modified copy of [manifests/alertmanager.yaml](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/manifests/alertmanager/alertmanager.yaml) to change the version

[2018-04-06 22:10] gmauleon commented on #1312
Sorry guys couldn't find the time to test further today (stuart suggestion) . Will look into it worst case by Monday evening.

And in my case I was indeed testing with rc1

[2018-04-07 01:33] tzz commented on #1305
A very useful view per alert would be "what do I call from `amtool` to create a replica of this alert?"

[2018-04-07 01:38] tzz commented on #603
#1178 is related to the second question

[2018-04-07 01:40] tzz commented on #1178
Another approach would be to sort by a special `sort_key` annotation first, then by `job` and `instance`. It wouldn't be hard to support that as an extension of #1234. It would solve all my needs at least.

[2018-04-08 11:13] discordianfish commented on #1307
@stuartnelson3 it's not showing any peers when using the unqualified name. I'll test with a go binary using net.LookupIP once I get back at this.

[2018-04-08 19:26] gmauleon commented on #1312
Thanks!

[2018-04-09 06:47] alex-lx commented on #657
Any progress now? It would be very helpful for someone who is not good at recognizing hand-writing like me.

[2018-04-09 07:32] #1312 closed

[2018-04-09 07:35] brancz commented on #1312
@mxinden all for this, let's make it happen.

[2018-04-09 16:40] iDemonix commented on #511
+1

[2018-04-11 10:43] timbunce opened #1320 "Change hipchat_configs.notify from boolean to string type"
**What did you do?**
[code]
**What did you expect to see?**

Alertmanager working and template control over hipchat notify setting

**What did you see instead? Under which circumstances?**
[code]

The [hipchat api](https://developer.atlassian.com/server/hipchat/messages/) defines the notify field as either a string _or_ boolean ("`str | bool`").

Changing hipchat_configs.notify from boolean to str

[2018-04-11 10:50] brian-brazil commented on #1320
May I ask why you want to control this? This sort of thing is typically handled by routing, not templating.

[2018-04-11 11:01] timbunce commented on #1320
To avoid having near-duplicate receiver definitions and adding complexity to the routing.
(Where env=prod the routing also fires a pagerduty notification but that might take a while to get routed to the relevant team.)

[2018-04-11 11:24] brian-brazil commented on #1320
It sounds like you already have that complexity, as it's fundamental.

[2018-04-11 13:08] discordianfish commented on #1307
Just built a simple binary running LookupIP and this seems to work just fine:

[code]

[2018-04-11 14:13] stuartnelson3 commented on #1307
Thanks for looking at this.

From the original log line you provided, there are two errors: One is a failure to resolve, and another is a failure to join.

Both of those bits of code are in the same loop here: https://github.com/hashicorp/memberlist/blob/9f5b38f1dc837733754bf57f4ea62726a509c0fc/memberlist.go#L214-L234

The initial lookup seems to be happening on a forwarder local to that kubelet

[2018-04-11 17:31] discordianfish commented on #1307
So don't think it's related to listen address or something since using the fully qualified name it works.

But yeah I focused on the DNS error but you're right, it's confusing that it tries to join some other IP..? Not sure how what happened.. When I'm trying to reproduce it by deleting my pods and recreating them I don't see this, just the DNS error:
[code]

I'm as much confused as you as why thi

[2018-04-11 17:33] discordianfish commented on #1307
WTH.. I just read the memberlist code and it implements it's own resolver and only uses the stdlib when this fails: https://github.com/hashicorp/memberlist/blob/9f5b38f1dc837733754bf57f4ea62726a509c0fc/memberlist.go#L247

I'll gonna fill an upstream issue.

[2018-04-12 01:38] poblahblahblah commented on #560
If I am understanding the request and response correctly, the requester is wanting to know if AM stores an alert history that they can query later on. We need something similar to this for SOX compliance. Are you suggesting that the path of least resistance is for us to just write an HTTP endpoint that will have all alerts sent to it so we can just query it whenever we need to?

[2018-04-12 05:24] wrouesnel opened #1322 "Securing the gossip protocol?"
Is there anyway at the moment to add TLS authentication to the gossip protocol (or is it secure as-is?)

I need to comply with a policy that all traffic is encrypted by default within our infrastructure, so ideally there'd be support for specifying TLS server and client certificates on the command line to secure connections. Is this in the roadmap somewhere?

[2018-04-12 06:39] brian-brazil commented on #1322
It might happen sometime in the future, but I wouldn't hold your breath.

[2018-04-12 08:17] stuartnelson3 commented on #560
There is currently no stored alert history that can be later queried.

Yeah, that would be the fastest way to get a log of sent alerts.

[2018-04-12 08:37] iksaif commented on #560
We use https://github.com/cloudflare/alertmanager2es

[2018-04-12 09:13] timbunce commented on #1320
I'm not following the reasoning that, because we have some amount of complexity already, adding more is okay.

We have many teams so many hipchat channels so many hipchat_configs.

To "handle it by routing" would mean _doubling_ the number of hipchat_configs, duplicating the config of each, just to have one with `notify: false` and a duplicate with `notify: true`, and then effectively duplicating

[2018-04-12 09:27] brian-brazil commented on #1320
You already have to have these routes and receivers in order to send these subset alerts to Pagerduty.

Receiver templating is intended for changing what the message looks like, not how it is delivered.

[2018-04-12 09:44] timbunce commented on #1320
Teams want an alert to their hipchat channel to trigger a notify for different conditions (typically wider/looser) than those that would cause an alert to go to Pagerduty.

[2018-04-12 09:47] brian-brazil commented on #1320
You really want a route for that, I don't think there's enough justification for a breaking change here.

I'd also note that distracting an entire team with a notification is not a great idea, if it's important that the team looks at it it should go to the designated oncall/onduty person.

[2018-04-12 09:58] timbunce commented on #1320
In what way would this be a breaking change?

[2018-04-12 10:01] brian-brazil commented on #1320
You're changing the type of a field.

[2018-04-12 10:04] timbunce commented on #1320
Current possible values of this boolean field are
[code]
Changing the field type to string, and passing either of those values to hipchat, will not change any behaviour.

[2018-04-12 10:10] brian-brazil commented on #1320
There are far more valid values than that for a bool in YAML.

[2018-04-12 10:13] timbunce commented on #1320
That's true, but my point still stands. All the valid values for true and false for a boolean field in YAML are also valid as unquoted strings. Changing the type from boolean to string to enable templating will not change the behaviour of existing configurations. I'm sure this is not a breaking change otherwise I wouldn't have proposed it.

[2018-04-12 10:17] brian-brazil commented on #1320
You've making an assumption there which the docs do not support. Just because it would be a valid configuration doesn't meant that hipchat would understand it.

[2018-04-12 11:14] timbunce commented on #1320
I've just tested the hipchat API and can confirm that it accepts both string and boolean types for the notify field [per the docs](https://developer.atlassian.com/server/hipchat/messages/) and that the strings `true` and `yes` (with any capitalization) enable notifications.

It doesn't accept `y` or the word `on` which are other [common values for a boolean](http://yaml.org/type/bool.html) accepte

[2018-04-12 11:18] brian-brazil commented on #1320
I don't think it'd be worth the complication for a use case which I'm still not clear on.

[2018-04-12 11:24] vivekbny opened #1323 "Alert manager Clustering is not working with v0.15.0-rc.1"
**What did you do?**
Deployed 3 instances of Alertmanager v0.15.0-rc.1

**What did you expect to see?**
All three Alertmanagers should be Clustered and displayed in Status page of AM

**What did you see instead? Under which circumstances?**
Clustering did not work as expected

**Environment**
QA

* Alertmanager version:

	`alertmanager -version v0.15.0-rc.1`

* Prometheus version:

	2.0

* Alertma

[2018-04-12 12:05] simonpasquier commented on #1323
Can you share the AlertManager's logs from all instances please?
Also with which orchestration system do you deploy AlertManager? I suspect it is Marathon but please confirm.

[2018-04-12 12:52] beorn7 commented on #868
Another aspect to consider: An alert group (IIUC) stays around even if the last alert in it has ceased firing (so that it can accept new alerts if they show up within the `group_interval` (?)). Since those "empty" groups have an impact on notification behavior, it would be good to make them visible in the UI. I believe the "configured grouping" view asked for in this issue could also include that.

[2018-04-12 13:28] beorn7 commented on #868
That's not how it works precisely. But let's discuss this in detail if somebody is concretely working on this.

[2018-04-13 08:38] csghuser commented on #1261
@jamtur01 @simonpasquier Thanks for this, works fine for me it seems.

Only issue is that prometheus seems to want to scrape on port 8001 as well as 9093 when looking at targets in Prometheus. Is there a way to avoid this?

[2018-04-13 09:10] mxinden commented on #657
@alex-lx @zgfh Would you mind doing a first draft of whatever you can read. I will do the rest then.

@metalmatze Great idea!

[2018-04-13 09:29] mxinden commented on #1323
@vivekbny I am not very familiar with _Mesos/Marathon_, sorry in advance for any stupid statements.

`--cluster.listen-address` needs to be routable by the other Alertmanager peers. Just setting it to the port (`:8001`) only works, if all peers listen on the same loopback device. We fixed the same issue in the [Prometheus operator](https://github.com/coreos/prometheus-operator/pull/1193) for Kuber

[2018-04-13 09:40] simonpasquier commented on #1261
@csghuser can you ask the question on the prometheus mailing list so that the discussion can benefit to everyone else? Also please provide the details on your Prometheus configuration.

[2018-04-13 10:33] csghuser commented on #1261
I managed to fix it by adding the port:

[code]

[2018-04-13 10:59] vivekbny commented on #1323
Log:
level=warn ts=2018-04-13T10:57:33.269880787Z caller=cluster.go:150 component=cluster NumMembers=1 msg="I appear to be alone in the cluster"

Alert manager Arguments
Alert manager 1
    args:
      - "--storage.path"
      - "/alertmanager"
      - "--config.file"
      - "/etc/alertmanager/config.yml"
      - "--cluster.listen-address"
      - ":8001"
      - "--cluster.gossip-interval"

[2018-04-13 11:34] stuartnelson3 commented on #1297
closed by #1321

[2018-04-13 11:34] #1297 closed

[2018-04-13 15:40] timbunce commented on #1320
Here's an example of a config with team based routing without being able to template the notify setting:
[code]
In practice each team would have a more complex routing tree.

Here's the same config using the ability to template the notify setting:
[code]

[2018-04-13 15:52] brian-brazil commented on #1320
That config does not match the scenario you described, there are no pagerduty configs.

[2018-04-13 21:40] tzz commented on #1300
@brian-brazil related: does the `HTTPS_PROXY` have an analogue in the configuration file? As of now, setting `global/http_config/proxy_url` doesn't seem to set it correctly, for OpsGenie at least:

[code]

I can open a new issue if this is unexpected or broken behavior. Currently it makes OpsGenie unusable through a proxy for us.

[2018-04-15 07:30] hoffie commented on #1322
I am also interested in this. Would it have to be TLS? It seems like the newly introduced `memberlist` implementation also supports AES-GCM encryption using the [SecretKey](https://godoc.org/github.com/hashicorp/memberlist#Config) Config option. This could be added somewhere in the memberlist initialization code in [cluster.go](https://github.com/prometheus/alertmanager/blob/master/cluster/cluster

[2018-04-15 07:42] brian-brazil commented on #1322
I'd prefer not to get into ad-hoc security mechanisms that some of our dependencies happen to support, that could bring with it the same maintenance challenges we're currently trying to avoid with auth elsewhere.

[2018-04-16 05:07] jiananjiang opened #1325 "Combine with k8s use alertmanager alarm but not receive mail"
I used the v0.7.1 version of alertmanager，and yaml file is as follows :

kind: ConfigMap
apiVersion: v1
metadata:
  name: alertmanager
  namespace: monitoring
data:
  config.yml: |-
    global:
      resolve_timeout: 5m
      smtp_smarthost: 'smtp.163.com:25'
      smtp_from: '15966631019@163.com'
      smtp_auth_username: '15966631019@163.com'
      smtp_auth_password: '×××'
    templates:
    -

[2018-04-16 08:55] mxinden commented on #1325
@jiananjiang are you able to resolve `163.com` inside the container?

What is the reason for using `v0.7.1` instead of `v0.14.0`?

[2018-04-16 12:51] timbunce commented on #1320
I was focusing on the routing required for hipchat with and without this feature.
With pagerduty included the routing for each team would look something like this:
[code]

[2018-04-16 12:58] brian-brazil commented on #1320
continue: true is a bit error prone, a combined receiver is better overall.

[2018-04-16 13:28] tzz opened #1326 "alertmanager can't reach OpsGenie through a HTTP/S proxy"
**What did you do?**

Set up alertmanager to send alerts to OpsGenie through a HTTP/S proxy using `global/http_config/proxy_url`.

Also tried setting `insecure_skip_verity: true` (note misspelling is also in the online docs at https://prometheus.io/docs/alerting/configuration/#<http_config> ) and `insecure_skip_verify: true`, see configuration section. That setting is rejected in both cases but it

[2018-04-16 13:29] tzz commented on #1326
I first brought this up in https://github.com/prometheus/alertmanager/issues/1300#issuecomment-381267461 but am creating a new issue since it seems like a separate problem.

[2018-04-16 14:35] simonpasquier opened #1328 "amtool doesn't depend on a stable version of kingpin"
`amtool` depends on a version of the kingpin package (commit [75c6058](https://github.com/alecthomas/kingpin/commit/75c60582c55399763d53eeb59078d63d3616f58c) to be precise) that isn't the [current stable](https://gopkg.in/alecthomas/kingpin.v2) version (v2).

It has at least 2 drawbacks:
* Package maintainers' life gets harder.
* There's no guarantee on the API stability outside of v1/v2 so updati

[2018-04-16 14:37] TheTincho commented on #1328
One more thing: this has broken the `--help-man` functionality to generate man pages automatically. This contradicts `cmd/amtool/README.md`

[2018-04-17 10:14] stuartnelson3 commented on #1326
What error are you seeing when connecting via HTTP to the proxy?

[2018-04-17 12:33] wrouesnel commented on #1322
The trouble is that dependency does make securing it non-trivial since it likes to mix up UDP and TCP, so most of the usual tricks like putting stunnel in front of it don't work. It's kind of glaring because Prometheus everywhere else can be secured with TLS, but this can't.

Would you be open to a patch which (at least currently) traded some performance of the gossip protocol for allowing a set o

[2018-04-17 12:38] brian-brazil commented on #1322
I think options for our standard `tls_config` client options would be okay. That'd have to go in the config file somewhere.

[2018-04-18 07:04] stuartnelson3 commented on #1307
silence from them after 7 days :/

would it be a lot of work for you to package your own am after patching https://github.com/hashicorp/memberlist/blob/9f5b38f1dc837733754bf57f4ea62726a509c0fc/memberlist.go#L333-L339 to be commented out? I'm just starting back at SC and won't have time to try this for probably 2 weeks.

[2018-04-18 07:37] vivekbny commented on #1323
Any update on the this.

[2018-04-18 08:04] stuartnelson3 commented on #1323
Can you add all of the startup logs? I'm wondering if there are any errors being reported, such as DNS resolution errors in the clustering library.

As @mxinden stated, you also need to have a routable address for `--cluster.listen-address`, like an ip:port, not just the port.

[2018-04-18 08:04] mxinden commented on #1323
@vivekbny as described in my [comment](https://github.com/prometheus/alertmanager/issues/1323#issuecomment-381079922) above: Have you tried setting the `--cluster.listen-address` flag to the Alertmanager name, instead of just a port. For Alertmanager 1 this would be `AlertmanagerA:8001`.

[2018-04-18 13:42] tzz commented on #1326
@stuartnelson3 thanks for following up. I found that I had a typo in the indentation of `insecure_skip_verify: true` (thanks YAML) so I was able to use that with the HTTP proxy, which is a viable workaround.

I've updated the description to reflect that. The issue remaining here, I think, is that the `proxy_url` only accepts a HTTP proxy.

[2018-04-18 13:53] simonpasquier commented on #1326
@tzz since Go 1.10, `net/http` supports HTTPS proxies (see [here](https://golang.org/doc/go1.10#net/http)). As your binary has been built with go1.10, it should just work. Could you try again to make sure?

[2018-04-18 14:06] tzz commented on #1326
Oh, OK. I just tested and got the exact same error `tls: oversized record received` unfortunately. The `url_proxy` was `https://user:password@proxy:3128`. With the same URL but with `http` as the protocol, alertmanager can post to OpsGenie.

The `tls_config` is empty except for the `insecure_skip_verify: true`.

[2018-04-18 14:26] #1153 closed

[2018-04-18 14:28] discordianfish commented on #1307
As a workaround, I'm using the FQDN. So not urgent but something that should get fixed because others will trip over this too.

[2018-04-18 14:49] brian-brazil commented on #1326
So you have a http proxy then, not a https proxy.

[2018-04-18 15:14] tzz commented on #1326
I may have misunderstood how it's supposed to work. With `HTTPS_PROXY` in curl I didn't specify a protocol but assumed it was using the `https` protocol underneath.

Reading https://curl.haxx.se/docs/manpage.html again may explain why I was confused:

[code]

[2018-04-19 15:34] krdineshbny opened #1332 "Custom email template not working; sends out emtpy mail"
I am trying to create a new custom template and getting empty mails due to it.
I have cloned the default.tmpl file and modified it according to my need and named it as test.tmpl. Also, changed the email.default.html within it to my needs and named as emailtest.html

I have added below in my alertmanager configuration file
templates:
- "/etc/alertmanager/template/*.tmpl"
- "/etc/alertmanager/templa

[2018-04-19 21:07] stuartnelson3 commented on #1332
This is a usage question, and is better directed to the users mailing list prometheus-users@googlegroups.com

[2018-04-19 21:07] #1332 closed

[2018-04-20 09:15] angeltoto opened #1333 "child routes error"
# The root route on which each incoming alert enters.
route:
  # The labels by which incoming alerts are grouped together. For example,
  # multiple alerts coming in for cluster=A and alertname=LatencyHigh would
  # be batched into a single group.
  group_by: ['alertname', 'cluster', 'service']

  # When a new group of alerts is created by an incoming alert, wait at
  # least 'group_wait' to send

[2018-04-20 09:16] #1333 closed

[2018-04-20 13:40] tiagoapimenta commented on #597
@brian-brazil  Could you please do something like that?
https://gist.github.com/tiagoapimenta/3ecb4162e701252f4b1041bc7f9315e9
I did not manage to make it pass the unit tests, maybe you could.

[2018-04-20 16:42] krasi-georgiev opened #1338 "Use the main common makefile"
https://github.com/prometheus/prometheus/blob/master/Makefile.common

[2018-04-23 01:45] jiananjiang commented on #1325
@mxinden thanks! I have solved this problem and replaced it with the latest version。

[2018-04-23 01:45] #1325 closed

[2018-04-23 12:55] tzz commented on #1326
I'm happy to close this as a documentation and user confusion issue, but am not sure how much the alertmanager docs should cover. I would imagine some explanation of the type of proxies accepted by `proxy_url`, a link to the Go docs, and working proxy examples for a few delivery endpoints would be useful?

[2018-04-23 12:58] brian-brazil commented on #1326
A link to the Go docs would be good I think.

[2018-04-23 15:12] mxinden opened #1340 "Release Alertmanager v0.15.0"
I would like to start the discussion of doing either a `v0.15.0` or a `v0.15.0-rc.2` release.

@stuartnelson3 @simonpasquier @fabxc are there any blockers that I am not aware of?

If there is consensus I am more than happy to prepare the next release.

[2018-04-23 16:01] stuartnelson3 commented on #1340
There were two issues I wanted to fix before a next release, #1331 and https://github.com/prometheus/alertmanager/pull/1330. #1330 is blocking @TheTincho from making a debian release, but I believe that still doesn't resolve the issue of our elm frontend .. i.e. even with #1330, he won't be able to release AM as an official debian package.

I haven't had a chance to test the new mesh lib at soundc

[2018-04-23 17:01] TheTincho commented on #1340
Hi,

Yes, #1330 is indeed a blocker for me now.

The Elm issue has not gone away, but I have basically abandoned any hope of getting Elm into Debian (React does not look better in this aspect). So I have started working last week of producing an official release without any web frontend.

My plan would be to upload this to experimental so users can avail of the newer AM, and meanwhile work on back

[2018-04-24 02:12] bigMacro commented on #331
I want to figure out the architecture, but the hand drawn is not exactly readable to me...

[2018-04-24 07:29] stuartnelson3 commented on #331
The hand-written diagram looks to still be correct. Is there a preferred tool for making these diagrams? I'm all for a legible diagram of the internals.

[2018-04-24 07:35] #1328 closed

[2018-04-24 08:25] simonpasquier commented on #1340
Correct, my own tests with 0.15 are conclusive (see my [original comment](https://github.com/openshift/autoheal/pull/54#issuecomment-382401889)). That being said, it is limited to my local environment and although I've played a bit with ambench, it can't be compared to any (pre-)production setup. We also had reports from users deploying successfully 0.15-RC versions with the Prometheus operator wh

[2018-04-24 08:42] stuartnelson3 commented on #1340
In that case, my chief concern then is that the release makes it explicit that mesh configuration requires FQDNs.

[2018-04-24 10:54] timbunce commented on #1320
It seems that we're drifting away from the original issue. I'd hope the elimination of the duplication of every hipchat-$team receiver config [shown earlier](https://github.com/prometheus/alertmanager/issues/1320#issuecomment-381175740) would be sufficient for this simple, natural, and forward-compatible change.

[2018-04-24 11:03] brian-brazil commented on #1320
Changing things because it helps local maxima is not always a good idea, I aim to optimise across the entire user base. You can always use configuration management if you don't like duplication.

[2018-04-24 14:04] dmitrypapka1 commented on #1153
Will this be included in v0.15.0?

[2018-04-24 14:10] bigMacro commented on #331
You can try OmniGraffle  (:

[2018-04-24 14:29] simonpasquier commented on #1153
@dmitrypapka1 yes #1331 has been merged to master so it will part of the future v0.15.0 release.

[2018-04-24 15:10] iksaif commented on #1340
I have 0.15rc1 running in a limited environment and it seems to work. But
it doesn't get much traffic.

Maybe would be nice to have an integration test that generates a few
hundred of alerts and silences for ~20min.

On Tue, Apr 24, 2018 at 10:42 AM, stuart nelson <notifications@github.com>
wrote:

--
Corentin Chary
http://xf.iksaif.net

[2018-04-24 15:55] stuartnelson3 commented on #1340
I just started running a cluster at soundcloud and would like to investigate it more thoroughly. For example, it appears that even after having run for a couple hours, all instances are sending notifications. Given that we are using the default peer timeout (15s), and it doesn't appear that we're surpassing that timeout, I would expect just a single instance to be sending notifications based on ho

[2018-04-24 15:57] stuartnelson3 commented on #1340
What's your reasoning? It feels arbitrary not to release changes made to `amtool`, especially when they're preventing @TheTincho from releasing AM as a debian package, and instead release the new clustering lib then wait some period of time and then release the `amtool` changes with whatever other changes that have been merged since then.

[2018-04-25 07:51] stuartnelson3 commented on #1340
@mxinden will send the issue soon, it's half-way written on my other laptop :)

I have to check the changelog, but I believe all non-bugfixes have been in `amtool`.

Alertmanager's API hasn't changed, so amtool should be compatible. The changes are a couple flag names, moving to a stable underlying CLI library, and fixing a bug.

I'm not sure, unfortunately. I don't think we have a set policy. I w

[2018-04-25 09:33] stuartnelson3 opened #1341 "all peers sending notifications"
**What did you do?**
Deployed alertmanager built off `dc5fc02d221665df3136b4ee6ef5ba64f5b83f02` to baremetal and ran as normal. I checked the various alertmanager metrics to see how it was performing, and `alertmanager_notifications_total` caught my eye.

**What did you expect to see?**
I expected to see a single instance sending all notifications when viewing the metrics `alertmanager_notificatio

[2018-04-25 09:33] stuartnelson3 commented on #1341
@mxinden @fabxc @brancz

[2018-04-25 09:34] stuartnelson3 commented on #1340
issue created: https://github.com/prometheus/alertmanager/issues/1341

[2018-04-25 09:40] #1261 closed

[2018-04-25 09:56] brancz commented on #1341
This definitely looks strange, unfortunately I'm extremely busy and won't be able to have a look at this any time soon. cc @simonpasquier

[2018-04-25 10:09] simonpasquier commented on #1341
This is generally correct though low `group_wait` intervals can cause some variation. In your case with a default peer timeout of 15s, AlertManagers `#2` and `#3` will stop on WaitStage for 30s and 45s which is longer than the 20s `group_wait`. In the end, it may be that the alert groups don't tick at the same time on the different AlertManagers after the initial notification (see https://github.c

[2018-04-25 14:38] simonpasquier commented on #1341
I see a similar pattern on my local env with low `group_wait` values and 3 AlertManagers.

![image](https://user-images.githubusercontent.com/2587585/39248647-f45f5316-489c-11e8-8a3a-2afb4eabda1c.png)

I'm also seeing another issue with alert groups flapping from resolved to firing and then resolved in a few seconds.

[code]

 What happens probably:
* The alert group is firing. AlertManager at pos

[2018-04-25 14:56] stuartnelson3 commented on #1341
Are you referring to `--cluster.peer-timeout`? Or `resolve_timeout` in the config? How are the alerts being resolved?

[2018-04-25 15:01] #681 closed

[2018-04-25 15:06] simonpasquier commented on #1341
I meant `--cluster.peer-timeout`. FWIW I'm still running tests with different parameters.

[2018-04-25 15:36] simonpasquier commented on #1341
The Alertmanager configuration I'm using for the 3 nodes:
[code]

I simulate alerts with critical and warning severity for 2 services. In the end, it means 4 different alert groups that fire then resolve alternatively.

When `cluster.peer-timeout` is set to 15s, the notifications are spread across the 3 instances:
![image](https://user-images.githubusercontent.com/2587585/39256056-3cca2714-48ae-11

[2018-04-25 23:46] zemek opened #1342 "Specify OpsGenie responders"
It looks like right now we can only set `teams:` in the OpsGenie config. The OpsGenie API says that the `responders` field supports "Teams, users, escalations and schedules" https://docs.opsgenie.com/docs/alert-api

It would be useful to be able to send alerts to a specific schedule within a team, rather than just team itself

[2018-04-26 15:07] simonpasquier commented on #1341
For this alert group, what is the route configuration exactly?

[2018-04-26 15:31] stuartnelson3 commented on #1341
[code]

[2018-04-26 16:12] karthik101 opened #1343 ""mkdir data/: permission denied" while starting alert manager service in centos7"
Getting "mkdir data/: permission denied" for alertmanger while starting the service, but has normal start if called with binary:

$ /usr/local/bin/alertmanager --config.file="/etc/prometheus/alertmanager.yml"
level=info ts=2018-04-26T16:11:37.801802604Z caller=main.go:136 msg="Starting Alertmanager" version="(version=0.14.0, branch=HEAD, revision=30af4d051b37ce817ea7e35b56c57a0e2ec9dbb0)"
level=in

[2018-04-27 07:42] simonpasquier commented on #1343
This is a problem with your systemd unit service that doesn't set the working directory. You might want to look at https://www.freedesktop.org/software/systemd/man/systemd.exec.html#WorkingDirectory=

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, mor

[2018-04-27 08:08] #1343 closed

[2018-04-27 12:29] tzz commented on #1340
Can 0.15 please include https://github.com/prometheus/alertmanager/pull/1339 as a trivial fix?

I've been running rc1 and it's been absolutely great. Thank you, developers.

[2018-04-27 14:51] nerd0 opened #1344 "Including all alertmanager peers results in mesh not being created"
**What did you do?**

When invoking the alertmanager binary if all available peers (including the invoked binary) are including in the peer list will result in the mesh not being created and high availability can not be achieved.

**What did you expect to see?**

That alertmanager would identify the local binary invocation and exclude it automatically from the list of peers and allowing the mesh t

[2018-04-27 15:06] simonpasquier commented on #1344
You would need to include also the list of flags passed to AlertManager. FWIW I've never seen this behavior, you have probably some misconfiguration on your side...

[2018-04-27 16:35] nerd0 commented on #1344
@simonpasquier correct it was a misconfiguration on my side. @brian-brazil recommended capturing this case within an issue to help drive improvements with the UX.

[2018-04-28 11:18] jsuchenia opened #1345 "Additional fields for different notification HTTP requests"
** Functional request - additional fields for outgoing notification calls **
When sending messages to *Slack* or *Pagerduty* we can add additional elements in JSON data to "enhance" it. Like attachments for Slack or Links for PagerDuty

It could be very useful if we can add "custom" fields from a template to each outgoing request. Of course usability of that require knowledge of service API but it

[2018-04-28 18:32] mxinden commented on #1344
@nerd0 Would you mind sharing the used command line flags with us.

Do I understand you correctly, that you have started up three alertmanagers, each one aware of the other instances (including itself) via the `--cluster.peer` flag?

I have started a three instance alertmanager cluster with the below Procfile (`goreman start`) and all of them joined the cluster correctly.

[code]

[2018-04-29 18:44] tzz opened #1346 "alertmanager maintenance messages should be DEBUG"
**What did you do?**

Look at alertmanager logs at default (INFO) verbosity.

**What did you expect to see?**

Informational messages.

**What did you see instead? Under which circumstances?**

The "maintenance" messages for nflog and silences are showing up at INFO level. They seem to be useful as a debugging tool but not to users, so I propose moving them to DEBUG level.

**Environment**

* Aler

[2018-04-29 18:45] tzz commented on #1346
@SuperQ I can't paste the exact log messages at this time but I hope this is enough to explain the request. Thanks for looking.

[2018-04-29 18:59] mxinden commented on #1346
Moving these to `debug` sounds reasonable to me. @tzz would you mind proposing a PR for this? Let me know if you need any help.

[2018-04-29 20:41] tzz commented on #1346
@mxinden done in #1347, thank you!

[2018-04-30 09:56] stuartnelson3 commented on #1344
@nerd0 opening an issue would be much appreciated, thanks!

[2018-04-30 09:56] #1344 closed

[2018-04-30 09:56] stuartnelson3 commented on #1346
closed by #1347

[2018-04-30 09:56] #1346 closed

[2018-04-30 11:18] stuartnelson3 opened #1348 "Investigate flaky WeChat test"
[code]

Figure out why this test is intermittently failing on CI.

[2018-04-30 12:26] simonpasquier commented on #1348
Just tried to reproduce it on my local machine with additional trace and I got this:

[code]

So the unit test is hitting the public Wechat endpoint which isn't good at all. I would remove the unit test since no other receiver hits the real endpoints in the tests. WDYT?

[2018-04-30 12:43] stuartnelson3 commented on #1348
urg we're making a request to a live service ..

[2018-04-30 15:58] simonpasquier opened #1351 "Update CircleCI configuration to 2.0 format"
Circle CI 1.0 will shut down on Aug 1st 2018.

See https://github.com/prometheus/node_exporter/pull/844 for a working example.

[2018-04-30 15:58] simonpasquier commented on #1351
I'll give it a try this week.

[2018-04-30 18:01] #1348 closed

[2018-05-01 20:06] jnovack commented on #931
So, I'm here because I came looking for this same thing.  Unfortunately, the ServiceNow REST Incoming API expects the data in a specific format (bummer, not the format you are sending), unless you are willing to write your own REST Client API, which is "good enough" for those with general requirements.

I can help a project dev with getting a ServiceNow instance set up and guidance and best practi

[2018-05-02 10:45] RogerYuQian opened #1353 "Invalid configuration template in WechatConfig"
It is invalid to configurate template in the section of WechatConfig.
Code show as below:
[code]

[2018-05-02 19:51] tzz opened #1357 "can't set e-mail CC or Bcc headers"
**What did you do?**

I want to send copies of alert e-mails. I specify `CC` and `Bcc` under `headers`.

**What did you expect to see?**

CC or Bcc going to the specified addresses.

**What did you see instead? Under which circumstances?**

CC or Bcc get dropped and they do not get used. The addresses are valid and if they are added to the `to` header, they get the e-mail. In either case there's n

[2018-05-03 03:21] justlooks opened #1358 "smtp.plainAuth failed: unencrypted connection"
i config alertmanager smtp info ,like following
[code]

but i get error in log
[code]

[code]

[2018-05-03 06:07] brian-brazil commented on #1357
This is how SMTP has always worked. The headers are just for display, the envelope to is where the emails actually go.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole com

[2018-05-03 06:07] #1357 closed

[2018-05-03 07:17] simonpasquier commented on #1358
The error is because the Go SMTP package doesn't allow authentication without encryption. From https://godoc.org/net/smtp#PlainAuth

You need either to setup TLS on your SMTP server, use localhost as a relay or disable authentication. I would recommend strongly to go with the first option.

[2018-05-03 07:19] #1358 closed

[2018-05-03 07:32] stuartnelson3 commented on #1353
fixed by #1356

[2018-05-03 07:32] #1353 closed

[2018-05-03 07:36] #1351 closed

[2018-05-03 07:56] mxinden commented on #511
Discussion on introducing an OpenAPI generated Alertmanager API v2 with generated documentation: https://groups.google.com/forum/#!topic/prometheus-developers/2CCuFTMbmAg

Respective PR: https://github.com/prometheus/alertmanager/pull/1352

Feedback is very welcome.

[2018-05-03 12:42] tzz commented on #1357
@brian-brazil thanks for explaining how SMTP works.

Sorry if my issue statement was confusingly phrased. I'm saying I can't do CC or Bcc with alertmanager, not that `headers` specifically should set them. There is no way, that I can, see, of requesting those in the `email_configs`. The only envelope settings I see are `to` and `from`. Are you saying CC and Bcc won't be supported by closing this i

[2018-05-03 14:25] roidelapluie commented on #1357
To send an email with a CC: in alertmanager, it is not sufficient to add a CC: header.

[code]

You also need to add the CC: address to the to: field and explicitely add a to:
field.

[code]

To send a mail in `BCC:`, overwrite the To: header and add the BCC addresses to
the to: field:

[code]

[2018-05-03 14:52] stuartnelson3 commented on #1241
closed by #1335

[2018-05-03 14:52] #1241 closed

[2018-05-03 14:52] stuartnelson3 commented on #1199
fixed by #1330

[2018-05-03 14:53] #1199 closed

[2018-05-03 14:54] stuartnelson3 commented on #1035
closed by #1278

[2018-05-03 14:54] #1035 closed

[2018-05-03 14:55] tzz commented on #1357
@roidelapluie those instructions are terrifically helpful and definitely address the issue. Could they go in the docs? I can make a PR if you like.

[2018-05-03 15:01] simonpasquier commented on #1357
@tzz I think this would be useful.

[2018-05-03 15:03] stuartnelson3 commented on #1248
adding a `State` column to the extended output would be cool:

[code]

or a flag `--state=STATE`, so you could do

[code]

Nothing has been planned, but it would be a welcome addition.

[2018-05-03 15:30] stuartnelson3 opened #1359 "silenced and inhibited filters for listAlerts endpoint don't work"
**What did you do?**

Attempted to list only inhibited or only silenced alerts from the api:

http://alertmanager.url.biz/api/v1/alerts?silenced=false&inhibited=true
http://alertmanager.url.biz/api/v1/alerts?silenced=true&inhibited=false

**What did you expect to see?**
Only inhibited or silenced alerts
**What did you see instead? Under which circumstances?**
`inhibited=true`: Active, inhibited, a

[2018-05-04 05:59] roidelapluie commented on #1357
I have published that here : https://prometheus.roidelapluie.be/alerting/cc/ a small website that I plan to enhance over the coming monyhs

[2018-05-04 07:55] simonpasquier commented on #1359
If I were asked before your report, I wouldn't have been surprised by the current behavior. Maybe it is worth adding more filters to the endpoint in order to cover all possible use cases?

Only silenced alerts
http://localhost:9093/api/v1/alerts?silenced=true&inhibited=false&active=false&unprocessed=false

Only active alerts
http://localhost:9093/api/v1/alerts?silenced=false&inhibited=false&active

[2018-05-04 11:32] stuartnelson3 commented on #1359
yeah, I suppose we should account for all situations.

wish we didn't have to have an ever growing list of querystring vars, but I don't think it's very user-friendly to use a bitmask ..

[2018-05-05 10:18] mxinden commented on #1340
I have created a `release-0.15` branch. https://github.com/prometheus/alertmanager/pull/1363 cherry-picks discussed commits from `master` into `release-0.15`. https://github.com/prometheus/alertmanager/pull/1364 bumps `VERSION` and adds changes to `CHANGELOG.md`.

Let me know what you think.

[2018-05-07 01:00] rossigee opened #1365 "Alertmanager integration with Discord"
Discord is the new Slack/Hipchat for many organisations, including for one of my clients.

This ticket is to cover adding Discord support, based on the Slack/Hipchat implementations.

[2018-05-07 01:15] rossigee commented on #1365
I've done most of the work here...

https://github.com/rossigee/alertmanager/tree/add-discord-support

It largely works, and when configured will send a brief message to Discord via the configured webhook URL, but the notification generation code is still lacking, so the main detail from the alerts aren't being passed through.

This is my first time using Go. It seems pretty straightforward so far

[2018-05-07 13:05] simonpasquier commented on #1365
Unfortunately as stated in the [documentation](https://prometheus.io/docs/alerting/configuration/#%3Creceiver%3E), no new receiver is being added to AlertManager for the time being. The recommended approach is to use a standalone service that will get notifications from the webhook receiver and push it to the third-party service. It seems that https://github.com/benjojo/alertmanager-discord alread

[2018-05-07 16:07] #1359 closed

[2018-05-07 16:09] stuartnelson3 opened #1369 "Update amtool to have `active` and `unprocessed` flags for alert query"
https://github.com/prometheus/alertmanager/pull/1366 added two new filters to the api for querying alerts. add support for these to the cli tool.

[2018-05-08 02:10] like-inspur opened #1372 "container can't telnet self port 9093 and 9094"
I create a service in docker swarm environment with alertmanager image v0.15.0-rc. When I enter into container , I found that I can't telnet self port 9093 and 9094. There is no output when telnet 9093, and there is connection closed by foreign host when telnet 9094.
/alertmanager # telnet 192.168.1.9 9093
^C
Console escape. Commands are:

 l	go to line mode
 c	go to character mode
 z	suspend teln

[2018-05-08 09:42] stuartnelson3 commented on #1341
This behavior is ongoing, regardless of repeat_interval time.

[2018-05-08 09:45] stuartnelson3 commented on #1340
According to @grobie, there seems to be a higher rate of more than one peer sending alerts than with the previous mesh library.

I think we should address this before releasing a version that doesn't support some form of synchronization of pipeline execution between peers.

[2018-05-08 09:48] grobie commented on #1340
I don't know whether it's multiple peers sending. We definitely see a significantly increased number of duplicated notifications sent with 0.15, while the network and instances are healthy.

[2018-05-08 10:52] prateekniet commented on #652
HI Andreyev,
Can you please explain in details , i want to invoke jenkins jobs along with parameter passed from alertmanager

[2018-05-09 08:04] stuartnelson3 commented on #331
This looks great!

The dispatcher's main work is done within the loop inside `run()`. It is concerned with reading the incoming alerts (as you've indicated) and creating the aggregate groups (alerts that are grouped together as defined by `group_by` in the config). The aggregate group itself is a loop that executes a notification pipeline every `group_interval`. The first time an aggregate group i

[2018-05-09 10:03] simonpasquier commented on #1340
Is there anything that looks suspicious when checking at the cluster metrics (eg `alertmanager_cluster_.+`)?

[2018-05-09 13:04] NightTsarina opened #1373 "AM is using an unreleased version of the client library"
Hi,

As i continue to prepare a new package of AM for Debian, I have found another issue: it does not compile with the latest release of client_golang.

At this stage I don't know if I should package HEAD of client_golang, as I fear breaking other users of the library, or try to patch AM to use the older version. Does anybody know if the changes in the library are fully backwards-compatible?

In a

[2018-05-09 13:11] brian-brazil commented on #1373
Per https://github.com/prometheus/client_golang/issues/344 that library does not have a formal release process, and you should use master. It sounds like we should get the AM on the newer version.

@beorn7

[2018-05-09 13:25] TheTincho commented on #1373
Thanks @brian-brazil, I had missed that, and was misled by the existence of older releases.

I will see of updating the package for client_golang, hopefully I won t break the rest of the ecosystem :/

BTW, AM is already using a fairly recent commit, according to vendor.json.

[2018-05-09 13:38] beorn7 commented on #1373
Yes, just pin to a recent commit for now. There are still many moving parts. In June, we should be ready with that 0.9 "release" which is planned to be something meaningful to pin to (including 0.9.x to get bugfixes), while the next iteration will be pretty breaking.

[2018-05-09 13:39] szediktam opened #1374 "Can Alertmanager load picture (png/jpg) in email template?"
Alertmanager allow us to load picture in email template, such png/jpg?

Thank you in advance.

[2018-05-09 16:50] miguel250 commented on #1304
Hi @stuartnelson3, would it be possible for me to work on adding this feature using websockets?

Thanks

[2018-05-09 17:44] szediktam commented on #1374
how to make it. if you know it.can u tell me. thanks

[2018-05-10 20:09] adamdecaf opened #1375 "amtool: off my one error in yaml UnamarshalStrict"
**What did you do?**

Given the following alertmanager config:

[code]

**What did you expect to see?**

The error is on line 8. It should be `- channel: '...'`

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* Alertmanager version:

[code]

[2018-05-10 20:47] sgissi commented on #331
Thanks for the feedback @stuartnelson3. Below is the updated diagram, I switched the orientation to make it align better and have more space to grow the stages and add the clustering. Happy to adapt as needed, I followed the code but didn't twelve too deep.

![am architecture updated](https://user-images.githubusercontent.com/2590559/39893145-bd24aa24-5457-11e8-95f1-2e501d90a99c.png)

[2018-05-10 23:14] swestcott commented on #1211
I'm trying to use the templated severity field, but the PD-CEF severity field isn't being passed to PD.

Here's my config, am I doing something wrong? I'm running AM 0.15.0-rc.1.

[code]

I'm using the same curl request as above.

[2018-05-11 08:43] swestcott commented on #1211
Oops, I've corrected _service_key_ to _routing_key_ to use the PD v2 API. AM is now getting "unexpected status code 400" from PD. Hard coding the severity to `severity: 'warning'` works so I guessing my template config isn't quite right yet.

[2018-05-11 13:04] metalmatze opened #1377 "Redirect to 404 page after creating silence"
**What did you do?**
I clicked on an alert to silence it, filled out the form and clicked on creating the silence. After that the alert manager straight redirects to a 404 page. If I wait for a few seconds and reload I then can see the silence.

**What did you expect to see?**
After creating the silence I expect to see the silence overview page.

**What did you see instead? Under which circumstanc

[2018-05-11 13:05] mxinden commented on #1377
@metalmatze Whats the URL of the 404 page?

[2018-05-11 13:08] metalmatze commented on #1377
The UUID of the silence.

I think that @gouthamve and I just found the "problem". I'm running 3 alertmanagers behind nginx. So obviously this is happening because I create the silence in one and get redirect to the next where the state didn't gossip that quickly.

Sorry for the noise... :sweat_smile:

[2018-05-11 13:08] #1377 closed

[2018-05-11 13:13] stuartnelson3 commented on #1304
I wrote `websocket` in the original post, but now I'm thinking server sent events might be more appropriate. But yes, you're more than welcome to work on it!

[2018-05-12 13:48] xuejipeng opened #1378 "cat't get email with err=EOF"
**What did you do?**
  config the email alert

**What did you expect to see?**

  get email
**What did you see instead? Under which circumstances?**

  don't get anything
**Environment**

* System information:

Linux 3.10.0-693.11.6.el7.x86_64 x86_64
* Alertmanager version:
  alertmanager, version 0.14.0 (branch: HEAD, revision: 30af4d051b37ce817ea7e35b56c57a0e2ec9dbb0)
  build user:       root@37

[2018-05-12 18:38] miguel250 commented on #1304
Thanks! I will update this ticket with what we have in a few days.

[2018-05-12 20:25] metalmatze commented on #1304
After seeing the initial description I wanted to jump in to the discussion to tell you that server sent events are better. But you already did this.
We probably don't need events to be send from the client to the server, right?

I'd also like to add, that drone moved from websockets to SSE one year ago. People always had problems, like timeouts, running this behind the proxies. SSE on the other ha

[2018-05-14 09:00] stuartnelson3 commented on #1340
We experienced a network partition over the weekend during which every alertmanager was isolated. after the partition, the mesh did not recover. at the time of this writing, the 4 instances have been running independently for over 48 hours. `alertmanager_cluster_health_score` and `alertmanager_cluster_messages_queued` reflect the current bad state of the mesh.

we are actively looking at this and

[2018-05-14 09:01] simonpasquier commented on #1378
It seems that the SMTP host is closing the connection during the exchange. Can you get access to the SMTP host's logs and check if they contain anything relevant?

[2018-05-14 09:39] stuartnelson3 commented on #1304
Yeah, my idea was for this to be consumption only.

[2018-05-14 09:42] stuartnelson3 commented on #331
Looks good! The only thing is, the individual notification endpoints should receive their message during the `Retry` stage, and after a successful send, then the `SetNotifies` stage fires.

Except for that, does this look understandable to people? @mxinden @brancz @brian-brazil @fabxc @grobie @beorn7 ?

[2018-05-14 09:44] brian-brazil commented on #331
I'd suggest making it clearer that the groups are groups.

[2018-05-14 13:04] stuartnelson3 commented on #1340
Confirmed in a test using iptables between two machines in the same datacenter, once nodes are marked dead they will not rejoin without restarting memberlist.

[2018-05-14 15:32] simonpasquier commented on #1340
Indeed once a node has left the cluster (eg on connection time-out), memberlist on its own will never try to reconnect to it. Serf (which is heavily using memberlist) handles the reconnection with a background task:
https://github.com/hashicorp/serf/blob/80ab48778deee28e4ea2dc4ef1ebb2c5f4063996/serf/serf.go#L1426-L1437
https://github.com/hashicorp/serf/blob/80ab48778deee28e4ea2dc4ef1ebb2c5f4063996

[2018-05-14 19:03] mxinden commented on #331
@sgissi Great job! I like the clean structure.

How about instead of `Alert Generators` simply `Prometheus`? That should cover most Alertmanager use-cases.

[2018-05-14 19:44] sgissi commented on #331
I know the interface is generic but I’m unaware of other tools using it. I’m Ok to change that. Will send a revised diagram today also to make groups more explicit somehow.

[2018-05-14 20:08] #1369 closed

[2018-05-14 21:01] mxinden commented on #1340
@stuartnelson3 there is none at the moment, sorry. I will look into improving that for the future.

I agree. Thanks a lot for looking into this.

[2018-05-15 01:32] sgissi commented on #331
Ok, added below (didn't align all the details yet obviously). I kept Alert Generators and subtitled Prometheus just being a purist :) I can drop it and keep only Prometheus if that is the consensus.

I changed the dispatcher to show the Aggregated Groups instead, hope it is clearer. Otherwise the only way to convey the actual flow is to add a "fan out" stage inside the dispatcher towards the group

[2018-05-15 09:08] anthraxn8b opened #1382 "--web.exernal-url breaks healthcheck to localhost"
**What did you do?**
- added `--web.exernal-url=http://myexternalurl.nowhere` parameter
- created a healthcheck to http://localhost:9093
- deploy container on docker swarm

**What did you expect to see?**
- healthy container - healthcheck OK

**What did you see instead? Under which circumstances?**
- restarted container - healthcheck NOT OK (checked this by starting a bash inside the container and

[2018-05-15 09:31] like-inspur opened #1383 "swarm install alertmanager cluster failed"
docker version: 17.09.1-ce，alertmanager image version: prom/alertmanager:v0.15.0-rc.
I config docker stack yml referenced alertmanager#high-availability, include three nodes three services
Three alertmanager are alike, alertmanager1 config is like this:
alertmanager1:
　image: prom/alertmanager:v0.15.0-rc.1
　volumes:
　　- /monitor/alertmanager:/alertmanager
　　- /etc/localtime:/etc/localtime:ro
　comm

[2018-05-15 12:17] rossigee commented on #1365
Thanks for bringing that to my attention @simonpasquier.

Unfortunately benjojo's service doesn't suite me too well. As it stands, it has no run-time configurability, no build script/docs, no packaging etc. It's a bit too raw, and my lack of experience with the Go toolset means that I won't be in a position to finish cooking it any time soon. Until/unless it's polished up a bit, I can't see it bei

[2018-05-15 12:17] #1365 closed

[2018-05-15 12:39] stuartnelson3 commented on #1383
It's probably related to https://github.com/prometheus/alertmanager/issues/1307

Please format your issue next time.

[2018-05-15 13:03] simonpasquier commented on #1365
Every new receiver increases mechanically the maintenance burden. The history has shown that while people are willing to contribute new receivers, it is often difficult for them to follow up. And it isn't only about implementing the notification code but also extending the AlertManager's configuration as well as writing the documentation. If you look at the sheer number of IM platforms, it would b

[2018-05-15 22:09] jdtagu commented on #931
Hello,
Was there any outcome of the above integration with service now?
I am interested.
Thanks

[2018-05-16 01:38] like-inspur commented on #1383
I use overlay network, so container has overlay and docker_gwbridge addresses. I found alertmanager cluster peers address is docker_gwbridge, not the real overlay address that containers can connect.

[2018-05-16 07:53] stuartnelson3 commented on #1383
this is a usage question, and would be better directed to the users mailing list prometheus-users@googlegroups.com

[2018-05-16 07:54] #1383 closed

[2018-05-16 08:14] sgissi commented on #331
Ok, next iteration:
- Swapped order so that Set Notifies is last.
- Added a bold "Receiver" to make clear this is where AM reaches externally. (Config calls it a receiver, implementation calls it a Notifier, not sure which convention works best here).
- Added a red arrow back from Receiver to Retry, indicating the flow in case of notification failure.
- Made Dispatcher more clear with an Aggregato

[2018-05-16 18:48] mjuarez commented on #1211
I too am running into issues using labels with severity. Using AM 0.14.0 and Events v2 API. Tried both `{{ .Labels.severity }}` and `{{$labels.severity}}`

Output:
[code]

Relevant am config as follows:
[code]

alert rule from prometheus:
[code]

[2018-05-16 19:53] dbonatto commented on #1211
@swestcott @mjuarez

What worked for me was ".CommonLabels.severity".

We then added this:

`{{ if .CommonLabels.severity }}{{ .CommonLabels.severity | toLower }}{{ else }}critical{{ end }}`

Which makes the severity label low case, the PagerDuty API seems to like it more. We then force an alert to be critical in case severity is not set, which I think is a good practice.

Full config for referenc

[2018-05-17 06:30] zong400 opened #1385 "wechat invalid APISecret for CorpID"
**What did you do?**
send alert to wechat.

alerts1='[
{
    "labels": {
       "alertname": "DiskRunningFull",
       "dev": "sdb2",
       "instance": "example2"
     },
     "annotations": {
        "info": "The disk sdb2 is running full",
        "summary": "please check the instance example2"
      }
  }]'

curl -XPOST -d"$alerts1" http://10.172.138.114:9093/api/v1/alerts

**What did you expe

[2018-05-17 09:45] swestcott commented on #1211
@dbonatto Thanks! `{{ .CommonLabels.severity }}` worked for me.

[2018-05-17 09:47] Grummfy commented on #1345
Totally fan of it, I would love to have it.

[2018-05-17 10:15] brian-brazil commented on #1345
Dupe of #701 as you're basically asking for arbitrary json.

[2018-05-17 10:15] #1345 closed

[2018-05-17 14:08] stuartnelson3 opened #1387 "Alertmanager memberlist not sending to all peers"
Investigating another duplicate (where the pipelines are firing at the correct time):

- peer0 sends correctly
- peer2 and peer3 receive the nflog notification
- peer1 does not receive the nflog notification. 15seconds pass, and it sends a duplicate.

After reading memberlist code, it seems that this is what's happening:

Every X sec, `memberlist.gossip()` is called https://github.com/hashicorp/me

[2018-05-18 09:10] licunzhi opened #1388 "If i want to cretae a new rules after the prometheus service start, how to do ?"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Alertmanager version:

	insert output of `alertmanager --version` here

* Prometheus version:

	insert output of `prometheus -version` here (if relevant to the issue)

* Alertmanager configuration file:
[code

[2018-05-18 09:11] #1388 closed

[2018-05-18 09:13] brian-brazil commented on #1388
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-18 10:37] stuartnelson3 commented on #1387
Configuring `config.GossipNodes` to an arbitrarily high value has no effect, as there is an upper bound on the number of nodes that will be gossiped to. Here's the peer selection code in question: https://play.golang.org/p/xOTwsHKyXkh

So, I'm adding message propagation from peers that haven't seen the message before. If a peer receives an nflog message and merges it into its internal state, then

[2018-05-18 12:43] anthraxn8b commented on #1382
Another two things to mention:
1st: I am currently unable to do any type of healthcheck against the container because if it only listens to the web.external-url it will be available if healthy...
2nd: Prometheus cannot connect to alertmanager because it has to use the internal url - the external url is secured via oauth2 and should not be used for internal communication.
THX!

[2018-05-18 14:01] simonpasquier commented on #1387
Your explanation makes perfect sense. Have you tried increasing `TransmitLimitedQueue.RetransmitMult`? That being said, what you described seems like a valid solution.

[2018-05-18 14:14] stuartnelson3 commented on #1387
I changed `RetransmitMult` to scale based on the size of the list of `cluster.peer`s (with a minimum value of 3), and also set the nodes to gossip any messages they are receiving for the first time.

So far it seems to be working better than before. One weird side-effect is that `peer0` has had 4 messages in its `alertmanager_cluster_messages_queued` for a while, and they're not being cleared out.

[2018-05-18 14:30] simonpasquier commented on #1338
@mxinden I've got work in progress for this issue :-)

[2018-05-18 14:37] mxinden commented on #511
@ajayagrawal7 Please do not [hijack](https://www.urbandictionary.com/define.php?term=Thread%20Hijacking) this thread. In addition this is a usage question. Please open it up on the [prometheus-users](https://groups.google.com/forum/#!forum/prometheus-users) mailing list.

[2018-05-18 14:47] stuartnelson3 commented on #1387
appears to be working:

![image](https://user-images.githubusercontent.com/1398104/40241226-baa9ab0a-5aba-11e8-9abf-12370a8e2649.png)

the point at which all instances stop sending is when I deployed #1389 at soundcloud

I'll leave this running over the weekend.

[2018-05-18 15:25] mxinden commented on #1338
Cool, thanks @simonpasquier.

[2018-05-20 11:35] unnisathyarajan commented on #275
The same issue here, I am using alertmanager v0.14.0 in docker container and cannot receive email notifications. I am using AWS SES service and tested the service via sending emails via command line it worked fine.

The slack configuration works fine though, but it is not sending the resolved notification even though send_resolved is true.

global:
templates:
- '/etc/alertmanager/template/*.tmpl'

[2018-05-20 11:53] unnisathyarajan commented on #377
check

[2018-05-20 12:00] unnisathyarajan opened #1390 "Cannot recieve Alertmanager emails"
Hi, I am not receiving the email from alertmanager. Currently using alertmanager v 0.14.0 in docker container with AWS SES service to send out emails. There is no warnings/ debug info I could get from the docker logs by using the following command:

$docker logs -f alertmanager
level=info ts=2018-05-20T11:02:20.086925484Z caller=main.go:137 build_context="(go=go1.9.2, user=root@37b6a49ebba9, date=

[2018-05-21 01:35] zong400 commented on #1385
no way，i tried with python

[2018-05-21 08:33] SergeyKudrenko commented on #211
Any updates on the issue? I am currently doing a custom alertmanager client and it would be great to have an opportunity to make a targeted silences via alert fingerprint.

[2018-05-21 09:55] stuartnelson3 commented on #211
No updates, unfortunately

[2018-05-21 13:00] #1390 closed

[2018-05-22 09:55] xuejipeng commented on #1378
When I used port 587, it worked for me, thank you very much.
Hope to help more people

[2018-05-23 02:25] damomurf commented on #645
@brancz Apologies for referencing a comment you made quite a while ago, but is a StatefulSet still the recommended approach for a Kubernetes setup with the Alertmanager Mesh configuration? A StatefulSet is the only way I can get a functioning Mesh, but offers no ability to expose each Pod within the Mesh via service so that Prometheus can ensure each member receives the alerts from Prometheus.

(I

[2018-05-23 10:31] etiennechabert commented on #876
+1 : Just here to says it would be a lovely feature to be able to sleep well during the night and have some alerts only during business hours / days

[2018-05-23 17:06] stuartnelson3 commented on #876
Adding https://golang.org/pkg/time/#Weekday for future reference. This could be implemented as a pipeline step that filters based on a defined day/time range. All times would be done in UTC.

[2018-05-23 18:27] fchiorascu opened #1392 "Alertmanager Web GUI issue"
**What did you do?**
Upgrade alertmanager to 0.14 version.

**What did you expect to see?**
The Web GUI page loading 100% like below.
![image](https://user-images.githubusercontent.com/18328353/40443730-e9bb7d1a-5ecf-11e8-96a1-35aef6c41bf0.png)

**What did you see instead? Under which circumstances?**
The below page.
![image](https://user-images.githubusercontent.com/18328353/40443765-fcc5cf28-5ec

[2018-05-24 07:41] simonpasquier commented on #1392
Did you install alertmanager from package?

[2018-05-24 08:27] fchiorascu commented on #1392
Hi Simon,

From here: https://github.com/prometheus/node_exporter/releases/download/v0.16.0/node_exporter-0.16.0.linux-amd64.tar.gz

Kind Regards

[2018-05-24 08:29] fchiorascu commented on #1392
I've deleted and unzipped again, but the same thing.
I was thinking to delete the directory and to create and extract again.

Any suggestion?

[2018-05-24 08:40] iksaif opened #1393 ""Bad Matcher Format" when using a comma in a matcher value"
[code]

Note: trying to match `tags="gum,latency"` using the UI does the same thing.

I used 0.14 and 0.15.0-rc.1.

[2018-05-24 09:20] simonpasquier commented on #1393
Confirmed, the problem is in the `pkg/parse` code.

https://github.com/prometheus/alertmanager/blob/bf0db5b989695798ff5ebfaffd19f2f3110a73d6/pkg/parse/parse.go#L30-L37

[2018-05-27 19:33] hoffie commented on #1392
What version did you run before? There is at least one report about a similar case (#770).

I am not too familiar with the alertmanager internals, but it seems like the requests for `ui/app/lib/angular.min.js` are no longer relevant in the current code base, which makes this look like some caching problem.

Can you
- try clearing your browser's cache
- try another browser
- try running alertmanage

[2018-05-28 09:02] stuartnelson3 commented on #1392
This looks like your browser has the old javascript cached. Clear the cache and it should load fine.

[2018-05-28 09:11] simonpasquier commented on #1393
@iksaif i've submitted #1395

[2018-05-28 09:17] fchiorascu commented on #1392
**Yes it seems that there was a problem, I've do the following actions:**
•Restarted the PC.
•Restarted AlertManager.
•Cleared all browsers cache and restarted them.

**An now I have the GUI that seems to be OK:**
![image](https://user-images.githubusercontent.com/18328353/40607313-c3ed9d44-6270-11e8-9f81-41b8894b41d5.png)

**The logs looks like:**
[root@server1 ~]# systemctl status alertmanager
●

[2018-05-28 09:28] stuartnelson3 commented on #1392
Your logs are normal. Your browser was requesting old, no-longer available files, so the alertmanager backend was reporting that the files could not be found.

[2018-05-28 09:28] #1392 closed

[2018-05-28 09:36] #1393 closed

[2018-05-28 12:39] #1378 closed

[2018-05-29 08:51] steinliber opened #1397 "wechat newline error"
**What did you do?**
use prometheus wechat send alert newline can't take effert
this is what i get

Pod prometheus-k8s-1 cpu arrive 3.7096932174325294 of limit within the 10 minutes\nPod prometheus-k8s-0 cpu arrive 3.264032788148153 of limit within the 10 minutes\n

the \n can't be encoded

**What did you expect to see?**
\n take effert

[2018-05-29 09:11] stuartnelson3 commented on #1397
This is a usage question, and would be better addressed by the community at prometheus-users@googlegroups.com.

[2018-05-29 09:11] #1397 closed

[2018-05-29 15:05] djooee commented on #908
This is my simple.yml in alertmanger:
global:
  resolve_timeout: 5m
  smtp_from: ****@***.com
  smtp_smarthost: 'smtp.***.com:25'
  smtp_require_tls: true
  pagerduty_url: https://events.pagerduty.com/v2/enqueue
  hipchat_api_url: https://api.hipchat.com/
  opsgenie_api_url: https://api.opsgenie.com/
  wechat_api_url: https://qyapi.weixin.qq.com/cgi-bin/
  victorops_api_url: https://alert.victorop

[2018-05-29 15:06] djooee commented on #624
This is my simple.yml in alertmanger:
global:
resolve_timeout: 5m
smtp_from: @.com
smtp_smarthost: 'smtp.**.com:25'
smtp_require_tls: true
pagerduty_url: https://events.pagerduty.com/v2/enqueue
hipchat_api_url: https://api.hipchat.com/
opsgenie_api_url: https://api.opsgenie.com/
wechat_api_url: https://qyapi.weixin.qq.com/cgi-bin/
victorops_api_url: https://alert.victorops.com/integrations/generic

[2018-05-29 15:28] djooee opened #1398 "alertmanger doesn't send mail when alert."
This is my simple.yml in alertmanger:
global:
   resolve_timeout: 5m
  smtp_from: test@test.com
  smtp_smarthost: 'smtp.test.com:25'
  smtp_require_tls: true
  pagerduty_url: https://events.pagerduty.com/v2/enqueue
  hipchat_api_url: https://api.hipchat.com/
  opsgenie_api_url: https://api.opsgenie.com/
  wechat_api_url: https://qyapi.weixin.qq.com/cgi-bin/
  victorops_api_url: https://alert.victo

[2018-05-29 21:57] stuartnelson3 commented on #1398
This does not follow the provided template, and gives no clues as to how we may help you.

[2018-05-29 21:57] #1398 closed

[2018-05-30 11:38] anandsinghkunwar commented on #1340
Any ETA on the new release?

[2018-05-30 12:53] stuartnelson3 commented on #1340
I've been addressing what I see as the two main issues to a new release:
- https://github.com/prometheus/alertmanager/pull/1389
- https://github.com/prometheus/alertmanager/pull/1384

I've just returned from a weeks vacation and need to pick the work back up again. I hope to finish these in the next two weeks and get a release out.

[2018-05-31 07:57] fubotao opened #1399 "When a group has multiple alarms,cannot receive resolved notice"
**What did you do?**
There are ten alarms in a notice group. after a time,one of them has resolved,But I didn't receive any notice. repeat_interval later, I got a notice， it has nine alarms.
if the group only have one alarm, When the alarm is resolved, I can receive the notice immediately.

**What did you expect to see?**
When a group has multiple alarms , One of them resolved, I should be notifie

[2018-05-31 08:02] simonpasquier commented on #1399
This isn't the current expectation. `group_interval` only applies when new alerts are added to the group, not when existing alerts resolve.

From the [docs](https://prometheus.io/docs/alerting/configuration/#route):

[code]

[2018-05-31 08:33] simonpasquier commented on #1399
A group of alerts is what matters for AlertManager so if the group itself isn't resolved, there's no point to send a notificaiton. If you want more fine-grained notifications, you can either lower `repeat_interval` or group on more labels.

[2018-05-31 09:08] calston opened #1400 "Decouple notifiers into a modular design"
Notifiers should be decoupled from the main application logic more to make it easier to test and integrate support for new endpoints.

Currently it's far too intimidating to contribute new notification destinations quickly as it's not at all clear where these should be added in various places without having to know the entire source tree.

[2018-05-31 09:15] stuartnelson3 commented on #1400
Our recommendation currently is to integrate via webhook, as we are not adding new notification types right now.

[2018-05-31 09:15] fubotao commented on #1399
OK.  But   the number of alarms in a group has changend .   More will  send a notificaiton, less is not.
Thanks

[2018-05-31 09:59] calston commented on #1400
Oh okay, so you're going to stick with a terrible architecture and close my suggestion without really reading the point.

Maybe I should stick to Elasticsearch ecosystem.

[2018-05-31 10:13] stuartnelson3 commented on #1400
Snide remarks rarely achieve anything positive. Pointing out to me in a friendly way that I mis-read your issue, however, would have been constructive.

Alertmanager is supported by free labor. If you're unhappy with the architecture, please submit a suggestion on how to fix it, and a pull request implementing it, instead of simply insulting what is currently there.

[2018-05-31 10:18] calston commented on #1400
Yeah I was first opening an issue as a point of tracking a feature branch.

This is not the first time someone on the Prometheus project has just immediately closed my issue without giving it any thought, and it reflects very poorly on the project.

[2018-05-31 10:44] prasenforu opened #1401 "Not receiving resolved alert"
I am using Prometheus and Alertmanager in Openshift 3.9 (Origin).

my Alertmanager config file as follows ..

[code]
I know in webhook_configs resolved is true but both config (webhook_configs & email_configs) not sending resolved alert.

Image : `openshift/prometheus-alertmanager:v0.14.0`

[2018-05-31 11:17] simonpasquier commented on #1401
hi @prasenforu, it makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. Please forward your question to the list and I'll try to help from there.

[2018-05-31 11:35] prasenforu commented on #1401
thanks Simon, Closing

[2018-05-31 11:35] #1401 closed

[2018-05-31 12:33] juliusv commented on #1400
Hey people. As far as I read the above, @stuartnelson3 mis-read the initial issue and maybe closed it a bit too hastily. That's not ideal, but responding with insults ("terrible architecture") is not helping either. Please try to remain respectful and assume the best in others.

I think the initial proposal was a good one at face value, except if you factor in the current policy of not adding new

[2018-05-31 12:39] ant31 commented on #1400
@calston could you explain why using the webhooks isn't satisfying enough for your use case?

[2018-05-31 12:44] calston commented on #1400
@ant31 Webhooks has nothing to do with this case. But if you insist on the generic, not everything is a webservice, and not all webservices have the same API. Having a proxy web service to take the alertmanager and turn it into something that isn't one is just ridiculous.

@juliusv Thanks. This is exactly why I made the suggestion, because modularising the notification mechanisms would make testin

[2018-05-31 12:58] juliusv commented on #1400
This is what we currently suggest though. You might find it ridiculous, but on the other hand you also have to respect that the maintainers have decided (for now!) that they are not able to support more baked-in notifiers in the project. Of course it's not as nice as having a built-in integration.

Yes, it would help, and I think it can still be a good idea to modularise it. But be aware that you

[2018-05-31 13:05] calston commented on #1400
Since this issue is so constantly directed at webhooks, it's worth pointing out that the documentation describes an incredibly simple interface that doesn't seem to provide support for anything more nuanced like adding headers for HMAC.

And according to this other thread here https://github.com/prometheus/alertmanager/issues/684 you seem to have no interest in that either. So basically you're tel

[2018-05-31 13:29] RichiH commented on #1400
Generally speaking, I think we all prefer communication without insults or threats.

Security is outside of our scope, on purpose. Proxy implementors are better suited to get security right so we rely on those throughout the ecosystem. Also see https://prometheus.io/docs/operating/security/

As far as I understood, you're offering to modularize this part of the codebase and to increase test covera

[2018-05-31 13:34] #657 closed

[2018-05-31 14:04] ripienaar commented on #1400
As a keen observer of this project who have spent a bit of time on its IRC channel - and opted to leave it - I would say the general tone of this project is incredibly unfriendly.

Any suggestion for improvement, deviation, any question for use outside of the very narrow scope you plan is instantly met with a hugely dismissive "That is not how you should use Prometheus".  This is dismissive, insul

[2018-05-31 14:10] ripienaar commented on #1400
And to be clear, this is not to condone the insults etc, but the continuous relentless dismissive attitude the prometheus team projects to the outside world is a giant slap in the face to the community, you can't exactly be unhappy that eventually this boils over and emotions get stirred.

[2018-05-31 14:38] RichiH commented on #1400
I agree that we need to improve our communication on issues in several regards, and we are actually currently working actively on this, e.g. see https://github.com/prometheus/prometheus/issues/4196

Even within Prometheus team, we regularly disagree about fundamental topics, which is, in part, due to the fact that a _lot_ more thought and experience has gone into many design decisions than are rea

[2018-05-31 15:02] ant31 commented on #1400
Most services allow 3rd party integration via webhook only. It is an extremely common practice. Yes, it adds load on the vendor side to integrate with the hook. But on the other side, it would not scale (limited number of contributors/maintenance/bugs support) to integrate every vendor on an opensource project

That said, the current interface is maybe insufficient to cover all use-cases, I don't

[2018-05-31 16:34] jamtur01 commented on #1400
@RichiH They may not become acceptable but @ripienaar was merely pointing out how he can see how they might happen. The tone of some of the Prometheus team in the past to polite suggestions has been upsetting. This has definitely engendered some ruffled feathers.

Transparency matters. It took me months of reading every issue - and I still subscribe to every update in the Prometheus and Alertmanag

[2018-05-31 19:08] sgissi commented on #331
@mxinden I believe this issue can be closed as well from #1394.

[2018-05-31 20:53] RichiH commented on #1400
@jamtur01 if you feel you gained "outside" understanding of some whys, please create PRs for docs. There's a short, magical time frame in which people are enough of an outsider to see some things with some distance. It would be great if you used that.

@sgissi the resistance will not go away in all cases, as you said yourself, there can be a lot of reasons for some decisions in a certain context.

[2018-05-31 21:00] jamtur01 commented on #1400
@RichiH I have. Numerous ones. And am writing a book about Prometheus. Doesn't address any of the other issues I raised though.

[2018-05-31 21:31] calston commented on #1400
@RichiH Then let me make one very simple suggestion here to not making everyone feel like they're having a door slammed in their face - don't use "Close and comment" for issues, maybe explain your POV and then leave at least *some* window for yourself to actually be wrong.

That is unless you're suggesting all of your reasons are 100% right, all of the time, with no discussions entertained.

[2018-05-31 21:44] juliusv commented on #1400
@jamtur01 Oh totally agreed. The problem is known and we need to do a better job on one hand surfacing the "why"s, but also in the tone and verbosity of responses when there is a disagreement or rejection. As @RichiH mentioned, we are in the process of both spreading awareness around this, but also documenting processes and reasonings better. It would be great if in such a case, a reply would star

[2018-05-31 22:04] jamtur01 commented on #1400
@juliusv Thanks. Gracious as ever. I fully agree the project needs autonomy and a decision-making process, just that the process needs to default to open, reasonable, polite, transparent, and documented. It's not a small challenge as I well know! :) I look forward to seeing what evolves.

[2018-06-01 07:29] mxinden commented on #331
@sgissi Thanks a lot for all your work. Especially bearing with us over all the feedback iterations. Highly appreciated!

I will close here. @mpchadwick and @community let us know if you have further comments.

[2018-06-01 07:29] #331 closed

[2018-06-01 08:45] anthraxn8b commented on #1382
Finally...
After configuring the alertmanager with `--web.external-url=https://myDomain/myPathPrefix --web.route-prefix=/` I got the healthcheck `wget --quiet --spider http://localhost:9093` working.
It is important to understand that the web route prefix is automatically set to the path portion of the set web external url - if not explicitly set.

[2018-06-01 08:45] #1382 closed

[2018-06-02 14:38] juliusv commented on #1400
Relevant: https://github.com/prometheus/docs/issues/1038

If anyone has great examples of other OSS projects documenting this kind of thing, please let us know.

[2018-06-04 20:15] Kellel commented on #1375
Amtool uses the same code for parsing config files as alertmanager. I also can reproduce the issue directly with the alertmanager binary:
`
level=error ts=2018-06-04T20:14:20.138151529Z caller=main.go:308 msg="Loading configuration file failed" file=conf.good.yml err="yaml: line 7: did not find expected key"
`

[2018-06-04 20:38] Kellel commented on #937
I'm going to work on this again :smile:

[2018-06-04 20:52] Kellel commented on #937
PR here: https://github.com/prometheus/alertmanager/pull/1402

[2018-06-04 22:42] Kellel commented on #1248
Usually when I want all the information from an alert I use the `json` output  and then use jq to find what I want.

As far as the arguments for getting this information we have the following
[code]

As far as what they should be, I kinda agree that we should probably just be able to specify `--state='active'` or something.

That being said I regularly use unsee and it has a pretty cool syntax whe

[2018-06-05 07:12] fubotao commented on #1399
Which version has this feature

[2018-06-05 07:33] pintify commented on #1399
I guess anyone closed before this [commit](https://github.com/prometheus/alertmanager/commit/62b957cc14031947337f3ad5cfb62d6fe3e38bab), but particularly we are working with 0.5.1 (a bit old, I know, we were very keen on the upgrade).

[2018-06-05 09:19] simonpasquier commented on #1399
Can you describe in more details why you need this feature?
I think that the rationale for not sending updates on partial resolution is to avoid the extra noise and load on the AlertManager and receivers. Basically something is wrong with my system and I don't care that a fraction of alerts has been resolved in between.

[2018-06-05 09:22] brian-brazil commented on #1399
Yes, the purpose of group_interval is the throttle the number of notifications from a group. This is largely for human sanity.
Sending partial notifications would defeat the entire purpose of group_interval.

[2018-06-05 09:31] pintify commented on #1399
The main purpose is integration: besides the mailing, we push the notifications through a web service that collects the alerts and resolutions and register them within a centralized alerts system (Prometheus is only part of the alert architecture), so the termination of an alert is as needed as the beginning of it. We considered reducing repeat_interval but the increase of the traffic was worse so

[2018-06-05 09:33] brian-brazil commented on #1399
I presume that's via a webhook, the next webhook notification will include all the resolved alerts since the last notification.

[2018-06-05 09:46] pintify commented on #1399
Indeed, but real time is lost. This is particularly annoying when, for example, some of the alerts remain for long time.

We faced this situation recently (the way we discovered the issue, indeed), when part of the system went down. The alerts raised for all of the equipments affected but lasted much time in going down because after booting them one of them needed to be replaced and we had to wait

[2018-06-05 09:49] brian-brazil commented on #1399
It's not the goal of the alertmanager to be realtime, the goal is to provide high signal to noise notifications to humans. With the above configuration the delay is going to be at most one minute.

If even that 1m delay is too much, I'd suggest ingesting the alerts from Prometheus directly rather than via the Alertmanager.

[2018-06-05 10:01] pintify commented on #1399
Actually, our configuration is:
[code]
However, when alert is solved, there are no notifications after the 2 minutes, at most the repetition after 12h which only lists the firing alerts but not the resolved. The service does not notice the resolution until all of them are solved.

The 2 minutes delay would be perfect, respect group_interval in both firing and resolving notifications seems fair to

[2018-06-05 10:03] brian-brazil commented on #1399
@pintify Can you file a separate bug for this then please, including the exact version you're running?

[2018-06-05 10:30] pintify opened #1403 "Resolved notification sent only when all alerts are solved"
**What did you do?**

Launch several alerts, and solve part of them

**What did you expect to see?**

A resolved notification after part of the alerts were solved.

**What did you see instead? Under which circumstances?**

No solved notification at all. Neither after group_interval time, nor when the repeat_interval reached. Resolution was notified when all the alerts were solved.

**Environment**

[2018-06-05 10:30] pintify commented on #1399
#https://github.com/prometheus/alertmanager/issues/1403

[2018-06-05 10:32] brian-brazil commented on #1403
Can you please include the timeline of alerts firing, resolved, and what notifications you saw?

[2018-06-05 10:53] pintify commented on #1403
Service 1 has been down for long time. Its notifications are on repeat_interval regime:

17:45 -> Received notification of service 1 down
18:33 -> Fall of service 2
18:45 -> Received notification of service 1 and 2 down (the delay is due to the scrape interval and the rules, acceptable)
19:00 -> Restored service 2
00:47 -> Received notification of service 1 down
...
9:59 -> Received notification o

[2018-06-05 11:14] brian-brazil commented on #1403
No resolved information at all seems odd. Are you sure your alerts are hitting the route you think they are?

[2018-06-05 11:31] pintify commented on #1403
Sorry, I forgot to show a case I tested right before changing the version:

14:15 -> Alert firing for service 1
14:17 -> Received notification of service 1 down
15:25 -> Alert firing for service 2
15:26 -> Received notification of service 1 and 2 down
15:32 -> Alert solved for service 2
15:52 -> Alert solved for service 1
15:53 -> Received notification of service 2 solved

No notification of servi

[2018-06-05 12:03] roidelapluie commented on #1403
We are very annoyed by this too. This was introduced by #1205.

[2018-06-05 12:07] brian-brazil commented on #1403
Sounds like that broke the case when send_resolved was set, as the stated behaviour is correct when it isn't set.

[2018-06-05 12:10] roidelapluie commented on #1403
@brian-brazil I think we should revert #1205 because we want to know when parts of the alert group is resolved.

[2018-06-05 12:11] brian-brazil commented on #1403
That'd be fixing one bug by introducing another, and generally you want to reduce alert noise rather than increase it. I suspect this will require a more involved fix.

[2018-06-05 12:12] roidelapluie commented on #1403
The problem of #1205 is that you do not know the current state by looking at the notifications.

[2018-06-05 12:12] roidelapluie commented on #1403
Why do you think that sending resolved alerts is a bug?

[2018-06-05 12:15] brian-brazil commented on #1403
I personally believe that resolved notifications are of little to negative value (and seem to cause quite a lot of bugs), but that's not the question here.

The behaviour as described in #1205 is correct when send_resolved is not set. The goal of notifications is to tell you about new things that have broken.
It sounds likes this inadvertently broke send_resolved, which should notify on every grou

[2018-06-05 12:22] roidelapluie commented on #1403
@brian-brazil #1025: If there is more that 5 minutes between the resolution of one alert and the resolution of the group, the resolved will not be sent for that sub alert. That is the actual bug.

the goal of #1205 is that even with send_resolved, you only get the resolution of sub alerts whon: 1. New firing alerts or 2. New resolved. That is what was expected in #1205.