[2018-06-05 12:44] brian-brazil commented on #1403
@roidelapluie to clarify, you're only reporting a bug fomr #1205 when send_resolved is set?

[2018-06-05 12:46] roidelapluie commented on #1403
I am not the reporter of this bug. But yes this bug is just when send_resolved is set.

[2018-06-05 14:02] simonpasquier commented on #1403
I'm unclear about the expected behavior. When I submitted #1205, my understanding was that another notification should be sent only if the group contains new firing alerts, irrespective of `send_resolved`.

Taking this [sequence](1403#issuecomment-394666439) of events for example

The expectation is still that the notification is sent at 17:47 (on `repeat interval`) but it should contain the firin

[2018-06-05 14:12] pintify commented on #1403
I'm not sure if it is the intended behaviour, but what I expect (and prior to #1205 it worked fine) is:

11:45 -> Received notification of service 1 and 3 down
12:00 -> Restored service 3
**12:02 -> Received notification of service 1 down, service 3 solved**
18:02 -> Received notification of service 1 down

[2018-06-05 14:35] roidelapluie commented on #1403
@simonpasquier I would expect

11:45 -> Received notification of service 1 and 3 down
12:00 -> Restored service 3
12:02 -> Received notification of service 1 down, service 3 solved
18:02 -> Received notification of service 1 down

Why?

Because then when do we warn if an alert in a group is solved, then firing again?

11:45 -> Received notification of service 1 and 3 down
12:00 -> Restored service

[2018-06-05 18:23] brian-brazil commented on #1403
Pintify's https://github.com/prometheus/alertmanager/issues/1403#issuecomment-394724240 is the expected semantics (though the exact time of that 12:02 notification may vary, I'd expect it at either 12:00 or 12:05 currently).

[2018-06-05 18:31] roidelapluie commented on #1403
@brian-brazil that is then a simple revert of #1205 ?

[2018-06-05 18:32] roidelapluie commented on #1403
OKAY. Now I get it!!! I get the why of #1205.

[2018-06-05 22:12] Kellel commented on #344
Since generatorURL is outside of labels (which is what are used for matching currently) do we want to expand this feature request to be able to silence based on any part of a alert?

I can see that receivers might be useful to silence against, maybe fingerprint(?), but to be honest i'm struggling to come up with a silence usecase for any of the other fields.

Also in my experience I haven't ever h

[2018-06-06 02:48] pvdvreede opened #1404 "Change routing_key config in VictorOps config to be a template string instead of string"
I note from the docs (https://prometheus.io/docs/alerting/configuration/#%3Cvictorops_config%3E) that the `routing_key` config is just a `string`.

I was wondering if its possible to make this a `tmpl_string` so that people can change which key an alert is routed to by putting a label on the alert with that team's routing key. This would allow us to have teams self manage their notifications witho

[2018-06-06 03:03] sadlar opened #1405 "altermanager use kubernetes_sd_configs"
altermanager configure webhook use kubernetes_sd_configs  dynamic

[2018-06-06 03:15] #1405 closed

[2018-06-06 03:17] sadlar commented on #1405
use service dns fqdn

[2018-06-06 07:17] brian-brazil commented on #344
I don't see a need to silence on anything else.

The whole point is for cases where labels aren't sufficient, such as a HA pair which are producing identical alert labels but one of them is dodgy.

[2018-06-06 07:21] brian-brazil commented on #1404
It is already templated, the docs are out of date. Would you like to send a PR to fix the docs? It's the 'docs' repo.

[2018-06-06 07:55] stuartnelson3 commented on #1405
Did you mean to close this issue? Or was that an accident?

[2018-06-06 08:35] simonpasquier commented on #1403
Just to be sure we're all on the same page. The semantics are:

* `send_resolved: true`

11:45 -> Received notification of service 1 and 3 down
12:00 -> Restored service 3
~12:02 -> Received notification of service 1 down, service 3 solved
~18:02 -> Received notification of service 1 down

* `send_resolved: false`

11:45 -> Received notification of service 1 and 3 down
12:00 -> Restored service 3

[2018-06-06 08:38] roidelapluie commented on #1403
yes

[2018-06-06 13:23] simonpasquier commented on #1403
Working on the fix.

[2018-06-06 19:43] Kellel commented on #1196
I'm happy to spend some time working on this. I think it should be pretty simple to implement even with a configurable header.

[2018-06-07 09:05] pvdvreede commented on #1404
Cool, thanks I have done the PR and will add the DCO sign off tomorrow.

[2018-06-07 09:07] brian-brazil commented on #1404
Great!

[2018-06-07 10:36] RichiH commented on #1400
@calston did you have time to spec something out, already? If yes, I would be interested to have a look.

[2018-06-07 16:16] Kellel commented on #1196
Ok so I may have completely misunderstood the point of this feature request.

I have implemented a part of the api that overrides the createdBy field sent by the proxy, but I haven't endeavored to make the ui auto-populate the field yet. I guess that making the api return an error on mismatch might be better then just silently overriding the createdBy field.

So I guess I ask @mitchellrj @simonswi

[2018-06-07 16:26] brian-brazil commented on #1196
The original feature request was for forcing via a header, however as per https://github.com/prometheus/alertmanager/issues/1196#issuecomment-373429029 that's out of scope for the alertmanager. Returning a error if the user chooses to tweak the created by field is similar.

The best we can do is default the field value, and leave the rest to code outside the alertmanager.

[2018-06-07 16:31] mitchellrj commented on #1196
Hi Kellen, first let me say thanks for stepping up and helping!

For some more context:

We run alert managerbl behind a proxy application that provides
authz/authn, and then passes authorised requests through to Alertmanager.
Along with the original request, the proxy application adds headers (e.g.
`X-Auth-User`). In order to have a sort of audit / non-repudiation function
around who has created

[2018-06-07 16:34] mitchellrj commented on #1196
Alternatively, there could be an option to pass a correlation ID through
from the proxy and have that be logged along with actions be Alertmanager
in some verbose/audit log mode. That would meet our needs and also satisfy
Brian's understandable desire not to see a strict authz/authn function
creep into Alertmanager.

On Thu, 7 Jun 2018, 17:26 Brian Brazil, <notifications@github.com> wrote:

[2018-06-07 16:36] brian-brazil commented on #1196
What I'd suggest here is having your proxy log all silence related POST requests (and whether they succeeded) from users to the Alertmanager. That'd allow you to track down who created a specific silence if someone was being malicious.

Silences in the Alertmanager are not intended to be used as an a audit trail, similarly to how the Alertmanager generally is not intended to hold a log of all aler

[2018-06-08 05:30] pasali commented on #1342
+1 for this feature.

[2018-06-08 06:47] Shashidhar1121 commented on #139
hi castertap
         can u post the dockerfile for above prometheus version

[2018-06-08 09:37] #1403 closed

[2018-06-08 09:49] stuartnelson3 commented on #1387
closed by #1389

[2018-06-08 09:49] #1387 closed

[2018-06-08 09:51] stuartnelson3 commented on #1341
I think this can be closed. Pipelines may be out of sync, but they should be properly gossiping now, which will prevent duplicate messages when the cluster is healthy (duplicate messages are expected if the cluster experiences a network partition)

[2018-06-08 09:51] #1341 closed

[2018-06-08 09:56] stuartnelson3 opened #1409 "Set max queue size for memberlist transmit queue"
The queue of gossip messages is currently unbounded within alertmanager. An example implementation for dealing with this can be seen here: https://github.com/hashicorp/serf/commit/74bdd15c

During a recent network partition, an isolated alertmanager was queueing gossip messages without bound that could never be sent:

![image](https://user-images.githubusercontent.com/1398104/41151998-b5488f1a-6b1

[2018-06-08 13:52] simonpasquier commented on #1342
Comparing the OpsGenie documentation and the AlertManager code, it seems that the OpsGenie API has changed a bit (again?).

The [documentation](https://docs.opsgenie.com/docs/alert-api#section-create-alert) states that the JSON object for creating an alert can contain a `responders` field (and the `teams` field is undocumented):

[code]

The AlertManager code uses the `teams` field though:

https:

[2018-06-08 23:48] #1404 closed

[2018-06-11 16:33] bforbis commented on #1340
How long will `v0.15.0-rc.2` be monitored for stability before an official `v0.15.0` is released? There's a lot of great stuff in here, so I'm very excited to start using it in an official release.

[2018-06-11 16:39] stuartnelson3 commented on #1340
We're currently running it at SoundCloud. It's looking stable, so I'm hoping we can release it on Wednesday or Thursday.

@mxinden unless you have any objections, would you like to do the release for 0.15.0?

[2018-06-11 16:42] mxinden commented on #1340
@stuartnelson3 Wednesday or Thursday sounds good.

For sure. Glad to do so in case there are no issues reported till then. :tada:

[2018-06-12 09:28] simonpasquier commented on #1125
@stuartnelson3 I strongly suspect that this issue has been closed by #1205 which has been included in v0.14.0.

[2018-06-12 09:31] simonpasquier commented on #964
@stuartnelson3 as for https://github.com/prometheus/alertmanager/issues/1125#issuecomment-396526604, I think that this issue can be closed.

[2018-06-12 12:03] mxinden commented on #1125
@nsaud01 & @community are you still able to reproduce this with the most recent Alertmanager [release candidate](https://github.com/prometheus/alertmanager/releases/tag/v0.15.0-rc.2)? If not, I would go ahead and close this issue.

Thanks for your help.

[2018-06-12 12:43] stuartnelson3 commented on #1340
One issue we need to deal with:

The internal queue of messages to gossip is currently unbounded, and only messages under a certain size can be sent (currently 1400 bytes (configurable) - msg_overhead (memberlist messages, usually a few byte)). Any messages that push the total gossip size past this "gossip size limit" remain in the queue and are attempted to be sent next time ... but they can neve

[2018-06-12 13:46] brancz commented on #1340
Are we sure this is actually a single message that we're talking about? To me this seems like the Alertmanager instances are trying to gossip the `FullState` at once, and that's simply too large.

[2018-06-12 13:58] simonpasquier commented on #1340
Indeed I can reproduce the problem (for instance by creating a silence with a very long comment). Eventually the silence gets replicated when the nodes do a full-state sync but the queue doesn't drain the messages which are too large. I can't see an easy solution for this except prune the queue regularly?

[2018-06-12 14:11] brancz commented on #1340
How about a reasonable limit for comments and extract comments out of the silencelog entry, and the same for anything that's currently not limited. If the message size limit is way to small we should of course adapt that as well.

[2018-06-12 14:55] stuartnelson3 commented on #1340
The logs above were for a single nflog that had a couple hundred alerts in it. I don't think there's a good way to limit the number of alerts we gossip, otherwise we're building a gossip that will always double-notify for large nflogs. I'm thinking a best-effort hashing-the-hashes might be the best option ..?

[2018-06-12 15:08] stuartnelson3 opened #1412 "Large nflogs/silences can never be gossiped"
One issue we need to deal with:

The internal queue of messages to gossip is currently unbounded, and only messages under a certain size can be sent (currently 1400 bytes (configurable) - msg_overhead (memberlist messages, usually a few byte)). Any messages that push the total gossip size past this "gossip size limit" remain in the queue and are attempted to be sent next time ... but they can neve

[2018-06-12 15:09] stuartnelson3 commented on #1412
@brancz

[2018-06-12 15:09] stuartnelson3 commented on #1412
@simonpasquier

[2018-06-12 15:09] stuartnelson3 commented on #1412
@brancz

[2018-06-12 15:09] stuartnelson3 commented on #1412
@stuartnelson3

[2018-06-12 15:13] mxinden commented on #1340
This would mean silence comments would not be gossiped among Alertmanagers, right @brancz ? :confused:

With my understanding of the code, a notification [Entry](https://github.com/prometheus/alertmanager/blob/master/nflog/nflogpb/nflog.pb.go#L58)'s main portion consists of the hashed alerts. Thereby hashing the hash sounds dangerous to me.

[2018-06-12 15:14] mxinden commented on #1412
This would mean silence comments would not be gossiped among Alertmanagers, right @brancz ? :confused:

With my understanding of the code, a notification [Entry](https://github.com/prometheus/alertmanager/blob/master/nflog/nflogpb/nflog.pb.go#L58)'s main portion consists of the hashed alerts. Thereby hashing the hash sounds dangerous to me.

[2018-06-12 15:37] mxinden commented on #1412
As far as I understand the  above mentioned limit (1398) originates from the UDP buffer size (1400). According to the memberlist [docs](https://github.com/hashicorp/memberlist/blob/master/config.go#L210), a single gossip translates exactly into a single UDP package. Thereby increasing the limit by default would not be an option, as 1400 bytes is the industry standard as an MTU.

[code]

[2018-06-12 15:41] stuartnelson3 commented on #1412
They would have to be merged on a fullstate sync, which happens every 60 seconds. But that would be confusing for users.

[2018-06-12 15:42] stuartnelson3 commented on #1412
What part of this sounds dangerous?

[2018-06-12 15:44] mxinden commented on #1412
Doesn't hashing a hash increase the risk of hash collisions a lot?

[2018-06-12 15:51] stuartnelson3 commented on #1412
I'll be honest, I only read this response here: https://crypto.stackexchange.com/questions/12021/can-the-xor-of-two-non-collision-resistant-hashes-be-collision-resistant, from which it seems it's "probably ok".

Given that this entry is looked up based on groupkey/receiver, the issue would be if two groups of non-identical alerts for a single groupkey/receiver resulted in the same hash. So, in add

[2018-06-12 15:57] jpds commented on #654
@stuartnelson3 If I try the config you've provided with `v0.15.0-rc.2`; I get:

[code]

[2018-06-12 15:58] #964 closed

[2018-06-12 16:01] mxinden commented on #1412
Sorry, a UDP package greater than the MTU would be fragmented. This leaves us with a maximum [UDP package size](https://en.wikipedia.org/wiki/User_Datagram_Protocol) of 65,535 bytes (8 byte header + 65,527 bytes of data). Packet fragmentation might still be something we would like to avoid.

[2018-06-12 16:23] mxinden commented on #1412
Talking to @brancz in regards to double hashing: We had been facing issues gossiping only a single hash per notification, which resulted in duplicate notifications. This was fixed in https://github.com/prometheus/alertmanager/pull/703.

[2018-06-12 16:27] stuartnelson3 commented on #1412
Hm, how do we fix the issue of gossiping a long list of alerts?

[2018-06-12 16:29] brian-brazil commented on #1412
We're going over the internet, so that would be best. Is TCP an option?

[2018-06-12 16:52] stuartnelson3 commented on #1412
The gossip messages (currently happening every 200ms) are over UDP, but the fullstate sync (every 60sec) use tcp.

[2018-06-12 17:03] stuartnelson3 commented on #1412
We could implement `memberlist.Transport` and use TCP instead of UDP for the gossip messages. With keep-alive, and the messages being sent every 200ms, we shouldn't have to re-establish the connection. Then we can raise the "packet" limit to something arbitrarily high.

https://github.com/hashicorp/memberlist/blob/master/transport.go
https://github.com/hashicorp/memberlist/blob/master/net_transpor

[2018-06-12 17:04] stuartnelson3 commented on #1412
We would be XOR'ing on top of a different hashing algorithm, I wonder if that would have an effect on collisions.

[2018-06-12 22:50] VR6Pete opened #1413 "Expose Alert severity metric"
When building dashboards it would be useful if I could filter the severity from alert manager metrics.

Critical = 10
Warning = 5

Currently I do this using Prometheus datasource but unfortunately does not know what alerts are silenced therefore my dashboards are reporting inaccurate statistics.

If the alert severity was exposed in the alert manager metrics then I can configure grafana to look at

[2018-06-13 08:22] brancz commented on #1413
Thanks for opening this issue! A problem I'm seeing about this is that the `severity` label, or in fact any label is just a convention, so it's difficult to expose metrics like this. I see the use for this though.

Maybe someone has an idea how to do this in a generic or completely different way to achieve the same result. Maybe @brian-brazil has a trick up his sleeve?

[2018-06-13 08:27] brian-brazil commented on #1413
This sort of thing doesn't belong on /metrics, as it's not about AM performance.

Even given that, doing it generically would be hard. It sounds in this case like the right solution is someone to write an AM data source for Grafana.

[2018-06-13 08:30] brancz commented on #1413
I recall @davkal was thinking of an Alertmanager datasource in Grafana, that seems like a reasonable solution to me.

[2018-06-13 08:36] simonpasquier commented on #1412
From my POV, this would be a good alternative. Another one would be to send messages larger than a predefined size using [memberlist.SendReliable()](https://godoc.org/github.com/hashicorp/memberlist#Memberlist.SendReliable). This would keep the existing gossip processing for smaller messages.

[2018-06-13 08:44] simonpasquier commented on #654
A [Slack notification](https://prometheus.io/docs/alerting/configuration/#slack_config) contains only one attachment. You can add multiple [fields](https://api.slack.com/docs/message-attachments#fields) though.

[code]

If you need several attachments, you can still configure several Slack notifiers in the same receiver.

[2018-06-13 08:45] brancz commented on #1412
Implementing transport via TCP sounds like a good solution to me. I'd rather start optimizing for performance/throughput when we can actually quantify and justify it. Until then it's better to keep it simple stupid.

[2018-06-13 08:47] roidelapluie commented on #1413
https://grafana.com/plugins/camptocamp-prometheus-alertmanager-datasource/installation

[2018-06-13 08:47] stuartnelson3 commented on #1412
Which optimization are you referencing? I thought we were trying to figure out ways to gossip large messages since it currently isn't working.

[2018-06-13 09:19] brancz commented on #1412
Sorry I wasn't clear enough. I was commenting on @simonpasquier's suggestion to "keep the existing gossip processing for smaller messages". I think we're better off fully understanding and controlling one way of gossiping that we can improve when we can actually measure it, and my suggestion is to implement the `memberlist.Transport` with TCP for this.

[2018-06-13 09:30] brancz commented on #1413
@roidelapluie neat, thanks! I had not known about this plugin.

[2018-06-13 10:52] stuartnelson3 commented on #654
@jpds the field `attachments` does not exist, check the link that @simonpasquier provided

[2018-06-13 10:54] stuartnelson3 commented on #1412
K, looking at this now.

[2018-06-13 11:10] roidelapluie commented on #1413
Yes and you have the annotations too

[2018-06-13 11:40] VR6Pete commented on #1413
Yes there is a data source for Alert Manager and I have tried using that but was not able to filter on severity :)

[2018-06-13 12:41] #1338 closed

[2018-06-13 12:47] brancz commented on #1413
Well that just sounds like the plugin should be extended to support the full capability of the Alertmanager API :) (I have yet to try it out, so I don’t know what is and what’s not possible)

[2018-06-13 14:46] stuartnelson3 commented on #1412
Alright, @grobie and I looked at the `memberlist.Transport` interface and its default implementation, `memberlist.NetTransport`.

The way memberlist uses the `Transport` interface assumes two different types of connections: one that's short-lived (in the default implementation, these are the TCP connections), and one that is a persistent stream (the UDP connection).

The short-lived connection is

[2018-06-13 15:16] VR6Pete commented on #1413
Looks like the plugin has recently been updated to bring back severity labels, but cannot see that I can pull back the number of silenced alerts - I have raised an issue with the plugin author.

[2018-06-13 20:50] stuartnelson3 commented on #1412
After talking with grobie, the simplest way forward seems to be setting a limit on which messages we gossip (based on size), and anything above that gets sent via `memberlist.SendReliable()`.

[2018-06-14 13:32] brancz commented on #1412
I get it for moving forward and getting a stable v0.15 out, let's do it this way.

I still think we should do the transport implementation. Yes I think memberlist is a lot of work, but my feeling is that it is actually giving us all the control and understanding of how everything works, this is necessary for us to ever ship an actually stable version of Alertmanager with a stable wire protocol for

[2018-06-14 14:12] grobie commented on #1412
After having been pulled into this discussion and shown a lot of the interfaces and implementation in memberlist, I don't come to the same conclusion @brancz. Unfortunately memberlist is not that much of a low-level library, it is quite tailored for the specific needs of serf/consul, and the transport interface appears to be extracted after the fact. Memberlist has  some very concrete asumptions a

[2018-06-15 10:51] stuartnelson3 opened #1417 "amtool: support adding alerts"
It would be nice if `amtool` supported adding alerts.

The syntax is difficult though, as we need two lists of key-value pairs: the alert's labels, and its annotations.

An potential example, trying to be consistent with `amtool silence add`:

[code]
The first argument, if not in the form `key=value`, is assumed to be the alert's name, with each following key-value pair making up the labels. Annot

[2018-06-15 11:40] #1412 closed

[2018-06-15 14:04] stuartnelson3 commented on #1340
alertmanager with the latest changes for sending large messages via tcp seems to be doing the right thing.

I'm gone without internet access for the next two weeks. I propose that @mxinden releases the final rc, @grobie keeps an eye on the alertmanager dashboard over the weekend to make sure it's working correctly, but then @mxinden can release 0.15.0 early next week? How does this sound

[2018-06-15 14:05] mxinden commented on #1340
@stuartnelson3 That sounds good to me.

[2018-06-15 16:08] #1409 closed

[2018-06-15 20:33] lae commented on #956
I have to agree with @bluecamel, I finally got around to refreshing our monitoring deployment (we were still on Prom 0.18.x) and the new grey on white color scheme is a bit strenuous on the eyes.

[2018-06-20 02:07] komal-SkyNET opened #1423 "Alerts from webhook carrying confusing "status" for alerts"
**What did you do?**
Capturing alerts from webhook receiver.

**What did you expect to see?**
Each alert and it's corresponding status(firing or resolved) in the JSON.

**What did you see instead? Under which circumstances?**
There is an alert status for the group in the JSON that says "firing" but there are alerts in the JSON in the list that actually have status of resolved. Observed JSON struct

[2018-06-20 04:41] komal-SkyNET commented on #1423
Why is an overall status for the JSON needed when each alert is specifying it's status?

[2018-06-20 04:42] komal-SkyNET commented on #1423
Why is an overall status for the JSON needed when each alert is specifying it's status?

[2018-06-20 07:52] mxinden commented on #1423
@komal-SkyNET If a single alert in an alertgroup is firing, the entire group is firing. You can find the implementation of this logic [here](https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/prometheus/common/model/alert.go#L77). This is by design, to quickly see the overall status of an alertgroup.

I guess you could see this as duplicate (not normalized)  information. I th

[2018-06-20 13:01] sjparkinson opened #1424 "Alertmanager links are lost when using OAuth redirects"
**What did you do?**

Setup OAuth in a reverse proxy to secure Alertmanager.

**What did you expect to see?**

Alertmanager links would be preserved when redirected through the OAuth redirection-based flow.

**What did you see instead? Under which circumstances?**

The anchor element of Alertmanagers links are not visible to the reverse proxy and so are lost when redirecting through the OAuth flow

[2018-06-20 13:07] sjparkinson commented on #1424
For example, if I visit a link, https://alertmanager/#/alerts?filter=%7Balertname%3D%22Target%20Unavailable%22%2C%20system%3D%22zabbix%22%7D, but I'm not logged into the OAuth provider, the reverse proxy cannot read the anchor from the request and so it's not included in the `redirect_uri` parameter of the OAuth request.

[2018-06-20 13:28] brancz commented on #1424
Are you sure this doesn't have anything to do with your oauth proxy? If you are using the bitly/oauth2_proxy then I can confidently say it's not a problem with the Alertmanager but with the proxy, as I have a pending pull request to fix this :slightly_smiling_face: (RE: https://github.com/bitly/oauth2_proxy/pull/483).

[2018-06-20 14:38] tkrishtop commented on #360
@brian-brazil maybe good solution would be to add an option --log.urls=true

@stuartnelson3 --log.level=debug doesn't show an url anymore (the latest Prometheus v2.3.0 and Alertmanager v0.13.0) :(

[code]

[2018-06-20 14:52] sjparkinson commented on #1424
Ah! That is exactly what we're trying out!

[2018-06-20 14:52] sjparkinson commented on #1424
I'll close this and watch that issue. Wonderful, thank you!

[2018-06-20 14:52] #1424 closed

[2018-06-20 14:58] simonpasquier commented on #360
@tkrishtop the URL is currently only logged for the webhook receiver. As @brian-brazil noted above, it could be a concern for some URLs contain tokens which shouldn't end up in the logs.

[2018-06-20 18:13] mxinden commented on #1340
@grobie did you ran into any issues on the new `v0.15.0-rc3` release candidate in the last couple of days?

I don't see any blocking issues reported by the community so far. :tada:

[2018-06-20 18:35] grobie commented on #1340
I mentioned in it #prometheus-dev earlier today, looks all good from what I
can see. Go for it!

On Wed, Jun 20, 2018, 20:13 Max Inden <notifications@github.com> wrote:

[2018-06-20 21:46] Techcadia commented on #1340
+1 Sounds great

[2018-06-21 05:40] komal-SkyNET commented on #1423
Thanks! That makes sense since alerts in prometheus are driven by alert-groups. (by default grouped by: alertname). But then also, I guess it could be redundant if send_resolved flag is set to false; then every alert notification itself is essentially a "firing" event.

[2018-06-21 10:14] zhailibao2013 opened #1425 "missing agentid 0.15.0-rc.3"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here
        Linux 4.9.34-29.el7.x86_64 x86_64

* Alertmanager version:

	insert output of `alertmanager --version` here
alertmanager, version 0.15.0-rc.3 (branch: HEAD, revision: 5e86f61bd73c6325d6049ab3dbcb468ede26

[2018-06-21 10:38] mxinden commented on #1425
@zhailibao2013 could you please add a bit more description to this issue?

- How does your setup look like?
- Is the above error log captured on the Alertmanager network interface connecting to the `wechat-configs` receiver?
- Should the agentid be an url parameter? Seems like we are not adding it: https://github.com/prometheus/alertmanager/blob/1f9a7b6182de5b7d46fbe0e11e22810f3a341072/notify/impl

[2018-06-21 12:58] simonpasquier commented on #1236
As stated in the [SMTP](https://godoc.org/net/smtp#PlainAuth) godoc, the library will allow plain authentication only if TLS is used or the server is local. So you'll have to fulfill one of the conditions to make it work. I'm afraid there's nothing much that can be done on the AlertManager's side.

[2018-06-21 14:18] note commented on #1236
@simonpasquier That's understandable then but I would say that it would be nice to have it stated in the alertmanager's docs. If the application exposes `smtp_require_tls` and the documentation does not states that it's not effective (outside of localhost) then it's quite confusing for the user.

[2018-06-21 14:21] brian-brazil opened #1426 "amtool check-config should not require --alertmanager.url flag"
[code]

[2018-06-21 14:22] brian-brazil opened #1427 "amtool check-config should error out if no files are passed to it"
Compare:

[code]

[code]

[2018-06-21 14:24] brian-brazil commented on #1426
Ignore me, I was looking at an old branch.

[2018-06-21 14:24] #1426 closed

[2018-06-21 14:32] tkrishtop commented on #360
@simonpasquier thank you.

For the ones which will follow and maybe fall in the same trap:

If your hipchat integration curl is
[code]

Do not add API version in hipchat API url, i.e. write in alertmanager.yml something like
[code]

and not
[code]

[2018-06-22 02:44] jddggh commented on #1425
@mxinden @zhailibao2013
I met this problem too, and I read the source code. It seems that the problem located in notify/impl.go with a function named: "func tmplText(tmpl *template.Template, data *template.Data, err *error) func(string) string"
I will paste some code below:

[diff.txt](https://github.com/prometheus/alertmanager/files/2125977/diff.txt)
![output1](https://user-images.githubuserconte

[2018-06-22 10:11] brian-brazil commented on #1340
Who's planning on doing the release?

[2018-06-22 10:40] mxinden commented on #1340
@brian-brazil I will prepare it today.

[2018-06-22 10:45] jidckii commented on #1399
Faced the same problem.
I do not receive a notification resolved if all problems are in the 1st group.

For example, I monitor 40 URLs in a blackbox.

I have these configurations:

prom/prometheus:v2.2.1 :

[code]

rule_alerts:

[code]

prom/alertmanager:v0.14.0 :

[code]

for example (behavior with the parameter `repeat_interval: 1h`):

12:00 site1 down (I get email Firing 1)
12:10 site2 down (I

[2018-06-22 10:46] brian-brazil commented on #1340
Great!

[2018-06-22 10:57] pintify commented on #1399
@jidckii, this was further discussed in #1403 and solved with #1408. Check it

[2018-06-22 13:23] simonpasquier commented on #1399
@fubotao can you check whether #1408 solves your problem? It is included in the latest release of the AlertManager [v0.15.0](https://github.com/prometheus/alertmanager/releases/tag/v0.15.0). If so, please close this issue.

[2018-06-22 16:54] Bregor opened #1433 "Unable to create data directory"
**What did you do?**
Upgrade alertmanager from 0.14.0 to 0.15.0 in kubernetes
The only change in deployment manifest is `.spec.template.spec.containers[0].image`

**What did you see instead? Under which circumstances?**

    level=info ts=2018-06-22T16:43:31.7236863Z caller=main.go:174 msg="Starting Alertmanager" version="(version=0.15.0, branch=HEAD, revision=462c969d85cf1a473587754d55e4a3c4a2abc

[2018-06-22 17:04] mxinden commented on #1340
With https://github.com/prometheus/alertmanager/pull/1429 merged, I will close here. Feel free to reopen if there are any questions.

[2018-06-22 17:04] #1340 closed

[2018-06-22 17:33] Bregor commented on #1433
Deployment manifest:

[code]

[2018-06-23 06:42] skorpy2009 opened #1434 "Needs RFC1918 Private Address or --cluster.advertise-address flag to start alertmanager"
**What did you do?**
Try to start the alertmanager. I used `/opt/alertmanager-0.15.0.linux-amd64/alertmanager --config.file /etc/prometheus/alertmanager.yml`
**What did you expect to see?**
See the alertmanager start.
**What did you see instead? Under which circumstances?**
Alertmanager did not start. It started when I added `192.168.2.2/24` to any of my interfaces or when I added the `--cluster.a

[2018-06-24 09:08] FUSAKLA commented on #1433
it's caused by this commit
https://github.com/prometheus/alertmanager/pull/1313/files

There was change in default WORKDIR in dockerfile and default `--storage.path` is set relatively to `data/`

So Alertmanager tries to create the directory in your mounted configmap

you can temporarily solve it by setting `--storage.path="/alertmanager/data"` I suppose

imho proper solution would be to set the d

[2018-06-24 10:44] FUSAKLA commented on #1433
@stuartnelson3 I actually wanted to send PR but now thinking about running AM out of the docker setting the `storage.path` default to absolute path is not good idea either.

The problem is that your commit introduced issue that if someone using docker has any `cmd` overridden it will after upgrade from 0.14 to 0.15 start to store data to the `/etc/alertmanager/data` instead of former `/alertmanage

[2018-06-24 13:40] Bregor commented on #1433
@FUSAKLA thank you, custom `--storage.path=` saved my upgrade.

[2018-06-25 06:18] #1423 closed

[2018-06-25 07:02] mxinden commented on #1434
@skorpy2009 Thanks for reporting this issue.

Would you mind adding more details to "I added 192.168.2.2/24 to any of my interfaces"? It is surprising to me, that your system can not find its IP address or determine one.

[2018-06-25 07:19] roidelapluie commented on #1434
I guess OP's server just has public IP addresses

[2018-06-25 08:32] simonpasquier commented on #1425
I have investigated a bit and the problem is that template objects are missing for Wechat. The templating system is returning an error but this is never caught and returned to the user. I'll send a PR so that @jddggh and @zhailibao2013 can test.

[2018-06-25 13:16] simonpasquier commented on #1434
@skorpy2009 can you share the IP addresses (eg `ip addr` output)? Looking at the code, I don't understand how it ended up with a `<nil>` address for the advertise address.

It is indeed undocumented that you need to specify the `--cluster.advertise-address` when your box only has public addresses.

[2018-06-25 13:20] skorpy2009 commented on #1434
[code]

[2018-06-25 14:42] simonpasquier commented on #1434
Thanks! This is helpful. I'll fix the logic of `calculateAdvertiseAddress` so it returns a meaningful error message (instead of `"Failed to parse advertise address \"<nil>\""`). That being said, you will still have to pass the `--cluster.advertise-address` argument to be able to start AlertManager: this is a "security" from the memberlist library to avoid exposing cluster ports over the Internet.

[2018-06-26 01:14] fubotao commented on #1399
solved , thanks .

[2018-06-26 01:14] #1399 closed

[2018-06-26 09:20] liuxu623 commented on #1425
@simonpasquier I have tested ,it works,thank you.

[2018-06-26 22:33] AxelMonroyX commented on #141
I get the IP from docker inspect, replace it in a file and then run the prometheus container
[code]

and my prometheus.yml looks like

[code]

[2018-06-27 03:11] jamessewell commented on #98
I'd like to add that I think this is worth adding - SNMP is industry standard for a whole world of old-guard applications.

I can understand not adding yet another new hotness messaging app - but SNMP traps are a bit different.

[2018-06-27 11:04] jangrewe opened #1439 "Metric alertmanager_alerts reports "active" alerts when there are none"
**What did you do?**
Query multiple Prometheus instances for `alertmanager_alerts` to get the active alert count for each one.
[code]

**What did you expect to see?**
I was expecting to see `0` active alerts from Alertmanagers that currently don't have any active, unsilenced alerts, e.g.:
[code]

**What did you see instead? Under which circumstances?**
From some Alertmanager instances, we get >0 a

[2018-06-27 15:21] stuart-warren opened #1440 "using pagerduty and event rule filters. resolve events lost due to lack of context/payload"
**What did you do?**
Tried to use alertmanager with pagerduty and their new event rule filters, filtering events on custom details and routing to a specific service.

**What did you expect to see?**
triggers and resolve events getting routed to a specific pagerduty service

**What did you see instead? Under which circumstances?**
triggers sent to service successfully, resolve events not picked up

[2018-06-27 15:28] stuart-warren commented on #1440
cc: @mikebryant

[2018-06-29 06:20] ajardan opened #1443 "Sending alerts to OpsGenie fail with unexpected status code 422"
**What did you do?**

Configured OpsGenie receiver like this:

[code]
**What did you expect to see?**

Receive notifications in opsgenie

**What did you see instead? Under which circumstances?**

An error occurred:

[code]

**Environment**

* System information:

	insert output of `uname -srm` here

* Alertmanager version:

[code]
* Prometheus version:

[code]
* Alertmanager configuration file:
[c

[2018-06-29 10:02] tangxuye opened #1444 "When the alarm is restored, the alertmanager send the wrong recovery value message"
**What did you do?**
I tried to use sql_exporter to collect some business data and cofigured the rule file of prometheus

**What did you expect to see?**
In order to notify me when the alarm is triggered or resolved from altermanager by wechat.

**What did you see instead? Under which circumstances?**
When the alarm is triggered, the current value of sql  which I have received was  higher than the

[2018-06-29 10:35] roidelapluie commented on #1444
This is not a bug. Alerts in prometheus only fire when there is a value. Therefore when an alert is resolved, all we know is the last computed value before the end of the alert.

[2018-06-29 10:37] roidelapluie commented on #1413
But .. on the other hand we have ALERTS in prometheus. Which is not about prom performance. Why can't we expost ALERTS in here, with 3 metrics:

alerts_processed
alerts_unprocessed

[2018-06-29 10:43] brian-brazil commented on #1413
ALERTS is not on Prometheus's /metrics. I'm not sure what you're proposing.

[2018-06-29 10:46] roidelapluie commented on #1413
it that inserted directly in the prometheus DB? oh that is a surprise for me.

[2018-06-29 11:25] TheTincho opened #1445 "Tests fail in some environments"
Hi, I have just uploaded 0.15.0 to Debian, and immediately got test failures from 4 arches. I was ready to attribute this to some arch problem, but looking at the code, and at #1434, I think this is a problem with how memberlist deals with IP addresses (which seems pretty hackish, btw, and does not seem to take into account ipv6 properly).

These are the errors:
[code]

And it seems the code at fa

[2018-06-29 11:59] tangxuye commented on #1444
So,are there any methods to catch the resolved value?

[2018-07-01 08:15] CrazyNash opened #1448 "Duplicated alerts"
**What did you do?**
A prometheus cluster with three instances connected to alert manager cluster with three instances

**What did you expect to see?**
each alert fired only once

**What did you see instead? Under which circumstances?**

each alert fired three times

**Environment**

* System information:

	insert output of `uname -srm` here

* Alertmanager version:

	0.15-rc.3

* Prometheus versi

[2018-07-01 09:02] hoffie commented on #1448
Can you provide some more details?
- Has this setup worked before (e.g. with previous alertmanager versions)?
- Can you share the relevant prometheus configs (configured alertmanagers, alert rules) and alertmanager configs (command line, config file)? It would be even better if it was possible to provide some minimal configuration which triggers the problem so that others can easily reproduce it.

[2018-07-01 09:58] povilasv opened #1449 "Clustered Alertmanager instances not joining via gossip"
**What did you do?**

Started clustered alertmanager (v.0.15) in Kubernetes and restarted all nodes.

Ref https://github.com/prometheus/alertmanager/pull/1428

**What did you expect to see?**

Eventually alertmanager instances joining into gossip.

**What did you see instead? Under which circumstances?**

The problem is that when you restart all of the alertmanager instances in an environment like

[2018-07-01 11:56] CrazyNash commented on #1448
@hoffie This is the first time it's set up like this.

I don't think detailed config info is necessary here, it's just a very common question, does alert manager support this? It seems alert manager only dedup alerts fom same source url, is it ever designed to support deduping alerts from multiple sources(three prometheus instances here)? if yes then how to set up? can't find any doc in the area.

[2018-07-01 12:09] hoffie commented on #1448
Yes, alertmanager is supposed to support this.
Your description sounds like different external labels in your Prometheus instances may be the problem. The following blog post may give the right pointers in such cases:
https://www.robustperception.io/high-availability-prometheus-alerting-and-notification/

If you need further help, I suggest [posting to the mailing list or joining the IRC channel](

[2018-07-01 13:06] CrazyNash commented on #1448
It works, thanks

[2018-07-01 13:06] #1448 closed

[2018-07-02 01:45] tangxuye commented on #1444
Understood,thank you very much indeed.This problem has been bothering me for a week.

[2018-07-02 01:45] #1444 closed

[2018-07-02 12:01] dingxiaoyue commented on #1385
hi @zong400
 I met the same problem. How did you solve it?
thanks.

[2018-07-02 12:56] simonpasquier commented on #1439
I've seen this discrepancy before too. IIRC the reason is that the metrics are computed based on the in-memory store of alerts which include the resolved ones. Those are deleted only every 30 minutes (by default). That being said, I agree that it would be nice if the numbers include only firing alerts.

FWIW `suppressed` is the sum of inhibited and silenced alerts.

[2018-07-02 13:09] simonpasquier commented on #1440
Also cc @scarvel8 who committed the initial support for PagerDuty v2 API.

[2018-07-02 15:42] CatherineBowen opened #1451 "0.15.0 Overwriting defaults in pagerduty_configs details broken"
Hi this is a problem I experienced when trying to update to 0.15.0

**What did you do?**
I ran `alertmanager-0.15.0.linux-amd64/amtool --alertmanager.url example.com check-config /usr/local/example.yml`

**What did you expect to see?**
I expected to get the same output as with `alertmanager-0.14.0.linux-amd64/amtool` which was:
`Checking '/usr/local/example.yml'  SUCCESS`

**What did you see inste

[2018-07-03 06:22] LuboVarga commented on #1111
Just to note, I have seen configuration solution like this:
[code]

[2018-07-03 09:37] matthiasr commented on #1417
I think using flags for the annotation is fine.

For resolving (immediately), that's a separate action that I would expect under a separate command. ("Please `add --resolve` this" sounds weird).

When an alert is created, how long would it normally take to resolve by itself? How would you implement `--resolve=<date>`?

[2018-07-03 09:45] stuartnelson3 commented on #1417
By default, when an alert is sent from prometheus -> alertmanager, it has an empty `EndsAt` field, which indicates that the alert will auto-resolve after `resolve_timeout`, which is set in the AM config. The auto-resolve is reset timer is reset each time the alert is re-sent by prometheus. Typically this is on the order of a few minutes, with prometheus resending the alerts based on its evaluation

[2018-07-03 09:47] brian-brazil commented on #1417
This is something we should be changing, we should always send an EndsAt as only Prometheus knows the eval_interval.

[2018-07-03 10:04] stuartnelson3 commented on #1417
That sounds great, I had been wanting to set `resolve_timeout` for different receivers (because we have some servers with long evaluation intervals). Is this something that just needs someone to open a PR?

[2018-07-03 11:24] simonpasquier commented on #1451
Thanks for reporting this, I can confirm what you observed.

[2018-07-03 13:54] calston commented on #1271
That's not possible in Kubernetes.

[2018-07-04 02:24] VinceMD opened #1453 "Slack certificate signed by unknown authority"
**What did you do?**
I setup a Slack receiver

**What did you expect to see?**
I expected to receive notifications in Slack

**What did you see instead? Under which circumstances?**
level=error ts=2018-07-04T01:12:25.705362686Z caller=notify.go:303 component=dispatcher msg="Error on notify" err="Post https://hooks.slack.com/services/XXXXXXX: x509: certificate signed by unknown authority"

where XX

[2018-07-04 04:42] stuartnelson3 commented on #1453
This is a usage question, and would be better directed to our mailing list prometheus-users@googlegroups.com where others could benefit. This also sounds like more of a docker specific question, where you need to create a new container based on the alertmanager container with your cert.

[2018-07-04 04:59] VinceMD commented on #1453
closing and will ask on the right channels. tx

[2018-07-04 04:59] #1453 closed

[2018-07-04 06:31] VinceMD commented on #157
@stuartnelson3 do you know an example on how to configure webhook with SNS?

[2018-07-04 06:40] matthiasr commented on #1417
So amtool should also set EndsAt in any case? What would a reasonable time
be for a manually created alert?

FWIW, I like --ends-at=… more clear than --resolve=… because it's clear
that it expects an absolute time.

On Tue, Jul 3, 2018, 12:27 Brian Brazil <notifications@github.com> wrote:

[2018-07-04 06:56] brian-brazil commented on #1417
For this particular tool given it's raw API access I'd not set an EndsAt unless the user specifically asks for one.

[2018-07-04 11:31] 7mode opened #1454 "Basic authentication not working in Alertmanager v.0.15.0"
**What did you do?**

I'm trying to use basic authentication in Alertmanager v.0.15.0 by configuring a receiver with `basic_auth` inside `http_config section`.

In the receiver side I print the request headers and I see that `Authorization` header is missing.

**What did you expect to see?**

A request with Authorization header in the receiver side.

**What did you see instead? Under which circums

[2018-07-04 12:31] simonpasquier commented on #1454
Hmm, I've tested locally and it works for me. Are you sure that you're logging all the headers? Can you double check the configuration with the Status page?

[2018-07-04 12:50] Allex1 commented on #1451
+1

[2018-07-04 16:48] 7mode commented on #1454
@simonpasquier you are right! I needed to add in the conf file under `etc/apache2/sites-available/` in `VirtualHost` section the following: `WSGIPassAuthorization On`

[2018-07-05 07:10] simonpasquier commented on #1454
@7mode thanks for the heads up. I'm closing the issue then.

[2018-07-05 07:10] #1454 closed

[2018-07-05 07:40] iksaif opened #1457 "gossip takes one pushPull interval to settle"
**What did you do?**

Started an alertmanager cluster.

**What did you expect to see?**

Silences synchronized after a few seconds.

**What did you see instead? Under which circumstances?**

Silences synchronized after >30s

**Details**

When a node joins the memberlist, it does a pushPull, but at this time alertmanager hasn't registered the nflog and silence listeners, so the initially received d

[2018-07-05 07:53] stuartnelson3 commented on #1449
Thanks for reporting this!

[2018-07-05 07:54] #1451 closed

[2018-07-05 12:41] simonpasquier commented on #1443
Can you start AlertManager with the `--log.level=debug` argument and share the full logs? Also I presume that you've replaced `$OPSGENIE_API_KEY` by your real API key value.

[2018-07-05 12:52] #1425 closed

[2018-07-05 14:28] roiromanoclick opened #1459 "trying to add one more routes to different channel on slack"
Hi,

Im trying to forward all sisense alerts to different channel on slack, and it is not working im still geting alerts to the main channel. what i miss? please assit me :)
this is my yml:

[yml.txt](https://github.com/prometheus/alertmanager/files/2166979/yml.txt)

[2018-07-05 14:31] ajardan commented on #1443
@simonpasquier I also presumed, but in the end it looks like docker configs do not support templating in such an easy way. I specified the key directly, and it works fine, so I am closing. Sorry for the hassle !

[2018-07-05 14:31] #1443 closed

[2018-07-05 14:40] simonpasquier commented on #1443
@ajardan no problem and thanks for closing the issue!

[2018-07-05 21:01] mxinden commented on #1125
Closing here. Feel free to reopen in case you still face this issue.

[2018-07-05 21:01] #1125 closed

[2018-07-06 14:47] simonpasquier commented on #1459
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-07-08 21:34] TimoL opened #1460 "Alertmanager fails to create slack posts, if channel name contains spaces"
**What did you do?**

Configured ``channel`` in ``slack_configs`` with name ``Team ABC``:

    receivers:
      - name: team-abc
        slack_configs:
          - api_url: <webhook to Mattermost>
            channel: 'Team ABC'

**What did you expect to see?**

message posted in Mattermost channel "Team ABC".

**What did you see instead? Under which circumstances?**

No message in Mattermost, ins

[2018-07-09 08:00] stuartnelson3 commented on #1460
Thanks for reporting this!

[2018-07-09 16:58] therealgambo commented on #1449
+1 just experienced this now whilst redeploying our cluster.

[2018-07-09 17:48] bobmshannon commented on #1417
Agreed that this would be useful. Is anyone actively working on this? If not, I can take it.

[2018-07-09 18:46] ealexhaywood commented on #1460
+1.  Confirmed this is the case.

As a workaround, you can replace whitespaces with hyphens `-`.

[2018-07-09 20:55] TimoL commented on #1460
thanks @ealexhaywood, using hyphen as workaround.

[2018-07-10 11:18] mxinden commented on #1443
@ajardan do I understand correctly that you had a misconfigured api key? In that case, did the [error handling](https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L1017-L1020) not give you any feedback?

In any case, contributions for better error feedback are always very welcome.

[2018-07-10 12:09] mxinden commented on #1459
Closing here. @roiromanoclick let us know if we missed something.

[2018-07-10 12:09] #1459 closed

[2018-07-10 13:22] simonpasquier commented on #1460
Yep, there's a wider issue that almost none of the notifier URL parameters (except for webhook) are validated/escaped properly. That should be a global fix IMO.

[2018-07-10 13:31] mxinden commented on #1443
I am more than happy to help. Let us know and thanks for the feedback.

[2018-07-10 13:37] simonpasquier commented on #1022
This issue relates to the old mesh library which has been since replaced so I'm going to close it. In case the latest AlertManager release doesn't support IPv6, feel free to open a new issue.

[2018-07-10 13:37] #1022 closed

[2018-07-10 13:41] simonpasquier commented on #625
This issue relates to the old mesh library which has been since replaced so I'm going to close it.
* The latest AlertManager release includes additional cluster metrics that should ease monitoring and troubleshooting.
* The status page of the UI includes information about the cluster.
* Debug logs show when peers are joining and leaving the cluster.

[2018-07-10 13:41] #625 closed

[2018-07-10 13:47] simonpasquier commented on #710
@jstoja is it still an issue for you? If yes, can you try with the latest AlertManager version? Otherwise feel free to close the issue.

[2018-07-10 13:53] simonpasquier commented on #1457
Closed by #1456

[2018-07-10 13:53] #1457 closed

[2018-07-10 14:57] simonpasquier commented on #1326
Maybe something @lucperkins can incorporate knowing that the `proxy_url` parameter is shared by Prometheus, AlertManager and a few other projects?

[2018-07-11 07:53] stuartnelson3 opened #1464 "Support timeouts for amtool"
`amtool` currently uses `context.Background()` for all its API interactions, but we should start supporting timeouts to make `amtool` better for usage in scripting.

Add support for setting the timeout in the config file, and as a global flag that overwrites the config setting.

Use `model.ParseDuration()` from `github.com/prometheus/common/model`

[2018-07-11 09:01] stuartnelson3 opened #1466 "Make alertmanager config on status page readable"
The current wall of yaml on the status page is relatively unhelpful.

The config is also sent to the status page as JSON. We could parse this and then provide collapsible sections for the config, and potentially even allowing cool things like clicking on a route's receiver and then showing the receiver.

[2018-07-11 09:04] brian-brazil commented on #1466
That doesn't sound right, it should be coming as raw text in YAML format as at some point in the future we'll hopefully be able to keep comments. This should be kept consistent with Prometheus, and part of the idea is to see the actual config as it has been parsed.

[2018-07-11 09:13] stuartnelson3 commented on #1466
We send both raw text in YAML format and the parsed config marshaled as JSON:

https://github.com/prometheus/alertmanager/blob/master/api/api.go#L193-L194

[2018-07-11 10:20] simonpasquier commented on #1273
It seems that your server doesn't advertise a valid certificate:

```err="starttls failed: x509: certificate is valid for xxxxx.com, not yyyyy.com"```

Currently there's no way to bypass the verification so you'd need to fix the certificate.

There are a couple of PR opened to turn off the certificate verification or use a custom server certificate but all are stalled (see #1186, #1140 and #757).

[2018-07-12 10:52] jstoja commented on #710
@simonpasquier I don't have access anymore to the settings that were used at the time to try again. I'm closing it and I'll re-open if I get the issue next time ;)

[2018-07-12 10:52] #710 closed

[2018-07-16 05:38] waterdrink opened #1469 "blocking when alert"
**What did you do?**
reload alertmanager with a large number of alerts happening

**What did you expect to see?**
calling  alert.Put() works fine

**What did you see instead? Under which circumstances?**
firstly, everything is fine. Then alert.Put() is blocking on `ch <- alert`. And I can not alert anything anymore.
[code]
according by goroutine profile, I thought may be `disp.Stop()` in my reloa

[2018-07-16 08:01] stuartnelson3 commented on #1469
Thanks for the report! I'll take a look into this, it sounds like we aren't properly coordinating tearing down the old dispatcher and signalling that we're done with that channel. It will probably take some more reading to figure out what all needs to be coordinated, but what immediately jumps out to me is that the alert iterator isn't being closed:

[code]

This change might be enough, but I'm wi

[2018-07-16 11:16] jangrewe commented on #1439
Right, maybe just an additional metric with the label `firing` that shows the number of alerts that would be seen on the the index page. Maybe easier to implement than changing the whole purging stuff.

[2018-07-16 14:29] #1417 closed

[2018-07-17 06:12] Gatses opened #1472 "Double notifications in the slack"
**What did you do?**
Configuring notifications in the slack.

**What did you expect to see?**
Notifications to the channel defined by the setting: "channel"

**What did you see instead? Under which circumstances?**
Notifications to the channel defined by the setting (channel), as well as to the default channel specified when creating the Webhook.
If disable the "send_resolved" setting, notificatio

[2018-07-17 07:45] Gatses commented on #1472
[code]

At slack it is called "Incoming WebHooks". :)

[2018-07-17 07:51] #1464 closed

[2018-07-17 09:32] waterdrink commented on #1469
Thanks for feedback! But It seems cannot solve the problem, Since there is already a it.Close() at https://github.com/prometheus/alertmanager/blob/master/dispatch/dispatch.go#L188.

[2018-07-17 09:46] stuartnelson3 commented on #1469
ah! alright, then it is a matter of some more coordination.

[2018-07-17 10:07] simonpasquier commented on #1472
Your configuration is a bit off, it should be:

[code]

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-07-17 10:07] #1472 closed

[2018-07-18 17:50] mprzygrodzki opened #1473 "Custom parameters not working in slack_config like icon_url etc."
Hello,
I would like to customize my alertmanager deployment, and so far everything works great, notifications are sent correctly via AlertManager to my slack channel, but i've found that there are some cool things which may be customized like image on the left side of the alert, username etc. I've added icon_url & username parameters but they seems to not working. Custom icon is not showing at all

[2018-07-19 14:31] simonpasquier commented on #1473
Lets have the discussion on the mailing list first...

[2018-07-19 15:56] mprzygrodzki commented on #1473
@simonpasquier - you're correct - i've recreated webhook and now everyhting works as i've added my custom image for bot during creation - but so far i was convinced that this might be related to AM configuration - closing the topic.

[2018-07-19 15:56] #1473 closed

[2018-07-23 07:53] luceos commented on #1365
@rossigee just wanted to point out that discord supports slack compatible webhooks. Any service that allows you to specify a (complete) slack webhook endpoint allows you to use discord too. In your discord channel create a webhook and retrieve the url; then just append `/slack` to the end.

This should work with the [current prometheus integration](https://prometheus.io/docs/alerting/configuration

[2018-07-23 13:15] kahootali opened #1476 "Unable to send messages based on labels to two receivers"
I want to send different notifications on multiple slack channels based on the labels of the pod e.g. if my pod has `env: dev` then it should send notifications to one channel else the prod one. I know we can send alerts based on the labels on alerts as below but can we send alerts based on labels of pods:
[code]

[2018-07-23 13:36] simonpasquier commented on #1476
I've replied to your email on the Prometheus mailing list. I'm closing the issue for now. Will reopen if we find that there is a real bug.

[2018-07-23 13:36] #1476 closed

[2018-07-24 08:58] simonpasquier opened #1477 "AlertManager times out when waiting for cluster being settled"
Reported here: https://groups.google.com/d/msg/prometheus-users/F6kkVMJa35c/RYzjVwkvBQAJ

#1456 ([code](https://github.com/prometheus/alertmanager/pull/1456/files#diff-8384a3585ec4c1c107e75631ddadeab5R273)) introduced a regression in v0.15.1: `Settle()` always times out after 1 minute because the check interval itself is 10min. It means that AlertManager will always wait 1 minute before sending al

[2018-07-24 09:03] roidelapluie commented on #1477
Indeed the  gossip does not settle at boot (according to logs) even if the nodes are perfectly capable of talking to each other.

[2018-07-24 17:55] isavcic opened #1479 "/status page "leaking" query string sensitive data"
**What did you do?**

Opened the /status page

**What did you expect to see?**

I expected *not* to see sensitive data, ie. API key in a query string of the URL to a webhook clearly visible.

For example, quite a few modern web servers trim the query string in the logs after the question mark for this very same reason.

**What did you see instead? Under which circumstances?**

API key in plain sig

[2018-07-24 18:51] brian-brazil commented on #1479
This is expected behaviour, URL is not listed as a secret and thus is visible per https://prometheus.io/docs/operating/security/#secrets. If you need to pass secrets you should use a standard auth mechanism such as basic auth, bearer tokens, or TLS client certs.

[2018-07-24 20:42] #1477 closed

[2018-07-25 13:11] azizzoaib786 commented on #554
based on documentation .. inside alertmanager.yml file, we can define as below:

`global:
  hipchat_api_url: 'https://company.hipchat.com'
  http_config:
   proxy_url: 'http://<IP>:3128' `

[2018-07-25 13:14] azizzoaib786 commented on #1326
based on documentation .. inside alertmanager.yml file, we can define as below:

global:
hipchat_api_url: 'https://company.hipchat.com'
http_config:
proxy_url: 'http://:3128'

[2018-07-25 13:54] azizzoaib786 commented on #853
Based on documentation .. inside alertmanager.yml file, we can define as below:

global:
hipchat_api_url: 'https://company.hipchat.com'
http_config:
proxy_url: 'http://(IP):3128'

[2018-07-25 16:20] navyabairi commented on #766
hello,

I'm having the same issue with the alertmanager

Below are the logs I'm getting:

`level=error ts=2018-07-25T16:16:28.992881815Z caller=dispatch.go:279 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err=EOF
level=error ts=2018-07-25T16:16:28.992495571Z caller=notify.go:332 component=dispatcher msg="Error on notify" err=EOF
level=error ts=2018-07-25T16:16:28.992960753Z cal

[2018-07-25 16:27] navyabairi opened #1480 "alertmanager can't send email"
hello,

I'm working on setting up alertmanager on google cloud.
I'm having the some issue with the alertmanager sending emails, but when I use mailx server, I'm getting email without any issue. please helm me with this

I'm using this command with mailx:
echo -e 'hello' | mailx  -S ssl-verify=ignore -S smtp=smtps://smtpserver.com:2525 -S from="noreply@domain.com" -S ssl-verify=ignore -S nss-config

[2018-07-25 16:43] stuartnelson3 commented on #1480
This looks like a usage question, and would be better sent to prometheususers@googlegroups.com, where others could benefit from reading this.

The error is an EOF, which I'm guessing is something about communicating with your mail server.

Is this request being sent against a strict ssl port? `require_tls` is for tls and not ssl connections.

[2018-07-25 16:48] stuartnelson3 commented on #1480
You can test this with `openssl s_client -connect smtpserver.com:2525`. If it is successful then your endpoint is speaking `ssl`, and we are sending an initial `EHLO` before attempting to upgrade with `start_tls`.

[2018-07-25 18:42] navyabairi commented on #1480
I tried `openssl s_client -connect smtpserver.com:2525` this earlier, it is showing the output as connected. Is it possible to configure ssl on alertmanager email_config? I couldn't find any doc regarding this.

[2018-07-26 00:58] isavcic commented on #1479
Okay, thanks.

[2018-07-26 00:58] #1479 closed

[2018-07-26 10:39] #1460 closed

[2018-07-26 19:29] TimoL commented on #1460
Thanks for fixing this so fast!

[2018-07-27 15:35] mikebryant commented on #1440
Testing with https://v2.developer.pagerduty.com/v2/docs/send-an-event-events-api-v2, sending a resolve event including all the payload fields seems to have the desired effect.

[2018-07-27 18:35] sevaho opened #1484 "unable to initialize gossip mesh, No private IP address found, and explicit IP not provided"
**What did you do?**

So I want to run alertmanager as docker in my own docker network like:

[code]

But I get this error:

[code]

Is there an option to pass the IP as ENV variable?

[2018-07-27 22:08] scarvel8 commented on #1440
Looks good to me, I don't see any issue with removing the if statement and including the payload in other trigger types from reviewing the documentation

[2018-07-28 00:02] vikas027 commented on #1480
@navyabairi  Can you send an email from the local server?

Maybe try this command and check logs `/var/log/mail.log` (for Ubuntu)
[code]

[2018-07-28 06:12] ckyx opened #1485 "The prometheus resolved alarm message does not correctly display the correct value of the current indicator, but displays the value of the last evaluation period."
The prometheus resolved alarm message does not correctly display the correct value of the current indicator, but instead displays the value of the last evaluation period. And the value in the resolved message is greater than the set threshold.

[2018-07-28 07:56] stuartnelson3 commented on #1484
Thanks for writing! This looks like a usage question, which would be better asked on the prometheus-users@googlegroups.com where others could benefit from the answer.

[2018-07-28 09:52] hoffie commented on #1485
By design, this seems to be how it is supposed to be:
https://groups.google.com/forum/#!searchin/prometheus-users/alert$20resolved$20value|sort:date/prometheus-users/oc2fHcSY5UA/ilbVuQbpAAAJ
https://groups.google.com/forum/#!searchin/prometheus-users/alert$20resolved$20value|sort:date/prometheus-users/b9_yscNUdFE/SEEMm_NtAAAJ
https://groups.google.com/forum/#!searchin/prometheus-users/alert$20reso

[2018-07-30 09:30] simonpasquier commented on #1484
@sevaho I'm closing it since you followed up on the mailing list.

[2018-07-30 09:30] #1484 closed

[2018-07-30 09:30] simonpasquier commented on #1485
I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-07-30 09:30] #1485 closed

[2018-07-30 14:02] simonpasquier opened #1487 "Replace go-bindata"
See https://github.com/prometheus/prometheus/issues/2411#issuecomment-404445255 and https://github.com/prometheus/prometheus/pull/4430

TL;DR `go-bindata` isn't maintained anymore and needs to be replaced by an equivalent project in better shape.

[2018-07-30 14:04] stuartnelson3 commented on #1487
Looks good.

I would prefer to not commit the `go generate`'d files, but I don't have a super strong opinion on this.

[2018-07-31 07:02] roidelapluie commented on #1487
As we commit the vendor, I think it is better to commit the generated files. It ensures that everyone who clones the repo can build the same alertmanager.

[2018-07-31 07:51] b82 opened #1488 "How to display/print metric values in html template"
Hi,

I'm trying to find a way to display/print **metric** values in **html email template** (using golang template of course), but I can't figure out how to do this. Is it possible to do this or I need to create a separated file for custom functions?

I've already tried to print out the metric inside the html template with:
_{{ printf node_memory_MemTotal_bytes }}_, and the same inside the file .y

[2018-07-31 07:55] tnTano commented on #1488
+1, i'm searching for the same things...

[2018-07-31 08:13] stuartnelson3 commented on #1488
This is a usage question, and should be asked on the mailing list prometheus-users@googlegroups.com, where multiple people could benefit.

The template reference documentation is available on the prometheus website: https://prometheus.io/docs/alerting/notifications/

[2018-08-01 12:27] stuartnelson3 commented on #510
can you post your sanitized config?

[2018-08-01 12:36] amaury-d commented on #510
Some information have been scrambled for security

[code]

[2018-08-01 13:56] discordianfish opened #1491 "Slack: Support setting image_url"
Looks like setting `image_url` for a slack message isn't support but it should. I can add this.

[2018-08-01 13:57] #1440 closed

[2018-08-01 13:57] stuart-warren commented on #1440
We got notification that PagerDuty have made a change to how their API resolves events:

(PagerDuty Support)Aug 1, 05:58 PDT
Hi Mike, Thanks for your patience while we worked on this. Our engineering team has made an update that should now allow resolve events that are sent with only a dedup_key to resolve alerts through global event rules.

So it looks like this issue is no longer necessary

Look

[2018-08-01 13:58] discordianfish opened #1492 "Slack: Support creating actions and/or attachments per alert"
The alertmanager batches alerts and sends them as one messages with one attachment to slack.
This makes it impossible to render an action or an attachment per alert.

[2018-08-01 14:54] Kirchen99 opened #1493 "Webhook connection timeout in version 0.15.*"
**What did you do?**

Let Alertmanager send notifications to webhook.

**What did you expect to see?**

Alerting notification is shown in RocketChat channel.

**What did you see instead? Under which circumstances?**

nothing happens. Error message in logs. It works with same configuration file in v0.13.0 and v0.14.0, but fails in v0.15.0 and v0.15.1

* Alertmanager version:

alertmanager, version

[2018-08-01 15:06] simonpasquier commented on #1493
This is weird. I suspect that it has to do with v0.15.0/v0.15.1 being built with go1.10 while previous versions were built with go1.9. The test would be to build v0.14.0 with go1.10 and see if the issue reproduces. Are you able to do that? Otheriwse I can provide it.

[2018-08-01 15:18] kavyakul opened #1494 "Alertmanager notification failure is on one receiver but retry is on all the receivers in the list"
**What did you do?**
I have an alert which needs to be sent to two receivers:
[code]

**What did you expect to see?**
If the alert is being rejected by one of the receiver, the retries should not send the notification to receiver where there was no rejection.

**What did you see instead? Under which circumstances?**
The alert is being rejected at the web api receiver, while its being successfully

[2018-08-01 15:35] simonpasquier commented on #1494
_I've edited the description to fix the formatting_

[2018-08-01 15:59] amaury-d commented on #510
I have found the beginning of the issue:
The implemented webhook llistener didn't answer 'ok' or with a status 200, therefore the alertmanager generated a "deadline exceeded" error.
Once corrected, I now get resolved alert in webhook.

From that point, I don't know if that's the desired behavior from alertmanager or if it's a bug.

[2018-08-02 07:47] Kirchen99 commented on #1493
Thank you @simonpasquier . it works with proxy setting:
[code]
This is still weird for me, why in previous versions it works without proxy setting.
This issue can be closed.

[2018-08-02 07:47] #1493 closed

[2018-08-02 08:14] stuartnelson3 commented on #510
A webhook is expected to respond with a 2xx for successful sends, and a 5xx for retryable requests.

If your webhook never responds or finishes the request, the request should timeout from AM's perspective.

[2018-08-02 08:30] azizzoaib786 opened #1495 "AlertManager throwing 400 status code for hipchat room"
Facing issue on AlertManager when sending alerts to hipchat, sometimes it get success and sometimes it sends error 400.
Please note that AlertManager is running as container inside Linux host.

**Environment**

* System information:

	`Linux 3.10.0-693.17.1.el7.x86_64 x86_64` --> Linux Host

* Alertmanager image:

	`prom/alertmanager:latest`

* Prometheus image:

	`prom/prometheus:latest`

* Alert

[2018-08-02 08:46] stuartnelson3 commented on #1495
A 400 indicates an invalid request was sent. Since it works some of the time, I would guess that some times you're sending an empty message field, which the API doesn't like. Can you check?

[2018-08-02 09:02] azizzoaib786 commented on #1495
How can I check that ? by message field you mean `message: '{{.CommonAnnotations.description}}'` is sent empty ?

[2018-08-02 09:10] stuartnelson3 commented on #1495
That would be my guess. You're grouping by `service`, and if the service either has no description or the two (or more) services don't share their description, there will be no description in common annotations.

[2018-08-02 09:17] azizzoaib786 commented on #1495
I just did one test by sending empty message and it seems your explanation is correct.
Should I modify something in `group_by: [service]` to avoid this situation ?

`{
  "error": {
    "code": 400,
    "field": "message",
    "length": 1,
    "message": "Length of value u'' for field 'message' must be more than or equal to 1",
    "type": "Bad Request",
    "validation": "minLength",
    "value":

[2018-08-02 09:26] azizzoaib786 commented on #1495
Okay, after modifying `group_by: [service]` to `group_by: [alertname]` improves the situation.
BTW thanks for pointing it out.

[2018-08-02 09:28] simonpasquier commented on #1494
Are you really running 0.6.2? If so, please upgrade to the latest stable version and try to reproduce.

[2018-08-02 13:27] fahlmant opened #1496 "Templating support for body of webhook_config"
It seems that many people want to have messaging platform-specific integrations, for example Issue #1365, and PR #1490. According to the documentation, this project is not accepting any new custom receivers. To remedy this, adding support for including a custom JSON body, similar to including a custom message template (as seen here[](https://prometheus.io/blog/2016/03/03/custom-alertmanager-templa

[2018-08-02 13:36] roidelapluie commented on #1496
Similar to https://github.com/prometheus/alertmanager/pull/1422

[2018-08-02 13:43] simonpasquier commented on #1496
Also #701. This has been already discussed at length and the consensus so far has been to keep the webhook receiver as it is now. Although I see how it could be useful, it will also probably trigger additional requests such as custom authentication mechanisms, headers and so on. Eventually I'm afraid that it won't be that helpful.

Feel free to question this answer on our [developer mailing list](

[2018-08-02 13:52] fahlmant commented on #1496
@simonpasquier Is there a discussion on the mailing list, or just in issues and PRs?

[2018-08-02 14:09] simonpasquier commented on #1496
@fahlmant I didn't find any discussion on the ML. @stuartnelson3 may know better.

[2018-08-02 14:17] stuartnelson3 commented on #1496
To my knowledge, discussion has been only in issues/prs

[2018-08-02 14:39] simonpasquier commented on #1488
This has been answered here: https://groups.google.com/d/msg/prometheus-users/fLURp1-tZqY/vIBq11M-CAAJ

[2018-08-02 14:39] #1488 closed

[2018-08-02 14:55] simonpasquier commented on #1385
@zong400 can you reproduce the problem with AlertManager v0.15.1?

[2018-08-02 17:59] PMDubuc commented on #226
+1 We're using Alerta to manage alerts from Alertmanager through a web hook.  There's a plugin that lets us silence alerts in Alertmanager by when they are acknowledged in Alerta.  When a silenced alert clears there is no resolved notification sent to Alerta so the alert still looks like it's unresolved.  I think that if send_resolved is true in the webhook_configs the notification should be sent

[2018-08-03 12:21] comicmuse opened #1497 "Show Related Expired Silences on Alerts page"
Show silences that would have affected a firing alert where they not expired. Perhaps in the Info box to avoid cluttering the main screen.

[2018-08-03 13:17] simonpasquier commented on #952
@artemlive do you still see the issue with the latest AlertManager release?

[2018-08-03 13:18] simonpasquier commented on #904
@parikhravish do you still see the issue with the latest AlertManager release?

[2018-08-03 18:00] lnformer opened #1498 "Clustered Alertmanager failed to start in private subnet"
**What did you do?**
/usr/local/bin/alertmanager --config.file=/etc/alertmanager/alertmanager.yml
                                              --storage.path /alertmanager-data
                                              --cluster.peer node-01.my-domain:9094
                                              --cluster.peer node-02.my-domain:9094
                                              --log.le

[2018-08-04 11:12] s-urbaniak commented on #1498
@lnformer your private subnet IPs seem not to be rfc6890 compliant (`127.0.1.1` and `11.0.51.32`), hence the automatic advertise address resolution fails as it is not able to detect any private IPs from known private subnet ranges.

Maybe try to set `--cluster.advertise-address` explicitely to override automatic advertise IP resolution.

[2018-08-04 14:34] lnformer commented on #1498
whats the logic behind the allowing to run alertmanager with only rfc6890 subnet ranges?
what if i'm running in multiple private vpc and i can't reuse 10.0.0.0/16 ?

[2018-08-04 15:01] mxinden commented on #1497
@comicmuse could you add some more details on the particular use-case of this feature?

[2018-08-04 15:18] poblahblahblah commented on #1497
I can chime in on this as we implement something similar on an internal dashboard that pulls in data via the AlertManager API.

On our internal dashboard we have a small badge next to an alert name that indicates that this alarm was previously silenced but is now back in alarm after the silence expired.

Hovering over the badge will give the most applicable Silence `message`, and clicking the badg

[2018-08-04 17:16] s-urbaniak commented on #1498
This logic (as far as I can see in the code) only refers to automatic advertise IP resolution, if no advertise address is specified manually. Maybe you could ping upstream https://github.com/hashicorp/memberlist for the actual rationale.

Note that you can run alertmanager on any advertise address if you specify it manually (using `--cluster.advertise-address`), this logic refers to automatic IP d

[2018-08-04 21:51] comicmuse opened #1499 "IE Caches the AJAX in Alert List"
**What did you do?**
* Load the Alerts page in Internet Explorer.
* Cause a change to alerts. Verify in Chrome
* Reload in Internet Explorer

**What did you expect to see?**
Updated alert list.

**What did you see instead? Under which circumstances?**
Old alert list. This happens even if you hold shift or ctrl and reload. Using the Developer Toolbar results in IE going back to the server correctly

[2018-08-04 22:02] comicmuse commented on #1499
It looks like the API does not actually set the cache-control header. I thought I did when I looked at it in work, but I don't see it when I look at it in the Development toolbar.

[2018-08-06 11:37] discordianfish opened #1504 "make fails due to unformatted code"
Master as of now:

[code]

This isn't uncovered by CI since CI isn't running `make`. Is there a reason it doesn't?

[2018-08-06 12:48] simonpasquier commented on #1504
Which Go version? It doesn't fail for me with go1.10.3. The check is executed by TravisCI (but not Circle CI):
https://travis-ci.org/prometheus/alertmanager/builds/412627785#L579

[2018-08-06 12:53] discordianfish opened #1505 "Add error counter for failing notifications"
**What did you do?**
Create a notifier config with syntax errors.

**What did you expect to see?**
An error counter gettting increased.

**What did you see instead? Under which circumstances?**
The notifier fails without a way to monitor it's health.

**Environment**

* Alertmanager version:

	current master build

* Logs:
[code]

[2018-08-06 16:51] #1499 closed

[2018-08-06 22:36] juliusv commented on #1504
The latest Go version has a different `gofmt` output, and they say in their docs that they don't recommend putting `gofmt` into CI tests because the exact formatting can change over time.

I'm not sure what to do because we also want to ensure that someone formatted their Go code at all. Maybe we should enforce using the `gofmt` from the latest Go release? That would also ensure that files don't f

[2018-08-07 08:08] simonpasquier commented on #1504
I think the current situation is mostly ok. We build AlertManager/Prometheus/... with the latest stable Go version (unless it introduces a regression, eg node_exporter). Whenever Go 1.11 is released, someone will update the CI pipelines accordingly and run `gofmt` as part of the PR (and if it's forgotten, Travis CI will catch it).
Am I missing something?

[2018-08-07 09:29] juliusv commented on #1504
@simonpasquier That sounds ok to me, the missing bit would be clarifying better to people that a specific Go version's `gofmt` is needed. In the CI error output, and/or beforehand elsewhere.

[2018-08-07 12:01] simonpasquier commented on #1217
Closing for now. Feel free to reopen if you can reproduce it with the latest version.

[2018-08-07 12:01] #1217 closed

[2018-08-08 13:37] stuartnelson3 opened #1508 "Remove alert_groups from alertmanager"
I remember it being mentioned that we don't want to use this anymore, and as far as I can tell it is exposed via api but the neither the UI or the amtool use it. I also didn't see it mentioned in the proposal of the v2 api.

Is this something we can remove?

removal would be the opposite of http://petstore.swagger.io/?url=https://raw.githubusercontent.com/mxinden/alertmanager/apiv2/api/v2/openapi.

[2018-08-09 15:21] simonpasquier commented on #1508
I thought about it but should probably check with @TheTincho

[2018-08-10 11:58] jolson490 commented on #1023
FWIW I would love to see this implemented.

My use case: I have clusters `sandbox`, `dev`, `test`, & `prod`. Whenever `KubeDeploymentReplicasMismatch` fires in any cluster other than `sandbox`, I'd like to send a notification to a certain Slack channel.
 * Someone please correct me if I'm missing something, but currently for the `match_re` I believe I have to specify `cluster: (dev|test|prod)` (an

[2018-08-11 04:09] pgporada commented on #1382
Thank you for this @anthraxn8b

[2018-08-11 06:37] mxinden commented on #1508
Are you talking about the [`alerts/groups`](https://github.com/prometheus/alertmanager/blob/master/api/api.go#L245) function?

As far as I remember this was used in the old Angular UI, but was not needed anymore with the ELM rewrite. I have not included it in the API v2 Proposal for that reason.

Whats the reasoning for removing it now? I would suggest removing it along with the entire API v2, onc

[2018-08-11 18:40] TheMeier opened #1510 "Feature Request: Send resolved immediatly if all alerts in a group are not firing anymore"
Given send_resolved is active on a given alert-route. If all alerts in a group are resolved the "final resolved notification" is sent the next time the group_wait expires. It would be nice if in this case the group_wait is skipped and the "final resolved notification" is sent immediatly.

The motivation is to have faster feedback that the countermeasures that have been taken to adress the issue ca

[2018-08-12 05:40] brian-brazil commented on #1510
This is in direct opposition to the purpose of group_interval, which is to
throttle the rate of notifications from from a group. This would be like
asking for an instant notification when there was a new alert. You can
always reduce group_interval if you want to know faster.

Also, that the alerts have stopped firing does not mean that the issue has
resolved.

On Sat 11 Aug 2018, 20:40 Christoph M

[2018-08-12 07:13] LuboVarga commented on #560
What about to use ALERTS metrics directly from promerheus? Is it enough?

[2018-08-12 17:14] mxinden opened #1512 "Implement Mattermost webhook"
As a user of the Prometheus Alertmanager I would like to send notifications to [Mattermost](https://www.mattermost.org/) via a webhook.

Examples on how to implement a webhook:
- https://prometheus.io/docs/alerting/configuration/#%3Cwebhook_config%3E
- https://www.robustperception.io/audio-alerting-with-prometheus
- https://github.com/prometheus/alertmanager/tree/master/examples/webhook

Originate

[2018-08-12 17:33] cpanato commented on #1512
hey @mxinden yes I can work on that 😄
Do I open a PR to the alertmanager repo?

[2018-08-12 18:52] TheMeier commented on #1510
The the number of notifications should not change at all. Unless some corner where case your servicies in the same alert group are flapping in such way that the would go all to non-alerting and back to alerting before group_wait expires. If you have such a situation you have done something severely wrong anyway.
Basically with this proposed feature you might shorten the time notifications for a gi

[2018-08-12 19:01] metalmatze commented on #1512
This is something that I've already thought about integrating into my [alertmanager-bot](https://github.com/metalmatze/alertmanager-bot#more-messengers). If that is something you'd be interested in, we could work on that as well.

[2018-08-12 19:10] brian-brazil commented on #1510
That does affect their number, as the time between them would be reduced. If the resolution is just a flap for example.

Spamming the oncall is to be avoided.

I think you're confusing group_wait and group_interval. The relevant setting here is group_interval.

[2018-08-12 19:17] TheMeier commented on #1510
Like i laid out flapping with resolving _all_ allerts on a group should beconsidered a major flaw in your setup so I in my mind raising the number of notifications is not a thing.
Also this raises the question about a flap detection feature :smile:

[2018-08-12 20:01] TheMeier commented on #1510
Yes I meant group_interval not group wait.
Yes a prometheus restart could trigger this, I did not think about this case. Shouldn't that be mitigated in part by by https://github.com/prometheus/prometheus/pull/4061

About the flap detection, isn't the current way of doing things more a flap-hiding. Potentially there could be flapping alerts and the user sees a continous problem instead of beeing no

[2018-08-12 20:09] brian-brazil commented on #1510
Yes, one of the main ways it could happen should happen a lot less often.

Yes, it's more like hysteresis. By the time the alert is firing we're past the point of considering flaps (alerts thresholds are meant to be set so hitting them once is severe enough to cause a notification).

We don't care about flaps per-se. We care about there being a bad state that the oncall needs to know about. We als

[2018-08-12 20:22] metalmatze opened #1513 "Link to Routing tree editor from Alertmanager directly"
**What did you do?**

I did not know about the routing tree editor. I never saw the link in the docs.

**What did you expect to see?**

For now, we could instead directly link to the [Routing tree editor](https://prometheus.io/webtools/alerting/routing-tree-editor/) from within Alertmanager.
Maybe a link below the Config heading on the status page.

* Alertmanager version:
[code]

[2018-08-13 07:20] andrekully opened #1515 "Notifier for HipChat broken in Alertmanager 0.15.1"
**What did you do?**
running AM v0.15.1 to test

**What did you expect to see?**
The request URL towards HipChat server (on premise) as in 0.15.0:
POST /v2/room/0000/notification?auth_token=xxxxxxxxxXXXXXXXXXXxxxxxxxxxXXXXXXXXXXXX HTTP/1.1

**What did you see instead? Under which circumstances?**
Request in 0.15.1:
POST /v2/room/0000/notification%3Fauth_token=xxxxxxxxxXXXXXXXXXXxxxxxxxxxXXXXXXXXXX

[2018-08-13 09:26] simonpasquier commented on #1508
I seem to recall that there was a tentative effort to retrofit the old UI in Debian (and thus depend on `/api/v1/alerts/groups`) but I might be wrong.

Assuming there's no opposition, I would be in favor of removing `alerts/groups` now.

[2018-08-13 10:29] stuartnelson3 commented on #1515
@simonpasquier Looks like the `?` introducing the query string is being escaped as part of the Path

[2018-08-13 11:17] brancz commented on #1512
more generally as we're not merging new notifiers, why make an exception for mattermost (don't get me wrong I would like support, but we need to be consistent)?

[2018-08-13 11:25] brancz commented on #1512
@roidelapluie :man_facepalming: sorry I came here through the tweets and there it sounded like this was going to be implemented in Alertmanager itself. In that case, do we need an issue here?

[2018-08-13 11:33] #1515 closed

[2018-08-13 11:39] stuartnelson3 opened #1517 "Create tests to prevent regressions in notifier requests"
Issue is being created as a result of https://github.com/prometheus/alertmanager/pull/1516

My initial idea is to store the request, verify it's working / visually inspect it, and then have test requests be compared to that stored request. It's not perfect, but we'll be notified if we have changed the request being sent and can decide if we need to update the stored request or it's a regression.

[2018-08-13 12:36] simonpasquier commented on #1517
Another improvement would be to have  `notifier/XXX.go` and `notifier/XXX_test.go` files for every notifier instead of the monolithic `notifier/impl.go`.

[2018-08-13 12:43] stuartnelson3 commented on #1505
This should be available via `alertmanager_notifications_failed_total`. Is it not present/not working?

[2018-08-13 13:14] #1491 closed

[2018-08-13 13:58] simonpasquier commented on #1413
@VR6Pete it seems that using the AlertManager datasource for Grafana fulfills your requirements and there's no reason to expose alert counters on arbitrary labels.
If so can you close the issue?

[2018-08-13 15:35] discordianfish commented on #1505
Hrmm I must have missed that. Not sure it gets incremented when the template rendering fails though? But possible I just missed this completley. Going to close this for now and re-open if there is actually an issue.

[2018-08-13 15:35] #1505 closed

[2018-08-13 16:01] #1504 closed

[2018-08-13 21:09] metalmatze commented on #1512
I've created an issue to discuss, if we might want to add support for Mattermost to the alertmanager-bot.
https://github.com/metalmatze/alertmanager-bot/issues/25

[2018-08-14 10:15] VR6Pete commented on #1413
Leave a comment

[2018-08-14 10:15] #1413 closed

[2018-08-14 11:17] mxinden commented on #1515
Thanks a lot @andrekully for the detailed bug report!

The new release contains the fix: https://github.com/prometheus/alertmanager/releases/tag/v0.15.2

[2018-08-14 13:36] wenfei3 commented on #1385
I reproduced with v0.15.1.
[code]
and I could get access_token with the api
[code]
the response is
[code]

[2018-08-15 12:56] mxinden commented on #1512
Both a separate webhook as well as the integration via alertmanager-bot sounds good to me. @metalmatze @cpanato let me know if you need some help.

Just thought it is most convenient to plan it here. Once this takes more shape we can close this issue.

[2018-08-15 17:50] sipian commented on #1480
@simonpasquier
Is the plan to add SSL support in [email Notify](https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L258) function?

[2018-08-15 18:05] sipian commented on #437
@stuartnelson3
Do correct me if I'm wrong but does'nt [cli/alert_add.go](https://github.com/prometheus/alertmanager/blob/master/cli/alert_add.go) add this feature in the amtool ?

[2018-08-15 21:44] stuartnelson3 commented on #437
It does. Perhaps this issue can be closed then?

[2018-08-15 22:20] #1192 closed, assigned to nobody

[2018-08-16 10:00] vpbarb commented on #437
As creator of this issue I will close it. Thanks, guys!

[2018-08-16 10:00] #437 closed

[2018-08-16 12:03] stuartnelson3 commented on #1513
Thanks for the suggestion! One of the points raised recently was that people feel uncomfortable entering their routing config into the publicly online version. I'm wondering how much work it would take to port the old version that ran in the AM UI to the new UI.

The old version was using D3 directly, so potentially we can find bindings to D3 and recreate it in elm.

[2018-08-16 12:07] metalmatze commented on #1513
Maybe we can add the link nonetheless? I totally get, that recreating the UI would be nice, but would like to have the link sooner than later. It can always be removed in the future, right?

[2018-08-16 14:44] TheTincho commented on #1508
Hey all, sorry for the late reply.

Like Stuart says, currently Debian ships no UI.

I wanted to retrofit the old UI, but I had understood that the API had changed so much it was not possible anymore, so I did not try in the end. I think it does not make sense to keep this, if we manage to finally prepare an UI, this will be just another thing to fix.

Thanks for checking!

[2018-08-16 16:41] tangxuye opened #1523 "How to separate the style of alert message of resovled message?"
**What did you do?**
I have written  a .tmpl file and configured it in the alertmanager config file.

**What did you expect to see?**
 Show me the alert message and the resoveld message  with the .tmpl file style by wechat when the monitoring target exception was occurred or recovered.

**What did you see instead? Under which circumstances?**
Both alarm and restore alerts use the same file style.

[2018-08-17 20:49] iDemonix commented on #511
We use an internal overview tool (amongst other tools) to view data from Prometheus, Icinga2 alerts and other sources. I'd like to be able to pull back data from Alertmanager. Is the plan to keep the current semi-documented API, and develop a new one under /v2? Or will the current one have breaking changes in an update?

[2018-08-18 13:14] andreyev commented on #511
@iDemonix I guess that http://alerta.io/ could help you in this case.

[2018-08-18 19:37] b3tyar commented on #157
I have made a simple workaround, if anyone is interested.
It was my hello world in Go, so don't judge too hard.

https://github.com/b3tyar/snsgateway

[2018-08-20 13:09] simonpasquier commented on #1385
@wenfei3 can you try commenting out the `wechat_api_url` line in the `global` section? The default value is `https://qyapi.weixin.qq.com/cgi-bin/` which has a trailing "/" character compared to your setting?

You would also need to upgrade to [v0.15.2](https://github.com/prometheus/alertmanager/releases/tag/v0.15.2) because of #1515 which also affects Wechat.

[2018-08-20 20:08] Kellel commented on #1375
I don't think this is a bug per-say. Perhaps just not just a great error message?

From what I can tell this is throwing an error on line 7 because we are missing a required field for the slack_configs item.

[2018-08-20 20:09] Kellel commented on #1196
From https://twitter.com/juliusvolz/status/1031054925768388608 perhaps we should take another look at this?

[2018-08-20 21:03] brian-brazil commented on #1196
This is an authorization feature, which is still out of scope. All of my previous comments still apply.

[2018-08-20 22:02] mxinden commented on #511
@iDemonix yes, the new API v2 will live alongside the old API v1 for now. But we are planning on deprecating v1 in future versions.

I expect https://github.com/prometheus/alertmanager/pull/1352 soon to merge. Have you tried generating a client via the OpenAPI specification? We don't give any stability guarantees on the new API, but given the scope and the autogeneration possibility, adjusting to

[2018-08-20 22:21] valferon commented on #307
For whoever ending up here like me
This ended up displaying alerts into a nice format :

[2018-08-21 02:14] #1523 closed

[2018-08-21 08:14] simonpasquier commented on #1375
We're dependent on what the `go-yaml/yaml` package provides so there's little that we can do here. If you feel this is important, I'd encourage you to file a bug against https://github.com/go-yaml/yaml/ and link it here.

[2018-08-21 13:46] stuartnelson3 opened #1524 "Upgrade frontend to elm 0.19"
A new version of elm was just released:

https://github.com/elm/compiler/blob/master/upgrade-docs/0.19.md

[2018-08-22 15:40] #1445 closed

[2018-08-22 17:17] goldyfruit commented on #1439
:+1:

[2018-08-22 18:11] w0rm commented on #1524
@stuartnelson3 shall we pair on this? Otherwise I can do this myself, should be pretty straightforward.

[2018-08-22 18:12] stuartnelson3 commented on #1524
I'm off in the USA until mid september. I would love to pair on it, but it would have to be remote (or wait for me to be back in Berlin).

[2018-08-22 18:17] w0rm commented on #1524
Oh, and I'm off in Japan starting mid September. Let's find an overlapping slot to do this remotely, I'll contact with my availability.

[2018-08-22 18:28] kenmaglio commented on #931
@TyAbbott I'm going to attempt to do the same thing here, as we have a need to push alerts into SNOW from AlertManager.

[2018-08-23 03:07] wenfei3 commented on #1385
@simonpasquier
OK,I hava read the #1515 ,thanks for your suggestion.I will try to do it this afternoon.

[2018-08-23 04:44] wenfei3 commented on #1515
补充一下截图：这是我的阿里云的监控，部署jumpserver是在8月中旬，可以很明显看到从21号开始，CPU的使用率飙升，然后一直没有降下来，从21号开始，每天都会出现几次jumpserver卡死的情况。
![image](https://user-images.githubusercontent.com/25998180/44504955-53da6f00-a6d1-11e8-91a8-2937f6b8b19b.png)
不知道是什么原因导致CPU使用率突然飙升？如果有需要，我可以提供更多的日志或者截图。

下面是coco的进程
[code]

[code]
不太清楚epoll_wait和epoll_ctl是用来做什么的，有人了解吗？

[2018-08-23 14:03] #1508 closed

[2018-08-23 15:40] miton18 commented on #823
Same issue than @hiscal2015
We need to put our CA certificate as smtp client config, this is needed by our smtp server.

on the net/smtp Dial call, you can give a custom TLS config which can take the CA certificate

https://golang.org/pkg/crypto/tls/#Config
Is it possible to add config key [here](https://github.com/prometheus/alertmanager/blob/f4430381498c704bdfd3575219abbe31a6296044/notify/impl.g

[2018-08-23 18:43] stuartnelson3 commented on #1513
It can definitely be removed. The earliest it'll be available is the next minor version release, though.

A new feature was recently merged into `amtool` that can be used to visualize routing from the commandline, check out `amtool config routes --help`. This might be useful in the meantime?

[2018-08-24 07:10] mxinden commented on #823
@miton18 are you suggesting something similar to https://github.com/prometheus/alertmanager/pull/1222 (_*: configure http client from config_) for e-mail giving you the option to configure [`TLSConfig`](https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/prometheus/common/config/http_config.go#L76)?

[2018-08-24 08:17] miton18 commented on #823
If it allow us to set a custom TLSConfig on tls.Dial() call => Yes

Another thing, what can I do if I want to use TLS config on another port ? https://github.com/prometheus/alertmanager/blob/f4430381498c704bdfd3575219abbe31a6296044/notify/impl.go#L266

[2018-08-24 09:26] miton18 commented on #823
#1528

[2018-08-24 16:39] satterly commented on #865
`{{ $value | printf "%.2f" }}` will round to two decimal places.

[2018-08-24 17:23] sciffer opened #1529 "amtool requires the config file(even when not necessary)"
**What did you do?**
Used the last compiled amtool for linux on a test machine and got an error, even for the following command:
"alertmanager/amtool --help"
Based on docs it is optional, reality shows otherwise in the last version(maybe from an earlier version as well). There is no justification for such config file when the defaults are fine, especially when you don't really need them - for exam

[2018-08-24 21:02] stuartnelson3 commented on #1529
I'm not able to reproduce this, on `v0.15.2` or latest master.

@simonpasquier, can you reproduce this?

[2018-08-27 07:35] cpanato commented on #1512
sorry for the delay, i will check both

[2018-08-27 08:06] simonpasquier commented on #1529
I can trigger the error when `~/.config/amtool` is a file instead of a directory. @sciffer is it your case too?

[2018-08-27 08:34] simonpasquier opened #1530 "MAINTAINER instruction in Dockerfile is deprecated"
https://github.com/prometheus/alertmanager/blob/3799768d94ef6a14b89b78c0e7319b0b7777a89f/Dockerfile#L1-L2

This should be replaced by `LABEL maintainer="..."`
See https://docs.docker.com/engine/reference/builder/#maintainer-deprecated

[2018-08-27 14:39] sciffer commented on #1529
I ran into that as well - which was my mistake.
Anyhow, I got an error when I had no amtool confog or folder at all - which
is why I opened the ticket.
I downloaded the latest amd64 linux binary package, I’ll retest it once
again and update but I’m certain of what I saw(just wanted to do the config
test and failed on missing config file).
I do remember in previous versions I did not have that issu

[2018-08-27 16:59] #1530 closed

[2018-08-28 20:45] FUSAKLA commented on #1529
I also managed to reproduce this only the way @simonpasquier described.

Next possibility is having miss-configured `$HOME` variable but that's basically the same
[code]

[2018-08-29 10:04] YUNZHONGTAN opened #1534 "how to config routes repeat_interval"
I want config routes repeat_interval, like this:

route:
     group_by: ['alertname', 'instance']
     group_wait: 30s
     group_interval: 1m
     repeat_interval: 10m
     receiver: 'web.hook'

     routes:
         - match:
                severity: info
           repeat_interval: 5m          **#  i want config a repeat_interval for severity: info.  how config ?**
           receiver: "test@em

[2018-08-29 10:49] mxinden commented on #1534
@YUNZHONGTAN please gives us more details. You can find some guidance in our issue template: https://github.com/prometheus/alertmanager/blob/master/.github/ISSUE_TEMPLATE.md

[2018-08-29 11:01] davidmgkang opened #1535 "How did you draw this image? I wanna know drawing tool."
![2018-08-29 8 00 47](https://user-images.githubusercontent.com/16799504/44783736-412ad300-abc6-11e8-95ec-4b6ed83a1872.png)

[2018-08-29 11:48] YUNZHONGTAN commented on #1534
hi:
    excuse me, my english is not good. I am configing the alertmanager config.
I want to configure different repeat alarm cycles when match different labels.

[2018-08-29 13:08] simonpasquier commented on #1535
It seems that it was draw.io (see https://github.com/prometheus/alertmanager/pull/1394).

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-08-29 13:08] #1535 closed

[2018-08-29 13:08] YUNZHONGTAN commented on #1534
hi：
    thanks, i had resolved it

[2018-08-29 13:08] #1534 closed

[2018-08-29 13:19] simonpasquier commented on #1529
We could be a bit more permissive by only failing if the path is an actual file (eg using `os.Stat()`).

https://github.com/prometheus/alertmanager/blob/d03e0ba1168f36b69eea7f2a5adbc3877fb02aa0/cli/config/config.go#L37-L43

[2018-08-30 14:47] sciffer commented on #1529
This is realy weird as I can't recreate the same issue I saw, I know for a fact that the folder .config did not exist at all in the home folder when I run the amtool - so the problem was not folder instead of a file. I'll try to reproduce the issue once again - but I'm starting to think that it might have been an environment variable that led to the problem.
Not that it is not worth fixing the fol

[2018-08-30 22:03] aned opened #1536 "Feature request: auto-complete fields when silencing alerts"
It seems it would makes sense to auto-complete fields in the Alertmanager when silencing.
People can put some random/mistyped values and expect it to work.
It becomes more obvious when you're scheduling a pro-active maintenance in the future and no alerts are currently firing so the preview won't necessarily help in this case.

[2018-08-31 07:59] simonpasquier commented on #1536
From which source would AlertManager build the list of all potential labels? If it is from the current alerts it won't help much for the pro-active maintenance use case.

[2018-08-31 16:39] aned commented on #1536
The source would have to be all possible alerts configured in prometheus.

[2018-08-31 16:52] mxinden commented on #1536
As of today Alertmanager is not aware of the Prometheus instances sending
alerts to Alertmanager.  How would Alertmanager be able to retrieve that
data?

On Fri, 31 Aug 2018, 18:39 aned, <notifications@github.com> wrote:

[2018-09-02 07:15] lazywhite opened #1537 "alertmanager failed to start after setting http_proxy env or add proxy_url in config file"
I'm trying to set global http proxy
but after I modify config.yml or set environment variables, pod failed to start

**Environment**

* System information:

Linux 3.10.0-862.el7.x86_64 x86_64

* Alertmanager version:
0.15.2

* Prometheus version:
2.2.1

* Alertmanager configuration file:
[code]

* Logs:
[code]

[2018-09-02 08:33] lazywhite commented on #1537
solved by https://github.com/helm/charts/issues/6507

[2018-09-02 08:33] #1537 closed

[2018-09-03 04:06] #1529 closed

[2018-09-04 14:40] simonpasquier commented on #1536
Even if AlertManager were to retrieve the alert definitions from Prometheus (which is unlikely to happen as only Prometheus talks to AM for now), the labels aren't fixed: they can come from the alert query or be templated. I'd say that it would be better managed by an external tool leveraging both the Prometheus and AlertManager APIs.

[2018-09-04 15:39] simonpasquier commented on #1215
Since AlertManager is now using a different cluster implementation, I'm closing the issue for now. Feel free to reopen it with updated information if you can reproduce with the latest AlertManager version.

[2018-09-04 15:39] #1215 closed

[2018-09-04 18:18] csquire opened #1541 "Additional debug logging for failed pagerduty notifications"
**What did you do?**
Sent an alert with a description was was too long for the pagerduty api to accept. I didn't check other receivers to see if they would suffer from the same lack of logging.

**What did you expect to see?**
Expected to see the error response body in the AlertManager debug logs in order to troubleshoot why pagerduty was not accepting my notification.

**What did you see instead?

[2018-09-05 08:04] mxinden commented on #1541
Thanks for the detailed report. I have moved this discussion here: https://github.com/prometheus/alertmanager/pull/1540#issuecomment-418637538

Let us know what you think!

[2018-09-06 16:08] #1524 closed

[2018-09-06 16:55] jnovack opened #1542 "Dead Man Switches (NON-OpsGenie Heartbeats!)"
*I've read quite a number of issues in a few of the prom repositories regarding health/heartbeating between alert-manager and the alerting-system (e.g. OpsGenie, Slack, JSON Endpoint).  I am **NOT** looking to monitor my alerting system.*

**How is this different from #444 or #679?**

I'm not looking to monitor alertmanager (the core use-case of #444 and #679).  I am looking to monitor a downstrea

[2018-09-06 17:06] brian-brazil commented on #1542
Thanks for your suggestion.

It's the role of Prometheus to contain alerting logic, not the Alertmanager - the Alertmanager manages alerts which have already been sent to it. All alerting thresholds and the like live in Prometheus.

If this is a cluster-level batch job you want the Pushgateway combined with an alert on `push_time_seconds`. If it's a machine-level batch job, then `touch` a file for

[2018-09-06 17:29] jnovack commented on #1542
You are correct!  I have not investigated that yet.

Thank you for your quick response, and my apologies for the misunderstanding of the architecture.  There's SO many pieces to Prometheus (not a bad thing), I didn't have a full grasp of the distributed system.

[2018-09-06 17:29] #1542 closed

[2018-09-07 20:39] justinjk007 commented on #952
@simonpasquier I can confirm this is not resolved with the latest release.

[2018-09-10 06:04] #1434 closed

[2018-09-10 08:28] simonpasquier commented on #952
@justinjk007 you would have to open another issue to provide your specific details.

@artemlive I've read again your description and it doesn't seem related to AlertManager since it acts properly on the information received from Prometheus. If anything, it is a problem with the alerting engine though I'm suspicious that Prometheus computes wrongly the alert's status (it might be that you've got a

[2018-09-10 10:43] hurtauda commented on #1510
I also opened [a discussion around the same topic on the google group users](https://groups.google.com/d/msg/prometheus-users/s2tyNen-jPM/vBqXUkUnEwAJ).
Basically what we are trying to achieve is to remove every updates and simply forward the first firing event (after group_wait) and the "full resolved" event.

This looks impossible right now.
I would like to have on top of send_resolved, a send_u

[2018-09-11 17:59] TimSimmons opened #1545 "unable to create silences with custom label matchers"
**What did you do?**

Attempted to create a silence with a custom label match using the :heavy_plus_sign: button on http://localhost:9093/#/silences/new (or using the :wastebasket: button on a pre-filled silence).

**What did you expect to see?**

The label match appear (or disappear).

**What did you see instead? Under which circumstances?**

I was redirected (but not an HTTP redirect, as far as

[2018-09-11 20:05] stuartnelson3 commented on #1545
I can confirm this behavior on latest HEAD

[2018-09-11 20:08] swapnilbarwat commented on #275
@unnisathyarajan did you find the solution for this? I am stuck at the same place.

[2018-09-12 02:47] justinjk007 opened #1546 "Alert manager goes from Firing->Resolved->Firing"
**What did you do?**

Started the prometheus followed by the alert manger.

**What did you expect to see?**

Expect to see alerts go off once everyday unless they are resolved for some time and then became firing again.

**What did you see instead? Under which circumstances?**

I only use alert manager(for now) to monitor if machine is down/up and if any disk locations I monitor goes above thresho

[2018-09-12 12:35] squat opened #1547 "vendor: govendor sync fails"
The hash `1e01b2bdbae8edb393fcf555732304f34d192fc9` appears several times in the vendor.json for unrelated projects. It seems to be related to https://github.com/prometheus/alertmanager/issues/555.

Running `govendor sync` fails with:
<details>
 <summary>govendor sync output</summary>

[code]
</details>

[2018-09-12 12:42] justinjk007 commented on #952
@simonpasquier opened #1546

[2018-09-12 16:58] stuartnelson3 commented on #1547
Do we want to make the move to using `go mod`? I spent about 20min looking at it, there are a couple binaries we invoke that for some reason result in failure, and i think promu needs to be updated to use g1.11, but if it's the way forward then I say we do that instead.

[2018-09-12 19:34] navyabairi opened #1549 "Basic Authentication for Alertmanager"
Hello,

I've deployed prometheus, Alertmanager on a GKE cluster. As Prometheus doesn't provide any authentication support, and as per the docs, I tried to use a reverse proxy, I configured it, but it isn't working as expected.
Is there any update coming up for the prometheus or Alertmanager that provides the authentication for the users?

[2018-09-13 04:39] vietthang207 commented on #384
Hello all. I have a question related to this config but the docs is not clear enough. How can I send to multiple email, I've tried some format of the but they didn't work:
1.
to: a@gmail.com,b@gmail.com
2.
to: a@gmail.com
to: a@gmail.com

Thanks in advance.

[2018-09-13 09:15] metalmatze commented on #1549
As far as I know there are no plans to add authentication to Alertmanager.

[2018-09-13 13:02] #1545 closed

[2018-09-14 12:32] tanji opened #1550 "Duplicate notifications after upgrading to Alertmanager 0.15"
After upgrading from Alertmanager 0.13 to 0.15.2 in a cluster of two members we've started receiving double notifications in slack. It used to work flawlessly with 0.13. Weirdly we're receiving the 2 notifications exactly at the same time, they don't seem to be apart by more than a couple of secs.

* System information:

Linux pmm-server 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 G

[2018-09-14 13:30] stuartnelson3 commented on #1550
Are these double-notifications happening consistently?

There's no concensus between alertmanagers -- if they receive the initial alert at different times from a prometheus server, the created alert groups in the different alertmanagers might be out of sync by e.g. a single evaluation interval. If your evaluation interval=15s, and the `--cluster.peer-timeout=15s` (the default), they could end up s

[2018-09-14 13:30] mxinden commented on #1545
@TimSimmons thanks for reporting!

[2018-09-14 13:35] stuartnelson3 commented on #1547
If that's an easy fix then I say go for it. Since it's just a band-aid, no worries if it's not pretty.

Do either @mxinden or @simonpasquier have time to do this? If so, could you also make an issue for upgrading to `go mod` and note down the changes required to undo the fixes in CI?

[2018-09-14 16:08] mxinden commented on #384
@vietthang207 you should just be able to separate them by comma:

[code]

For better debugging of the email provider make sure to start Alertmanager with the `--log.level=debug` flag. As a test server you can use `sudo python -m smtpd -n -c DebuggingServer 192.168.2.118:25` in case you have python installed.

In general, please open up usage questions on the prometheus-users@googlegroups.com maili

[2018-09-17 13:50] apsega opened #1551 "Slack field image_url not found in type config.plain"
**What did you do?**
Added `image_url` under `slack_configs`, but getting `field image_url not found in type config.plain` error. And AlertManager fails to start

**Environment**

* System information:

	Official AlertManager Docker container image from quay.io
* Alertmanager version:

	v0.15.2
* Alertmanager configuration file:
[code]

* Logs:
[code]

[2018-09-17 14:09] stuartnelson3 commented on #1551
`image_url` isn't available in 0.15.2. It will be available with the next release, sorry for the wait!

[code]

[code]

[2018-09-17 14:09] #1551 closed

[2018-09-17 15:31] justinjk007 commented on #1546
Ok, sorry for the late reply, I will try that today.

[2018-09-17 16:16] travisgroth commented on #1473
Shouldn't this stay open?  It sounds like icon_url should be removed as an option.  It isn't functioning as expected and isn't likely to due to the behavior of the PD api.

[2018-09-18 09:28] tanji commented on #1550
That just happens when starting alertmanager, no messages are appearing after this, those alertmanagers are deployed in the cloud and are pretty close to each other. Of note, we use a docker image to deploy. here are the configs and startup parameters

[code]

Second AM
[code]

[2018-09-18 09:43] stuartnelson3 commented on #1550
The connection logs are only written during start-up, they aren't logged if the connection flaps.
In the initial cluster connection code, a resolved IP address that equals the instance's IP address is removed from the initial list of instances to connect to (so I'm still curious about this `3` thing).

Can you check the following alertmanager metrics that your prometheus should be scraping?

`aler

[2018-09-18 11:00] tanji commented on #1550
We don't scrape those, I'll fix this and will look at metrics.

[2018-09-18 11:48] tanji commented on #1550
There's something wrong indeed, one node is ok, always sees the the other one
the other AM sees its peer flapping all the time and cluster size going from 2 to 1. Is it possible to print more debug levels?

[2018-09-18 11:51] stuartnelson3 commented on #1550
`--log.level=debug` will output more logs

[2018-09-18 12:02] tanji commented on #1550
OK, I found it, the 2nd node wasn't announcing itself on the correct address, it used Amazon internal IP instead of external :( it should work better now, of note I'm getting those errors:
[code]

[2018-09-18 12:53] tanji commented on #1550
The ping thingy doesn't seem to play well with Docker networks:

[code]
That node advertises itself on the external IP, so you shouldn't consider this an unexpected ping if the source is the docker network gateway IP

[2018-09-18 15:10] stuartnelson3 commented on #1550
I believe only UDP and TCP are used.

The connection is made using the resolved address from `--cluster.peer`; if an unrecognized ipaddr "checks in" the underlying library, memberlist, doesn't like that -- it has to join the cluster first.

[2018-09-19 08:41] mxinden commented on #1550
Are the two machines in the same VPC? Do they advertise themselves via the external IP, but communicate via the internal IP?

[2018-09-19 10:02] tanji commented on #1550
OK, after changing it, we're still having duplicate issues for some reason they happen at larger intervals now.
@mxinden the 1st machine is in AWS, the 2nd machine is at a baremetal provider, they communicate over the internet (without problems precedently, as I noted)

[2018-09-19 10:16] dkalashnik opened #1554 "Add InsecureSkipVerify option to SMTP config"
For now Alertmanagers' config is a lack of that option and that leads to requirement to create some smtp relay or disable TLS with self-signed cert.

[2018-09-19 11:33] simonpasquier commented on #1554
Hi Dima! IIUC this should be fixed by https://github.com/prometheus/alertmanager/pull/1528. Can you confirm?

[2018-09-19 11:34] mxinden commented on #1550
@tanji are the clustering metrics mentioned above still flaky, or stable? In the latter case, do you have access to the notification payloads and can post them here?

[2018-09-19 11:39] danielkucera opened #1555 "Throw error when no auth mechanism is matched"
https://github.com/prometheus/alertmanager/blob/d5b8e1028695866d52abd36fcf1973b1fdc9c807/notify/impl.go#L254

In case we are asked to auth and no auth mechanism matched and returned from function, we should return error saying something like: "No mechanism matched server offer: 250-AUTH NTLM"

[2018-09-19 11:47] dkalashnik commented on #1554
Hi Simon, yes, that should work, thanks, will wait for the next release =)

[2018-09-19 11:47] #1554 closed

[2018-09-19 13:16] tanji commented on #1550
Yes, the metrics have been stable.
What do you mean by notification payloads?

[2018-09-19 17:16] auhlig opened #1556 "[slack] message attachment actions implementation incomplete"
**What did you do?**

Tried to attach action buttons to slack message as per https://api.slack.com/docs/message-buttons.
Slack considers the following attachments[].actions configuration valid, however the alertmanager doesn't:
[code]

The current implementation of the [SlackAction](https://github.com/prometheus/alertmanager/blob/master/config/notifiers.go#L236-L241) allows only buttons with links

[2018-09-19 18:55] antonagestam commented on #552
I agree that the alert definitions belong in source control, but I would argue they belong in the repositories of the services being monitored. Having an API would enable tools to use service discovery to pass alerts configuration on to Prometheus based on the service definition. Having the API being the filesystem makes this approach/world-view very inconvenient ...

[2018-09-19 21:30] simonpasquier commented on #1556
Looks like (once again) the Slack API isn't particularly consistent. https://api.slack.com/docs/message-attachments#action_fields says:

[code]

[2018-09-19 23:36] Keshav0690 commented on #282
Hi
I have similar issue.
Getting _context deadline exceeded_ and also I can able to curl the endpoint from alert manager host

here is my alert rules config:

  **alert.rules**
   groups:
   - name: sample
     rules:
     - alert: prometheus_remote_storage_succeeded_samples_total_alert
       expr: sum(prometheus_remote_storage_succeeded_samples_total{instance="prometheus:9090"}) == 0
       for:

[2018-09-20 06:44] auhlig commented on #1556
Yeah. Both actions seem to be valid - either with `url` or with `name` and `value`.
I could come up with a PR to add these if you like @simonpasquier.

[2018-09-20 06:54] simonpasquier commented on #1556
@auhlig no problem for a PR. The main issue with Slack (and other SaaS-based notifiers) is that there is little that we can do for testing and making sure it won't break other users' setups...

[2018-09-20 19:13] franchev opened #1558 "Need user sign on"
Could there be a way to require users to login when they access the alertmanager page? If possible, could this be Active directory integrated as well.

Thank you.

[2018-09-21 06:36] apsega commented on #1341
Hi,

I'm still having this issue with 2 AlertManagers running 0.15.2 version.

My configuration:
[code]

Although, it didn't worked with `cluster.peer-timeout=30s`, either.

Some graphs:

![screen shot 2018-09-21 at 9 34 27 am](https://user-images.githubusercontent.com/15917655/45864112-98fdc980-bd81-11e8-8b3e-b064c41d67f2.png)

![screen shot 2018-09-21 at 9 35 38 am](https://user-images.githubuse

[2018-09-21 07:27] apsega commented on #1550
I have the same issue, that after upgrading 2 AlertManagers to 0.15.2 version, we're receiving duplicate alerts.

Notable config:
[code]

Tuning `cluster.peer-timeout` values to `15s`, `30s` or `1m` does not help in any way.

Debug log shows this:
[code]

I wonder if this can be related that AlertManagers are running in Docker containers with flag `--cluster.listen-address=0.0.0.0:9094`, `--cluste

[2018-09-21 07:33] simonpasquier commented on #1341
@apsega please don't use a closed bug to ask a question. It is more effective to use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. Looking at the graphs, it seems that your cluster state isn't stable which can definitely cause duplicated notifications.

[2018-09-21 07:46] apsega commented on #1550
Seems like tuning `--cluster.probe-timeout` up to 10s does not help.

[2018-09-21 07:46] mxinden commented on #1550
@tanji sorry for not introducing the terms first. We generally refer to an *alert* as the request send by Prometheus to Alertmanager and a *notification* as the request send by Alertmanager to e.g. Slack. Do you have access to the payload of two duplicate notifications of Alertmanager send to Slack?

---

@apsega which Alertmanager version were you running before? v0.15.1?

[2018-09-21 07:48] apsega commented on #1550
@mxinden actually very old release, something like v0.8.x

[2018-09-21 07:50] mxinden commented on #1558
Hi @franchev,

this is a non-goal of the project itself, but you can solve it via custom proxies in front of Alertmanager.

You can find more info here: https://prometheus.io/docs/operating/security/#authentication-authorization-and-encryption

I am closing here for now. Feel free to reopen in case you have further questions.

[2018-09-21 07:50] #1558 closed

[2018-09-21 07:56] tanji commented on #1550
@mxinden do you mean the JSON payload? Unfortunately I am not sure how to access it. Is it logged anywhere?

On the text side the outputs are strictly similar.

[2018-09-21 08:39] apsega commented on #1550
Seems like downgrading to `v0.14.0` solves the issue. Tried downgrading to `v0.15.1` and `v0.15.0` with no luck. So the issue occurs only from `v0.15.0`.

[2018-09-21 08:51] stuartnelson3 commented on #1550
@apsega your cluster isn't stable, hence the duplicate messages. once your cluster stops flapping it should stop sending the duplicate messages.

I would guess that this is definitely something to do with your setup running in docker containers.

[2018-09-21 09:01] apsega commented on #1550
Well, downgrading to `v0.14.0` made it stable:

![screen shot 2018-09-21 at 12 00 29 pm](https://user-images.githubusercontent.com/15917655/45871352-fac82e80-bd95-11e8-98a9-d98d18d88a6b.png)

[2018-09-21 09:08] simonpasquier commented on #1550
@apsega 0.14 and 0.15 use different libraries for clustering which explains probably why the behaviors are different. You can try with `--log.level=debug` to get more details but again, your question would be better answered on the Prometheus users mailing list than here.

[2018-09-24 11:46] mxinden commented on #1555
Great catch @danielkucera. Would you like to propose a PR for that?

[2018-09-24 12:03] danielkucera commented on #1555
I have no env to test this so I would propose someone else to develop this...

[2018-09-24 13:12] #1487 closed

[2018-09-27 23:39] justinjk007 commented on #1546
Totally forgot to get back, this solved the problem `evaluation_interval: 1m` helped.

[2018-09-28 07:51] simonpasquier opened #1561 "Tests don't pass on Windows"
Similar to https://github.com/prometheus/prometheus/issues/4622

I tried to run the tests on a Windows machine and some of the tests failed. It probably means that AlertManager doesn't run properly on Windows though we release the Windows binaries.

I may try to fix the tests soon but anybody pick it up if desired. Eventually we need somehow to think about which level of support we expect for Wind

[2018-09-28 08:04] simonpasquier commented on #1273
Closed by #1528

[2018-09-28 08:04] #1273 closed

[2018-09-28 08:08] simonpasquier commented on #1549
Please see https://prometheus.io/docs/guides/basic-auth/ which explains how to setup a reverse proxy in front of Prometheus for basic authentication. The same instructions should work for AlertManager too. If not feel free to reopen the issue.

[2018-09-28 08:08] #1549 closed

[2018-09-28 08:13] simonpasquier commented on #1385
@wenfei3 any update? can we close this issue?

[2018-09-28 08:41] simonpasquier commented on #1188
Note that the grafana link should be an annotation and not a label (see https://github.com/prometheus/prometheus/issues/4652 for the details).

[2018-09-28 08:45] simonpasquier commented on #1541
_Copying my comment from #1540_

The [PagerDuty v2 API](https://v2.developer.pagerduty.com/v2/page/events-api-reference#!/Event/post_create_event_json) states that the response has an optional `message` field defined as "`A description of the problem, or "Event processed" if successful`". I would have no problem with the PagerDuty notifier adding this field (if present) to the error message.

[2018-09-30 07:01] eason0420 commented on #1385
I met the same problem.and I could get access_token with the api，but wechat not receive alert message。 How did you solve it? thanks。 the email is work。
version：0.15.2 centos7
global:
  resolve_timeout: 3m
  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'
  wechat_api_secret: '9Jvxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx20'

templates:
  - '/server/alert/alertmanager/template/*.tmpl'

route:
  group_by

[2018-10-01 08:08] simonpasquier commented on #1385
@eason0420 try adding a '/' to the `wechat_api_url` parameter.

[2018-10-01 12:48] giganteous opened #1564 "[HA] Show more info about the cluster status in the UI if it is failing"
**What did you do?**

I configured 2 alertmanagers to talk to each other with only TCP port 9094 open between each other, UDP port 9094 blocked.

**What did you expect to see?**

An indication of an error state.

**What did you see instead? Under which circumstances?**

- Cluster status in the UI: "ready" (<-- in green)
- a reasonably clean daemon output (without --log.level=debug)

**Environment*

[2018-10-01 13:22] mxinden commented on #1564
We are using [hashicorp's memberlist library](https://godoc.org/github.com/hashicorp/memberlist) to cluster Alertmanager instances. The library makes it transparent to the user whether it uses UDP or TCP. The default  should be UDP, it falls back to TCP for gossip messages otherwise.

When you create a silence on one of the Alertmanager instances, does it eventually show up on the other?

[2018-10-01 15:17] giganteous commented on #1564
Yes, but double notifications are an extra result (sometimes). See #1550 for an example.

[2018-10-02 11:24] xmemy opened #1565 "Can't send API call to OpsGenie"
Hello,

**What did you do?**
Trying to get alertmanager sending a call to Opsgenie's API

**What did you expect to see?**
A call/alert into OpsGenie or at least an entry into Opsgenie's logs panel

**What did you see instead? Under which circumstances?**
[code]

* Alertmanager version:
[code]

* Prometheus version:
[code]

* Alertmanager configuration file:
[code]

* Logs:
[code]

Of course before

[2018-10-02 11:48] stuartnelson3 commented on #1565
@mxinden @simonpasquier do either of you have access to hipchat to test this? At first blush it would appear to me to be a misconfiguration based on the url error being logged.

https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L1164-L1169

[2018-10-02 12:21] stuartnelson3 opened #1566 "Recreating silence should auto-fill comment with previous comment"
If a silence expires but needs to be extended (e.g. maintenance is taking longer than expected, priorities shift and an issue causing an alert has not been resolved), the current `recreate` button blanks out the comment when going to the silence page. It would be nice to copy over the previous message.

[2018-10-02 12:54] VR6Pete commented on #307
Hi @valferon - Looks like a good example, but produces an error relating to templates.

would it be possible to share your templates you have in  '/etc/alertmanager/config/*.tmpl' ?

Thanks.

Pete

[2018-10-02 12:55] simonpasquier commented on #1565
No I don't have an access to the OpsGenie API. @xmemy can you paste the full configuration from the AlertManager's Status page?

[2018-10-02 13:00] xmemy commented on #1565
as requested :
[code]

[2018-10-02 13:03] simonpasquier commented on #1565
`api_url` is supposed to be an absolute URL (eg `https://<host>/<path>`), not a relative one.

https://prometheus.io/docs/alerting/configuration/#%3Copsgenie_config%3E

[2018-10-02 13:03] stuartnelson3 commented on #1565
@simonpasquier beat me to it. Leave `api_url` blank to use the global value.

[2018-10-02 13:03] simonpasquier commented on #1565
That being said, the configuration should have fail on startup.

[2018-10-02 13:15] xmemy commented on #1565
Even if I specify the url it's not working as expected (same error message)

[code]

[code]

[2018-10-02 13:51] simonpasquier commented on #1565
@xmemy can you double the configuration in the Status page?

[2018-10-02 14:00] xmemy commented on #1565
[code]

Sounds identical which is weird

[2018-10-02 16:53] danielmotaleite commented on #876
This is a important missing feature! Either enable alerts during some time ranges, or allow recursive silent rules

Is there any workaround to silent staging/test/QA alerts during the night, but still receive then during the day?

[2018-10-03 08:46] simonpasquier commented on #876
@danielmotaleite I have a solution for this based on inhibition rules that doesn't require any change to AlertManager. I'll post the blog post address here once it is out.

[2018-10-03 10:35] mxinden commented on #1564
PRs like https://github.com/prometheus/alertmanager/pull/1563 are very welcome @giganteous. I am sorry for the trouble you went through.

Not sure if we can surface those issues in the UI. I need to have a deeper look into memberlist in this regard.

[2018-10-03 12:27] fessmage commented on #876
AlertManager definitely needs a way for setting silence hours in config file. With label targeting, like it is in inhibit_rules.

[2018-10-04 04:39] mpalmer commented on #666
As a bit of an aside, the AM config docs (https://prometheus.io/docs/alerting/configuration/#<inhibit_rule>) still say "Alerts can inhibit themselves. Avoid writing inhibition rules where an alert matches both source and target.", which I believe is incorrect given #1017 has been merged.  I'm presuming a doc-fix PR be accepted?

[2018-10-04 09:03] apuchitnis opened #1569 "Feature request: add metrics around the handling of alerts"
**What did you do?**

I went to the `/metrics` path on alertmanager.

**What did you expect to see?**

This is a feature request: I would like to see metrics around the handling of alerts. For example, the number of times a given alert had been received by an alertmanger receiver, and handled by a specific route. This will allow me to get statistics around how many times an alert has fired, so tha

[2018-10-04 09:18] brian-brazil commented on #666
Yes, that's out of date.

[2018-10-04 09:20] bitfehler opened #1570 "amtool matcher groups don't work as documented"
When using more than one matcher group in `amtool query`, according to the documentation, the first one is assumed to be the `alertname` value if it does not contain `=` or `=~`. In fact, the documentation (`amtool alert query -h`) gives this example and explanation:
[code]
However, this doesn't work if using more than one matcher group:

* One matcher group works as advertised:
[code]
 * Addition

[2018-10-04 09:53] simonpasquier commented on #1569
There is virtually no limit to the cardinality of the alert name which doesn't make it a good candidate as a metric's label. The same goes for group names. See also https://github.com/prometheus/alertmanager/pull/1335 where similar concerns were discussed.

If you're looking for alerts history, you would be better to send the notifications to [Elasticsearch](https://github.com/cloudflare/alertmana

[2018-10-04 12:51] xmemy commented on #1565
I managed to fix this,
[code]

As summary, necessary to provide a description/message and use the proper url depending of the region.

[2018-10-04 12:51] #1565 closed

[2018-10-04 13:15] simonpasquier commented on #1569
I assume that subscription = receiver.

`alertmanager_notifications_failed_total` and `alertmanager_notification_latency_seconds_count` are your friends. This query detects receivers that fail for 10% of the notifications.

[code]

You can use the `amtool alert add` command that can fire/resolve a made-up alert.

There's also https://prometheus.io/webtools/alerting/routing-tree-editor/

[2018-10-04 13:29] simonpasquier opened #1571 "alertmanager_notifications_total's description isn't consistent with its definition"
Source: https://github.com/prometheus/alertmanager/issues/1569#issuecomment-427014052

The description of the `alertmanager_notifications_total` metric is not aligned with what happens in the code. The description says "attempted notifications" while the counter is only increased when the notification has been successfully sent. It is definitely better to have a count of attempted notifications as

[2018-10-04 17:58] FUSAKLA commented on #1569
For testing of routes to receivers you can also look at this
https://github.com/prometheus/alertmanager#routes

[2018-10-05 14:06] dkalashnik opened #1573 "NTLM auth support for email receiver"
Hi, is there any chance to get NTLM auth for email_config?

[2018-10-05 14:59] simonpasquier commented on #1573
Hi Dima! I don't see that the standard [`net/smtp`](https://golang.org/pkg/net/smtp/) library supports this protocol so I'd say that chances are low.

[2018-10-05 15:00] dkalashnik commented on #1573
Hi, Simon, thanks, closing it then.

[2018-10-05 15:00] #1573 closed

[2018-10-05 17:28] stuartnelson3 commented on #1570
Thanks for the report!

[2018-10-06 03:45] shameertt opened #1574 "go get api error on v0.50.1"
when am trying to run this "go get github.com/prometheus/alertmanager/api" i got this message
can't load package: package github.com/prometheus/alertmanager/api: no Go files in /home/my_name/go/src/github.com/prometheus/alertmanager/api. How to resolve this?

[2018-10-06 07:57] mxinden commented on #1574
Can you give us some more details? What are you trying to achieve?

On Sat, 6 Oct 2018, 05:45 Muhammed Shameer, <notifications@github.com>
wrote:

[2018-10-06 08:10] shameertt commented on #1574
am trying to run v0.50.01 version, i got an error on api pakage importing stmt.

[2018-10-06 15:09] juliusv commented on #1574
@shameertt `github.com/prometheus/alertmanager/api` is indeed not a Go package, as it does not contain any Go files. The directory contains packages though. Those should both work:

- `go get github.com/prometheus/alertmanager/api/v1`
- `go get github.com/prometheus/alertmanager/api/v2`

Or get both of them: `go get github.com/prometheus/alertmanager/api/...`

Closing, as this seems to be solved.

[2018-10-06 15:09] #1574 closed

[2018-10-07 12:19] shirpx opened #1576 "Alerts with constant value getting closed and reopen after upgrade to v0.15.1"
I upgraded alertmanager from version v0.14.0 to version v0.15.1.
in the new version alerts with constant value keeps getting closed and reopen with no reason while they should stay open until solved like it does in the old version.

alert showing firing while its getting closed and reopen and closed again all the time:
![alert showing firing all the time not resolved](https://user-images.githubuse

[2018-10-07 15:03] ezraroi opened #1577 "feature-request: configuration over rest api"
We would like to be able to re configure alert manager without the need to have some kind of an agent on the machine that can re generate the configuration file when needed.

If we could send the new conflagration content as the body of the `reload` request it could be great

[2018-10-08 08:15] stuartnelson3 commented on #1577
I believe this is something that we explicitly don't want to allow. It makes it harder to track config changes, and why those changes were introduced. If the alertmanager is for some reason brought down and back up, then it will load the config file on disk anyway.

[2018-10-08 09:37] simonpasquier commented on #1576
Discussion follows here https://groups.google.com/d/msg/prometheus-developers/kyLTdh7zTtk/L1xzXJvpAwAJ

[2018-10-08 10:35] simonpasquier commented on #1577
This isn't something that is supported by any of the Prometheus projects and has been rejected before for Prometheus itself (see https://github.com/prometheus/prometheus/issues/1972). There is very little chance for AlertManager to be an exception.

[2018-10-08 10:45] ezraroi commented on #1577
Thanks, I understand this.
We are trying to create a self service system for our developers and such capability for alert manager and prometheus could make this task easier

[2018-10-08 10:46] simonpasquier commented on #1577
If you're on Kubernetes, I would encourage you to look at https://github.com/coreos/prometheus-operator

[2018-10-08 10:49] ezraroi commented on #1577
Thanks, will look. We are using nomad

[2018-10-08 10:49] ezraroi commented on #1577
Thanks, will look. We are using nomad

[2018-10-08 11:06] #1570 closed

[2018-10-08 11:16] simonpasquier commented on #1577
https://www.nomadproject.io/guides/operations/consul-integration/index.html#dynamic-configuration might be what you're looking for?

[2018-10-08 11:56] ezraroi commented on #1577
Yes, thank you

[2018-10-08 12:03] #1577 closed

[2018-10-09 06:47] eason0420 commented on #1385
@simonpasquier   on where？ like this  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'

[2018-10-09 07:01] simonpasquier commented on #1385
@eason0420 yes

[2018-10-09 07:03] eason0420 commented on #1385
@simonpasquier  i try it，but it do not work

[2018-10-09 07:51] eason0420 commented on #1385
@simonpasquier  thanks，i will check itagain

[2018-10-09 08:12] eason0420 commented on #1385
@simonpasquier
i use the token to send message，but it error
 https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token=ACCESS_TOKEN

{"errcode":40008,"errmsg":"invalid message type, hint: [1539072253_3_120015675272337e462c7271c9350072], more info at https://open.work.weixin.qq.com/devtool/query?e=40008"}

[2018-10-09 12:55] eason0420 commented on #1385
@simonpasquier  can you provide a wechat alert template
i use my template，but  $alert.Annotations get null value

{{ define "zhan_wechat.html" }}
  {{ range $i, $alert := .Alerts.Firing }}
    [报警项]:{{ index $alert.Labels "alertname" }}
    [实例]:{{ index $alert.Labels "instance" }}
    [报警阀值]:{{ index $alert.Annotations "value" }}
    [报警内容]:{{ index $alert.Annotations "description" }}
    [开始时间]:

[2018-10-09 13:06] simonpasquier commented on #1385
Sorry I don't use WeChat but what I can tell is that `{{ index $alert.Annotations "value" }}` returns the value of the annotation for the key `value`. So if it is nil, it means that the alert has no `value` annotation.

 Does it mean that you can successfully authenticate to the WeChat API now?

[2018-10-10 04:02] eason0420 commented on #1385
@simonpasquier  yes，it cause by my wechat template。
now i use 【message: "告警信息-- \n[报警项]: {{ .CommonLabels.alertname }} \n[报警主机]: {{ .CommonLabels.instance }} \n[报警级别]: {{ .CommonLabels.severity }} \n[报警内容]: {{ .CommonAnnotations.description }}\n[当前值]: {{ .CommonAnnotations.value }}"】

[2018-10-10 08:50] eason0420 opened #1581 "when failure recovery,i can not receive message"
the config file:

[code]

i can receive the alert, but when failure recovery,i can not receive message

[2018-10-10 09:05] simonpasquier commented on #1581
Can you run with `--log.level=debug` and share the logs?

[2018-10-10 12:32] eason0420 commented on #1581
@simonpasquier  the logs

level=debug ts=2018-10-10T12:24:40.988643786Z caller=dispatch.go:201 component=dispatcher msg="Received alert" alert="OS[Disk Used][8296a78][active]"
level=debug ts=2018-10-10T12:24:50.988995266Z caller=dispatch.go:445 component=dispatcher aggrGroup="{}/{severity=\"warning\"}:{instance=\"center_db_slave\"}" msg=Flushing alerts="[OS[Disk Used][8296a78][active]]"
level=debu

[2018-10-10 14:01] charles-mims-sp commented on #876
@simonpasquier - waiting for that blog link!

[2018-10-11 08:13] simonpasquier commented on #1581
Can you also share the AM configuration. The logs show that AlertManager sends a notification to WeChat at `12:27:41.149995174Z` while all alerts in the group are resolved. Though I don't get why the `Received alert` log message is displayed after `msg=Flushing alerts="[OS[Disk Used][8296a78][resolved]]"`.

[code]

[2018-10-11 09:52] liuzhen opened #1584 "silencer "recreate" does not remember matching with "regex""
What did you do?

receate an expired "silencer" with matching of 'regex'

What did you expect to see?
the to be created new silencer have all the properties derived from the old one, including the checked 'regex'

What did you see instead? Under which circumstances?

the 'regex' checkbox is cleared within the matching rule

[2018-10-11 10:34] simonpasquier commented on #1584
Thanks for reporting!

[2018-10-11 11:18] eason0420 commented on #1581
@simonpasquier  this is my AM configuration

global:
  resolve_timeout: 3m
  smtp_smarthost: 'smtp.exmail.qq.com:25'
  smtp_from: 'xxxx@xxx.com'
  smtp_auth_username: 'xxxx@xxxx.com'
  smtp_auth_password: 'xxxxx'
  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'

templates:
  - '/etc/alertmanager/template/*.tmpl'

route:
  group_by: ['product', 'uat', 'instance']
  group_wait: 10s
  group_i

[2018-10-12 13:59] Kamori commented on #560
Having a similar situation to this. ALERTS works fine for now, however, we will soon be adding alerts to alertmanager from sources not tracked by Prometheus. And they don't make sense to be collected by prometheus.

The alertmanager2es looks like the easiest solution atm. However, the goal is we want to track Alertname + arbitrarily defines labels on each alert, and use that data to trend out how

[2018-10-14 19:42] kchaitu4 commented on #1211
I have a same issue - I am getting line 35: did not find expected key"

This is what I have in my config file

`    23      - name: 'PagerDuty'
    24        pagerduty_configs:
    25        - send_resolved: true
    26          routing_key: <my_secrete_key>
    27          url: https://events.pagerduty.com/v2/enqueue
    28          client: '{{ template "pagerduty.default.client" . }}'
    29

[2018-10-15 16:08] brancz commented on #560
You want a consistent database for this type of data, which is why Alertmanager is never going to correctly be able to expose this type of data. The webhook receiving and writing this into a consistent data store sounds like a good idea.

[2018-10-15 20:11] justinjk007 commented on #1546
This has been frustrating, How can a simple thing like this be broken. My configs have not changed other than the config `evaluation_interval: 5m` -> `evaluation_interval: 1m` . But the issue came back after couple of days. It is still giving out false alerts and then going back to Firing. Since you mentioned above whatever issue was fixed on the latest prometheus . I have updated both prometheus

[2018-10-16 08:11] simonpasquier commented on #1546
I don't get it. Can you give more details about what's going on?

I see that the `slack` label values in the alerts use a Prometheus query. If the value of this label changes over time then it would explain why you get flapping alerts as the identify of an alert is defined by its label names/values.

[2018-10-16 09:27] InsidersByte opened #1585 "Running as non-root"
Does alertmanager need to run as root by default?

It looks like it was changed a while back to use the user `nobody` like [prometheus](https://github.com/prometheus/prometheus/blob/master/Dockerfile#L14) in this [pr](https://github.com/prometheus/alertmanager/pull/41) after it was raised in this [issue](https://github.com/prometheus/alertmanager/issues/39).

Looking back at the history is was rem

[2018-10-16 09:57] simonpasquier commented on #1585
No. @stuartnelson3 @mxinden WDYT about switching to the `nobody` user for the container image? AFAICT the [revert](https://github.com/prometheus/alertmanager/commit/d80fd2690298710d866afe6f1cb6455ebe48b177#diff-3254677a7917c6c01f55212f86c57fbf) wasn't intentional.

[2018-10-16 11:30] stuartnelson3 commented on #1585
Sounds fine to me, but the default data dir will probably have to change https://github.com/prometheus/alertmanager/blob/master/Dockerfile#L13

[2018-10-16 12:58] justinjk007 commented on #1546
The problem is still the same old problem

I will experiment with slack query today to see if that helps

[2018-10-16 13:40] mxinden commented on #1585
Running as nobody sounds great to me.

Instead of chaning the default data dir I would suggest to stay [consistent with Prometheus](https://github.com/prometheus/prometheus/blob/master/Dockerfile#L12) and do:

[code]

Does that sound good to you @stuartnelson3?

@InsidersByte would you like to follow up with a pull request?

[2018-10-16 14:10] justinjk007 commented on #1546
@simonpasquier Those slack query `slack: "{{ range printf `avg_over_time(notif_info{instance=\"%s\"}[10m])` $labels.instance | query }}{{.Labels.slack}}{{ end }}"` ends up being the slack handle of the person who is being pinged. This never changes on the custom exporter data. So I don't think its that.

[2018-10-16 14:44] InsidersByte commented on #1585
sure @mxinden. Here's the [pr](https://github.com/prometheus/alertmanager/pull/1586)

[2018-10-16 15:33] apuchitnis commented on #1569
Thanks for the suggestions folks. However, these all solve a different problem to what I'd like: testing if receivers are working correctly, rather than giving me statistics about alerts.

Regarding cardinality (@simonpasquier and @stuartnelson3):

In my deployment of alertmanager we do not have a large number of alerts, I'd estimate O(100) or so. I'd like to be able to opt in (perhaps via a flag,

[2018-10-16 15:37] stuartnelson3 commented on #1585
👍 for consistency, thanks @mxinden !

[2018-10-17 07:54] marcan opened #1587 "Alert grouping in PagerDuty is not very useful"
When triggering multiple alerts that get grouped together, the result in PagerDuty winds up being like this:

![image](https://user-images.githubusercontent.com/98387/47069933-1acefe80-d22b-11e8-95db-9f8ec32179bb.png)

Only the alert summary gets updated, and subsequent messages get logged. The alert details are not updated (it still reflects the original message and summary). You have to click th

[2018-10-17 07:56] marcan commented on #1587
Alternatively, and this I think is useful as a global option, maybe a new grouping behavior can be introduced where alerts are *only* grouped inside the initial `group_wait` period. After notifications are sent for a group, it is effectively frozen, and new alerts matching the group key would create a new group instead. Does that make sense? I think that would work better in the context of PagerDu

[2018-10-17 08:14] marcan commented on #1587
And apparently Alertmanager doesn't actually support disabling grouping, which makes this even worse. I supposed I can just throw in there a bunch of labels I don't expect to ever collide (like alertname/instance/yada), but this is kind of silly.

[2018-10-17 08:30] simonpasquier commented on #1569
For every new feature that gets included to AlertManager, we need to carefully balance between its relevance for the community as a whole and the additional maintenance/operational overhead. And I'm not sure that this particular case is compelling enough.

If you really want to experiment, you could write an exporter that would receive webhook notifications from AlertManager and compute the metric

[2018-10-17 08:38] stuartnelson3 commented on #1587
This is the entire concept behind alertmanager's grouping. After an initial notification, comprising whatever alerts are received within `group_wait`, is sent, new notifications are only sent if:

- the group changes (new alert is received, old alert is resolved, e.g.) within `group_interval`
- `repeat_interval` elapses

`group_interval` can be reduced so that you're alerted more frequently about

[2018-10-17 09:32] marcan commented on #1587
What I mean is that no notifications are actually delivered even after `group_interval` expires. They make it to PagerDuty, but they update the existing alert only, in a very non-helpful way. Effectively, once Alertmanager sends the initial notification to PagerDuty for a given alert group, no further escalations are triggered, and no further actual notifications in PagerDuty are triggered, until

[2018-10-17 09:48] marcan commented on #1587
Basically the problem is that PagerDuty has no API to say "Hey! I have new stuff for that previous alert I sent you, notify the user again!". You have to create an entirely new alert. So as far as I can tell the options are:

* (Current status): Send updates to the existing event, user does not get notified. Bad.
* Send a new PD event with all the current alerts, resolve the previous event with no

[2018-10-17 10:01] #1585 closed

[2018-10-17 10:09] beorn7 commented on #1587
Users might see it the other way round: “Once I have ack'd the page, I don't want to get re-paged on the same alert group. It's all the same issue anyway, and I told PD I'm working on it.”

If you wont to get re-paged, you could simply _Resolve_ a PD incident rather than merely _Ack_ 'ing it. That should result in a new page as soon as Alertmanager sends an update to the alert.

In different news:

[2018-10-17 10:46] beorn7 commented on #1587
I think this is something to be solved on PD's side. And arguably it already is. Wouldn't it solve your problem if you just always _Resolve_ in PD instead of _Ack_? That's what I tell the engineers at SoundCloud, and it seems to work quite well.

[2018-10-17 11:13] marcan commented on #1587
That seems kind of a hack, in that it negates any incident management you might want to do in PD (basically you wind up using it only for escalation and notification), and there's also a race condition there. I mean, it works, but wouldn't what I suggested make more sense?

[2018-10-17 11:29] beorn7 commented on #1587
Part of the problems certainly stems from an overlap of concerns between AM and PD.
If there is an easy way to untangle that, sure, but it seems we needed to introduce conceptual inconsistencies in AM to cater for the subset of people that happen to use PD for incident management.
Personally, I'm not sure what's the best course of action here. I leave that to the AM maintainers. :o)

[2018-10-17 11:47] marcan commented on #1587
To me the idea of "one-shot" alert grouping (wait, collect alerts, notify, start from scratch for any further alerts) makes sense as a general feature potentially useful for other notification mechanisms too, but maybe that's just me :-)

[2018-10-17 14:47] justinjk007 commented on #1546
Didn't help

[2018-10-18 09:56] VR6Pete opened #1590 "AlertManager not sending Resolved to OpsGenie"
Hi,

Alert Manager does not appear to send_resolved to OpsGenie.

Version: 0.15.2

- name: opsgenie_cloud_alerts
  opsgenie_configs:
  - send_resolved: true
    http_config: {}
    api_key: <secret>
    api_url: https://api.eu.opsgenie.com/
    message: '{{ template "opsgenie.default.message" . }}'
    description: '{{ template "opsgenie.default.description" . }}'
    source: '{{ template "opsgeni

[2018-10-18 10:08] #1590 closed

[2018-10-18 10:08] VR6Pete commented on #1590
Sorry  - was fed some incorrect information from OpsGenie supportr and now issue is resolved !

[2018-10-18 10:54] beorn7 commented on #1587
Personally, I think the AM configuration options are already _very_ confusing. I often get caught in them myself. Adding yet another way of managing groups (like the one you suggest) would confuse everybody even more. Also, I do think it will lead to "group spam" with the right pattern, e.g. imagine a slow death of a 1000-instance microservice where you essentially create updates to a group of "in

[2018-10-19 00:46] kskewes commented on #1220
This is the link to API docs: https://api.slack.com/docs/message-formatting#message_formatting

[2018-10-19 08:03] VR6Pete commented on #1587
Just to add to this discuss - I find myself here with a similar issue regards to grouping but using OpsGenie.

The issue I have is exactly the same, so not ideal - I see that group _by is good - especially when feeding alerts through Slack or email etc....

However I think that grouping should be configurable at route level - so I can keep grouping on slack etc... but for OpsGenie / PD Id want ind

[2018-10-19 09:36] stuartnelson3 commented on #1587
Grouping is configurable at the route level. Each route can define its own grouping.

https://prometheus.io/docs/alerting/configuration/

[2018-10-19 14:59] apuchitnis commented on #1569
I would actually disagree here. I would consider statistics on alerts to be a very useful, almost key, feature of any alert manager. For example,
* Uber's equivalent has this https://eng.uber.com/on-call-dashboard
* as does Victor Ops https://victorops.com/incident-analysis-reporting
* and OpsGenie https://docs.opsgenie.com/docs/calculations-for-team-reports

I think other users of alertmanager wo

[2018-10-19 15:08] VR6Pete commented on #1587
Ok - That is good, but I guess same problem applies - grouping cannot be disabled easily.

[2018-10-22 15:21] simonpasquier commented on #1569
@apuchitnis I don't think we can compare AlertManager with the products you've quoted. AlertManager's [goals](https://prometheus.io/docs/alerting/alertmanager) are grouping, suppressing and dispatching of alerts. This is already a big chunk of work to keep the maintainers busy.

To go back the initial topic, any metric addition/modification is evaluated following the Prometheus best practices, and

[2018-10-22 16:05] P6rguVyrst commented on #1546
Just an idea. Try checking time on all of your cluster nodes. I have a suspicion that not having NTP installed may be causing similar behaviour for me.

KUBE01 | SUCCESS | rc=0 >>
 16:56:21 up 6 days,  5:31,  1 user,  load average: 0.31, 0.35, 0.46

KUBE02 | SUCCESS | rc=0 >>
 16:55:20 up 21 days,  4:51,  1 user,  load average: 0.67, 0.84, 1.32

KUBE03 | SUCCESS | rc=0 >>
 16:57:37 up 80 days, 23:

[2018-10-22 17:04] fchiorascu opened #1593 "Feature Request: Prometehus/ Alertmanager HeartBeats"

[2018-10-22 20:09] justinjk007 commented on #1546
Check the time and then what ? I gotta make the time exactly the same on every machine ?

[2018-10-22 21:17] stuartnelson3 commented on #1546
This has turned into support rather than a feature request/bug report, it would be best if this was continued on the mailing list prometheus-users@googlegroups.com to reach a wider audience that may have similar issues.

[2018-10-23 06:19] mxinden commented on #1593
@fchiorascu I am not entirely sure I understand your feature request. Would you like an endpoint that sends a heartbeat via [server-side-events](https://en.wikipedia.org/wiki/Server-sent_events) to the requesting client? What is your overall goal?

In case you want to test your monitoring pipeline, I would suggest adding an always firing alerting rule to Prometheus and routing the alert to the abo

[2018-10-23 06:29] fchiorascu commented on #1593
Hi Max,

Yes this is the point for HeartBeat, I was thinking at the second point from begining but I think will be nice to have a Heart Beat.
1. Alertmanager ==status==> WebHook (Requesting Client).
2. In the second case setting an alert in firing state all the time like up == 1 for a host or something, do you think is a good idea? Or you have another type of alert in mind?

Thank you in advance.

[2018-10-23 10:03] apuchitnis commented on #1569
Thanks for the discussion @simonpasquier, from what I understand, alertmanager is not aiming to solve this problem. I'll take a look at other solutions.

[2018-10-23 10:03] #1569 closed

[2018-10-23 11:01] simonpasquier commented on #1569
Thanks for your understanding @apuchitnis!

[2018-10-24 08:38] IanJ87 opened #1595 "Alertmanager to BMC"
Hi,
Is there any integration with Alertmanager and BMC (apart from webhook_config, which is incompatible with BMC’s webook) that will work or any planned please?

Thanks

[2018-10-24 09:38] simonpasquier commented on #1595
In the short/mid term, the project doesn't accept new receivers as explained in the [documentation](https://prometheus.io/docs/alerting/configuration/#%3Creceiver%3E). The webhook receiver is meant for integrating with systems that aren't supported: an intermediary service receives notification payload from AlertManager and translates the information for the 3rd-party system.

[code]

I couldn't f

[2018-10-24 09:38] #1595 closed

[2018-10-24 13:50] simonpasquier commented on #1547
I'm going to have a look at this bug since fixing it would facilitate the migration to Go modules.

[2018-10-24 15:44] kneufeld commented on #1492
I would also like to see one alert per attachment or per message.

[2018-10-25 12:34] P6rguVyrst commented on #1546
Yes, that's what NTP is for.

You could get by by deploying prometheus-server and alertmanager on same node, but that's a dirty solution.

If time is the issue here, then I think this issue can be closed?

[2018-10-25 13:07] simonpasquier commented on #980
If someone is interested by this issue, he/she may test #1591 (build artifacts are available [here](https://circleci.com/gh/prometheus/alertmanager/3005#artifacts/containers/0)).

[2018-10-25 20:13] Ragr2018 commented on #622
I am facing same issue even after adding following statements -
global:
  smtp_smarthost: 'localhost:25'
  smtp_from: 'alertmanager@example.org'
  smtp_require_tls: false

templates:
- '/etc/alertmanager/template/*.tmpl'

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 10m
  receiver: team-X-mails

receivers:
- name: 'team-X-mails'
  email_configs:
  - to

[2018-10-25 23:36] brummetj commented on #282
also having the same solution here

My alertmanager and prometheus are both in a kubernetes cluster. And using helm with the stable/prometheus chart.

here is my configuration for alertmanager.

`alertmanagerFiles:
  alertmanager.yml:
    global:
      resolve_timeout: 1h
      slack_api_url: 'https://hooks.slack.com/services/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'

    route:
      group_by

[2018-10-25 23:40] brummetj commented on #282
also having the same solution here

My alertmanager and prometheus are both in a kubernetes cluster. And using helm with the stable/prometheus chart.

here is my configuration for alertmanager.

[code]
and here are the logs

`level=info ts=2018-10-25T23:10:17.313219036Z caller=cluster.go:587 component=cluster msg="gossip settled; proceeding" elapsed=10.000852659s
level=error ts=2018-10-25T23:17:19

[2018-10-25 23:41] brummetj commented on #282
also having the same solution here

My alertmanager and prometheus are both in a kubernetes cluster. And using helm with the stable/prometheus chart.

here is my configuration for alertmanager.

[code]
and here are the logs

`level=info ts=2018-10-25T23:10:17.313219036Z caller=cluster.go:587 component=cluster msg="gossip settled; proceeding" elapsed=10.000852659s
level=error ts=2018-10-25T23:17:19

[2018-10-25 23:41] brummetj commented on #282
also having the same solution here

My alertmanager and prometheus are both in a kubernetes cluster. And using helm with the stable/prometheus chart.

here is my configuration for alertmanager.

[code]
and here are the logs

`level=info ts=2018-10-25T23:10:17.313219036Z caller=cluster.go:587 component=cluster msg="gossip settled; proceeding" elapsed=10.000852659s
level=error ts=2018-10-25T23:17:19

[2018-10-25 23:42] brummetj commented on #282
also having the same solution here

My alertmanager and prometheus are both in a kubernetes cluster. And using helm with the stable/prometheus chart.

here is my configuration for alertmanager.

[code]
and here are the logs

`level=info ts=2018-10-25T23:10:17.313219036Z caller=cluster.go:587 component=cluster msg="gossip settled; proceeding" elapsed=10.000852659s
level=error ts=2018-10-25T23:17:19

[2018-10-26 06:32] chanjarster commented on #980
@simonpasquier Thanks, that works. I have tested gmail(port 587) and another mail provider (port 465 with ssl), everything goes fine.

[2018-10-29 12:53] mxinden commented on #1593
Hi @fchiorascu

There are several best practice for meta-monitoring (monitoring the health of your monitoring setup). What we do in the [kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus) case is:

1. Setup Prometheus to constantly fire a particular alert ([deadmanswitch](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometh

[2018-10-29 14:40] mxinden commented on #1492
Relates to https://github.com/prometheus/alertmanager/pull/1588, please correct me if I am wrong.

[2018-10-29 14:55] #1556 closed

[2018-10-29 15:00] simonpasquier commented on #1587
Someone from @PagerDuty should weigh in on this issue...

[2018-10-29 19:43] fchiorascu commented on #1593
Hi @mxinden

Thank you for your time and detailed response, I really appreciate that.
I'll try to implement this approach.

Kind Regards,
Florian

[2018-10-29 19:44] fchiorascu commented on #1593
Hi @mxinden

Thank you for this scenarios and for support also for your time.
I'll try to implement this approach.

Thank you,
Florian

[2018-10-30 09:46] raja-gola opened #1597 "Manage Expired alerts in alertmanager"
UseCase:
Alert setup: I have setup an alert for high memory usage of pod, which sends an alert if the memory usage of pod reaches 95%.

It works fine i.e it sends an alert as expected. But what happens is, the pod gets restarted (as it reaches 100% limit). So after that, we are expecting a resolved alert as  the memory usage has come down, which never happens.

So the alert in firing state is gone

[2018-10-30 10:02] primeroz opened #1598 "Add option to customize alias field for opsgenie alerts"
OpsGenie deduplicate messages based on the Alert [alias](https://docs.opsgenie.com/docs/alert-api#section-create-alert).

This alias is currently calculated by hashing the "GroupLabels" with sha256 [here](https://github.com/prometheus/alertmanager/blob/b63b5600741b07795e50cedf8818a853bacc5f76/notify/impl.go#L1175)

In my scenario i have multiple Alertmanager sources ( for multiple kubernetes clust

[2018-10-30 10:05] stuartnelson3 commented on #1597
This is a usage question, which should be sent to the mailing list prometheus-users@googlegroups.com. This gives your question (and its answer) the opportunity to reach a wider audience.

[2018-10-30 10:05] #1597 closed

[2018-10-30 10:12] brian-brazil commented on #1598
This is how grouping works in the alertmanager, and what you suggest would not work as the alerts would still be in the same group and thus the same notification. group_by is the right way to handle this.

[2018-10-30 11:31] simonpasquier commented on #1598
Using `external_labels` is the right thing to do here.

[2018-10-30 11:42] primeroz commented on #1598
@simonpasquier i am using external_labels , from prometheus to alertmanager. How does that change the alias generated by alertmanager ?

[2018-10-30 13:10] auhlig opened #1599 "**Feature Request** Slack option field"
Slack supports interactive messages with a drop down of pre-defined actions like: ![drop down](https://a.slack-edge.com/5069/img/api/message_menus_purchase_limit.png)
See Slack API docs for [option fields](https://api.slack.com/docs/interactive-message-field-guide#option_fields) and [option groups](https://api.slack.com/docs/interactive-message-field-guide#option_groups).
Allowing interactive slac

[2018-10-30 13:10] simonpasquier commented on #1598
I just meant to say that in any case, you have to define somewhere the key that differentiate your clusters and what you describe as a workaround is the normal way to go as long as your "group by" parameter includes this external label (eg `group_by: ['service', 'severity', 'alertname', 'clusterid']`).

[2018-10-30 13:14] primeroz commented on #1598
yeah that is what i am doing, but it seems quite a workaround  ... also , and maybe this is something i am doing wrong, i tend to have quite a few sub-routes, around 30 of them, to do different grouping for different rules. in each of them i had to add the clusterid as well ... just to change the alias produced by the code for my opsgenie alert.

I am just wondering if this is the correct behavior

[2018-10-30 15:19] auhlig commented on #1599
Hi @mxinden,

[2018-10-30 15:46] auhlig commented on #1599
Hi @mxinden,
Users would be able to conveniently respond to Prometheus Alerts from Slack, like silence an alert, open a ticket in a system, creating a reminder, etc. .
With a growing number of options buttons might overload a message.
Instead of adding these multiple buttons, a drop down menu wouldn't overload the message while still offering a variety of response actions.
With the `option_groups`

[2018-10-31 09:12] reachlin opened #1600 "need documentation on how to use template secret"
It's not clear how to put encrypted key into alertmanger config for PagerDuty. I see we can use template for the key in the doc.

[code]
and a sample,
https://github.com/prometheus/alertmanager/blob/b63b5600741b07795e50cedf8818a853bacc5f76/doc/examples/simple.yml#L118

But it's still not clear what are these and where they are from:
`- service_key: <team-DB-key>`

[2018-10-31 09:17] reachlin commented on #1168
@ZeeShen could you tell me what is `pagerduty.XXX.app_key` and where you define this?

[2018-10-31 10:41] ZeeShen commented on #1168
@reachlin `pagerduty.XXX.app_key` is just template that defined in my customer template files.

[2018-10-31 15:31] vitaliiko commented on #654
It would be great to have multi attachments in the slack_configs. I can't group messages by status (firing/resolved). So I wont to have a possibility to set different colors for firing and resolved alerts in one message.

[2018-11-02 05:31] talonx opened #1602 "No documentation on how to setup a custom email template"
**What did you do?**
Trying to add a custom email template. This is not an usage related question, since the docs for adding a custom email template are missing. The only reference is https://prometheus.io/docs/alerting/notification_examples/ which is about Slack, not email.

I have searched the Prom Google Group too, but it's full of questions about this topic but not working answers.

[2018-11-02 10:57] xiyanxiyan10 opened #1603 "Bugs in receiver info from the mail"
I configure receiver as this

[code]
So, alert info will send to the woobhook when send mail to the mails.

But I found the **$alert.EndsAt** in mails not the same with the time in webhook, why alert info **$alert.EndsAt** is  different which from the same policy and receiver group

[2018-11-02 13:02] stuartnelson3 commented on #1603
This is a usage question, and would better serve the community if it were sent instead to prometheus-users@googlegroups.com.

alert.EndsAt is set when an alert is ingested into the alertmanager server. This is the time, after which, an alert is to be marked as "resolved". It is not related to the time a notification is sent to your webhook.

Each time the prometheus sends an alert, if EndsAt is em

[2018-11-02 13:02] #1603 closed

[2018-11-02 16:19] miekg opened #1604 "licsense of font awesome"
A font awesome css is incorperated in this repo, namely in:
alertmanager/ui/app/lib/font-awesome-4.7.0/css/font-awesome.css

this carries a copyleft license:
License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)

However the entire repo is governed by the Apache 2 license.

I *think* this introduced a license incompatibility. At least it would make some people lives easier

[2018-11-02 19:06] vielmetti commented on #1106
@sdurrheimer - any update or plans to look at multi-arch Docker images?  It's been about a year since this issue closed, wondering if you're open to reconsidering.

[2018-11-03 21:42] vsliouniaev opened #1605 "Alertmanager `data.retention` does not understand units > h"
**What did you do?**
`alertmanager --data.retention=7d`

**What did you expect to see?**
Alertmanager should be able to interpret the standard ms, s, m, d, h, y specifications for data retention and start up.

**What did you see instead? Under which circumstances?**
[code]
**Environment**

* System information:
`Linux 4.4.0-17134-Microsoft x86_64`

* Alertmanager version:
[code]
* Logs:
[code]

[2018-11-04 13:52] xiyanxiyan10 commented on #1603
Thanks a lot.

[2018-11-04 14:14] stuartnelson3 commented on #1605
The flag parsing library we're using, kingpin, uses the stdlib duration parser. The golang duration parser doesn't support time units larger than an hour.

https://golang.org/pkg/time/#ParseDuration

[2018-11-04 14:14] #1605 closed

[2018-11-04 14:16] eyaldavid opened #1606 "Getting an error from slack"
**What did you do?**

created local HA cluster of AlertManager with 3 nodes and trying to send alerts to slack

**What did you expect to see?**

alerts on slack

**What did you see instead? Under which circumstances?**

error message inside the  console output
15:54:47 a1 | level=debug ts=2018-11-04T13:54:47.881882Z caller=notify.go:669 component=dispatcher msg="**Notify attempt failed" attempt=1

[2018-11-05 07:22] raja-gola opened #1607 "Prometheus alertmanager **not** sending resolved alerts for restarted pods"
Prometheus alertmanager **not** sending resolved alerts for restarted pods

Issue: Consider a pod p1 running in namespace n1. An alert is configured to send alert when pod memory reaches 95%. An alert is sent when the pod reaches 95%. But when the pod reaches 100% memory limit and restarts, a **resolved alert** is not sent.

====Prometheus======
[code]

======Prometheus Rules=====
[code]

=======A

[2018-11-05 08:06] mxinden commented on #1607
Did the alert somehow end up in the `default-ns-alerts` route? If so, the `default-ns-alerts` notifier is a slack notifier. [By default](https://prometheus.io/docs/alerting/configuration/#slack_config) resolved notifications are disabled here. You would need to add `send_resolved: true` like you did for the webhook config.

[2018-11-05 08:33] raja-gola commented on #1607
Does it has something to do with new time series, as the pod gets restarted (pic attached)?
<img width="769" alt="screen shot 2018-11-05 at 2 00 41 pm" src="https://user-images.githubusercontent.com/8131738/47986698-7d693b00-e103-11e8-8add-1959481abef1.png">

[2018-11-05 09:51] simonpasquier commented on #1106
@vielmetti the canonical issue is https://github.com/prometheus/promu/issues/89.

[2018-11-05 10:07] stuartnelson3 commented on #1607
The original alert will still exist within alertmanager, and should either receive a resolved message from prometheus or auto-resolve after the timeout (5m by default).

You are receiving the initial alertnotification, correct?

[2018-11-05 10:10] raja-gola commented on #1607
Yes we are receiving initial alert notification, like in this case pod memory usage hitting 95%

[2018-11-05 12:07] mxinden commented on #1602
Thanks for raising this issue @talonx. I am sorry for the inconvenience. Please keep in mind that this is a community driven project.

Would you like to give this a shot and create a pull request adding more documentation on the topic? Of course we are happy to help.

[2018-11-05 13:41] simonpasquier commented on #1606
A 404 code indicates that the URL isn't valid. Are you sure about your `api_url`?

[2018-11-05 16:34] simonpasquier commented on #1600
A secret string is a string that is hidden when displayed in the AlertManager UI while a template string is expanded using the Go templating engine. The simplest thing to do is to put your service key as-is in place of `<team-DB-key>`.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can

[2018-11-05 16:34] #1600 closed

[2018-11-07 12:23] marcan opened #1610 "Document how to disable clustering feature"
Alertmanager randomly failed to start on host reboot with:

[code]

I do not use the cluster feature. Unfortunately the documentation does not mention how to turn this off, and it seems to be turned on by default. I guessed that `--cluster.listen-address=` might work, and that seems to have done the trick, but that isn't documented.

Personally, I find this being turned on by default an unwelcome

[2018-11-07 13:47] nikopen commented on #1602
There is only a small part that describes how to make a custom template work on Kubernetes prom installation, here https://github.com/coreos/prometheus-operator/blob/master/Documentation/user-guides/alerting.md

It's a start.

There is also a large PR that is pending since a year ago - https://github.com/prometheus/alertmanager/pull/1062 , with some of it having the old rules format / outdated.

G

[2018-11-07 13:49] simonpasquier commented on #1610
It is turned on by default so a node knowing about no peer at startup can still be contacted by other nodes to form the cluster. Feel free to send a PR to update the documentation.

[2018-11-07 14:37] simonpasquier commented on #1607
@raja-gola which Prometheus version?

[2018-11-07 21:09] dojadop commented on #275
@swapnilbarwat @unnisathyarajan I was able to get this to work using port 587

[2018-11-07 23:57] swapnilbarwat commented on #275
I missed this thread after my code got working. I was able to make it work using 465. Thanks for updating though.

[2018-11-08 02:09] WOOOFEI commented on #1385
![image](https://user-images.githubusercontent.com/21849553/48173339-52b6f680-e33e-11e8-8186-b42cd1763f78.png)

I met the same problem, and I'm sure that my secret is correct

[2018-11-08 03:06] WOOOFEI commented on #1385
I found the problem, the config works in "wechat_configs" but not in "global".

[2018-11-08 04:32] raja-gola commented on #1607
@simonpasquier I am using prometheus version v2.2.1

[2018-11-08 07:19] dhallam commented on #1299
I experience the same issue. My expectation would be that all of the Matcher config, including the regex flag, would be copied into the recreated silence - otherwise it renders the entire Matcher useless.

[2018-11-08 07:50] dhallam commented on #1584
Previously reported in #1299

[2018-11-08 09:06] simonpasquier commented on #1584
Closing then as it is a duplicate.

[2018-11-08 09:06] #1584 closed

[2018-11-08 09:18] talonx commented on #1602
I received a helpful response on the Slack channel pointing me to https://prometheus.io/docs/alerting/configuration/#%3Cemail_config%3E

[2018-11-08 11:46] simonpasquier commented on #1607
Can you run AlertManager with `--log.level=debug` and share the logs? Please also share the Prometheus configuration. I've tested locally with a similar rule and I get the resolved notification after I delete a pod that has a firing alert.

When a target is removed, stale markers are appended to the associated time series and the firing alerts should then resolve but it doesn't happen immediately

[2018-11-08 15:10] simonpasquier commented on #1599
It sounds like a valid scenario although I'm a bit worried that the Slack configuration is getting very complex and prone to mistakes.

[2018-11-08 16:14] metalmatze commented on #1599
This is something I want to add to the [alertmanager-bot](https://github.com/metalmatze/alertmanager-bot) with Slack support [#11](https://github.com/metalmatze/alertmanager-bot/issues/11).

[2018-11-08 16:30] auhlig commented on #1599
I follow up with a PR for this to see the impact. Should be easier to decide whether the slack config in the alertmanager gets too bloated with that. Good plan @simonpasquier, @mxinden?

[2018-11-08 16:44] mxinden commented on #1599
Sure, go for it. We just can't promise it to be merged.

[2018-11-09 05:37] raja-gola commented on #1607
I am currently upgrading Prometheus to v2.4.3 and alertmanager to v0.15.2. Will revert back after testing this version

[2018-11-09 08:38] xingx-xx commented on #876
@simonpasquier I am thirsty for this. 👍

[2018-11-09 09:45] talonx commented on #1602
However, the URL I mentioned in the Slack response above talks only about inline templates, and not about separate included HTML templates.

@mxinden I would love to contribute to the docs, but I have to figure out how to get it to work first :) It seems to be a trial-and-error driven process.

[2018-11-09 12:45] #1555 closed

[2018-11-09 15:13] grobie opened #1615 "Support Prometheus standard time formats in silence creation"
Prometheus supports relative time options like `y` and `w` which would be quite helpful to use when creating silences.

https://github.com/prometheus/common/blob/0b1957f9d949dfa3084171a6ec5642b38055276a/model/time.go#L192-L205

[2018-11-09 15:14] simonpasquier commented on #1602
@talonx are you referring to templates defined in separate files? If so they are described here:
https://prometheus.io/docs/alerting/notification_examples/#defining-reusable-templates

Otherwise the documentation for AlertManager is there (it should eventually move to this repository but this is another effort):
https://github.com/prometheus/docs/tree/master/content/docs/alerting

[2018-11-09 15:39] SteveGoodenough opened #1616 "Sending to invalid slack channel only gives 404 with no user data"
If you try to send an alert to an unknown slack channel the error does not give anymore information than "error: unexpected status code 404"

**What did you do?**
We have a number of slack channels (using a multi-tenant k8s cluster) so our receiver has the following:
``
channel: '{{ printf "topic-svc-%.11s" (index (index .Alerts 0).Labels "namespace") }}'
``
(the %.11s to ensure the channel name f

[2018-11-12 10:30] simonpasquier commented on #1616
This is similar to #1540 and #1541. In general, I think we should be careful about what we store (eg logging the request might contain sensitive date) but I agree that getting useful information helps a lot. The Slack documentation provides [details](https://api.slack.com/incoming-webhooks#handling_errors) about the returned payload and I suggest that it gets added to the returned error.

[2018-11-12 10:35] simonpasquier commented on #1615
It is for the UI, right?

[2018-11-12 10:49] stuartnelson3 commented on #1615
Yeah, in the silence creation form in the UI

[2018-11-12 12:35] Orsek123 opened #1618 "Cycle: "Firing, Resolved""
**What did you do?**
Hello, I have problem with alertmanager cluster. I build cluster with 4 prometheus + (4 sidecar, 4 query), 4 alertmanager. I have two region (region1, region2). In every region there are two prometheus node - replica(A, B). All prometheus have as alerting targets all alertmanager nodes. All alertmanager nodes have have as parameters cluster.peer all alertmanager nodes. Alertma

[2018-11-12 13:08] simonpasquier commented on #1618
I'm not to understand exactly the issue: do you mean that you receive a PagerDuty notification then 3m later you receive the resolved notification and after 1m, it goes back to the first step?

I see you're using version 0.15.3. Does it work as you expect with v0.15.2? Asking because 0.15.3 manages alert end times differently due to a change in Prometheus v2.4.

[2018-11-12 13:34] Orsek123 commented on #1618
Sorry, but my english is not very good.
Yes.
1) Prometheus send alert to alertmanager
2) Alertmanager send firing to pagerduty
3) Pagerduty send msg to mattermost
4) After 3m alertmanager send resolve to pagerduty
5) Come resolve status to mattermost
6) After 1m start start second step

I try with v0.15.2 and v0.15.3... the same problem.

I thought so it is problem with evaluation. But from promet

[2018-11-12 14:01] simonpasquier commented on #1618
Please check that clocks are in sync across all the machines. Can you share AlertManager logs spanning a larger interval (including firing/resolved/firing notifications)?

[2018-11-12 14:01] stuartnelson3 commented on #1618
Something to note: Alertmanager's gossip is configured for a LAN, and has not been tested for cross-region performance. This could easily be causing issues.

Is the notification you receive in `6` for the same instance as in `2`? You are grouping on instance, so notifications will be for different instances.

Also, your alertmanager config says the group_interval is 5min. For a single notification

[2018-11-12 15:10] luphaz commented on #876
Hello
Here is a starting point that we have used to silence alerts outside of office hours :
[code]

Of course it's GMT based so does not take into account summer/winter times, neither bank holidays.

Hope it might helps others.

You should just have to replace `vector(1)` with the prometheus expression/aggregation you need

[2018-11-12 19:19] chngtrn opened #1619 "Always send to slack?"
I have a requirement that all alerts post to a slack channel first, then if it matches child routes it'll send alerts again, whether it's email or pagerduty. If I use the ```continue``` parameter then slack wouldn't get alerted. If I don't use ```continue``` then I don't get child alerts, email or pagerduty. Below is my route. How can I solve this issue? I'm trying not to add slack config to all o

[2018-11-12 19:33] stuartnelson3 commented on #1619
This is a usage question, and should be sent to the mailing list prometheus-users@googlegroups.com, where others can also benefit from the response.

[2018-11-12 19:33] #1619 closed

[2018-11-13 10:04] stuartnelson3 commented on #1615
I am cool supporting `w`, but as a project alertmanager wants to discourage "eternal silences". It's still possible if users want to do it, but a month (`4w`) seems to me like the upper bound on how long something should be silenced.

[2018-11-13 14:08] #1615 closed

[2018-11-13 16:29] roidelapluie commented on #876
PS: about daily_saving_time_belgium: yes it works.

[2018-11-14 10:36] szymonpk opened #1621 "amtool alert add missing in 0.15.x"
**What did you do?**

`amtool alert add alertname=testPleaseIgnore severity=warning --annotation=message="Test alert message"`

**What did you expect to see?**

Added alert

**What did you see instead? Under which circumstances?**

`amtool: error: unknown long flag '--annotation'`

If I remove all flags:

`amtool: error: bad matcher format: add (code: 400)`

**Environment**

* Alertmanager version

[2018-11-14 12:53] szymonpk commented on #1621
@simonpasquier thanks!

[2018-11-15 10:08] stuartnelson3 opened #1624 "Alertmanager not GC'ing silences"
**What did you do?**

Checked the "expired" tab on the silences page, and saw silences going back 2 months in time. The alertmanager cluster is using the default retention time, `120h`.

**What did you expect to see?**

Expired silences for the last `120h`.

**What did you see instead? Under which circumstances?**

Expired silences for the last 2 months.

**Environment**

* System information:

	`

[2018-11-15 12:18] linux-xiayun commented on #980
@chanjarster Hi，我想问一下你这个邮箱是什么，我用阿里的邮箱465不能发送「err="*smtp.plainAuth failed: wrong host name"」

[2018-11-15 12:53] simonpasquier commented on #1624
Hmm, tested with a short retention period (1h) and it worked well for me.

[2018-11-15 12:55] stuartnelson3 commented on #1624
Weird. I feel like we addressed this once before. Was this in a clustered setup?

[2018-11-15 13:05] simonpasquier commented on #1624
Ah no it was a single instance...

[2018-11-15 14:47] grobie opened #1625 "Provide way to query (almost) current state of firing alerts"
## Use case

* Get an overview of all currently firing alerts
* Query firing alerts for a system/service and prevent automatically triggered deploys

## Background

Alertmanager is the central location where all alerts from all Prometheus servers come together. For performance optimization reasons, incoming individual alerts are currently only processed (internal state updates, checking for inhibi

[2018-11-16 12:07] Orsek123 commented on #1618
Thanks. Problem is with cross-region.
I create separate alertmanager cluster for each region. Now alerting is ok.
I wanted create big cluster for all (cross-region) for maximal redundation but this solution is ok.

[2018-11-16 12:07] #1618 closed

[2018-11-16 15:21] simonpasquier opened #1627 "API v2 doesn't honor the web.route-prefix argument"
**What did you do?**

Start AlertManager with `--web.route-prefix=/foo`

**What did you expect to see?**

`curl localhost:9093/foo/api/v2/silences` returns 200 OK.

**What did you see instead? Under which circumstances?**

404 not found.

`curl localhost:9093/foo/api/`**v1**`/silences` returns 200 OK.

[2018-11-16 15:50] #1547 closed

[2018-11-16 17:38] peergynt opened #1628 "amtool config routes command not available"
The amtool routes visualization feature does not seem to be available. The **routes** command is not even recognized.

**amtool --version**
amtool, version 0.15.3 (branch: HEAD, revision: d4a7697cc90f8bce62efe7c44b63b542578ec0a1)
  build user:       root@4ecc17c53d26
  build date:       20181109-15:40:48
  go version:       go1.11.2

**amtool config routes --help**
amtool: error: unexpected routes

[2018-11-18 18:47] Tom-Fawcett commented on #876
I've written a blog post on how I solved my use case - [link](https://medium.com/@tom.fawcett/time-of-day-based-notifications-with-prometheus-and-alertmanager-1bf7a23b7695)

[2018-11-19 02:42] chanjarster commented on #980
@linux-xiayun

[code]

Replace the `username`, `company` and `password` to your mail account info.

[2018-11-19 10:14] simonpasquier commented on #1628
The command will be available in the next release of AlertManager. But I think you should be able to use `amtool` from master against a 0.15.3 AlertManager.

[2018-11-19 10:14] #1628 closed

[2018-11-19 13:04] roidelapluie commented on #876
@Tom-Fawcett  this is so great!

[2018-11-19 15:00] stuartnelson3 commented on #1624
It seems to have GC'd the 2 month+ old silences when I started looking into why it wasn't GC'ing them. Closing.

[2018-11-19 17:29] talonx commented on #1602
@simonpasquier Thanks for the link - I'll give it a try.

[2018-11-20 09:34] sysincz commented on #1150
May be helps:
https://github.com/sysincz/k8s-sidecar-cm-to-file

[2018-11-20 14:56] stuartnelson3 commented on #1624
It seems they came back.

[2018-11-20 15:04] mxinden commented on #1624
@stuartnelson3 how big is the cluster? Are you able to add a Prometheus instance scraping it so we can watch it over time?

[2018-11-20 15:11] stuartnelson3 commented on #1624
three nodes, it's been scraped the entire time:

![image](https://user-images.githubusercontent.com/1398104/48782427-78e57a80-ecde-11e8-831f-badf44df8746.png)

There are expired silences going back to `2018-09-13`, despite `--data.retention` being set to `72h`. I changed it from the default to see if that had any effect, which it doesn't seem to have.

[2018-11-21 10:40] #1624 closed

[2018-11-21 21:05] thiagotrennepohl commented on #1512
Hello people,  I've found this article here, and it works pretty well
http://tfahl.com/2018/08/01/using_mattermost_as_a_receiver_for_alertmanager.html

![image](https://user-images.githubusercontent.com/12124856/48868328-575cbf80-edc0-11e8-993e-7a7af1d9c884.png)

[2018-11-22 03:33] kyoto opened #1635 "Should not allow a Silence to have duplicate matchers"
It is currently possible to create a Silence that has 2 matchers with the same `name`. This probably makes sense when both are regex matchers, but I think it's better to disallow if one or more are non-regex matchers.

For example, the following matcher combinations are allowed, but I think they don't make sense.
- `test="yes"`, `test="no"`
- `test="yes"`, `test="yes"`
- `test="yes"`, `test=~"n.*"

[2018-11-22 09:33] brian-brazil commented on #1635
We don't have any such restrictions in PromQL, and I don't think we should have them here. Automated systems might fall afoul of such a mechanism.

[2018-11-23 09:36] povilasv commented on #1449
Closing as https://github.com/prometheus/alertmanager/pull/1428 got merged

[2018-11-23 09:36] #1449 closed

[2018-11-23 13:47] garo opened #1636 "Add ability to generate png graph on the alert for embedding with receivers"
Both Slack and PagerDuty allows including one or more images with the generated alert. At least with PagerDuty the image needs to be accessible via https.

Alertmanager should have a way to generate a publicly accessible rendered image on the alert query, so that the image can be attached to the alert. This way the person receiving the alert could easily see a visual explanation on the alert conte

[2018-11-23 15:50] mxinden commented on #1604
First of all, thanks for speaking up.

I am guessing that you are concerned about the SIL OFL 1.1 license, not the MIT License, thereby I am only going to talk about the former. Please correct me if I am wrong.

[code]

Overall for me it does not look like we are violating any licenses by using font-awesome. Would you mind adding some more details here e.g. which statement of the license you are c

[2018-11-26 01:46] kyoto commented on #1635
Thanks @brian-brazil. In that case, perhaps makes sense for this validation to be added to the UI, but not at the API level?

[2018-11-26 02:09] linux-xiayun commented on #980
@chanjarster tks, I have tried but it didn't work. I used tencent email port 587

[2018-11-26 06:15] roidelapluie commented on #1635
I tend to disagree as one can use the browser to make the api

[2018-11-26 06:17] roidelapluie commented on #1636
We have that feature in a custom we hook reveiver but not with the original alert; we do add custom promql expressions as annotations

[2018-11-26 07:34] mxinden commented on #1635
While I see the point for auto-generated silences, I also think that disallowing these nonsensical matchers would improve user experience.

Moving this validation to the UI sounds like a good compromise to me.

@roidelapluie I don't understand your statement. Would you mind adding some more details?

[2018-11-26 12:08] #1627 closed

[2018-11-26 12:29] mxinden commented on #1636
I will break this down into two feature requests:

- **Rendering images in Alertmanager**: Alertmanager is notified by Prometheus that a given alert is firing. It does not send along the corresponding timeseries nor an image of the graph. Thereby Alertmanager by itself can not render the image.

  One could expose an endpoint on Prometheus that would return an image given a Prometheus Query, which

[2018-11-26 14:11] roidelapluie commented on #1636
The main reason for not accepting this feature request is that the alerting rule is not relevant to understand the context.

Some alerts have >, on() joins...  and when it is resolved you can not know if it was because of missing mectric or threshold... the alerting query is meaningless.

[2018-11-26 16:34] mxinden opened #1638 "api: Deduplicate alerts definition via `allOf` parameter"
Now that the fix for https://github.com/OpenAPITools/openapi-generator/issues/1465 was merged, we can deduplicate the `alert` definition in the `openapi.yaml` spec like we did for silences.

More details:  https://github.com/prometheus/alertmanager/blob/091a8a83b16e2f04f25d832237cf42846ef939b4/api/v2/openapi.yaml#L355-L359

[2018-11-26 17:18] grobie commented on #979
This does not only affect the alertmanager UI itself, but any client of the alertmanager API. I had filed #1625 for the API specific issues.

[2018-11-26 17:18] grobie commented on #1625
Duplicates #979.

[2018-11-26 17:18] #1625 closed

[2018-11-26 17:57] garo commented on #1636
I understand @roidelapluie your reasoning that there are many cases where the alerting rule is not easily usable for this case.

Could the alerting rule have a field (label / annotation) where the user could describe a relevant query, which could then be rendered out and sent as an attachment? This approach would require the ability to specify multiple queries which would then be embedded in the s

[2018-11-26 18:00] beorn7 commented on #979
An idea I had is to do those checks upon the API call, with the following advantages:
- It would naturally be outside of the "production critical" path of ingesting alerts and sending out notifications. Number of concurrent API calls (and if need be their maximum duration) could be limited easily.
- If you ask for something specific (alerts for a particular receiver, alerts matching a name or labe

[2018-11-27 02:54] TinLe opened #1639 "Active silences reminder to its creator"
**Enhancement Request**

**What did you do?**
Silences were created for large block of alerts, e.g. silent all alerts for team Foo in datacenter Bar.   This was meant to be temporary as DC Bar was being brought up.  Unfortunately, the slient period was too long, and the DC was put into production sooner than expected.

Alerts were suppressed due to the silences.

**What did you expect to see?**
A

[2018-11-27 03:01] TinLe commented on #1639
It would be good at time of silence creation to give an option for a reminder, even better is reminder after N time (e.g. after/every 24hrs, after/every N days, etc).

[2018-11-29 11:32] arugaki opened #1642 "alertmanager send duplicate alerts"
**What did you do?**

I use a webhook like examples/webhook/echo.go to receive alarm messages from Alertmanager,
I found that whenever a new alarm rule is triggered in Prometheus, prometheus sends a new alert message to the Alertmanager, the Alertmanager will send this alert message to the webhook with all previous unresolved alerts and resolved but not too late to delete alerts.

for example:

Fi

[2018-11-29 11:56] stuartnelson3 opened #1643 "Silences not being gossip'd"
**What did you do?**

Created a silence

**What did you expect to see?**

That silence propagated to all other AMs int he cluster

**What did you see instead? Under which circumstances?**

Silences were not being propagated

This is introduced by https://github.com/prometheus/alertmanager/pull/1631. I'm investigating to see what the issue is.

[2018-11-29 12:44] arugaki commented on #1642
I know what‘s your meaning,  but first,  the alert rule A triggered 2 alert,
like this

![a](https://user-images.githubusercontent.com/30457761/49222157-14c96180-f416-11e8-9825-3607aab33cdc.jpg)
the webhook will receive
[code]
a few minute later, the alert rule A triggered 3 alert, like this
![b](https://user-images.githubusercontent.com/30457761/49222302-77baf880-f416-11e8-90bc-c503ac87a104.jpg)

[2018-11-29 12:59] stuartnelson3 commented on #1642
The design of alertmanager is to send all alerts in a group. If you want to just receive the third alert, you need to update your group_by labels to an additional label. For example, if you did `[ alertname, instance ]`, then the notifications would in this example would have been sent individually.

[2018-11-29 13:20] arugaki commented on #1642
Oh thanks, i see. Can you tell me what the purpose of this design is for?

[2018-11-29 13:41] stuartnelson3 commented on #1642
The correct place for this discussion isn't in a github issue. I recommend asking in the irc channel, the users mailing list.

[2018-11-29 13:41] #1642 closed

[2018-11-29 21:21] roidelapluie commented on #1636
https://github.com/qvl/promplot

[2018-11-30 01:40] huynhducbk95 opened #1644 "Alertmanager cannot separate emails"
Hi anyone,
I am facing with a issue about prometheus alerts. Please tell me if this is a bug of alertmanager version v0.15.2 or I missed somethings when update version. Thanks!

**What did you expect to see?**

My expect is that all alerts of node exporter will be grouped together in a single mail with header [alerting][node-exporter] and all of cadvisor will be grouped together in a single mail w

[2018-11-30 09:44] SFHfeihong opened #1645 "There is no errors in log but I cannot receive message in we chat"
prometheus version:  2.1.0
alertmanager version: 0.15.1

my config:
global:
  wechat_api_url: 'https://qyapi.weixin.qq.com/cgi-bin/'
route:
  receiver: 'yanfa'
  group_by: ['alertname']
  continue: false
  group_wait:      30s
  group_interval:  5m
  repeat_interval: 3h

  routes:
  - receiver: 'yanfa'
    group_wait: 30s
    match:
      status: 'red'
receivers:
- name: 'yanfa'
  wechat_configs:

[2018-11-30 10:14] simonpasquier commented on #1644
As you didn't specify the `group_by` parameter in the main route, AlertManager groups all alerts in the same mail notification. You can do this instead:

[code]

See https://prometheus.io/docs/alerting/configuration/#%3Croute%3E for more details.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), whi

[2018-11-30 10:15] #1644 closed

[2018-11-30 10:44] stuartnelson3 commented on #1636
This is something you could create yourself using a webhook. The notification goes to the webhook, which creates an image+url to reference the image.

If your webhook creates a url that you can "know beforehand", you could set it as an annotation on the notification.

In general, I'm not in favor of adding this specific behavior natively to alertmanager.

[2018-11-30 15:55] simonpasquier commented on #1639
I'm not sure that your use case is compelling enough to be implemented. In general, I'd recommend to choose the lowest possible value for the silence period. Worst case, the alerts will fire again and you can decide consciously whether or not the silence needs to be extended. Another option is to filter alerts at the [Prometheus level](https://prometheus.io/docs/prometheus/latest/configuration/con

[2018-11-30 16:03] simonpasquier commented on #1645
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-11-30 16:03] #1645 closed

[2018-11-30 16:13] brian-brazil commented on #1639
I think this sort of check is best done via an external script.

[2018-12-02 01:15] TinLe commented on #1639
This is similar to / related to #730.

@simonpasquier it's hard when there are multiple teams and large complicated project.  I am not saying that excuse it, but mistakes happens and things get dropped.   We will implement your suggestions, but knowing human nature, it's going to happen again.  This was one of the solution we came up with in our post mortem analysis.   It won't completely solve th