[2017-07-18 10:32] brancz commented on #891
This should be covered by the default way the Alertmanager works.

De-duplication happens based on the values of the labels for all routes leading to the routing tree leafs, therefore dropping/changing the Prometheus instance labels should not have an effect unless the instance labels are part of this tree.

Therefore I'm assuming there is either a bug in the deduplication logic, or the mesh is ma

[2017-07-19 02:10] kpachhai opened #911 "Improvement of the UI of the main alerts page for alertmanager"
At the moment, if we have lots of alerting rules and accordingly, if there are lots of alerts being fired off, the alerts page just shows a long list of all the alerts. It would be nice to improve the UI for this page so it's easy on the eyes. I was thinking more along the lines of if we could improve the UI so that we summarize different kinds of alerts on the first page, and then maybe it'll sho

[2017-07-19 08:02] stuartnelson3 commented on #911
Thank you for your comment. Could you provide some more information on your use case, such as why you would like to see all alerts? Are you having, e.g., the same alert firing across hundreds of nodes?

The UI currently has a filtering and grouping feature that we hope would allow most users to "create" an alerts page that is relevant to them and be of a manageable size.

An idea that immediately

[2017-07-19 10:10] brancz commented on #891
@mxinden and I just went through this in person and we think we figured out what is happening.

Inhibition works not by looking at what notifications have been sent, but by which alerts are currently firing. Therefore it is not the right mechanism to perform this de-duplication. The sequence of events as @mxinden described above seem to match my suspicion.

So in terms of what we suggest you do:

[2017-07-20 02:33] kpachhai commented on #911
I think my use case scenario would be the following:

I want to be able to have a page where on first glance, I can see only the alertname that is currently being fired(maybe one alertname per row). And in addition, where i can also see the total number of servers affected by this alerting rule. This comes in handy when we're watching hundreds of servers and somehow, majority of the servers are af

[2017-07-20 07:51] stuartnelson3 commented on #911
Hm, I'm thinking of two different things:

1. Collapse the underlying alert information and just show the grouping (be it alertname, or whatever custom grouping a user creates), with information showing number of alerts affected by it.
2. Add an additional clustering or whatever you want to call it, so that within the main grouping of alertname, you only want to see the unique labels "of interest"

[2017-07-20 10:11] beorn7 commented on #868
Discussed with @w0rm and @stuartnelson3 in person, once more.

The above essentially stands, plus the additional difficulty that we want to display the grouping labels in blue. Those can be different for each group. Idea so far is to have an additional endpoint where you query a groupID and get back the grouping labels for that ID. Other implementations are possible, of course, including returning

[2017-07-20 12:26] jameseck opened #913 "mangled emails"
Hi,

We are running alertmanager 0.7.1 and we are receiving emails that have random characters missing or injected.

The Prometheus Alert that generated the example is as follows:

ALERT PrometheusInstanceDown
  IF up{job!="kubernetes-nodes"} == 0
  FOR 5m
  LABELS {severity="critical"}
  ANNOTATIONS {callout="true", description="{{ $labels.instance }} of job {{ $labels.job }} has been down for mo

[2017-07-20 13:46] pytker opened #914 "alertmanager crashes when receive alert."
CentOS release 6.8   2.6.32-642.4.2.el6.x86_64

prometheus 1.5.2
alertmanager 0.7.1

prometheus config:
[code]

alerts:
[code]
alertmanager config

[code]

log

[code]

[2017-07-20 16:18] jessebolson commented on #908
Config looks fine I think (hard to tell without code-block formatting). Mine for reference:

[code]

Is an SMTP request being sent from your Prometheus server to the SMTP server? Use tcpdump if you can. Otherwise, check your SMTP logs - maybe there's something of interest over there. In any case, I doubt the problem is Prometheus if your config is fine.

[2017-07-20 17:47] awaragi opened #916 "Single notification while alert is active"
Context: We have an automated service desk that I would like to notify when a service is down but only ONCE per down status (service is unreachable for 15 minutes).

If I set the repeat_interval to 0, a new notification will be sent on every prometheus rule evaluation and I will get too many notifications.

If I set the repeat_interval to large value, that takes care of repeated notifications but

[2017-07-21 07:18] jameseck commented on #913
I should have mentioned that the error in this mail is at the text "kubernetes_name = kube-state-metrics".  There is an extra space in "m etrics" and also in the next font tag, which breaks the rest of that section.

[2017-07-21 08:10] stuartnelson3 commented on #914
Are you running in HA mode, or with a single alertmanager instance?

[2017-07-21 08:25] stuartnelson3 commented on #908
You're connecting on port `587` with `tls`, and from looking at the code, it appears we are only making a `tls` connection when the port is `465`.

https://github.com/prometheus/alertmanager/blob/a566036015c0cfd1bf218b5de922e57cfa623999/notify/impl.go#L274-L290

After doing a bit of reading at http://blog.mailgun.com/25-465-587-what-port-should-i-use/, it seems we should be focusing on port `587`

[2017-07-21 08:26] stuartnelson3 commented on #916
Thanks for the question! Usage questions should be directed to prometheus-users@googlegroups.com.

[2017-07-21 08:26] #916 closed

[2017-07-21 08:27] stuartnelson3 commented on #913
Thanks for reporting!

[2017-07-21 11:09] soumyadipDe opened #917 "Minimum value for repeat_interval"
So I was playing around with alertmanager and tried to set repeat_interval : 1m for an webhook endpoint. With this configuration alerts repeated in 5m duration. When I changed the repeat_interval to 7m, alerts repeated in 10m duration.
So is it by design that minimum repeat interval is 5m and anything above would be factor of 5m? Or am I missing something?
Can I override this behavior?

[2017-07-21 13:26] brancz commented on #853
With the changes merged from prometheus/common#81, this can now be implemented here.

@brian-brazil what are your thoughts on where/how to integrate the HTTP config into the alertmanager config? An optional global and then an optional on every receiver config interacting with HTTP?

[2017-07-21 14:10] pytker commented on #914
single
alertmanager  -config.file=${conffile}  -web.listen-address=${web_listen_address} -mesh.listen-address= -storage.path=${storage_path}

[2017-07-21 14:24] jessebolson commented on #908
@stuartnelson3

I have a similar (almost exact) config at home that works without problem utilizing port 587 and tls.

‘’’
global:
  resolve_timeout: 5m
  smtp_from: alertmanager@example.com
  smtp_smarthost: mail.example.com:587
  smtp_auth_username: jesse@example.com
  smtp_auth_password: <secret>
  smtp_auth_secret: null
  smtp_auth_identity: ""
  smtp_require_tls: true
‘’’

I’m using the lates

[2017-07-21 15:08] brian-brazil commented on #853
That's fine in principle, the problem is how we'd deal with the case where there's both a global and a per-receiver config. How should they be merged and/or overridden? Probably overridden.

[2017-07-21 15:21] brancz commented on #853
Yes I think if specified in a receiver then it overrites the global, no merging would be my suggestion as well.

[2017-07-21 15:24] brian-brazil commented on #853
That just leaves how to implement that then. Maybe do this as a named "http_config" rather than the usual inlining?

[2017-07-21 16:50] brancz commented on #853
Yes that was my idea as well.

[2017-07-21 21:26] roman-vynar opened #918 "Crash on Status page when mesh is disabled"
This commit https://github.com/prometheus/alertmanager/commit/02484d18b012f4e7d03bacb80d8fb4c454427e8c allowed to disable mesh stuff with `-mesh.listen-address=""`.
However, if you do that and go to Status web page, alertmanager will crash:
[code]

[2017-07-21 23:57] juliusv commented on #914
I can reproduce this at current head. It only happens when I set `-mesh.listen-address=` (empty value), like in the command line example given by @pytker. The reason is that the mesh router `r` in line https://github.com/prometheus/alertmanager/blob/c4c0875ba32e6976fd151967e1e14c2d5cae44cc/cmd/alertmanager/main.go#L349 is `nil`.

[2017-07-22 00:13] juliusv commented on #914
Fix is out for review in https://github.com/prometheus/alertmanager/pull/919

[2017-07-22 07:04] stuartnelson3 commented on #908
Ah k, thanks for clarifying. Your previous post had `smpt_require_tls: false`.

[2017-07-22 08:56] #914 closed

[2017-07-22 10:30] stuartnelson3 commented on #918
closed by #920

[2017-07-22 10:30] #918 closed

[2017-07-22 10:46] stevpla opened #921 "Sending alerts from AlertManager"
Hello Guys. I have an Ubuntu pc and the Prometheus installed, so i can register alerts to Prometheus and when these alerts triggered, then Prometheus sends to AlertManager. Finally i want the AlertManager to send fired alerts to a localhost python app ( localhost:8080 ), which python app process alerts and do some extra work. How is possible the alerts transfer from AlertManager to my python app?

[2017-07-22 12:48] stuartnelson3 commented on #921
Thanks for the question! Please direct usage questions to prometheus-users@googlegroups.com, where you'll get involved with the rest of the community.

[2017-07-22 12:48] #921 closed

[2017-07-22 15:12] mxinden commented on #917
Hi @soumyadipDe, thanks for reporting. I am not aware of this being by design. I will dig further into it. Can you provide your full Alertmanager config so I can reproduce the issue better?

Question on the side: What is your use case for setting the repeat interval so low?

[2017-07-22 16:37] jessebolson commented on #908
Nah, my apologies - I should’ve posted a more similar config to begin with.@huyujie any luck with finding logs?

[2017-07-23 07:52] brian-brazil commented on #917
I can't find it in the code now, but we did add some safety to deal with users trying to set the repeat_interval to 0. There's also a restriction that the repeat_interval must be at least the group_interval.

[2017-07-23 14:25] Gouthamve opened #922 "Labelling issues and making it contrib. friendly"
So after the main prometheus repo, I think AM has the most number of issues. We recently did a cleanup there and made sure every issue is tagged. The same is to be done to every repo, and this issue to track the progress for this repo.

We have used the labels given here: https://github.com/prometheus/prometheus/wiki/Label-Names-and-Descriptions but you can adapt the list to fit your needs.

It wo

[2017-07-24 08:40] pieterdejaeghere commented on #911
I want to second this issue as we also have a considerable environment. The Prometheus alert pane (with default collapse after group on alertname) is very readable even with hundreds of alerts spread across multiple alertnames. With one view of the eye, you know whether things are good or bad.

For Alertmanager on the other hand, without collapsing on alertname, this becomes very troublesome and y

[2017-07-24 08:57] mxinden commented on #911
@stuartnelson3 👍 for suggestion # 1, @kpachhai would that make your life a little easier?

@pieterdejaeghere Would Stuarts suggestion # 1 work for you? You would just have to group by alertname, the list of alerts would be collapsed per group by default, and you would see the number of alerts per alertname.

[2017-07-24 09:08] pieterdejaeghere commented on #911
suggestion #1 would be excellent, as that means UI parity with the Prometheus alert screen while keeping Alertmanager goodness (silencing).

[2017-07-24 09:46] beorn7 commented on #911
My 2¢: I rarely use the main alert page as it is now. I either select a receiver immediately to filter by, or I reach alertmanager via a link or bookmark that already contains a receiver.

I would thus leave the decision how to represent _all_ currently firing alerts to those that actually have the use case of looking at all alerts.

However, I would like to raise the scalability concern: If the m

[2017-07-24 09:56] stuartnelson3 commented on #911
I can't remember properly right now, but I believe at one point we loaded 1000 alerts, the app scrolled fine, and we moved on. It would be good to know if this is a problem before we start engineering around it.

@kpachhai @pieterdejaeghere can you give a rough estimate of how many alerts are being shown on the page, and if there's performance degradation/crashes?

[2017-07-24 10:11] beorn7 commented on #911
Since AM is the one instance where all alerts of an organization arrive, we have to assume there might be millions. I'm not claiming we need to be scalable to infinity, but the UI needs to scale to the same number of firing alerts that the AM backend can handle.

[2017-07-24 10:13] x82423990 opened #923 "Why receive multiple failed recovery messages"
hi,receive multiple failed recovery messages?
![image](https://user-images.githubusercontent.com/10044279/28518752-9e92689e-709b-11e7-87d8-9a5a8631b0ed.png)

[2017-07-24 10:20] beorn7 commented on #911
And one other aspect: If I'm on-call on the road, I sometimes need to work with low-bandwidth (e.g. shared crappy WiFi) and/or very expensive connection to the internet (e.g. tethering my phone). Even if thousands of alerts load fine with a broadband connection, and the browser on my 16GiB laptop is fine handling that, it might be very inconvenient in a situation like the above, where the first th

[2017-07-24 10:59] pieterdejaeghere commented on #911
We currently have a bit over 400 open and performance seems great (i5-6300u, 16gb, Firefox).

However, with 13000 monitored devices, i wouldn't be surprised if we could have a theoretical alarm count of multiple tens of thousands of alarms.

Because of the difficulty in displaying alerts in Alertmanager, I must say my experience is limited, not a production implementation yet.

[2017-07-24 11:20] pieterdejaeghere commented on #911
Here's a screenshot from the Prometheus UI which might be meaningful
![alert-view](https://user-images.githubusercontent.com/24585008/28521089-65b185ce-7072-11e7-95a5-9b593b920c15.PNG)

Here's the corresponding Alertmanager screenshot:
![alert-view2](https://user-images.githubusercontent.com/24585008/28521172-b5deb152-7072-11e7-8a28-bb35308248b7.PNG)

Be gentle, we haven't put any effort in naming

[2017-07-24 11:54] stuartnelson3 commented on #911
Hah, this is a no-judging zone :) Ok so this issue is breaking out into a few different things, so let's rein it back in to the initial issue: Collapsing groups on the alerts page.

I'll make a separate issue summarizing the points brought up by @beorn7

@w0rm do you have any spare cycles to look at this?

[2017-07-24 11:59] stuartnelson3 opened #924 "Alert limitation discussion"
We currently show all possible alerts firing. There is a limit at which we can reasonably load and display all these alerts, but we're not sure what that value is.

From a bandwidth perspective:
From @beorn7

Although the links from an alert notification include filters to reduce the number of results shown, a mass outage could still affect many instances, which might greatly slow the ability to l

[2017-07-24 12:06] beorn7 commented on #924
I think hitting an AM link with an filter already active is probably fine. If my own area throws that many alerts, I have enough trouble anyway and might really need bigger tubes.

However, if I just type http://alertmanager in my browser to get on overview of things (or simply use the convenient UI for creating a filter), I don't want to kill my network connection because thousands of alerts not

[2017-07-24 15:09] lil-cain opened #925 "Web UI dies when mesh.password is set"
When  I start two alert managers in a mesh with mesh.password set, and then visit <web.listen-adddress>/#/status, the alert manager who's webUI I have just visited immediately dies with the below stack trace

[code]

The text "Network error" is displayed in the web UI.

I'm currently starting these with the following commandlines:

[code]

[code]

I'm using the below version, downloaded as a binar

[2017-07-24 15:10] lil-cain commented on #925
This also occurs where I have >2 alert managers in a cluster.

[2017-07-24 15:21] stuartnelson3 commented on #925
Thanks for the report! We'll look at this soon.

[2017-07-24 19:17] awaragi opened #926 "Allow text/plain emails"
Currently the email notifier is hard coded for html emails only.  Considering that support for text/plain can be achieved by checking if a Content-Type header is already specified or not, is that a good solution that I can create a pull request for? or is such support is completely out of question?

Snippet + pseudo code from impl.go

[code]

[2017-07-24 19:23] mxinden commented on #923
Hi @x82423990,

if this is a usage question, please reopen it at https://groups.google.com/forum/#!forum/prometheus-users.

If this is a bug report please add more information.

[2017-07-24 21:11] brian-brazil commented on #926
There's more to this, as the templating applied is for HTML.

[2017-07-24 21:14] awaragi commented on #926
I understand. My code simply means that if the Content-Type is specified, don't hardcode it as in "I know what I am doing". The HTML template is evaluate as normal but its output is not interpreted as HTML by the email client which is what my purpose is.

[2017-07-24 21:21] kpachhai commented on #911
#1 suggestion seems good enough for my use case as well. Thanks, everyone!

[2017-07-24 21:22] brian-brazil commented on #926
It'll be escaped as though it is HTML though, which is not what you want.

[2017-07-24 21:25] awaragi commented on #926
I tried it and plain new lines were outputted as they are. My text "template" came out correctly but the text/html content-type was forcing the email client to read it as html so the new lines were ignored but the source was correct.

[2017-07-26 08:10] brian-brazil opened #928 "alertmanager_notifications_total and alertmanager_notifications_failed_total should be initialised"
These should be initialised to the integrations used.

[2017-07-26 08:59] soumyadipDe commented on #917
The use case being creation of auto-scaling of docker containers based on load on each container and repeating the alert after ~ 3m for re-scaling if scaling didn't reduce load as per expectation. For now, I explicitly mentioned group_interval: 1m and put repeat_interval: 3m following comment from @brian-brazil which causes repeating of alert every 4m which is acceptable for our case.

[2017-07-26 10:10] mxinden commented on #928
@brian-brazil For an Alertmanager newbie like me, could you add more description to this issue?

[2017-07-26 10:47] brian-brazil commented on #928
This is a standard instrumentation thing, metrics should be initialised to 0 with all potential label values.

[2017-07-26 18:11] nfirvine opened #929 "`-mesh.peer` only uses one record returned by DNS"
When using the `-mesh.peer` flag with a DNS name value, only one of the records would be used. It'd be nice to add *all* records. For example, if all alertmanagers were listed in Consul's service catalog, a single DNS name could be used.

This appears to be a limitation of the weaveworks/mesh library:
https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/weaveworks/mesh/connecti

[2017-07-26 18:16] nfirvine commented on #929
Filed upstream bug: https://github.com/weaveworks/mesh/issues/78

[2017-07-26 18:47] brian-brazil commented on #929
I'd prefer that we not slowly and inconsistently reinvent service discovery, rather expose all Prometheus SD mechanisms.

[2017-07-26 20:51] awaragi commented on #926
If you are okay with the following logic, I will submit a pull request.

This patch will not break existing systems nor will make any assumptions on the content of the email template.

[2017-07-27 07:30] matthiasr commented on #926
@brian-brazil On what basis should the correct templating be selected? How do you want text emails to be selected and templated?

[2017-07-27 07:32] brian-brazil commented on #926
Either we'd have separate text and html fields (which I believe we've had requests for in the past), or a bool to select whether it's text or html.

[2017-07-27 14:57] awaragi commented on #926
Fair enough.

What's the consensus if I can provide some coding time? I am personally for two fields as they are not mutually exclusive and actually I've always included both in any application I develop with email notifications.

So basically if HTML input is provided, it will be used. If TEXT input is provided it will be also included. Default behavior is maintained with HTML templates.

[2017-07-27 14:58] mxinden commented on #923
I am closing here. Feel free to reopen.

[2017-07-27 14:58] #923 closed

[2017-07-27 15:08] mxinden commented on #908
Thanks for reporting @huyujie. I am closing here, as I am interpreting from the missing response that this has been fixed. Please feel free to reopen.

[2017-07-27 15:08] #908 closed

[2017-07-27 15:22] mxinden commented on #905
@it-praktyk Can you elaborate further on your bug description?

When I decode:
[code]

I get the following query:
[code]

[2017-07-27 17:49] mxinden commented on #904
@parikhravish Can you post your Alertmanager configuration, so we can better debug this issue?

What is the time frame between A *goes down* and A *goes back down*?
Depending on your `resolve_timeout` Alertmanager never thought of *Service A* to be back up. Thereby it did not send an Alert once *Service A* went back down again.

[2017-07-27 17:54] mxinden commented on #902
@tomwilkie I can not find any blog post or other information, that the API v1 is deprecated. Can you point me anywhere? Sorry if I am just blind.

@stuartnelson3 Are you aware of anyone using this API in production?

[2017-07-27 17:55] parikhravish commented on #904
@mxinden so for example
Repeat Interval = 24 hours
Service A goes 8:00 AM EST
 - Alert goes out at 8:00 AM EST
Service A comes back up 9:00 AM EST
Service A goes back down at 10:00 AM EST
 - No Alert is sent out
Service A stays down for 24 hours (Next day 10:00 AM EST)
 - Alert goes out at 8:00 AM EST Next day.

Based on our observation alert id is generated based on the label sets and since its t

[2017-07-27 17:58] mxinden commented on #891
@gfliker I am closing here. Please reopen in case you are still facing any issues.

[2017-07-27 17:58] #891 closed

[2017-07-27 18:02] mxinden commented on #888
@geethika-guruge please understand that it is very difficult to maintain all of these integrations. That's why we are trying to keep the integration set of both Alertmanager and Prometheus to a level, where we can still assure stability without being overwhelmed by the amount of integrations we have to maintain.

I am closing here. Please reopen if you are facing any further issues. In addition th

[2017-07-27 18:02] #888 closed

[2017-07-28 05:57] prasenforu opened #931 "Alertmanager integration with ServiceNow"
ServiceNow is one of popular services management tool which does ticketing, problem management, change management etc.

Is it possible to integrate alertmanager with ServiceNow for tickets purpose, when there was any problems in alert rules, it wil trigger servicesnow and create ticket.

[2017-07-28 06:46] stuartnelson3 commented on #931
Thank you for the request!

Our webhook receiver is probably the fastest way to get something working that fits your needs: https://prometheus.io/docs/alerting/configuration/#<webhook_config>

We will have a look and evaluate the request, thanks!

[2017-07-28 07:28] matthiasr commented on #926
I also think it should be two fields. they are not mutually exclusive.

[2017-07-28 09:28] mxinden commented on #904
Is it possible for you to post your full Alertmanager config here, so we can better debug this issue? (Of course without any secrets)

There should have been a *resolved* notification at 9:05 a.m. assumed your *resolve_timeout* is 5 minutes. The fact that the label set of the Alert does not change should not be relevant here.

@parikhravish Are you able to reproduce this issue or is this a one tim

[2017-07-28 13:35] parikhravish commented on #904
---
global:
  smtp_smarthost: "smtpe.bnymellon.net:25"
  smtp_from: "test@bnymellon.com"
  smtp_auth_username: "root"
  smtp_auth_password: "<hidden>"
  resolve_timeout: 5m
templates:
- "/etc/alertmanager/template/*.tmpl"
route:
  group_by:
  - "alertname"
  - "clustername"
  - "job"
  group_wait: "30s"
  group_interval: "5m"
  repeat_interval: "5m"
  receiver: "Ravish"
  routes:
  - match_re:

[2017-07-28 14:39] gfliker commented on #891
Hi @mxinden @brancz ,

Just to follow this through, we have migrated to the "alert relabelling rules" workflow and all is working as expected.

Thanks guys.

[2017-07-28 15:58] doctorlector commented on #926
Hi All,

I still cannot realize how I can apply my own custom html template for e-mail alert in alert-manager config. Currently, I receive an empty e-mail alert.

Can you help me with that?

My current config alert-manager config:
    html: '{{ define "email.tmpl" }} {{ end }}
           {{ template "__email.tmpl" . }}'

Thanks in advance.

[2017-07-28 16:56] doctorlector commented on #290
That documentation for creating e-mail custom templates isn't very helpful at all.

[2017-07-28 20:54] mxinden commented on #891
This is great. Thanks for the feedback. Please feel free to reach out again if you are facing any further issues.

[2017-07-29 06:55] mxinden commented on #926
@doctorlector Please redirect your question to https://groups.google.com/forum/#!forum/prometheus-users if it is a usage question. In case you think you found a bug in Alertmanager, please open up a new issue on this repository. We are happy to help you in either one. Thanks.

[2017-07-29 11:38] grobie opened #933 "Receiver filter matching incorrectly"
The new receiver dropdown/type ahead filter doesn't filter correctly.

Typed: `prodeng`
Expected anything including prodeng
Got:
* `backend-engineering-productivity` which includes all characters from prodeng, but in the wrong order
* `osc-reporting` doesn't even include all characters.

@stuartnelson3

[2017-07-29 13:56] mxinden commented on #933
@grobie As far as I understand, the *receiver* dropdown is not filtering but just sorting. As `backend-engineering-productivity` is closer to `prodeng` then `osc-reporting` it is listed first.

Please have a look at my question [here](https://github.com/prometheus/alertmanager/pull/910#issuecomment-316009575) ans @stuartnelson3 subsequent answer [here](https://github.com/prometheus/alertmanager/pu

[2017-07-29 14:57] grobie commented on #933
Oooh, thanks for the clarification. That wasn't clear to me from the ux.

Any reason to not just do plain filtering? Like in editors when searching
for files.

On Sat, Jul 29, 2017, 15:56 Max Inden <notifications@github.com> wrote:

[2017-07-29 17:02] mxinden commented on #933
Not sure. I would have to redirect this question on to @stuartnelson3.

[2017-07-30 15:49] stuartnelson3 commented on #933
What we currently do is find string similarity and sort based on that. There's absolutely no reason why we can't add on to this (basic) functionality to e.g. filter out results whose similarity value is below a threshold.

The starts to become difficult because we'll be more or less arbitrarily picking a similarity value as the cut-off, and seeing how it works.

@grobie would you be interested in

[2017-07-31 01:02] #766 closed

[2017-07-31 08:32] grobie commented on #933
I'm unsure about that approach to be honest. If I type `prodeng` I don't expect to see results for `engineering productivity`. My personal expectation of that feature would be to use a simple search behavior without any weighting as written in the (updated) issue description.

[2017-07-31 08:38] stuartnelson3 commented on #933
Ok, I understand. The current search is matching because `prod` exists in both, but you expect as soon as you type `prode` that `productivity` would disappear from the list, because there's no match for the additional `e`.

[2017-07-31 11:22] #886 closed

[2017-07-31 11:44] it-praktyk commented on #905
I expect that encoded URLs should be clickable means I can click and open a web page with a query results in a browser.

Due that encoded string contains hash(es) browser didn't open link correctly. Please read e.g. https://www.oho.com/blog/explained-60-seconds-hash-symbols-urls-and-seo

![2017-07-31 13_24_08-prometheus time series collection and processing server](https://user-images.githubuserco

[2017-07-31 13:42] w0rm commented on #887
Closed via #932

[2017-07-31 13:42] #887 closed

[2017-07-31 13:48] w0rm commented on #816
Closed via #872

[2017-07-31 13:48] #816 closed

[2017-07-31 14:51] mxinden commented on #880
@iksaif I am still facing issues reproducing this. Can you give me a minimal config with which you are able to reproduce the issue?

[2017-07-31 14:55] iksaif commented on #880
Hard to send a minimal config that would do that without also write a component sending a batch of alerts. That being said, now that the (non related) ordering issue of matchers have been fixed, the second notification is not really an issue anymore (since both are sent with the same alias).

I think the only bug here is that group_interval is ignored if needsUpdate returns true which doesn't real

[2017-07-31 15:13] mxinden commented on #835
@stuartnelson3 I am not able to reproduce this on Arch Linux. Can you try to run `export WORK=/tmp` before?

[2017-07-31 15:21] mxinden commented on #823
@hiscal2015 I am not quite sure what you mean here. Were you able to figure it out by yourself? If you need further documentation on how to configure Alertmanager, please see: https://prometheus.io/docs/alerting/configuration/ or give us more details.

[2017-07-31 15:21] stuartnelson3 commented on #835
Happens when I export `$WORK` or when I declare it when invoking the `goreman` command. Full output:

[code]

[2017-07-31 16:56] awaragi commented on #926
I took a stab at adding text email notification support. I never developed with Go before so I kept my changes as simple as possible. I couldn't find any tests to update nor documentation in README.md so your online documentation need to be updated by someone else if the pull request is accepted.

The pull request is https://github.com/prometheus/alertmanager/pull/934 . Looking forward to any feed

[2017-07-31 18:11] awaragi commented on #926
I just noticed that my pull request has failed due to Github not being available! I am not sure if there is a way to re-execute the validation or simply push an empty commit will trigger it.

[2017-08-01 00:12] dylan-ferreira commented on #879
I'm getting the same issue on my cluster (version 0.8.0) .  I'm running an alertmanager cluster of 6 hosts and each host is constantly logging the following mesh debug lines:
[code]
It's being logged as debug, so I'm not sure if this is something I should be concerned about.

[2017-08-01 10:14] tomwilkie commented on #902
Neither can I, but thats the error I got when I tried to use it.

[2017-08-01 16:05] discordianfish commented on #645
@fabxc Yes, was thinking along these lines. All I really care about is A record discovery. SRV is probably useful for others too but we don't need reverse lookups and can keep it even simpler. I'd expect 90% of all prometheus-am users use that to setup their cluster.

So can we open the issue again?

[2017-08-01 23:18] RSamal opened #935 "Is there anyway to disable repeat_interval ?"
Hi,

is there anyway to disable the repeat_interval ?

[2017-08-02 07:56] mxinden commented on #935
@RSamal Seems like we set a default repeat_interval in case none is set here: https://github.com/prometheus/alertmanager/blob/master/dispatch/route.go#L33. What is your use case for disabling it?

[2017-08-02 08:37] RSamal commented on #935
There is a bad instrumentation situation where we dont want the alerts to refire and want it to be in disable mode until we figured out what to do with the instrumentation issue. I tried to increase the window to 52w but seems like not working.

[2017-08-02 10:59] doctorlector commented on #935
Try to setup this repeat_interval value as high as 12000h or even more to disable those repeated
alerts. Seems like there is no way of disabling them except for code modification.

[2017-08-02 14:27] doctorlector opened #936 "[Alertmanager] Custom email template sent as emtpy mail"
Hi,

I receive an empty e-mail alert when I'm using custom email template for alerts.

Debug output:
_ERRO[182542] Notify for 1 alerts failed: Cancelling notify retry for "email" due to unrecoverable error: executing email html template: html/template::1:12: no such template "email.html"  source="dispatch.go:261"_

The e-mail template does exist in the template folder which correctly specified in

[2017-08-02 17:02] Kellel commented on #898
Good Idea. I'll work on adding this

[2017-08-02 17:37] Kellel opened #937 "Amtool filter by reciever"
You should be able to filter alerts by receiver from the amtool command line.

I will send a PR when I get the chance

[2017-08-02 17:48] Kellel commented on #817
Also please file tickets about any bugs you find in amtool.  :smile:

[2017-08-02 18:11] Kellel commented on #898
After taking a look i'm pretty sure it already does this
`
kellen@chewbacca:~/play/demo$ amtool kdkdk; echo $?
Error: unknown command "kdkdk" for "amtool"
Run 'amtool --help' for usage.
1
`

Am I missing something?

[2017-08-02 18:14] Kellel commented on #898
Oh it's not consistent
[code]
I see the issue now

[2017-08-02 18:18] Kellel commented on #898
@jjneely Thanks for submitting a bug!

[2017-08-02 18:37] niravpat commented on #904
@parikhravish we have same exact issue.

[2017-08-02 21:04] #898 closed

[2017-08-02 23:22] Kellel commented on #925
Looks like this is a bug in weaveworks/mesh

https://github.com/prometheus/alertmanager/blob/master/vendor/github.com/weaveworks/mesh/status.go#L170

Seems fixed upstream
https://github.com/weaveworks/mesh/commit/71e3485f35d3d3339f543e4245192f7d73d339a3

[2017-08-02 23:38] Kellel commented on #924
Have we thought about pagination?

[2017-08-02 23:46] Kellel commented on #333
This should probably be written into amtool

[2017-08-02 23:51] Kellel commented on #935
I think the key here @RSamal is that golang duration parsing doesn't know about anything larger than hours so setting 52w will likely fail.

Maybe try 8736h ?

See https://github.com/golang/go/issues/11473

[2017-08-02 23:57] Kellel commented on #528
As mentioned in https://github.com/prometheus/alertmanager/pull/706

You should be able to use the `-web.route-prefix` for this requirement.

[2017-08-03 00:03] Kellel commented on #491
To answer your first question, In order to change the address that emails will be sent to you should edit the receivers block with something like the following
[code]

As to the second question I would change `smtp_smarthost: 'smtp.163.com'` to `smtp_smarthost: 'smtp.163.com:25'`

[2017-08-03 09:22] #705 closed

[2017-08-03 16:14] Kellel commented on #925
@lil-cain Would you mind testing to see if the patch resolves your issue?

[2017-08-03 19:11] parikhravish commented on #904
any update guys? @mxinden

[2017-08-04 09:48] mxinden commented on #880
@iksaif You can use the [send_alerts.sh](https://github.com/prometheus/alertmanager/blob/master/examples/ha/send_alerts.sh) script and the [webhook](https://github.com/prometheus/alertmanager/blob/master/examples/webhook/echo.go).

[2017-08-04 09:50] mxinden commented on #879
@fabxc @brancz Can you have a look at this? Can this debug message be ignored?

[2017-08-04 12:00] RichiH opened #941 "[FR] Configurable maximum silence durations"
We want to force periodic review of silences. Being able to set a maximum duration for silences being newly created would solve that.

[2017-08-04 12:21] lil-cain commented on #925
Your branch is enough behind master for the test not to work immediately, but when i cherry-pick your fix onto master, it fixes the bug - thanks!

[2017-08-04 17:04] discordianfish commented on #645
Since this also came up on the ml, I'm going to re-open. Hope that's okay.

[2017-08-04 21:05] Kellel commented on #925
Oh I'm sorry. I've rebased my pr.

[2017-08-07 07:35] RichiH opened #942 "[Discussion] CASE on top of IF in alert definitions?"
Having a diverse environment with different SLAs towards customers, we need to duplicate quite a lot of alert rules to account for different severities, escalation paths, or even ignoring some things.

If we had a `CASE` stanza which allowed us to define the matching rules and then, in a second step, decide what labels to attach, finished by a catchall for anything we didn't match, would save quit

[2017-08-07 07:47] brian-brazil commented on #942
I think you've filed this in the wrong repository. Also that sounds like it can be handled with configuration management.

[2017-08-07 07:54] RichiH commented on #942
You are (partially) correct; moving to https://github.com/prometheus/prometheus/issues/3025

[2017-08-07 07:54] #942 closed

[2017-08-07 14:18] beorn7 commented on #933
As long as the best matches are on top of the list, and the total amount of displayed matches is limited, I actually prefer to show the fuzzy matches, too.
That's also more and more common around the internet (I guess with fuzzy-searching large databases becoming more feasible), thus the moment of surprise @grobie encountered will become less common. The main use-case would be to be resilient agai

[2017-08-09 01:38] cmcginty commented on #549
@matthiasr I'm new to prometheus. Is there a complete example of query and usage for reference?

[2017-08-09 07:33] andrewhowdencom commented on #549
@cmcginty Generally speaking usability questions are redirected to the mailing list:

https://groups.google.com/forum/#!forum/prometheus-users

You'll find a bunch of help there. Beyond that, the most complete documentation I've found is here:

https://prometheus.io/blog/2016/03/03/custom-alertmanager-templates/

But the mailing list will likely have more.

[2017-08-09 14:03] avis71 commented on #511
+1

[2017-08-10 02:43] prasenforu opened #943 "Multiple webhook in one receiver"
Platform kubernetes.
Alertmanager 0.8.0

In my alertmanager configmap file I have receiver as follows
[code]

but when I am checking in alertmanager UI status page, I found following configuration

[code]

that mean alertmanager did not loaded first webhook ``` - url: http://172.30.200.104:9000/hooks/ose-podhook```

Looking for such configuration where  I can define multiple webhook in one receive

[2017-08-10 07:40] prasenforu commented on #943
Found the solution.

[2017-08-10 07:40] #943 closed

[2017-08-10 09:16] mjf commented on #473
The root cause of the problem is that *Alertmanager* violates [[RFC5321/4.1.1.1.](https://tools.ietf.org/html/rfc5321#section-4.1.1.1)] when sending *SMTP* `HELO` (or `EHLO`) command.

I suggest to simply provide a configuration option with precedence to (at least) the kernel hostname value ([`func Hostname() (name string, err error)`](https://golang.org/pkg/os/#Hostname)) which could be *reasonab

[2017-08-10 10:54] RichiH opened #944 "[FR] Add metrics about silences"
I would be interested to do stats over silences; and I would obviously like to do that via Prometheus. My main goal is to look at the durations of silences vs people/teams which created them.

[2017-08-10 11:02] RichiH opened #945 "/silences/ endpoint does not show value of silenced alerts"
Currently, http://<foo>/#/silences/<UUID> does not show the value of the alert, only the labelset.

As clicking the labels does not do anything, I would argue that simply showing the alerts in Promtheus format would be more space efficient and natural for Prometheus users.

[2017-08-10 11:04] brian-brazil commented on #944
That is information about data inside the alertmanager, rather than information about the alertmanager's performance. Thus this doesn't belong on /metrics, in the same way we don't expose firing alerts on /metrics.

I'd suggest a separate tool to pull this from the API, as I can imagine this being very organisation specific. The alertmanager has no notion of teams for example.

[2017-08-10 11:06] brian-brazil commented on #945
This is by design, Prometheus doesn't pass along the value of alerts - just the labels and annotations. Usually this is something you'd put in one of the annotations if you want to view it.

[2017-08-10 11:09] RichiH commented on #944
So a split like for snmp_exporter makes sense.

We do ingest the alerts and silences with our tools, but for the use case of "do analysis and graphs on metric data", I don't want to _not_ use Prometheus.

Teams are a label; my use case is org-specific, but the notion of using labels to slice and dice data is not.

[2017-08-10 11:10] RichiH commented on #945
It's in the annotations, which are also not shown in said page.

[2017-08-10 11:25] brian-brazil commented on #945
That does sound like something that could be improved.

[2017-08-10 15:29] mxinden commented on #945
@RichiH I am confused by your issue description. Which alerts on `http://localhost:9093/#/silences` page are you talking about? The `#silences` page should only display silences not alerts. Are you talking about the `http://localhost:9093/#/silences/<silence-id>` page?
Hope this is not a silly question.

[2017-08-10 15:59] RichiH commented on #945
It seems GitHub ate my formatting, sorry!

I do mean silences/UUID

Richard

Sent by mobile; excuse my brevity and the wall of text Gmail appends by
default.

On Aug 10, 2017 17:29, "Max Inden" <notifications@github.com> wrote:

[2017-08-13 12:46] mxinden commented on #822
@odg0318 Sorry that we have not followed up on this. I will close here. Please feel free to reopen, if this issue still persists. In general, if you have usage questions please open them in the [*Prometheus users Google group*](https://groups.google.com/forum/#!forum/prometheus-users).

[2017-08-13 12:46] #822 closed

[2017-08-13 12:50] mxinden commented on #812
This issue still persists.

[2017-08-13 13:03] mxinden commented on #731
Hi @taharah do you have some time creating a PR for this? We are here to help in case you have any questions.

[2017-08-13 13:10] mxinden commented on #722
With the new UI you can achieve this with two instead of one click. Once you clicked on the `source` url, you can choose the `Silence`, which will forward you to a populated silence form.

I will close here. Feel free to reopen, if you would like us to look further into the one-click solution. Thanks for sharing your thoughts!

[2017-08-13 13:10] #722 closed

[2017-08-13 13:13] mxinden commented on #719
@stuartnelson3 Do you still see this as an issue? For me, the UI usability is not affected by this (latency very low).

[2017-08-13 13:15] mxinden commented on #697
@beorn7 Are you still able to reproduce this issue with current master?

[2017-08-13 13:17] mxinden commented on #696
Closing here because #764 is merged.

[2017-08-13 13:17] #696 closed

[2017-08-13 13:25] mxinden commented on #681
Related to #786

[2017-08-13 13:30] mxinden commented on #666
@lmb Would you mind updating the documentation as suggested by @juliusv in his [comment](https://github.com/prometheus/alertmanager/issues/666#issuecomment-288801874)?

[2017-08-13 13:33] mxinden commented on #660
@mattbostock Does this issue still persist in more recent versions of Alertmanager? In case you were able to upgrade to a more recent version, can we close this issue?

[2017-08-13 13:38] mxinden commented on #630
I will close here. Feel free to reopen in case you feel like this should still be up for discussion.

[2017-08-13 13:38] #630 closed

[2017-08-13 13:39] mxinden commented on #628
I will close here as it seems that this has been resolved.

[2017-08-13 13:39] #628 closed

[2017-08-13 13:41] mxinden commented on #627
I will close here as there has been no further progress. @natalia-k feel free to reopen with further information to reproduce the issue like suggested by @fabxc. Thanks for the bug report!

[2017-08-13 13:41] #627 closed

[2017-08-13 13:45] mxinden commented on #626
@iksaif according to @MrAlias this is fixed. Feel free to reopen if this is still an issue on any 0.6 versions. I hope we will get the routing tree back into the new UI soon.

[2017-08-13 13:45] #626 closed

[2017-08-13 13:48] mxinden commented on #623
Closing here, feel free to reopen here in case this is an issue with Alertmanager or on [Prometheus users Google groups](https://groups.google.com/forum/#!forum/prometheus-users) in case of a usage question.

[2017-08-13 13:49] mxinden commented on #619
@aecolley Is this still relevant? If so, would you mind creating a PR for this?

[2017-08-13 13:50] mxinden commented on #613
Closing here. @jsha feel free to reopen if you want to further discuss this.

[2017-08-13 13:50] #613 closed

[2017-08-13 13:51] mxinden commented on #610
I will close here. @ikeji in case this is still relevant, please reopen with a more in depth issue description.

[2017-08-13 13:51] #610 closed

[2017-08-13 13:53] mxinden commented on #609
As suggested by @prymitive I will close here.

[2017-08-13 13:53] #609 closed

[2017-08-13 14:01] mxinden commented on #579
@LuboVarga Sorry for not following up here. I will close here due to inactivity. In case this issue still persists for you, please reopen the issue with a more in depth description of your problem and a detailed reproduction description.

[2017-08-13 14:01] #579 closed

[2017-08-13 14:04] mxinden commented on #566
Closing here as the new UI has been merged into master. @leonerd please reopen if you are still facing this issue with the new UI. Thanks a lot for the bug report.

[2017-08-13 14:04] #566 closed

[2017-08-13 14:07] mxinden commented on #522
I will close here as #924 is a more up to date discussion of this topic. The new UI is a lot better in terms of resource consumption. @mattbostock If you have time, could you try out the new UI and report your experience with many alerts back to us. We would really appreciate some production experiences.

[2017-08-13 14:07] #522 closed

[2017-08-13 15:05] mxinden commented on #491
@jinhang I hope @Kellel answer helped you. Please open usage questions in the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users).

[2017-08-13 15:05] #491 closed

[2017-08-13 15:11] mxinden commented on #483
@KrestenKjaer the `api/v1/alerts` endpoint has the `silenced` query parameter. Using `http://localhost:9093/api/v1/alerts?silenced=false` will return only non-silenced Alerts. Let me know if this is of any help for you.

[2017-08-13 15:13] mxinden commented on #479
@acdha I am closing here due to long inactivity. Please feel free to reopen. PRs for documentation are always welcome. We would really appreciate your help.

[2017-08-13 15:13] #479 closed

[2017-08-13 15:15] mxinden commented on #478
With the new UI we deactivate any kind of browser caching. I know this is not a perfect solution, but so far we have no performance complaints. I will close here. @grobie Please reopen if you are facing similar issues with current Alertmanager versions or if you feel like the performance of the UI should be improved via caching.

[2017-08-13 15:15] #478 closed

[2017-08-13 15:18] mxinden commented on #448
I am closing here due to inactivity. @darabos please reopen if you want to further discuss this issue.

[2017-08-13 15:18] #448 closed

[2017-08-13 15:28] mxinden commented on #383
@brian-brazil in case this is still relevant, could you follow up on @rossmcf comment?

[2017-08-13 15:36] mxinden commented on #305
I will close here in favour of #484. @kaihendry please feel free to reopen. PRs improving documentation and example configuration are always very welcome!

[2017-08-13 15:36] #305 closed

[2017-08-13 15:40] mxinden commented on #283
Closing here due to inactivity. @RichiH please feel free to reopen if this issue still persists.

[2017-08-13 15:40] #283 closed

[2017-08-13 15:42] mxinden commented on #272
This feature is implemented in the current state of the UI. @SuperQ thanks for the suggestion. I will close here. Feel free to reopen.

[2017-08-13 15:42] #272 closed

[2017-08-13 15:45] brian-brazil commented on #383
Normally in Go you'd create a test http server and then check what was sent.

[2017-08-13 15:45] mxinden commented on #268
@RichiH is this still relevant with the new UI?

[2017-08-13 15:49] mxinden commented on #206
Closing in favour of #812. @jamessanford please feel free to reopen.

[2017-08-13 15:49] #206 closed

[2017-08-13 15:57] mxinden commented on #94
@beorn7 I am closing here. This is fixed with the new UI. Please reopen if I am missing anything.

[2017-08-13 15:57] #94 closed

[2017-08-13 15:59] mxinden commented on #20
@brian-brazil @juliusv This is now possible in the new UI. Please reopen if I am misunderstanding something.

[2017-08-13 15:59] #20 closed

[2017-08-13 16:03] mxinden commented on #547
@raypettersen Please open up usage questions on the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users). I will close here. Please reopen in case I am misinterpreting your question.

[2017-08-13 16:03] #547 closed

[2017-08-13 16:04] mxinden commented on #545
@RonVander The state of the "hide silenced" checkbox is now persisted in the URL. Please reopen in case you have any further questions.

[2017-08-13 16:04] #545 closed

[2017-08-13 16:11] mxinden commented on #356
Closing here as @Conorbro reported this to be fixed and routing tree editor fixes have been merged. Please feel free to reopen in case I am wrong.

[2017-08-13 16:11] #356 closed

[2017-08-13 16:34] mxinden commented on #922
@Gouthamve I went through all the issues, labelled them and closed duplicate and fixed issues. We are now down to 111 issues. Right now we only have two `low-hanging-fruit` issues. I will add more in the future.

### Statistic:
- component
  - /cli: 1
  - /config: 14
  - /high availability: 7
  - /notify: **42**
  - /silences: 9
  - /storage: 3
  - /templating: 4
  - /ui: 21
- kind
  - /bug: 21

[2017-08-13 17:51] mxinden commented on #884
@grobie @beorn7 links in annotations are now clickable thanks to @w0rm (#946).

I do understand @w0rm concern of having links in a label. From your point of view, are rendered links in the Alert annotations good enough, or are links in labels a very common use case which we should support?

[2017-08-13 18:10] grobie commented on #884
I think starting with links in annotations should be enough. I just checked and couldn't find any links in in labels at SoundCloud. If someone has a need for that, they should add a new issue and we can discuss alternative solutions or whether it's worth to add such feature.

Thanks a lot for the feature @w0rm!

[2017-08-13 18:10] #884 closed

[2017-08-13 18:44] mattbostock commented on #660
@mxinden: Please close, I opened it to raise awareness for anyone using version 0.4.2 due to the severity but I have not seen it in 0.6.2 which we're using currently.

[2017-08-13 18:44] #660 closed

[2017-08-13 19:47] brian-brazil commented on #922
Whatever you think makes sense for your repository.

I'd suggest aligning the kinds with the Prometheus repo.

[2017-08-14 06:47] carlpett opened #947 "Switch to Kingpin?"
Hi,
Prometheus is switching to Kingpin [as part of 2.0](https://github.com/prometheus/prometheus/issues/2455). I've migrated all the Go exporters to do the same, and could do AM as well. However, the amtool/cli parts of Alertmanager uses Viper/Cobra (while the main Alertmanager binary is still using `flag`).

I'd just like to check beforehand that switching to Kingpin is also the desired path for

[2017-08-14 06:49] carlpett commented on #947
Also, while I was looking over the source, I found that `-mesh.peers` is a bit peculiar: it both allows repetitions as well as doing comma-splitting of arguments. The latter behaviour doesn't seem to be documented, is this a remnant of a previous approach or a deliberate shorthand?

[2017-08-14 10:34] beorn7 commented on #697
So far, we are good. Let's close and re-open as needed.

[2017-08-14 10:34] #697 closed

[2017-08-14 11:05] RichiH opened #948 "[FR] Custom fields for silences"
Our workflow mandates that every silence must be linked to a ticket with more context.

There are different ways to mandate this, but the easiest way would be a system of custom fields. If said custom fields could be
* mandatory
* validated via regex
* transformed into clickable URLs via a minimal templating system

that would be even more awesome :)

[2017-08-14 12:37] fabxc commented on #947
Yes, we want to switch everything to it for consistency.

The `-mesh.peers` flag is the way it is because I thought it's convenient to allow either and didn't see much harm in the ambiguity. But if there are arguments to just pick one of them, that's fine with me as well.

[2017-08-14 12:39] mxinden commented on #922
@brian-brazil I would like to stay aligned as well. So if you feel from a Prometheus perspective, that this label would be helpful, then let's add it. Otherwise let's keep the current state.

[2017-08-14 17:25] lmb commented on #666
Yup can do, feel free to assign to me.

[2017-08-14 17:30] mxinden commented on #666
@lmb Thanks! Just tag me on the PR. Let us know if you need any help.

[2017-08-15 00:22] RSamal commented on #935
hi everyone... yes I have changed it to  8737h now. Hopefully this will work. Will let you know in case of any concern.

[2017-08-15 07:15] mxinden commented on #935
@RSamal Let us know how it goes! I will close here. Please reopen in case this does not fix your issue.

[2017-08-15 07:15] #935 closed

[2017-08-15 09:05] kaihendry commented on #305
I do find https://github.com/prometheus/alertmanager/blob/master/examples/ha/alertmanager.yaml a bit hard to read. It could be better commented and I don't quite understand https://github.com/prometheus/alertmanager/blob/250bd35c9722ae3986a1a98ba92486b24260b830/examples/ha/alertmanager.yaml#L19

[2017-08-15 12:33] j0nimost commented on #327
most guys forget to link prometheus to alertmanager. run prometheus like so:

`./prometheus -alertmanager.url http://localhost:9093`
change the url according to your use.

[2017-08-15 12:34] j0nimost commented on #275
most guys forget to link prometheus to alertmanager. run prometheus like so:

`./prometheus -alertmanager.url http://localhost:9093`
change the url according to your use.

[2017-08-15 12:52] mxinden commented on #305
Example scenario: Two alerts come in. One has label `severity: 'critical'` and one has label `severity: 'warning'`, but other than that, they are equal in the labels `alertname`, `dev` and `instance` (`equal: ['alertname', 'dev', 'instance']`). In this case the second alert (`severity: 'warning'`) is inhibited (ignored).

@kaihendry Let me know if this answers your question. If it doesn't please a

[2017-08-15 20:14] RSamal opened #949 "match_re for more than one label"
Hi ,

I am trying to add more label name on my match_re expression but getting invalid config.
match_re: [ service : 'xyz*', 'alertid' : 'abc*']

is there a specific way to mention it. I followed the below pattern but seems like it does not work.

 A set of regex-matchers an alert has to fulfill to match the node.
match_re:
 ` [ <labelname>: <regex>, ... ]`

[2017-08-16 00:50] Murryy79 commented on #275
How do I set custom subject line for email?
Thanks

[2017-08-16 01:05] nuala33 commented on #473
+1, having a similar issue

[code]

[2017-08-16 07:36] mxinden commented on #275
@Murryy79 Please open up usage questions in https://groups.google.com/forum/#!forum/prometheus-users.

[2017-08-16 11:51] regardfs opened #950 "[Question/Bug] Multi Alerts(some kind) recover alert bug."
Hi:
    I have host CPU alert.rules like

  IF (100 - (avg by (instance) (irate(node_cpu{mode="idle"}[5m])) * 100)) > 2
  FOR 2m
  LABELS {
    severity="critical"
  }
  ANNOTATIONS {
    summary = "{{$labels.instance}}: High CPU usage detected",
    description = "{{$labels.instance}}: CPU usage is above 80% (current value is: {{ $value }})",
  }

and I met a problem of when more than two hosts h

[2017-08-16 19:27] sushovan23 opened #951 "How to change the default url link from fired alert from hostname to IP address"
Hello,
I have setup alertmanager & able to receive slack messages for alert conditions:
It's not consistent on how alerts are received. I'm not getting alerts most of the times.
`receivers:
- name: 'alertmanager_alerts'
  slack_configs:
  - send_resolved: true
    api_url: 'hook_url'
    channel: '#alerts'
    text: "<!channel> \ndescription: {{ .CommonAnnotations.description }}\nsummary: {{ .Comm

[2017-08-17 04:36] #823 closed

[2017-08-18 10:26] artemlive opened #952 "Firing -> Resolved -> Firing issue with prometheus + alertmanager"
Hello!
I cannot deal with one problem, since the moment when began to use prometheus.
I use blackbox_exporter for monitoring of accessibility of the domain on http and also alertmanager for sending messages to slack, telegram and the SMS.
Sometimes there is a situation when the domain is unavailable on http and prometheus sends the correct notification messages that the server is unavailable, but

[2017-08-18 10:30] artemlive commented on #952
I forgot to specify versions of a software:
[code]

[2017-08-18 12:49] RichiH opened #953 "Show total number of silenced alerts"
Just realized that when sitting in @mxinden 's talk.

When clicking Preview in Alertmanager, it would be nice to see the total number of alerts hit over the list.

Use case is to see quickly if you're roughly silencing as many alerts as you're expecting to.

[2017-08-18 17:23] mxinden commented on #953
@RichiH Just to documentation, you are talking about the *Create Silence* view?!

[2017-08-18 17:39] RichiH commented on #953
Yes.

Richard

Sent by mobile; excuse my brevity and the wall of text Gmail appends by
default.

On Aug 18, 2017 19:23, "Max Inden" <notifications@github.com> wrote:

[2017-08-18 18:27] fjaeckel opened #954 "Silence alerts based on label values prior alerts arriving"
A typical scenario for network operations are maintenances induced by external parties, e.g. a Fiber provider performing maintenance or a upstream provider doing maintenance that could flap a link.

This would need a way to schedule maintenance windows in timezones (can be just UTC, as thats the norm) to ensure certain clusters or DC do not complain or wake up a L2 or L3 engineer in case a backbon

[2017-08-19 07:54] mxinden commented on #954
@fjaeckel I am not quite sure what your feature request is.

Why not create these silences via the API?

[2017-08-19 10:01] fjaeckel commented on #954
@mxinden Creating the silences via the API is exactly what I want, however can you silence alerts or groups of alerts before they arrive for a specific timeperiod? That is ultimately my request.

[2017-08-19 11:04] matthiasr commented on #954
Yes, silences are not per se tied to any alerts. They act as notification
filters after the fact. The "silence this alert" link is just a convenience
that prefills the labels and values. You can create silences for any
label/value combinations at any time.

On Sat, Aug 19, 2017, 12:01 Frederic Jaeckel <notifications@github.com>
wrote:

[2017-08-19 12:39] mxinden commented on #954
@fjaeckel The api is not documented. Sorry about that. Creating a silence would be done via a POST to `http://<alertmanager>/api/v1/silences` with the following JSON parameters:
[code]
(ID should be left empty)
Let us know how it goes. We are here to help.

[2017-08-19 22:40] Murryy79 opened #955 "custom subject and global smtp section in manifest.yml"
Hello friends:
I am new to this setup. I am trying to configure email alerts . How do I add a custom subject or add a line in the body of the emails?

I tired this in alertmanager.yml but doesn't work
receivers: [{"name":"default-receiver","email_configs":[{"headers":{"to":"admin@dis.com"},{"subject":"This is my customized subject"}}]}]

Also I am trying to configure my alertmanager.yml via manife

[2017-08-19 22:45] Murryy79 commented on #931
I am looking for ServiceNow integration as well.
is there a working configurations someone has figured out? would be helpful.

I have heard sending emails to ServiceNow can convert into tickets.

[2017-08-20 00:33] prasenforu commented on #931
Best solution using call webhook as @stuartnelson3 mentioned.

[2017-08-20 00:33] #931 closed

[2017-08-20 01:37] Murryy79 commented on #943
What is the solution if you can share. I am looking for same.. thanks.

[2017-08-20 01:58] prasenforu commented on #943
I tried with webhook which will execute script.

In that script I call ServicesNow api using curl.

[2017-08-20 02:08] Murryy79 commented on #943
Thanks @prasenforu. Would you share that webhook and api? I am totally new to this.

[2017-08-20 02:11] Murryy79 commented on #943
Still not getting how you doing multiple webhook with one receiver. I am trying to send slack and email alerts with ServiceNow tickets.  Also I am researching in how to add custom subject line in the email.

[2017-08-20 02:14] prasenforu commented on #943
webhook_configs:
      - url: http://172.30.200.104:9000/hooks/ose-podhook
      - url: http://172.30.200.104:9000/hooks/ose-podhook

[2017-08-21 06:04] ventris opened #956 "Change color of buttons"
I would like to explore the possibility to change the light blue button color in Alertmanager.
When its against a white background it's really straining for the eyes.

I have toyed around in the browsers developer tools and I find that the danger color-element from bootstrap is easier on the eyes than the info color-element.

[2017-08-21 11:04] mxinden commented on #950
@regardfs I do not understand your question. In case this is a usage question, please reopen it in https://groups.google.com/forum/#!forum/prometheus-users. In case you think you found  a bug in Alertmanager or if you want to report a missing feature, please add more details to your question, e.g.:

- Where are the above blobs copied from?
- What is your Prometheus and Alertmanager config?

[2017-08-21 11:19] mxinden commented on #951
@sushovan23 I don't understand your questions. It would be helpful if you could add your full Alertmanager configuration and describe your issue in more depth.

Where do you want to specify the slack message url? In the UI to filter by receiver?

The Alertmanager UI uses whatever is written in the `generatorURL` to redirect to the source of an alert. Changing from hostname to IP would need to be d

[2017-08-21 12:15] regardfs commented on #950
@mxinden , Hi I just want separately alert in slack if several fire triggered at the some time...
You could see that my blob: summary and description combine all some type alerts

* Where are the above blobs copied from?
I use slack to receive alert, this is the slack alert message
* What is your Prometheus and Alertmanager config?
**prometheus.yml import rules files**

  \- "alert-rules/zixin-ale

[2017-08-21 13:03] mxinden commented on #955
@Murryy79 This seems to be a usage question, which should be asked in the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users). Please reopen this issue in case I am wrong.

[2017-08-21 13:03] #955 closed

[2017-08-21 14:30] w0rm commented on #956
@mxinden let's get feedback from more people, because this doesn't look like smth immediately actionable.

I'm definitely against of using `danger` for buttons, because the alert's buttons are less important than timestamps or tags. You first find the alert and only then click the button. Perhaps we can even use the secondary style if `info` is not an option.

[2017-08-21 14:49] mpitt opened #957 "Silences are randomly sorted"
On the `/#/silences` endpoint, it seems like silences are in a different order every time the page is refreshed. Is it possible to have them sorted e.g. by start or expiration time?

[2017-08-21 18:45] mxinden commented on #957
Related to #812. Would you be up for submitting a PR for this?

[2017-08-21 19:48] mxinden commented on #952
@artemlive First of all **thank** you very much for this very detailed bug report!

Before digging further into this, two questions:
1. Is there a particular reason why you specify such a small `repeat_interval` in your Alertmanager configuration?
2. Can you assure, that the target (myserver.com) was down the entire time between the first firing alert, the resolved notification and the second firi

[2017-08-21 19:58] mxinden commented on #950
@regardfs So if I understand you correctly you want a separate notification per Alert that was send by Prometheus, right?

Can you post a properly formatted Alertmanager.yaml?
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting

[2017-08-22 04:23] regardfs commented on #950
@mxinden, You got it, That just what i want, separate notification per Alert !
Sorry for pasting the wrong format of config yaml file......

**config.yaml**
[code]

**/etc/alertmanager/templates/alertText.tmp**
[code]

[2017-08-22 08:09] artemlive commented on #952
Hello, thanks for the response!
1. These services are very critical for us therefore we decided to set such repeat_interval (This interval was selected since we used the same interval on other monitoring system with which we migrate on prometheus+alertmanager now, most likely we will increase this interval further)
2. Yes, it is sure. I wrote result of a request from a prometeus, in this period se

[2017-08-22 09:14] shitWang opened #958 "startsAt and endsAt of webhook‘s json format"
#Alertmanager config problem:
Can i change startAt's format ,it's rfc3339 default ? i want change it to CST
`"alerts": [
    {
      "labels": <object>,
      "annotations": <object>,
      "startsAt": "<rfc3339>",
      "endsAt": "<rfc3339>"
    },`

[2017-08-22 13:52] dIoMeDs commented on #844
Hi all.
I have the same problem with repeating "resolved" notifications firing.

Tried on v 0.8.0 and also 0.7.1

Testing with simple config

[code]

and alert.rules

[code]

[2017-08-22 18:37] chhetripradeep commented on #902
They have updated their docs with `/v1` endpoints as deprecated. Eg. https://docs.opsgenie.com/docs/web-api

[2017-08-22 23:42] #925 closed

[2017-08-22 23:43] stuartnelson3 commented on #925
Fixed by #960

[2017-08-23 08:48] homelessnessbo commented on #226
+1 we use our own status-board to notify external users if any problems in infrastructure occurs. We use webhooks to create events there, so, when problem occurs - we want external users to see it on status-board but sometimes we don't want to get bunch of emails (slack, etc) notifies as we already know about the problem, so we silence an alert. But if there is no resolve web-hook since alert is s

[2017-08-23 14:15] AndreiDuma commented on #877
This would be very helpful. Right now it seems like PagerDuty's formatting of AlertManager alerts is quite limited (because of non PD-CEF compliance). Events API v2 seems to solve that problem.

[2017-08-23 15:32] l-mb commented on #98
I/we'd also be interested in this - whether via something that converts web hooks to SNMP traps and passes them on, or whether it'd be a direct SNMP trap generator.
(Please feel free to contact me if you would happen to be willing/interested in working on this as a consulting/development effort.)

[2017-08-23 15:41] barkerd427 commented on #98
I currently use a web hook that hits a small service that parses the info, builds an SNMP message, and then transmits it. I'll look into adding the functionality back into this project now that some time has passed.

[2017-08-23 19:17] mpitt commented on #957
That depends... do you think the sorting should be done in the frontend or the API?

[2017-08-23 19:57] mxinden commented on #950
@regardfs That is rather surprising as you don't have any alert grouping configured. Could you try to add `group_by: [instance]` to your `route` config?

[code]

[2017-08-23 20:02] mxinden commented on #952
This is quite confusing and sounds like a bug. Are you able to reproduce this with a minimal config? It is difficult for me to reconstruct your exact environment for debugging.

[2017-08-23 20:05] mxinden commented on #958
@shitWang I am not aware of any way you can change this through configuration. What is your use case to do so?

[2017-08-23 20:06] gfediere opened #961 "alertmanager with pushbullet"
Hi,

I'm looking for a way for alertmanager to push alert using pushbullet (https://www.pushbullet.com/) do you know how is it possible ?

thx for your help

[2017-08-23 20:10] mxinden commented on #844
@dIoMeDs according to @damomurf this has been fixed since v0.7.1. Please open up a new issue with more details on how we can reproduce your issue. Preferably with the help of the [webhook](https://github.com/prometheus/alertmanager/tree/master/examples/webhook) and the [send-alerts script](https://github.com/prometheus/alertmanager/blob/master/examples/ha/send_alerts.sh).

[2017-08-23 21:03] mxinden commented on #957
@mpitt I would vote for sorting on server side. I don't think this should be a big performance issue. @stuartnelson3 @fabxc what do you think?

[2017-08-23 21:06] mxinden commented on #961
@gfediere I am not aware of any. Maybe @stuartnelson3 knows more.

If there is none I would suggest you use the Alertmanager webhook configuration and write a small proxy.

In general, please open up usage questions on the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users)

[2017-08-24 07:01] gfediere commented on #961
Hi @mxinden
thx for your return

[2017-08-24 07:01] #961 closed

[2017-08-24 07:49] brancz commented on #957
I would say server side as well.

[2017-08-24 07:58] stuartnelson3 commented on #957
Also in favor of server side. Most folks probably have less than 2000 silences, and sorting that should be pretty quick.

I'm not sure how we should sort. We ran into the issue at soundcloud where folks had expirations set years in the future, so there was always noise at the top of the list with things that weren't expiring until 2025. Thoughts on sorting by expiration, soonest expiring first?

[2017-08-24 08:07] brancz commented on #957
Maybe configurable via UI? :slightly_smiling_face:

[2017-08-24 11:04] chhetripradeep commented on #731
@mxinden @taharah  I would like to pick this up. Will create a PR soon with my basic Golang knowledge. Thanks.

[2017-08-24 16:06] aloucks commented on #913
I've experienced this as well. I'm seeing "!" or space characters injected randomly into label names or values.

[2017-08-24 19:33] w0rm commented on #957
We have three lists of silences, that I think should have different sorting rules:

* Active — soonest expiring first (asc expiration date)
* Pending — soonest starting first (asc start date)
* Expired — soonest expired first (desc expiration date)

[2017-08-25 03:58] Murryy79 opened #962 ""Notify for 1 alerts failed: context deadline exceeded" source="dispatch.go:262""
Hello Friends:
I am new to Prometheus monitoring and alerting setup. I got most of the things working by following examples.
Here's my real issues.
1. I can get either slack alerts or email alerts. but not both.
2. Another issue is in email alerts I don't know it's coming from which PCF foundations. So I need to add a customized subject line.

my alertmanager.yml & alertmanager.stderr.log attached

[2017-08-25 08:19] artemlive commented on #952
I'll try to reproduce it today or tomorrow.
Thanks!

[2017-08-25 18:30] xMTinkerer commented on #701
It seems that accepting pull requests for new notifiers is no longer happening as the burden of maintaining them rests finally on the maintainers of alertmanager. In addition to the Telegram and Jira notifiers, AmazonSNS was not accepted (#709).
Having some kind of plugin system for these will help alleviate the burden off the alertmanager maintainers and back onto the plugin maintainer where it b

[2017-08-26 09:52] shitWang commented on #958
The codes  is not configuration .it‘s a json string of alertmanager sending alert  to webhook url (i use webhook receiving alert）and i want get time of alert that is "startAs" var with CST but it's rfc3339...
so... i want to ask how do change that？？？

[2017-08-27 07:01] regardfs commented on #950
@mxinden
Thanks a ton, I will try ASAP, I will close this issue now.

[2017-08-27 07:01] #950 closed

[2017-08-28 10:24] mxinden commented on #958
@shitWang I am sorry, but I don't understand your question. Can you elaborate further?

[2017-08-28 13:21] mxinden commented on #904
@parikhravish I am sorry but I don't have a lot of time at the moment to look further into this. In case you have time you could write up a step by step reproduction scenario via the webhook [1] and the send-alerts script [2].

[1] https://github.com/prometheus/alertmanager/tree/master/examples/webhook
[2] https://github.com/prometheus/alertmanager/blob/master/examples/ha/send_alerts.sh

[2017-08-28 22:45] jeeyoungk commented on #333
any update on this?

[2017-08-29 16:48] artemlive opened #964 "Alertmanager sends duplicate "resolved""
Hi.
Alertmanager sends 3 messages with "resolved", after "firing".
As I understood, prometheus sends the status of the alert every evaluation period.
So, here is some debug information:
I just created one test job in prometheus (which uses blackbox_exporter as a tcp port check service):
**prometheus.yml**
[code]
**blackbox_exporter.yml**
[code]
**/etc/prometheus/production.rules**
[code]
**alertma

[2017-08-29 19:28] sushovan23 commented on #951
Hello,
Thanks for the response. I read more on generatorURL & figured out that I needed to use `-web.external-url` option while starting prometheus which would provide accessible url in slack notifications & alert manager UI.

[2017-08-29 19:28] #951 closed

[2017-08-29 19:38] sushovan23 opened #965 "connection refused error while sending email when smtp_smarthost authentication is provided for the IP"
Hello,
I'm getting following error messages while sending email notifications for alerts:
[code]

Alert Manager config:
[code]

We have smtp_smarthost providing access directly to the IP address so it doesn't require username/password for authentication.
that is the reason we have commented out username/password in config file.
I have tested connectivity & email send feature from this host using a

[2017-08-30 23:24] kfdm commented on #958
Since the time is in  rfc3339, you should be able to use a datetime library in your webhook receiver to decode the date and print it in CST (or any other timezone you want)

[2017-08-31 01:06] shitWang commented on #958
So,it's only changed in my webhook receiver ？can not in server by configuration？

[2017-08-31 01:36] kfdm commented on #958
Correct. Internally, Prometheus uses UTC for everything, so it's up to the receiver to display it in the preferred format.

[2017-08-31 02:33] shitWang commented on #958
Ok. thinks for help

[2017-08-31 11:05] mxinden commented on #962
@Murryy79 I am sorry for the late reply. This sounds like a usage question. Please reopen the question on the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users). I am closing here. Please reopen here if I understand you incorrectly.

[2017-08-31 11:05] #962 closed

[2017-08-31 11:53] mxinden commented on #483
Closing here due to inactivity. @KrestenKjaer feel free to reopen.

[2017-08-31 11:53] #483 closed

[2017-09-01 03:33] kaihendry opened #966 "Document that you do not support environment variables"
This is missing information from https://prometheus.io/docs/alerting/configuration/

Support for environment variables was bizarrely removed in https://github.com/prometheus/alertmanager/pull/308 and it makes deploying alertmanager a total PITA as a result.

[2017-09-01 07:27] brian-brazil commented on #966
That page already documents what we do support, I don't think it's sane to list everything we don't support. For example we don't take configuration from other files, etcd or secure enclaves either.

[2017-09-01 10:13] w0rm commented on #899
@mxinden is there any reason to not use Elm reactor in dev mode to serve `/lib` files?

[2017-09-01 10:20] w0rm commented on #907
@mxinden @stuartnelson3 any idea how to fix this on macOS?

[2017-09-01 12:07] stuartnelson3 commented on #907
Not sure off the top of my head, but I guess you can check the macos man page for mktemp

[2017-09-01 15:08] jjneely opened #967 "JSON log format does not consistently produce JSON logs"
I'm using Alertmanager 0.8.0 and have my logging options set like this:

[code]

However, Alertmanager does not consistently log in JSON format.  I get a mix of JSON and color-coded tty style logging.  This makes integration with our ELK stack much more painful that it should be.  Not to mention the control codes in the log output.

Example:

[prometheus-alertmanager.txt](https://github.com/promet

[2017-09-02 03:16] #958 closed

[2017-09-02 09:24] stuartnelson3 commented on #967
Fixed by #968

[2017-09-02 09:24] #967 closed

[2017-09-02 09:27] stuartnelson3 commented on #949
This is a usage question, which should be directed to prometheus-users@googlegroups.com

[2017-09-02 09:27] #949 closed

[2017-09-02 18:19] #907 closed

[2017-09-04 04:33] prologic opened #972 "Twillo receiver"
For my use-case I don't really want to be paying much to receive SMS or some kind of notification on my Phone if my infra's email service is out.

Can we integrate [Twilllo](https://www.twilio.com/notify) as an alternative receiver?

[2017-09-04 05:15] zhihuiFan opened #973 "send out alert immediatly and send out resolved alert after all the 5 minutes are good"
what I want is
  1. if I get an alert,  I can send out the alert immediately.  （ALERT xxx IF 1s?)
  2. if the alert is resolved in the following 1 data point, I would not say it is really resolved.  I want to think the alert is really resolved until all the data points in the following 5 minutes are good. In this case, I want to receive a resolved alert. (group_interval ？)
  3. If in the following

[2017-09-04 07:37] brian-brazil commented on #972
I'd suggest using https://github.com/messagebird/sachet

[2017-09-04 07:48] prologic commented on #972
Thanks! I'll check it out.

[2017-09-04 07:48] #972 closed

[2017-09-04 09:39] mxinden commented on #973
@zhihuiFan This sounds like a usage question to me, which should be asked in the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users). Please feel free to reopen here, in case I am wrong.

[2017-09-04 09:39] #973 closed

[2017-09-04 10:10] zhihuiFan commented on #973
thanks, add the link https://groups.google.com/forum/#!topic/prometheus-users/8VpN2jVh1rg here so that it can help others.

[2017-09-04 12:17] iksaif commented on #880
Looks like this doesn't happen anymore.
I suspect this was also fixed by https://github.com/prometheus/alertmanager/pull/882

[2017-09-04 12:17] #880 closed

[2017-09-04 12:54] mxinden commented on #880
@iksaif perfect. Thanks for the feedback!

[2017-09-04 13:28] semyonslepov commented on #623
I think there is (the same in Google groups) still no answer: is it possible to disable grouping at all in Alertmanager?
We face the same issue and still have no success with solving it (

[2017-09-04 13:52] iksaif commented on #333
I'm working on this on https://github.com/iksaif/alertmanager/tree/check-config

[2017-09-04 14:15] rverchere opened #977 "Email with Precedence: bulk for auto-reply"
Hello,

when users receiving e-mail alerts are on holidays, auto-reply system sends a message back to prometheus, as there is no `Precedence: bulk` header in the alert e-mail, or something similar.

How can I manage such auto-replies?

Thanks !

[2017-09-04 15:41] mxinden commented on #977
@rverchere This sounds like a usage question to me, which should be asked in the [Prometheus users Google group](https://groups.google.com/forum/#!forum/prometheus-users). I am closing here. Feel free to reopen in case I misunderstood you.

[2017-09-04 15:41] #977 closed

[2017-09-05 09:01] #794 closed

[2017-09-05 11:18] stuartnelson3 commented on #948
To confirm:

You would like to have a way to enforce a custom fields are added to silences, because adding tickets for each silence is mandatory. The difference between what's currently possible (adding a link to the ticket in the description field) and your request is that the custom field would be validated and reject the creation of the silence if the validation failed?

[2017-09-05 18:13] RichiH commented on #948
That is correct.

[2017-09-06 10:00] beorn7 opened #979 "Querying alert state (silence/inhibition) lags behind (by up to `group_interval`)"
If a silence is created, or _if alerts come in that belong to an already existing (silenced) alert group_, it takes some time until the affected alerts are actually displayed as silenced in the UI, presumably because alerts are only marked as silenced if they _would_ trigger a notification but then that notification is not sent because of a silence. As a result, alerts are silenced correctly as in

[2017-09-06 17:47] mxinden commented on #899
@w0rm I am not aware of any reason why we are not using Elm reactor to serve the libs. I haven't tried whether that works or not. Can you try it out and send a PR?

[2017-09-07 08:58] #333 closed

[2017-09-07 08:59] iksaif commented on #560
I was thinking about adding a "log" / "syslog" notification plugin, would that help ?

[2017-09-07 13:03] domleb commented on #878
We're seeing this too on v0.7.0.

[2017-09-08 08:54] regardfs opened #980 "[Bug] smtp.icoremail.net:465 fail to send mail alert due to 'does not advertise the STARTTLS extension'"
Here is my config:

[code]
Then start service It could not send alert mail with following error:

time="2017-09-08T08:46:47Z" level=error msg="Notify for 1 alerts failed: require_tls: true (default), but "smtp.icoremail.net:465" does not advertise the STARTTLS extension" source="dispatch.go:262"

So, i modify **require_tls** to **false**, so I receive message error like

time="2017-09-08T08:29:52Z

[2017-09-08 09:20] stuartnelson3 commented on #980
Using port 465 enters a hardcoded path that attempts to use TLS:

https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L275-L285

For historical reasons, this port is supported with SSL but port 587 should be used instead if possible.

See the post here: http://blog.mailgun.com/25-465-587-what-port-should-i-use/

[2017-09-08 11:07] regardfs commented on #980
@stuartnelson3 , hi, icoremail just provide 465 port with ssl protocol, not TLS!...

[2017-09-08 12:21] stuartnelson3 commented on #980
SSL was superceded by TLS back in 1999 (name was changed). If your provider is nearly 20 years behind on protecting connections, it might be time to change.

[2017-09-08 12:36] iksaif opened #981 "Silence UI is unresponsive with 1000s of silences"
For some reason, we ended up with 2000 silences, and that makes the silence UI quite unresponsive when typing in the filter input.

It's unclear to me what it is doing exactly as I don't think there is  any kind of auto-completion here.

The chrome profiler seems to say that the time is spent in "Update layer tree".

I suspect that it's slow mostly because all the silences are rendered in the page

[2017-09-08 12:36] regardfs commented on #980
@stuartnelson3 but in china most providers still use ssl，WTF

[2017-09-08 13:03] beorn7 commented on #981
Interesting enough, I discussed the same issue with @w0rm recently. The same will be true if you find yourself in a situation with 1000s of alerts. In that situation, the UI is so unresponsive that it's very hard to enter a filter string to filter down the number of items displayed.

We need some kind of paging or, in the simplest case, a message like "3456 alerts in total, displayed alerts are in

[2017-09-08 13:11] iksaif opened #982 "race condition with gossiped silences causes crash"
Looks like our alertmanager is crashing when handling 1000s of silences

[code]

[2017-09-08 13:29] stuartnelson3 commented on #981
Out of curiosity, can you post your OS, system specs, and browser used when you experienced this? Checking your system's resource usage would also be interesting, to see if it's RAM or CPU issues.

[2017-09-08 13:31] stuartnelson3 commented on #982
The crash reason is listed: `fatal error: concurrent map iteration and map write`.

It looks like it's something in our gossip implementation:

[code]

From the stack trace, it looks like un-coordinated access to a hash map.

[2017-09-08 13:36] stuartnelson3 commented on #982
After taking a quick look, turning `type gossipData map[string]*pb.MeshSilence` into a struct that has an embedded `sync.RWMutex` and then making use of that when reading/writing should solve the problem.

I'm surprised this hasn't surfaced until now.

[2017-09-08 13:39] iksaif commented on #982
Yes, I wonder if this is something in mesh or in the alertmanager implementation (which sounds simple).

[code]

So if I read it correctly, Encode is called on the same gossipData twice. As far as I understood, this should be called only after `s.gossip.GossipBroadcast(st)`. Sounds weird that this would call concurrent code on gossipData .

https://github.com/weaveworks/mesh/blob/50329b4166c9c7d40

[2017-09-08 13:42] stuartnelson3 commented on #982
It's definitely in our implementation

[2017-09-08 13:47] iksaif commented on #981
Intel(R) Xeon(R) CPU E3-1271 v3 @ 3.60GHz with 32GB of memory.
When typing there is one core that 100% used.

[2017-09-08 13:48] iksaif commented on #982
If nobody is currently on a fix, I'll take this one.

[2017-09-08 14:26] stuartnelson3 commented on #982
Sounds good!

[2017-09-08 14:47] padgyx opened #983 "error expanding template: runtime error: invalid memory address or nil pointer dereference"
Trying to pass environment variable $STACKNAME to alert rules, but got the following error. Is environment variable supported in alert.rules? The alertname does not seems support labels, never mention the environment varialbes. Do we have to hard code the alertname?

ALERT disk_above_95_percent
  IF container_fs_usage_bytes{device=~"/dev/x.*"} / container_fs_limit_bytes{device=~"/dev/x.*"} > 0.95

[2017-09-10 12:31] stuartnelson3 commented on #982
@fabxc @brancz Running `make test` with `-race` (https://github.com/prometheus/alertmanager/blob/master/Makefile#L33) reveals many data races with the codebase.

Is Alertmanager receiving any attention from CoreOS in the near future? It would be great to go through and clean these up, but I'm not aware of the time necessary for the fixes. Perhaps @iksaif could expand his work in #984 :)

[2017-09-10 13:21] stuartnelson3 commented on #981
@w0rm confirmed that typing into the filter bar with ~2000 silences definitely has a delay, anywhere between 500ms and 1500ms, when entering a character. The message is `UpdateMatcherText`.

Scrolling and clicking on filter labels is fast, it's just the chain of events kicked off by updating the matcher text bar.

I've been going through the rendering code trying to see what the problem is. It sho

[2017-09-10 13:57] w0rm commented on #981
@stuartnelson3 I think it's rendering that is slow. We need to add pagination.

<img width="1179" alt="screen shot 2017-09-10 at 15 57 10" src="https://user-images.githubusercontent.com/43472/30249657-c1ed1ae4-9640-11e7-96af-a32207b789fa.png">

[2017-09-10 14:00] stuartnelson3 commented on #981
And, because we're updating the filter UI, it forces a re-render on the entire page?

[2017-09-10 14:01] w0rm commented on #981
@stuartnelson3 yeah, each update of the model causes the rendering to be re-evaluated.

[2017-09-10 14:04] stuartnelson3 commented on #981
Ok, so it isn't possible to just re-render the div containing the filter bar, the whole page needs to be re-rendered? I thought that was part of this whole shadow-dom thing, where only the changed portions would be re-rendered.

[2017-09-10 14:09] w0rm commented on #981
@stuartnelson3 you can put lazy anywhere in the render tree. If a part of the model stays the same, `===` check would return `true`, and the subtree wouldn't be re-rendered

[2017-09-10 14:27] stuartnelson3 commented on #981
That's why I'm confused by the time spent rendering. If I put `lazy` here: https://github.com/prometheus/alertmanager/blob/master/ui/app/src/Views/SilenceList/Views.elm#L27

...my understanding is updating the filter bar shouldn't cause this list of silences to be rerendered, because the input isn't changing. But, the app is still slow when updating the filter bar when a tab with 2000 silences is

[2017-09-10 14:33] w0rm commented on #981
You should extract  the following code into a `renderSilences tab silences` function:

[code]

and then call it with `Html.lazy2 renderSilences tab silences`

[2017-09-10 16:38] stuartnelson3 commented on #981
That does make sense, I didn't realize I had to handle the entire case statement with lazy2.

Unfortunately, the result is the same. I agree that we should have pagination (after we start sending silences from the API in a stable order), but I still think lazy rendering should be working here. Maybe you'll give a minute this week to see what I'm doing wrong.

[code]

[2017-09-10 17:24] w0rm commented on #981
Using lazy2 actually made a thunk that it's not evaluated. There must smth else that causes the issue. Looks like smth is reevaluating the layout. I will have a look later this week.

[2017-09-11 06:30] DonMartin76 commented on #931
We are also looking at doing some kind of integration to ServiceNow, and it might possibly be useful for others as well. Currently, the requirements would be something like this:

* For some alerts, e.g. of some specific severity, open a ServiceNow ticket (which might trigger an "Outage" in ServiceNow)
* If the alerts go away, automatically update the ServiceNow ticket with the new state, so that

[2017-09-11 07:19] samit2040 opened #986 "how to configure alertmanager to send both firing message and resolved message only once"

[2017-09-11 09:12] joker234 opened #987 "never use tls when using localhost as smtp smarthost"
I had the standard configuration with `'localhost:25'` as `smtp_smarthost`. Is there a possiblity to add a switch that alertmanager doesn't care about tls/starttls if using a localhost connection. It raises the error that my mailserver has no certificate for `localhost` (no wonder why).

If I use the fqdn instead of localhost different spamsystems mark the alerts as spam because the fqdn is correc

[2017-09-11 10:05] stuartnelson3 commented on #987
This is a usage question, which should be directed to the users mailing list prometheus-users@googlegroups.com.

It looks like setting `require_tls` to false should work: https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L302.

[2017-09-11 14:15] LarsAlmgren commented on #511
+1

[2017-09-11 14:28] LarsAlmgren commented on #517
+1

[2017-09-12 07:25] iksaif commented on #981
IMHO limiting the number of silences displayed when there is no filter (and then, adding pagination) would probably be a better long term solution.

[2017-09-12 09:11] ntwobike opened #989 "Local webhook cannot reach getting "getsockopt: connection refused""
I have simple go webserver running on port 4000(locally not in a container) to consume the post request, and my alertmanager running in a container. I get below errors when its trying to trigger the alerts everytime. I checked with a slack channel its working fine only the webhooks doesnt work for me.

[code]

my alertmanager configs
[code]
I can curl the http://127.0.0.1:4000/notifier/ in local.

[2017-09-12 10:29] stuartnelson3 commented on #981
Agreed. Right now we don't have a stable order when returning silences, so pagination won't be useful until that is fixed. We also need to figure out how to handle pagination within the three separate tabs, since they are sorted into these buckets after being received from the API.

[2017-09-12 11:08] iksaif commented on #981
Could a first implementation just sort by date and display only 100 results by default (with a message saying that there are more, possibly a link to display all) ?

[2017-09-12 11:11] it-praktyk commented on #511
@mxinden

Lack of @fabxc it's a proof (not only one, based on my experience in work with Prometheus) that documentation is not important for the core development team.

I'm not interested to do that work now. I stopped work with Prometheus some times ago.

[2017-09-12 13:16] ntwobike commented on #430
If anybody came across same problem add `web.external-url` flag into **alertmanager** in docker-compose file.
`- '-web.external-url=http://hostname here:9093/'`

[2017-09-13 07:38] iksaif opened #991 "Provide a HTTP Health / Readiness Check"
Similar to https://github.com/prometheus/pushgateway/issues/105

I might work on it soon, but feel free to take it.

Everybody agrees with  `/-/healthy` and `/-/ready` ?

[2017-09-13 08:58] brancz commented on #982
@stuartnelson3 we actually have a few some time planned regarding Alertmanager robustness, so we should get to this relatively soon. I'm hoping to get started next week.

[2017-09-13 09:22] stuartnelson3 commented on #991
The nature of the mesh is other am's can join and leave, and there's no real manifest to know how many are supposed to be connected, and similarly, I'm not sure how we can know we've received most of the data, since an alertmanager instance doesn't know how much there is.

How would you define most of the data?

[2017-09-13 10:29] iksaif commented on #991
I guess we could wait at least `gossip_settle_min_wait_ms`  (1000) up to `gossip_settle_max_wait_ms` (10000) as long as there is active traffic on the mesh (for silences and peers).

Having simply an option to wait "some" time would be a good start.

[2017-09-13 22:35] jutley commented on #822
I'm also interested in this. It's odd that there's a structure for Slack fields, but there isn't any way to actually use them. Is there a reason for this? Or has it just not been implemented yet?

[2017-09-14 04:46] regardfs opened #992 "Resolved message does not reflect the current state"
Hi:
Here is my alert rules:
[code]
When alert resolved, It still show the alert value, It could not reflect the current value
![image](https://user-images.githubusercontent.com/8295227/30412509-91a92f5a-994a-11e7-8e1e-593f586645b4.png)
How to solve this problem, I wanna show the current value when alert resolved, but not the value triggered the alert.

[2017-09-14 14:32] #953 closed

[2017-09-14 16:13] #883 closed

[2017-09-14 18:17] iksaif commented on #982
Note: the patch may introduce a deadlock, I'll try to diagnose that tomorrow. It's not very common though.

[2017-09-15 07:25] iksaif commented on #982
Yes .. we have a deadlock:

[code]

[2017-09-15 08:12] zarkoc opened #996 "Expired silences are not garbage collected after -data.retention has passed."
Im using the api to create a silence, and afterwards delete it.
The deleted silence goes to expired.
So potentially I could have hundreds of expired alerts.
Is there a way to delete expired silences, or some other way to handle this case.
I'm on version 0.7.1.
Thanks,
Zarko

[2017-09-15 08:14] fabxc commented on #996
Expired silences will be automatically garbage collected after ~14 days.
The reason is that it's good to still see them afterwards. For example to
analyse why certain alerts were not sent or to re-create a silence.

On Fri, Sep 15, 2017 at 10:12 AM zarkoc <notifications@github.com> wrote:

[2017-09-15 08:34] zarkoc commented on #996
Thanks! Didnt know that.

[2017-09-15 08:46] stuartnelson3 commented on #996
@beorn7 you reported that soundcloud has several thousand expired silences -- can you check to see if they're being GC'd? The retention is set by `-data.retention`, with a default value of 5 days.

@fabxc Looking at the code it looks like 5 days is the default time, did I miss something that sets it to 14 days?

[2017-09-15 08:57] justlooks opened #997 "can i send alert to two receiver in one route ?"
it seems alert manger can not recognize the following configuration

      routes:
      - match:
          severity: page
        receiver: ['slack_alert', 'email_alert']

[2017-09-15 09:27] brian-brazil commented on #997
https://www.robustperception.io/sending-alert-notifications-to-multiple-destinations/

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answe

[2017-09-15 09:27] #997 closed

[2017-09-15 09:42] fabxc commented on #996
No, I was honestly just guessing – has been a while since writing that code.

On Fri, Sep 15, 2017 at 10:47 AM stuart nelson <notifications@github.com>
wrote:

[2017-09-15 09:56] stuartnelson3 commented on #996
Not a problem, just wanted to make sure I wasn't crazy

[2017-09-15 12:03] beorn7 commented on #996
The flag `-data.retention` has indeed a default value of 120h (== 5d). We're running AM 0.8.0 with the default flage, and we have accumulated 4341 expired silences by now, most of them definitely expired longer ago than 5d.

[2017-09-15 14:29] estechnical commented on #384
I notice the "help wanted" tag... how would I help? :)

[2017-09-18 12:01] artemlive commented on #964
The same problem is reproduced on the new version of prometheus 2.0.0-beta.4.
The problem is bound to the number of receivers for identical serverity.
For example if i have two receivers for severity "critical":
[code]
As a result we receive two "resolved" messages since in group two receivers and both have flag:

[2017-09-18 13:07] artemlive commented on #964
Additional information: even if to remove send_resoloved at one of receivers, the "resolved" message will come twice.

[2017-09-18 20:16] josedonizetti commented on #996
Hey, is it okay if I take stab at this one?

[2017-09-18 20:47] fatalsaint commented on #964
I am seeing the same problem.
Prometheus version 1.7.1 (also tried 1.7.0)
Alertmanager version 0.8.0

Both running in the official docker containers.

Example of the alerts:

The Debug logs of alertmanager show these two lines repeatedly even after the first RESOLVED message is sent until the last RESOLVED message is sent then they stop:

The problem gets worse if you have critical/warning alerts

[2017-09-19 12:15] beorn7 commented on #996
I think that would be great, @josedonizetti . @stuartnelson3 might be able to give more context.

[2017-09-19 16:13] beorn7 commented on #666
The problem here is that the most obvious fix requires negative matches, which the [inhibit rule syntax](https://prometheus.io/docs/alerting/configuration/#<inhibit_rule>) does not support. E.g. you have a `NodeDown` page that should inhibit _all_ other pages that share the same `node` label (because you know the node is down so you don't need to be notified that your HAProxy on that node is down

[2017-09-19 18:10] josedonizetti commented on #996
I run a few tests on this, and:

1) Standalone test

All tests I did here worked perfectly, the silences will always be GC. But one point caught my attention if for some reason one of the expires has a zero value time it will break the GC loop and stop the Maintenance go routine that runs it and log the error.

https://github.com/prometheus/alertmanager/blob/master/silence/silence.go#L286
https://

[2017-09-20 11:06] artemlive commented on #964
Hello @fatalsaint !
Thank you for your reply.

I tried to change the number of recipients and the number of "resolved" messages was equal to the number of recipients in my case.

[2017-09-20 15:14] fatalsaint commented on #964
I suppose we might have different problems with the same symptom as I only had the one receiver but I'd imagine whatever the underlying cause is works for both.

In any case, after commenting here and realizing I wasn't the only one with the problem I accepted the noise and setup Alertmanager how we wanted in production.  That is, I raised the root route repeat_interval to 24h and made sub routes

[2017-09-20 18:22] Kellel opened #1000 "Provide silence backup and restore functionality in amtool cli tool"
Since amtool is setup for querying and managing silences it would be great if you could perhaps dump the json output to a file and load it back into the api.

This would be useful when attempting to migrate existing silences to another instance or in the event of disaster recovery.

[2017-09-20 18:24] Kellel commented on #1000
I think it should be reasonably easy to just dump the json received from the api and do some slight munging to re-apply it.

[2017-09-20 19:03] aecolley commented on #625
At the risk of metooing, I also have a great need for mesh metrics. I have three long-running alertmanagers in a mesh, and today I found that one of them had lost its connections to the other two. Nothing appears in the log and there are no metrics which I could use to drive an alert for the condition. I found the problem only because an alert notification was sent which should have been silenced.

[2017-09-21 08:32] stuartnelson3 commented on #996
1. If there is an error, it's contained with an anonymous function, so returning just exits that single function. It returns the error, which will then be logged (https://github.com/prometheus/alertmanager/blob/master/silence/silence.go#L253-L262), and remain within the `for-select` loop. If a GC() fails, it will still be retried.

Now, whether we can ever have a silence with zero ExpiresAt time i

[2017-09-21 16:50] excavador commented on #511
I really need it. Otherwise, I can not silence everything what I need during deploy by ansible

[2017-09-21 17:50] stuartnelson3 commented on #511
This isn't currently very high priority, unfortunately. My recommendation is to read the code https://github.com/prometheus/alertmanager/blob/master/api/api.go#L131-L134 (it has been fairly stable), or to use the cli `amtool` assist you. `amtool` has its own documentation built in.

[2017-09-21 22:17] josedonizetti commented on #996
@stuartnelson3

1. True. I missed that!
2. Gonna extend the discussion on the PR -> https://github.com/prometheus/alertmanager/pull/999

[2017-09-25 09:06] smallfish01 opened #1002 "send_resolved:true not take effect when I setup two email addresses."
Hi Support,
When I setup two emails in my simply.yml and enable send_resolved, I just received the resolved email in my second email (smallfish@abc.com).
My simply.yml configurations as below:

receivers:
- name: 'default-receiver'
  email_configs:
  - to: '18927374488@189.cn'
  - to: 'smallfish@abc.com'
    html: '{{ template "email.html" .  }}'
    send_resolved: true
And I check http://localhos

[2017-09-25 09:44] fjaeckel commented on #954
The API works great, would be grand to get some documentation on the API! :)

Case closed.

[2017-09-25 09:44] #954 closed

[2017-09-25 20:47] jamesrwu commented on #992
I don't think it's possible with the current way alertmanager works. For an alert to stay alive, it has to be kept alive by prometheus continuously sending the same alert to it. If an alert recovers in alertmanager, it's because prometheus stops sending messages to alertmanager.

[2017-09-26 09:37] mxinden commented on #986
Hi @samit2040, in general please open usage questions in the [Prometheus Google group](https://groups.google.com/forum/#!forum/prometheus-users). You could set the `repeat_interval` to a very high value, see: https://github.com/prometheus/alertmanager/issues/935. Let me know if this helps.

[2017-09-26 10:11] stuartnelson3 commented on #992
This is a usage question that should be directed to prometheus-users@googlegroups.com

[2017-09-28 08:06] brian-brazil commented on #941
I'm against having such a feature. It'll be abused by higher ups setting it too low, forcing unnecessary toil on those who are oncall. If you want to force a periodic review of silences, that's an internal process issue for the organisation.

[2017-09-28 12:41] brancz opened #1005 "duplicate repeated notifications"
While developing some tooling to load test Alertmanager HA clusters, I believe to have found a problem regarding repeated notifications.

The tooling I've built captures the alerts it fires and the resulting notifications as events.

Alerts fired events start the line with `ALERTS` followed by the timestamp of the event, the Alertmanager instance it was fired against and finishes with a list of al

[2017-09-28 12:53] stuartnelson3 commented on #1005
Thanks for working on this!

Without having looked at any code to check, your initial hypothesis for repeated notifications not waiting (position*5sec) does sound like it could be the culprit.

What is your priority currently between further refining the tooling and trying to solve this (and probably other) bugs? Are you focused on finishing the tooling and then addressing the bugs, or looking at

[2017-09-28 13:04] brancz commented on #1005
Regarding the tooling I think it'll go hand in hand with the tests we are developing and the bugs we find. The tooling can be shared as is, I just feel at this point it's more confusing then helping at the rate of change happening to it right now (I literally started the first lines of code a few days ago). I should be able to alternate between developing the tooling and fixing the discovered bugs

[2017-09-28 14:05] mxinden commented on #384
@estechnical could you extend the existing `email_config` documentation in the [Promtheus documentation](https://prometheus.io/docs/alerting/configuration/#email_config)? You can find the repository [here](https://github.com/prometheus/docs/blob/master/content/docs/alerting/configuration.md).

[2017-09-28 14:27] beorn7 commented on #996
I think #999 nailed it. Things look totally reasonable now in our 5-node Alertmanager cluster at SoundCloud. I declare this fixed. Please re-open if you have contrary evidence.

[2017-09-28 14:27] #996 closed

[2017-09-28 14:32] stuartnelson3 commented on #996
Thanks again, @josedonizetti !

[2017-09-28 15:19] josedonizetti commented on #996
yay \o/

[2017-09-28 18:37] RichiH commented on #941
If the PHB wants to force people down that path, how is the availability of such a setting going to enable or stop them?

[2017-09-28 21:18] camilb opened #1006 "[Bug]Empty email notification message in 0.9.0"
The email notification messages in 0.9.0 are empty. The fix in #1001 solves this issue.

[2017-09-29 01:44] benclapp opened #1007 "[Bug] Affected alerts are not returned on the page of a silence in 0.9.0"
The 'Affected alerts' field of an active silence is displaying 'Network error' rather than the alerts affected by this silence.

It looks like the request to get affected alerts has dropped the web.external-url value from the request.

Version 0.8.0 was requesting: http://alertmanager.foo.bar:9093/api/v1/alerts?silenced=true&filter=action%3D%22scale-in%22

Version 0.9.0 is requesting: http://alert

[2017-09-29 07:42] stuartnelson3 commented on #983
This is a usage question, which should be directed to prometheus-users@googlegroups.com

https://prometheus.io/docs/alerting/notifications/

Environment variables are not read into the templates.

[2017-09-29 07:42] #983 closed

[2017-09-29 07:43] #966 closed

[2017-09-29 07:49] stuartnelson3 commented on #1002
`email_configs` only supports a single `to` field.

https://prometheus.io/docs/alerting/configuration/#<email_config>

[2017-09-29 07:49] #1002 closed

[2017-09-29 07:49] #987 closed

[2017-09-29 09:40] stuartnelson3 commented on #1006
Fixed by #1009

[2017-09-29 09:40] #1006 closed

[2017-09-29 10:03] stuartnelson3 commented on #1007
I remember seeing this issue in the past when first adding this feature, but I haven't so far been able to reproduce it.

Running alertmanager:
[code]

Running local nginx proxy that forwards localhost:3000/alertmanager to localhost:9093, my requests have had the correct url
[code]

How are you starting your alertmanager?
[code]

[2017-09-29 10:51] brian-brazil commented on #941
They're only enabled if we provide the feature, thus us not providing that feature provides discouragement for those that might think this is a good idea.

Merely having such a setting would prompt discussions around what it should be set to, and it's not at all difficult to imagine one team who likes burning themselves out setting it too low for other teams who have a real need for effectively in

[2017-09-29 11:19] benclapp commented on #1007
I discovered it with the alertmanager docker image. So starting with one of the command flags set like below. It was working OK in 0.8.0 and now, after the fix you made in #1008. Below is a snippet of a docker-compose I was able to reproduce the issue with:

 alertmanager:
    image: quay.io/prometheus/alertmanager:latest
    container_name: alertmanager
    restart: always
    ports:
      - 9093

[2017-09-29 12:16] #1007 closed

[2017-09-29 13:09] Conorbro commented on #899
In case anyone is bugged by this you can use the following extension while developing to see the icons:

https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi

[2017-09-29 16:15] brancz opened #1013 "Race in writing to Alert.WasSilenced"
We've started testing HA Alertmanager clusters with the race detector enabled on build. The version used to run these tests, was built from the v0.9.0 release commit.

This is one of the race conditions that have been able to be detected:

[code]

I can't tell what the impact of this race is yet across the code-base, but this seems to be a concurrent write to the `.WasSilenced` field of alerts in

[2017-09-29 16:42] brancz opened #1014 "Race in inhibitor shutdown"
Same testing round as #1013, another race that was detected.

[code]

This race only showed when shutting down the Alertmanager, and it seems there is a race between [closing and clearing the `stopc` channel](https://github.com/prometheus/alertmanager/blob/9f5f4b2a516d35cfaf196530b277f1d109254569/inhibit/inhibit.go#L110-L111) and possibly [reading from it](https://github.com/prometheus/alertmanage

[2017-10-02 12:44] brian-brazil commented on #535
Dupe of #666

[2017-10-02 12:44] #535 closed

[2017-10-02 13:21] alin-amana commented on #666
Well, since I seem to have wasted a couple of hours implementing a basic "alert shouldn't inhibit itself" filter that's not wanted, does anyone but @beorn7 think that having something along the lines of his suggested `target_not_match` is a good idea?

[2017-10-02 13:30] brian-brazil commented on #666
I don't think it's a good idea. I think the issues presented here are merely the first level issues with this approach, and I believe that going down that route would lead to very fragile and tricky to maintain configs as the second and third level issues come along (think a multi-level set of nested inhibitions).

Using alertnames in the alertmanager config is a smell, `severity` etc. labels are

[2017-10-02 14:31] beorn7 commented on #666
I can believe that a working "an alert cannot inhibit itself" implementation might turn out tricky.

I think we should either add negative matchers as suggested above, or we could adopt the syntax as already used in the Alertmanager UI (`=`, `!=`, `=~`, `!~`), which would also allow us to remove the separate `..._re` config entries. If we named that differently, e.g. `target_matchers` and `source_

[2017-10-02 16:42] #957 closed

[2017-10-02 17:42] caarlos0 opened #1018 "[victorops] make message_type template-able"
Sorry, I don't know how to express exactly what I meant in words, so, here is code.

We have several teams here, and alerts are routed to the responsible team. For example:

[code]

Later, we define the receivers as:

[code]

The problem with this is that we need to replicate a lot of code (for example, matching services, instances, etc), which is not a breaker but it makes the config more difficu

[2017-10-02 18:30] caarlos0 opened #1019 "panic on amtool on linux amd64"
I wired amtool to my configs repo CI so I can check that my config is always valid, but, when running, I get this:

[code]

On my macOS, same version of amtool against the same file works as expected.

[2017-10-03 02:39] apandey2017 commented on #552
@fabxc it appears that /reload causes Prometheus to cancel current inflight scapes and rule evaluation? I often see on target page that targets go down or unknown for sometime upon /reload. If this is the case then multiple reloads could cause issues. Can you please help this understand better?

I am thinking from the point where several hundred or several thousand developers modify alerts several

[2017-10-03 15:05] kishorerv93 opened #1020 "Error executing action `create` on resource 'remote_file[/tmp/prometheus-1.7.1.linux-amd64.tar.gz]'"
Net::HTTPServerException
------------------------
403 "Forbidden"

Resource Declaration:
---------------------
# In /var/lib/aws/opsworks/cache.stage2/cookbooks/prometheus_master/recipes/master.rb

16: remote_file '/tmp/prometheus-1.7.1.linux-amd64.tar.gz' do
17:   source 'https://github.com/prometheus/prometheus/releases/download/v1.7.1/prometheus-1.7.1.linux-amd64.tar.gz'
18:   owner 'prometheus

[2017-10-03 16:03] brian-brazil commented on #1020
This appears to be an issue with your chef recipe, and nothing to do with the alertmanager. I'd suggest taking this up with the recipe author.

[2017-10-03 16:03] #1020 closed

[2017-10-03 18:03] rajkiran616 commented on #684
I have small question. Lets say we need to call webhook endpoint based on alert. If alert is about a particular docker service. How can we pass the service name as part of webhook url?

I am able to call the endpoint with hardcoded service name.  http://url/api/coreservice/scaleup/. And configure the url in alertmanager.yml.

webhook_configs:
  - url: http://url/api/{{servicename}}/scaleup/

How c

[2017-10-03 20:08] brian-brazil commented on #684
@rajkiran616 Please don't put support requests on closed issues. The Prometheus users list is the best place for such questions.

[2017-10-03 23:36] mpalmer opened #1022 "Alertmanager mesh should support IPv6"
At present, the `mesh.listen-address` command line flag only accepts an IPv4 address; attempting to request it listen on `IN6ADDR_ANY` (`::`) by specifying `-mesh.listen-address='[::]:6783'` (which works for everything else written in Go that wants a listen address) results in this:

[code]

I'm aware that the problem is, in fact, inside `weaveworks/mesh`, and I've opened PR weaveworks/mesh#80 to

[2017-10-04 03:24] josedonizetti commented on #936
Think this was fixed by https://github.com/prometheus/alertmanager/pull/1009
Should it be closed @stuartnelson3?

[2017-10-04 08:09] alin-amana commented on #666
FYI, the documentation change in prometheus/docs#812 is already live on [prometheus.io](https://prometheus.io/docs/alerting/configuration/#<inhibit_rule>), so this issue should probably be closed.

[2017-10-04 08:10] brian-brazil commented on #666
Indeed, discussion of potential changes to routing&inhibition syntax can go in a new issue.

[2017-10-04 10:24] beorn7 commented on #936
Yes.

[2017-10-04 10:24] #936 closed

[2017-10-04 11:56] beorn7 opened #1023 "Negative matchers for routing and inhibition"
Currently, we use matchers at two different places in the config:

1. For the routing tree:
[code]
2. For inhibition rules:
[code]

Negative matching comes in handy in various situations. Since the RE2 library doesn't support straight-forward negative matching (e.g. `(?!re)`) as part of the regexp syntax, I see two ways of implementing them:

1. Add a `not_match` clause for each case. This is stra

[2017-10-04 11:58] fabxc commented on #1023
:+1: I'm in favour of using the well-known Prometheus matcher encoding.

[2017-10-04 12:05] beorn7 commented on #666
I have filed #1023 for extended/alternative matcher syntax.

About the original problem of this issue: So far, there have been zero reported use-cases for an alert actually required to inhibit itself, while there are multiple where it is awkward that an alert inhibits itself and requires work-arounds of varying weirdness, including a number where the issue was discovered the hard way (even if the

[2017-10-04 12:08] brian-brazil commented on #1023
I wonder whether this is something we actually need, I think what we have already largely covers this. Are there use cases other than users wanting to exclude specific named alerts from inhibition (which I think is a poor way to solve that particular problem, labels are saner)?

For example if you want to make an exception to a route with a negative matcher, then you could instead put a route with

[2017-10-05 09:49] stuartnelson3 commented on #1002
To expand: You can comma separate the email names.

[2017-10-05 11:42] gleb93 commented on #902
@tomwilkie Have you found any workaround for this? As I get the same error message.

[2017-10-05 15:02] beorn7 opened #1027 "Make matchers and labels in silence view and pre-view selectable"
If you view a particular silence (e.g. http://alertmanager/#/silences/<some-hash>), the matchers of the silence and the labels of the silenced alerts are not selectable. That would be handy (as you can copy&paste them somewhere else). They are not UI elements of other kind (as was the problem with the alert view, where labels were also buttons, clickable to add them to the current filter), so it s

[2017-10-05 15:15] fabxc commented on #902
Deprecated should not mean disabled though, right?

On Thu, Oct 5, 2017 at 1:42 PM Gleb <notifications@github.com> wrote:

[2017-10-05 16:07] thekad opened #1028 "amtool basic auth support"
Currently if you put alertmanager behind a basic http authentication url amtool is unable to specify credentials (at least looking at https://github.com/prometheus/alertmanager/blob/master/cli/alert.go)
Is it possible for amtool to support basic auth in the config file / flags ?

[2017-10-05 16:48] beorn7 opened #1029 "Opening silence link in new tab doesn't work as expected."
It's often desirable to keep the current view of alerts in the current browser tab/window and open something like the silence creation window in a new tab. However, if I middle-click or right-click-open-in-new-tab of the "Silence" link of an alert, the silence fields in the new tab are completely empty and not pre-populated as expected.

[2017-10-05 17:12] stuartnelson3 commented on #1029
We populate the form with information in the original window, and don't transmit it within the URL (for example).

@w0rm @mxinden I'm sure we had this discussion, but I can't remember why we decided to not encode the new silence in the URL. Anyone remember? We could potentially drop the `keep=1` variable and encode the information in the URL, and any values in the URL will be put into the correct

[2017-10-05 17:36] mxinden commented on #1029
@stuartnelson3 Sorry, I don't remember this discussion either. Encoding the *about to be created* silence in the URL sounds like a great solution.

[2017-10-06 07:50] josedonizetti commented on #211
@grobie Is this issue still valid? Not familiar with the way the old alertmanager used to work.
Deep-linking isn't as easy as adding anchors with elm. :/ But one could use filters to have a link for a specific alert(s).

[2017-10-06 07:57] grobie commented on #211
The "old alertmanager" I was referring to was the very first alertmanager implementation. By now alertmanager UI has been rewritten 2 times already IIRC.

The "View in AlertManager" links currently generated by alertmanager filter on the receiver. Somehow highlighting the actual alert in that list would be nice, but I'd rather see all alerts open for that receiver then further filtering down that

[2017-10-06 08:31] stuartnelson3 commented on #211
It's not an elm thing, it's just a current design thing. I think we have the alert's fingerprint being exposed in the API, so it should be possible to link directly to an alert.

[2017-10-06 11:22] beorn7 commented on #211
Also see #868 . There is a subtle difference between linking to an alert and linking to an alert group. The latter is what we need for proper links in alert notifications. Actual notifications are triggered by alert _groups_, not individual alerts directly.

[2017-10-07 09:57] #928 closed

[2017-10-07 10:51] stuartnelson3 commented on #1019
https://github.com/prometheus/alertmanager/pull/1031 should fix this issue

[2017-10-07 11:01] #1014 closed

[2017-10-07 17:27] josedonizetti commented on #989
Thanks for the question! Please direct usage questions to prometheus-users@googlegroups.com, where you'll get involved with the rest of the community.

You trying to access the host from inside the container, they don't share the same network, you need to change 127.0.0.1 to the host ip.

@stuartnelson3  can u close this? pls

[2017-10-07 17:57] #989 closed

[2017-10-07 18:20] ntwobike commented on #989
@josedonizetti understood, thanks for the reply.

[2017-10-08 09:09] stuartnelson3 commented on #1018
This is a usage question, which in the future should be directed to prometheus-users@googlegroups.com

The config file is read as a complete file, with no interpolation happening when parsing. We recommend using templating as provided by your config management software of choice (chef, ansible, etc.) to turn an alertmanager config template into an alertmanager config on your node.

[2017-10-08 18:17] stuartnelson3 commented on #1027
Closed by #1030

[2017-10-08 18:43] w0rm commented on #1027
@beorn7 sorry I'm on vacation until tomorrow. @stuartnelson3 thanks for fixing this!

[2017-10-09 06:44] iksaif commented on #1019
Could you run with https://github.com/prometheus/alertmanager/pull/1031 and send us the error ? I'm curious to know that triggers this.

[2017-10-09 08:11] smallfish01 commented on #1002
The issue has been fixed. I found I need setup send_resolved: true for every email address, such as:
name: 'default-receiver'
email_configs:

    to: '18927374488@189.cn'
    html: '{{ template "email.html" . }}'
    send_resolved: true
    to: 'smallfish@abc.com'
    send_resolved: true

[2017-10-09 09:46] stuartnelson3 commented on #1018
If you look at the documentation, you can see how to accomplish this: https://prometheus.io/docs/alerting/notification_examples/

[code]

This might do what you want.

[2017-10-09 14:58] beorn7 opened #1034 "UI: Option to hide inhibited alerts"
Similar to silenced alerts, there should be an option to hide inhibited alerts.
After a short discussion with @w0rm , we concluded that it's most likely the same situation, i.e. we don't need to bloat the UI with two separate checkboxes, but rather have a checkbox _Show Silenced/Inhibited_ rather than the current _Show Silenced_. We can do this as a first attempt and see if it is sufficient. If pe

[2017-10-09 21:07] josedonizetti commented on #964
I'm now able to simulate this consistently.

It will happen because you configured the `repeat_interval` to a very small time, and Prometheus will call alertmanager API a few times for the same alert, does not matter the state (active or resolved). To be very honest I'm not sure this is considered a bug, because as the configuration state:

[code]

The `repeat_interval` is considered for notificat

[2017-10-09 21:14] josedonizetti commented on #1005
Think this is the same as https://github.com/prometheus/alertmanager/issues/964

@brancz Can you check my last comment on the mentioned issue, what's your opinion?

[2017-10-09 21:16] fatalsaint commented on #964
What would be the use case to sending multiple RESOLVED notifications?  I understand what you're saying but it seems odd.  Once an alert is RESOLVED why does Prometheus call alertmanager multiple times (is this in case alertmanager is down for the first one?), and why would alertmanager want to repeat RESOLVED notifications?

I think in the majority of cases people would want to be able to repeat

[2017-10-09 21:19] josedonizetti commented on #1005
@brancz Think this is related to my last comment on the issue https://github.com/prometheus/alertmanager/issues/964.

Prometheus will call Alertmanager for the same issue a couple times. Supposed that 1 call was made, the AMs sync it and send only 1 notification, but prometheus keep calling the AMs a few other times, and as you configured the `repeat_interval` to a very small time they start resen

[2017-10-09 22:19] josedonizetti commented on #937
@Kellel did u start any work on this? if not, can I work on this?

[2017-10-09 22:36] josedonizetti commented on #992
@stuartnelson3 This can be closed!

[2017-10-09 23:52] josedonizetti opened #1035 "Refactoring: Extract alertmanager http cli from amtool"
Currently, alertmanager has no client for the existing rest API. The amtool has commands that access the API endpoints, but the client code (query, and parsing) is totally coupled to it.
Also, almost no tests exist for it.

I propose we extract the query/parsing of the API from the amtool, and expose it properly in the cli package, moving the amtool commands to a new package inside the cli (e.g.:

[2017-10-10 08:24] brancz commented on #1005
The same thing happens when the `repeat_interval` is larger. The problem is that once the first notification was sent out all Alertmanager instances will wait until last notification time + `repeat_interval`, which will make them race against each other regardless of the value of `repeat_interval`.

I should soon be able to dig into this issue further.

[2017-10-10 08:52] brancz commented on #964
Resolved notifications should not be repeated. I don't think this is related to #1005, the result looks a bit similar, but in #1005 the multiple Alertmanager instances send the same notification at the same time, here it's more about repeating resolved notifications incorrectly.

[2017-10-10 08:55] brancz commented on #1035
This is somewhat intentional currently, as the Alertmanager API is likely to change (possibly in a breaking way, regarding client usage apart from the alert receiving endpoints). Separating and decoupling the code is a good idea anyways, but usage outside of this repo rather not recommended.

Question is, if we're already touching this, do we also want to diverge towards grpc APIs like Prometheus?

[2017-10-10 09:05] stuartnelson3 commented on #1035
Code for this exists in this pr here: https://github.com/prometheus/client_golang/pull/333

If you want to take over adding tests, it's basically done.

[2017-10-10 11:45] stuartnelson3 commented on #1035
Code for this exists in this pr here: https://github.com/prometheus/client_golang/pull/333

If you want to take over adding tests, it's basically done.

[2017-10-10 13:17] jperville commented on #1018
Hello, having the same issue here with the following config:

[code]

On VictorOps, all alerts have "message_type = CRITICAL", as if the value of the expanded message_type was not one of `INFO`, `WARNING` or `CRITICAL` and the default value (`CRITICAL`) was used.

[2017-10-10 13:42] stuartnelson3 commented on #1018
Please move your usage question to prometheus-users@googlegroups.com

[2017-10-10 14:07] brancz opened #1037 "race in gossip"
After some further testing, the go race detector has found possibly multiple races in the gossip protocol.

As the race detector was very elaborate with its output on this find, I put it in a gist, rather than including it here in the issue.

https://gist.github.com/brancz/db2b2a8a3a60617c07ceee84e5e0b445

@fabxc @stuartnelson3

[2017-10-10 14:12] caarlos0 commented on #1018
@stuartnelson3 what @jperville seems to be a bug... doesn't it?

[2017-10-10 14:19] jaydipdave commented on #357
Even I am facing same problem.

`
scrape_configs:

  - job_name: 'overwritten-default'
    scheme: https
    tls_config:
      insecure_skip_verify: true

    file_sd_configs:
      - files: ['/etc/prometheus/tgroups/*.json', '/etc/prometheus/tgroups/*.yml']
`

The target file has been removed. I restarted prometheus container multiple times. But still the "AGENT_DOWN" alert was firing.

Update: A

[2017-10-10 14:34] caarlos0 commented on #1018
Maybe we could even always set state_message to upper, as all valid options in the victorops side are uppercase as well

[2017-10-10 14:49] #1013 closed

[2017-10-10 14:59] stuartnelson3 commented on #1018
https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L862-L868

It looks like the code doesn't support templating the `message_type` key. It also sets a firing alert to `CRITICAL` if it's not set to one of the accepted variables. So, what's happening is your template string isn't being used, and then it's being set to `CRITICAL` because what you have doesn't match an accepted mess

[2017-10-10 15:01] jperville commented on #1018
Thanks @stuartnelson3 , I will page the victorops people to see if they can fix (even if this is not their code it is in their interest that the issue gets fixed).

[2017-10-10 17:10] caarlos0 commented on #1018
@jperville I can work on a patch as well

[2017-10-11 12:37] caarlos0 commented on #1019
@iksaif kind of hard to test it, since it was happening on travis-ci... but looking at the patch it makes sense that this would no longer be an issue...

[2017-10-11 12:38] caarlos0 commented on #1018
@jperville @stuartnelson3 see #1083

[2017-10-11 12:59] jperville commented on #1018
Thank you @caarlos0 for the PR. For information, my contact at VictorOps told me that the `message_type` field is not case-sensitive, so the `toUpper` in the alertmanager template is not necessary, we can just the value of the severity label (as long as that value is valid for VictorOps API).

[2017-10-11 13:11] caarlos0 commented on #1018
@jperville hmm, I tested it and it defaulted to `CRITICAL` when I passed a  lowercased `warning`...

[2017-10-11 13:13] jperville commented on #1018
Right, that must be because of https://github.com/prometheus/alertmanager/blob/master/notify/impl.go#L866 ; what my VictorOps contact said is that their API will ignore the case of the message_type value (I forgot about the check in the notifier which forces the value to CRITICAL if it is not in a case-sensitive whitelist). So we have to uppercase.

[2017-10-11 13:17] jperville commented on #1018
The documentation in https://prometheus.io/docs/alerting/configuration/#%3Cvictorops_config%3E should be updated to say that the values must be uppercase and not snakecase as implied by the following comment:

[code]

I will prepare a PR immediately.

[2017-10-11 13:26] caarlos0 commented on #1018
@jperville oh, totally missed that.

I had seen the docs and forgot about updating them. Thanks for the help here 🚀

[2017-10-11 13:36] jperville commented on #1018
@caarlos0 here we go: https://github.com/prometheus/docs/pull/863

[2017-10-11 13:39] jperville commented on #1018
Note that the [official documentation](https://help.victorops.com/knowledge-base/victorops-restendpoint-integration/) of the VictorOps REST API does not document the WARNING value for the message_type attribute. I will tell them to update their documentation.

[2017-10-11 13:42] #1018 closed

[2017-10-11 13:51] stuartnelson3 commented on #812
closed by #969

[2017-10-11 13:51] #812 closed

[2017-10-12 13:00] caarlos0 commented on #1034
Working on it...

[2017-10-12 22:47] Kellel commented on #937
I haven't started any work on this yet @josedonizetti

[2017-10-12 22:47] Kellel commented on #937
Feel free :smile:

[2017-10-13 04:03] tangr commented on #1005
@brancz Only one single alertmanager without high available also has the same problem.
alertmanager version: 0.8.0
resolve_timeout: 30m

with repeat_interval: 2m resolved message send 6~7 times, with repeat_interval: 7m resolved message send ~3 times.

[2017-10-13 12:29] jameseck commented on #913
Just a note to say that we are still seeing this issue.  We are now running alertmanager 0.9.1.

[2017-10-13 14:13] stuartnelson3 commented on #913
Hm, I'm looking at the default template shipping with alertmanager:

[code]
Nothing seems obviously wrong here, as it's just writing out the label pairs it received from prometheus.

Can you confirm that your labels look normal in prometheus, and that they're being sent correctly to alertmanager? Are there any patterns you're seeing in the labels that are incorrectly rendered?

This is difficult t

[2017-10-14 14:11] caarlos0 commented on #903
@tomwilkie check https://github.com/prometheus/docs/pull/865

THe link to the victorops knowledge base is already there

[2017-10-16 02:11] taion809 commented on #877
I've started working on this, I have a WIP branch here: https://github.com/taion809/alertmanager/tree/maint-upgrade-to-pd-events-v2

I expect to have it tested against PD this week.

[2017-10-16 05:02] mdevan commented on #913
It should help if the alertmanager were to encode the body as base64, split it into separate lines not more than 1000 bytes each (see RFC 2821 4.5.3.1) , and set the "Content-Transfer-Encoding" header to "base64".

[2017-10-16 08:11] #903 closed

[2017-10-16 12:55] #1019 closed

[2017-10-16 23:57] juliusv opened #1040 "Migrate Alertmanager to new logging packages"
To be more consistent with `prometheus/prometheus` and to enable better reuse of Alertmanager's Go packages in other applications like Cortex, we should migrate Alertmanager to use `go-kit/log` and `promlog`, analogous to Prometheus.

[2017-10-17 03:24] berlinsaint opened #1041 "do i understand the alertmanager right?"
![image](https://user-images.githubusercontent.com/10629930/31645275-cb7477f6-b32d-11e7-8cd3-c18485565d39.png)

[2017-10-17 03:54] tangr commented on #1005
@brancz the "duplicate repeated notifications" should because the prometheus send notification to alertmanager continuously for 15 mins. So if the notification send interval less than 15mins, it will send duplicate repeated? and the send interval time is group_interval + repeat_interval?
https://github.com/prometheus/prometheus/blob/master/rules/alerting.go#L151-L156

And it's hardcode. It should

[2017-10-17 04:26] tangr commented on #437
for my using alertmanager version:0.8.0, the resolved alert is not tagged by status:resolved but endsAt.

just like:

#!/bin/bash

name=$RANDOM
url='http://localhost:9093/alertmanager/api/v1/alerts'

echo "firing up alert $name"

curl -XPOST $url -d '[{
    "labels": {
        "alertname": "$name",
        "service": "my-service",
        "severity": "warning",
        "instance": "$name.example.n

[2017-10-17 08:50] #1041 closed

[2017-10-17 08:51] stuartnelson3 commented on #1041
This is a usage question. The description when creating the issue informs you to send this to prometheus-users@googlegroups.com

[2017-10-17 15:56] TalosThoren commented on #504
If you version control your config, placing secrets directly in them is not an option. Not being able to use the standard method of supplying secrets via environment variables is frustrating. It is a standard practice for secrets delivery; and it's actually the preferred method of the Twelve Factor App: 12factor.net

I honestly feel like this level of resistance to supporting such a prevalent indu

[2017-10-17 19:58] lindhor opened #1042 "Log sent alerts from alert manager to file"
**Feature request**
It should be possible to configure alertmanager to log alerts to a file including the complete alert content. I.e. something like a file receiver. I.e. to avoid having to create a webhook service that stores received alerts in a file. Each alert should be stored as a one-liner-json string.

The log file could then be retrieved by a log collection tool  to be processed further.

[2017-10-17 22:35] brian-brazil commented on #1042
It's recommended to handle logging via a webhook reciever. There's many different formats and rotation strategies that a user could want, so I think that's best left up to an external component.

[2017-10-19 09:57] berlinsaint opened #1044 "send_resolved should not be configured in receiver config."
In my opinion, alertmanager can be a single component running. Now prometheus mainly do the monitoring things and alerts about the metrics . it is obviously that alermanager do the good job.
In some case about logging monitor, when some errors occur, and then passed to the alertmanager and alert, but this logging error isn't a constant event, not like metrics monitor , if we configure a receiver w

[2017-10-19 10:01] brian-brazil commented on #1044
Whether sending resolved makes sense depends on the notifier. For example it is spammy for email/slack, but not so for Pagerduty. This it needs to be configured per notifier.

[2017-10-19 14:07] mikkiweesenaar commented on #250
Good to know/realize is that the  xyz-part of `.Annotations.xyz` is case sensitive :)

[2017-10-19 14:24] grobie commented on #991
@iksaif Have you had a chance to look into this?

[2017-10-19 14:33] iksaif commented on #991
Nop, I implemented it for push_gateway though, so this could be used as an example

[2017-10-19 17:12] stuartnelson3 commented on #1037
this is really interesting, this is the first time you've encountered this ? I think SC has been running HA alertmanager for at least 6 months.

[2017-10-19 18:59] stuartnelson3 commented on #1037
I'm gone all weekend, but could potentially look at this next week. @brancz are you working on this / have plans to work on this soon?

[2017-10-19 19:10] stuartnelson3 commented on #1042
Hm, what about an "alerts" level logging mode (or something) to stdout, with a single format? It wouldn't be a great burden to implement, and I think most log daemons are happy to integrate that way. I really only have experience with syslogd, so my understanding is biased.

[2017-10-19 19:30] brian-brazil commented on #1042
That'd be mixing request logging with the application logging of the alertmanager itself. And still leaves us with format questions.

[2017-10-19 22:49] EcHoOfInSaNiTy opened #1048 "Unable to template hipchat and email in config"
**What did you do?**
Added email address and hipchat rooms and tokens into time series data so I can automatically route alerts without having to statically update the config file. Everything works as intended except for when it comes to the receivers labelled 'team'
**What did you expect to see?**
I expected to see alerts go to the receivers labelled teams email and hipchat
**What did you see ins

[2017-10-20 06:02] brancz commented on #1037
I think I’ve found the core of this issue, but the Fox involves non trivial changes across the code base. My suspicion is that we’re not locking the gossipdata object properly. As we’re always locking around it instead of in methods bound to it, it’s extremely hard to reason about what’s happening in the first place.

[2017-10-20 07:17] brian-brazil commented on #1048
I think you took https://www.robustperception.io/using-labels-to-direct-email-notifications/ a little too literally, make sure you adjust it for hipchat.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond

[2017-10-20 07:17] #1048 closed

[2017-10-20 09:38] w0rm commented on #1027
Actually closing this issue.

[2017-10-20 09:38] #1027 closed

[2017-10-20 09:41] w0rm commented on #1029
If we encode form fields in the URL, does it have to update if the fields change?

[2017-10-20 16:55] bluecamel commented on #956
I'm really not a fan of the new styles, in general.  It's much harder to glance at the alerts dashboard and see if things are firing (the old view, with red and green, was perfect for this).  Is there a simple way to change themes?

[2017-10-21 18:03] josedonizetti opened #1051 "Alertmanager webhook root status misleading"
Alertmanager won't consider the status of the alert when grouping but then sending a webhook notification the root status of the payload is misleading because the group may have both firing and resolved alerts, and the root status only says either one or the other.

Webhook payload
[code]

Alertmanager config:
[code]

I'm able two simulate this in master.

[2017-10-21 18:08] josedonizetti commented on #1051
TBH the way to simulate this 'bug' is very strange, but there are two users complaining about it on the mailing list. But what happens is, two alerts are sent, they match on the group_by clause (same name, and same env), but one of the alerts will be resolved but with a few different labels. By having a few diff labels they won't match on the fingerprint, so one is not resolving the other, they ar

[2017-10-21 18:34] brian-brazil commented on #1051
This is the intended behaviour, status is only resolved if all alerts are resolved.

[2017-10-22 17:04] #1040 closed

[2017-10-23 08:54] stuartnelson3 commented on #956
The new front end is a rewrite, the old dashboard does not exist anymore

[2017-10-23 08:57] stuartnelson3 commented on #1029
if it's not difficult, then yes, that would be good. if it's difficult, then maybe we just consume the values initially to populate the form, but then clear them.

[2017-10-23 09:32] jangrewe opened #1053 "executing "" at <.Alerts>: can't evaluate field Alerts in type template.Alert"
**What did you do?**
Create custom notification templates

**What did you expect to see?**
Notifications being sent to Slack in the expected format.

**What did you see instead? Under which circumstances?**
No notifications is being sent when an alert fires.

**Environment**

* System information:
Running the official Docker image:
[code]
* Alertmanager version:
[code]

* Prometheus version:
[code

[2017-10-23 09:37] brian-brazil commented on #1053
Here `.` has changed to the individual alert, which does not contain an `Alerts` field. If you want to access this inside the range, you need to save it off to a variable first.

[2017-10-23 09:38] jangrewe commented on #1053
Ah, that is surprising, but actually makes sense. Thanks!

[2017-10-23 09:38] #1053 closed

[2017-10-23 21:56] josedonizetti commented on #1051
@brian-brazil Indeed. Found the code that does it. Thanks for the help.

For further notice anyone coming to this issue can look into:
https://github.com/prometheus/common/blob/master/model/alert.go#L130

[2017-10-23 21:56] #1051 closed

[2017-10-24 10:37] caarlos0 commented on #941
So, this can be closed I guess?

[2017-10-24 10:37] caarlos0 commented on #944
close?

[2017-10-24 12:10] #944 closed

[2017-10-24 12:14] #941 closed

[2017-10-24 14:23] taion809 commented on #877
my coworker @scarvel8 is actually going to take this instead of me

[2017-10-24 14:25] scarvel8 commented on #877
Submitted as PR #1054

[2017-10-25 13:15] agaoglu commented on #878
Also happens in our setup with v0.9.1

[2017-10-25 19:40] or4cle opened #1057 "Feature Request: Auto-expire silences upon alert resolution"
Currently, we have the ability to auto-expire silences upon some time duration from when the silence was created.

However, it is not always known in advance a good estimate for how long of a duration to use (e.g. "will this issue take 30min or 3 hours to fix?").

I feel users would benefit from having the option to expire a silence once the underlying alerts suppressed by the silence resolve (i.e

[2017-10-25 19:45] brian-brazil commented on #1057
The existing time duration support for silences covers this. I'd usually set silences for a few hours initially, so even if I forget to remove the silence it'll not hang around for long.

In general that alerts have stopped firing does not indicate that the issue is resolved, only human investigation can do so. Doing as you suggest would result in spamming the oncall if an alert flapped.

[2017-10-26 01:54] berlinsaint opened #1058 "Help albout default.tmpl"
i add an definition like :{{ define "wechat.default.message" }}{{ template "__subject" . }} ..
 bu not use, when i use it in default config, it says not defined.
and i must create templates dir and put default.tmpl to it,then take affect( while the email.default.html  no needs to makedir templates).
And when i sovle it, i will make PR .
add an support  to wechat for chinese users. thanks.

[2017-10-26 02:00] or4cle commented on #1057
Another use-case could be: An alert triggered, and the resolution will end up taking days (e.g. so and so from a different group will replace hardware in the next few days, at which point the service will come back online, and should be monitored).

Seems the time based approach is susceptible to this as well, e.g.:

And let's say you're deep into troubleshooting the issue. You've got a lot going

[2017-10-26 02:11] or4cle commented on #1057
Just to add another data point, I just picked this link at random (I have never used the product): [sensu silencing](https://sensuapp.org/docs/1.0/reference/silencing.html#when-to-use-silencing)  And it seems to support both:

- Expiration after a specified number of seconds
- Expiration after check returns to OK state (resolves)

So, I think it doesn't seem like a totally crazy idea to have both

[2017-10-26 05:01] berlinsaint commented on #1058
find it  in  bindata.go. closed

[2017-10-26 05:01] #1058 closed

[2017-10-27 00:10] #1044 closed

[2017-10-27 11:46] petarkozic commented on #1005
I also have same problem with HA!
2 Prometheus + 2 AM

I have 3 receivers, jira over webhook, slack and pushover.

Alertmanager config for both instances is:

[code]

Pushover and Slack works good don't send duplicate, but problem is in the webhook,
because is that post request.
When AM send notification, both AM send many post requests over webhook:

AM1:

[code]

AM2:

[code]

[2017-10-27 14:04] beorn7 opened #1060 "UI: Negative filtering filters out empty/missing labels."
**What did you do?**

Filtered in the UI for alerts with unequality matcher: `foo!="bar"`

**What did you expect to see?**

I still want to see alerts that do not have a `foo` label at all, as "missing label" implies "label with empty label value", and `foo=""` clearly fulfills `foo!="bar"`.

**What did you see instead? Under which circumstances?**

An alert without `foo` label was not displayed w

[2017-10-29 15:19] #902 closed

[2017-10-30 10:08] stuartnelson3 commented on #1060
Ah, this wouldn't have been the expected behavior for me. When filtering by a label `foo!="bar"`, I would expect to be returned timeseries with a label foo, but that label not equalling bar.

Your expectation is consistent with prometheus, so it makes sense to fix this in alertmanager.

[2017-10-30 10:28] beorn7 commented on #1060
Indeed, we should definitely keep the semantics consistent throughout the Prometheus stack. Empty label and no label has to be semantically equivalent.

[2017-10-31 05:15] christianwoehrle commented on #986
Hi @mxinden, this helped me. Thanks

[2017-10-31 15:34] juliusv opened #1063 "For flapping alerts, FIRING notifications are only sent once when `send_resolved: false` is set"
Given:

- Prometheus 2.0 at current master *or* Prometheus 1.8.1 (doesn't matter)
- Alertmanager at current master

...and the intentionally flapping alerting rule:

[code]

...and the AM config:

[code]

...the initial FIRING notification always makes it to Slack, but for further on/off cycles of the alert, no further FIRING notifications get sent to Slack even after the `group_interval` has pass

[2017-10-31 19:08] juliusv commented on #1063
A `git bisect` suggests this problem was introduced by https://github.com/prometheus/alertmanager/commit/309c6af4b2a05fb8a90236859c847ec6f2a6f2de. /cc @fabxc

[2017-10-31 20:35] josedonizetti commented on #1063
@juliusv I wonder what is the expected behavior here? Because I had the impression that an alert successfully sent would only be resent after the repeat_interval had elapsed. At least that what I got from the documentation.

[code]

And right now that's what the code represents, so the first time the alert arrives there's no entry in the nflog for it, then the func `needsUpdate` https://github.com

[2017-10-31 20:51] juliusv commented on #1063
@josedonizetti

Yep, this one. I would expect that when the last alert of a group is resolved, that the whole alert group gets closed/deleted/cleared and re-opened anew with new notifications when a newly firing alert arrives for it. At least after the `group_interval` has passed.

Basically I would expect it to behave exactly as I observed in the `send_resolved: true` case, but without the resolv

[2017-10-31 20:52] juliusv commented on #1063
(if you go one commit before https://github.com/prometheus/alertmanager/commit/309c6af4b2a05fb8a90236859c847ec6f2a6f2de, you will get the behavior I expect)

[2017-10-31 20:54] josedonizetti commented on #1063
@juliusv I can work on a patch if you are not already looking into it. Because this is a bit related to another I was investigating https://github.com/prometheus/alertmanager/issues/964, this one the same resolved alert is sent multiple times, but not the same firing alert, which I also expect the same behavior.

[2017-10-31 20:56] juliusv commented on #1063
@josedonizetti A patch would be super welcome of course :) I don't know this part of the code at all and it doesn't seem to be trivial. I will do my best to review it, but it would be good if someone from the AM side could take a look as well.

[2017-11-01 07:54] mxinden commented on #986
@christianwoehrle I will close here. Thanks for your feedback.

[2017-11-01 07:54] #986 closed

[2017-11-01 17:24] alkalinecoffee commented on #878
Question for the group: does this only happen with a particular alert?  So far I'm only seeing it with an alert such as:

[code]

Wondering if there is a correlation in the actual alert here.

[2017-11-02 10:12] #1063 closed

[2017-11-02 13:59] ilackarms opened #1074 "Alertmanager eventually consumes all available storage"
**What did you do?**
Run Prometheus Alertmanager inside a docker container (specifically as an openshift pod).

**What did you expect to see?**
Storage should be refreshed after some retention period.

**What did you see instead? Under which circumstances?**
All storage on the host was eventually consumed by alertmanager's data directory.

**Environment**
oc v3.6.173.0.5
kubernetes v1.6.1+5115d708

[2017-11-02 14:11] stuartnelson3 commented on #1074
Are you able to upgrade to the latest version of alertmanager to see if that fixes the issue? The current latest version is 0.9.1: https://github.com/prometheus/alertmanager/releases/tag/v0.9.1

[2017-11-02 15:45] ilackarms commented on #1074
@stuartnelson3 I will try it; it requires building a new image for us, so it will take a little time to try

[2017-11-02 16:08] balboah commented on #504
How about allowing `tmpl_string` in these places as well? Then you could have a template function `env` where the configuration file would look like `my_secret: '{{ env "MY_SECRET"}}'`.

[2017-11-02 17:11] brian-brazil commented on #504
If you have somewhere in the notifier config that you believe should be templatable, I'd suggest filing a separate issue for that. Where secrets are templatable is where they are also routing information for the service in question, with PagerDuty keys being the prime example of that.

There are no plans to allow the environment to be accessible in configuration files in Prometheus or the Alertman

[2017-11-03 11:34] balboah commented on #504
It's a configuration management issue for sure, it's just that it's tricky to get right for alertmanager. In my case I use the prometheus operator from coreos running on multiple kubernetes clusters, where I want to configure the alert notifications to contain certain cluster specific variables. There is no obvious way to hack a dynamic setting in there between syncing the config as a secret and a

[2017-11-03 11:45] brian-brazil commented on #504
In the simplest cases, bash variable substitution with a heredoc should be sufficient (or sed). In more sophisticated setups you would be substituting in per-cluster stuff before the config ever hits k8, and environment variables would not help you with these.

[2017-11-03 12:50] balboah commented on #504
The bash or sed substitutions requires a customized [secret config file sync](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod) & configmap reloader (which coreos operator uses to ping the alertmanager when file is changed). The substituting before hitting k8s could be viable but requires either multiple copies of the same config except the dynamic variab

[2017-11-03 14:08] pgier commented on #1074
We tried upgrading to the upstream 0.9.1 alertmanager image (https://hub.docker.com/r/prom/alertmanager) but the problem still occurs.
The alertmanager data dir contains a bunch of storage subdirectories.

    ...
    5.2M    /exports/prometheus-alertmanager/data/01BXZ0BJ8MDQT1ESC3ZJB9V37B/chunks
    11M     /exports/prometheus-alertmanager/data/01BXZ0BJ8MDQT1ESC3ZJB9V37B
    5.2M    /exports/prom

[2017-11-03 17:35] brian-brazil commented on #504
Keep in mind that k8 is only one of many many systems that are used with Prometheus, and the best way to support them is to keep to only one way of doing things and let users build on top of that. If you have a configuration management system, none of this is a problem as this is a normal thing to deal with.

Prometheus presumes that you have a configuration management system, and we do not add fe

[2017-11-03 22:17] stuartnelson3 commented on #1074
That's prometheus 2.0 metrics data, not data coming from alertmanager. alertmanager creates two files, `nflog` and `silences`. Check your prometheus configuration.

[2017-11-04 13:38] #1060 closed

[2017-11-05 21:07] brian-brazil commented on #619
They need to go in the configuration one way or the other, templating doesn't help that.

[2017-11-06 13:28] olvesh commented on #504
The main problem in your reasoning @brian-brazil is that by making the Alertmanager config "simpler than possible", integrations must be more complicated than needed.

Kubernetes has overall good abstractions, and splitting secrets into env-vars is one of them. 12-factor app is another example that favors this way.

In many ways being able to store key variables that often change across environmen

[2017-11-06 15:24] brian-brazil commented on #504
What you are requesting is that Prometheus become a configuration management system, and implicitly also a secret management system.

Neither of those things are considered in scope, rather that's something for your existing configuration management to tackle. We lack as a team the resources to take on the gargantuan task of developing such a system. Layering configuration management systems also

[2017-11-06 19:25] olvesh commented on #504
I understand your sentiments, and would like to clarify a few things.

Instead of digging into technical details an arguing "we need env vars for secret" lets rather discuss this use case:
Say when using PagerDuty integrations we will typically have a quite few service keys lying around. Today these will be mixed into the same file providing route, inhibit and template configurations. In our rathe

[2017-11-06 19:45] brian-brazil commented on #504
That's heading fairly directly into configuration management, as templating is something a CM system pretty much must provide. That's what we're trying to avoid getting into. Any reasonable CM system will allow templating the files (or even running sed on them) to substitute in the secrets as a file is written out, and most of them will also allow combining files together.

[2017-11-06 19:59] olvesh commented on #504
So is having a config file :-)

[2017-11-06 20:18] brian-brazil commented on #504
An arbitrary binary string is not configuration management, in the same way that the Prometheus binary is not the source code. If the alertmanager took in the configuration some other way, you'd still have all the same problems. And likely wish we'd had gone with a simple config file :)

[2017-11-07 10:07] #877 closed

[2017-11-07 13:18] alin-amana commented on #666
FYI, #1017 has just been merged, solving the basic case of a single inhibition rule possibly inhibiting the source alert(s). Now, if an alert matches both the source and target matchers of a inhibition rule it will not be inhibited __by that rule__.

Multiple inhibition rules (e.g. {_A_ inhibits _B_} and {_B_ inhibits _A_}) will still cause unwanted effects, but that is outside of the scope of thi

[2017-11-07 13:52] beorn7 commented on #666
So yeah, in the case that @lmb presented, we are now encountering a different but still surprising effect, as the whole rule doesn't apply anymore. That's happening if a rule is matching a lot of source alerts (while the usual inhibition rule is probably quite specific on the source side and wider on the target side).

I guess the intuitively desired behavior is that the alert would not inhibit it

[2017-11-07 14:09] brian-brazil commented on #666
The original report is not resolved, but it's the only one I've seen trying to do that. All the other cases I've seen so far should be handled by #1017.

I can't quite get my head around that. Do you have an example?

I suspect such logic is too intricate to be understandable in practice. #1017 is understandable, if a tad more complicated than the previous logic.

[2017-11-07 14:26] beorn7 commented on #666
Yeah, it's kind of weird. I think the example is exactly the one @lmb gave when opening this issue. I can speculate about the exact use case around it, but perhaps @lmb can explain himself. (My tl;dr take: If `Prefix_Failsafe_Alert` fires on its own, it should notify. But if any other `Prefix_...` alert is firing too, `Prefix_Failsafe_Alert` should be inhibited, presumably because the `Prefix_Fail

[2017-11-07 16:47] brian-brazil commented on #666
That's a good summary, and your suggestion sounds at first glance as a logical step if we were to go further down the road of making this more sophisticated. For now I'd suggest giving the new logic a month or two to bake in, and seeing if our current state is good enough.

[2017-11-07 17:01] beorn7 commented on #666
Sounds good. I might also find the time to look at implementation to see how hard or easy it really is.

[2017-11-08 16:32] grobie opened #1088 "Panic in amtool check-config"
**What did you do?**

    amtool check-config /srv/prometheus/alertmanager/alertmanager.yml

**What did you expect to see?**

amtool doing its thing.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* System information:

	Linux 4.4

* Alertmanager version:

	alertmanager, version 0.9.1 (branch: HEAD, revision: 9f5f4b2a516d35cfaf196530b277f1d109254569)

* Alertma

[2017-11-08 16:58] josedonizetti commented on #1088
@grobie Think this was addressed already. See https://github.com/prometheus/alertmanager/issues/1019 and https://github.com/prometheus/alertmanager/pull/1031

[2017-11-08 17:12] grobie commented on #1088
Thanks! @josedonizetti

[2017-11-08 17:12] #1088 closed

[2017-11-10 08:11] davidkarlsen opened #1092 "Error in silences page"
After upgrading to v0.10.0, I get
active/pending/expired all say "Unexpected response from api: Expecting a List at _.data but instead got: null" when visiting:
http://myhostname:9093/#/silences

[2017-11-10 11:43] josedonizetti commented on #1092
Hey, @davidkarlsen there's a PR https://github.com/prometheus/alertmanager/pull/1090 to address it. Thanks for feedback.

[2017-11-11 07:07] gouthamve opened #1093 "date/time picker for create silences page"
`/silences/new` and editing of silences currently has a string input for time fields. A timepicker like the one in the Prometheus graph UI is better.

[code]

[2017-11-11 13:47] stuartnelson3 commented on #1093
It's probably an unpopular opinion, but I find the current datetime selection for silences to be fairly simple and unambiguous, especially thanks to the duration selection. This is something we can definitely evaluate if it's desired, but I'm not sure we can unequivocally say that the prometheus datetime picker is better. But, as mentioned, just my opinion.

[2017-11-11 13:49] stuartnelson3 commented on #1092
Closed by #1090

[2017-11-11 13:49] #1092 closed

[2017-11-11 14:01] #680 closed

[2017-11-12 16:21] josedonizetti commented on #875
@stuartnelson3 This can be closed.

[2017-11-12 16:33] #875 closed

[2017-11-14 00:43] linkinpark342 commented on #619
Templating helps in that, with it, you can check in your prometheus configuration for all to see, but have your keys managed elsewhere (ansible-vault or some such). I think this is still relevant for the product, especially for consistency as it looks like the PagerDuty integration has it. However our org (both aecolley and myself) gave up on opsgenie so we're probably not going to spend too much

[2017-11-14 09:03] brian-brazil commented on #619
If you're using ansible, then you can pull the secret out of vault with the `template` module. This is the sort of solution that would be recommended.

The pagerduty service keys are templatable because they are usable for routing. The OpsGenie api_key is not.

[2017-11-14 09:03] #619 closed

[2017-11-14 22:11] cepefernando commented on #878
I'm also having this issue: My alert config file is:

global:
    resolve_timeout: 5m
route:
    repeat_interval: 1m
    group_interval: 30s
    group_wait: 0s
    group_by: [ instance ]
    receiver: 'slack'
receivers:
    - name: 'slack'
      slack_configs:
          - send_resolved: true
            username: 'Alert'
            icon_emoji: 'fire'
            channel: 'masaje-criollo'

[2017-11-15 10:16] vaibhavsood opened #1106 "Official docker image"
Hi,

Want to check if there is a docker image for alertmanager which is a official docker image? I could not find one under dockerhub official images https://hub.docker.com/explore/

If not, want to check if there is any plan to add an official configmap-reload image to dockerhub? https://docs.docker.com/docker-hub/official_repos/#how-do-i-create-a-new-official-repository,

Also want to check if i

[2017-11-15 10:32] sdurrheimer commented on #1106
@vaibhavsood Officiel docker images are on quay.io : [README.md](https://github.com/prometheus/alertmanager#docker-images)

[2017-11-15 14:45] XooR opened #1107 "OpsGenie notify fails with 422 status code"
**What did you do?**

I have simple rule on test instance:
[code]

I logged request it sends:

[code]

**What did you expect to see?**

I expected successful response 200 from OpsGenie, instead I got 422 response which means: "Semantic errors in request body".

But I don't see any problems with requests because it have message field which is only required field from what I can see in OpsGenie API

[2017-11-15 15:52] stuartnelson3 commented on #1107
@Tom-Fawcett created the PR to move to V2, perhaps he has some insight

[2017-11-15 15:52] josedonizetti commented on #1107
hey @XooR this is a bug caused by the API upgrade. The problem is that the 'teams' should be sent in a different structure. for now, you can make it work by removing the 'teams' option from your configuration. I'll have a PR to fix it by EOD.

[2017-11-15 16:03] Tom-Fawcett commented on #1107
Yep sorry guys :disappointed: I caused this bug.

@XooR for now I would advise either not using the teams config, or rolling back a version.

@stuartnelson3 @josedonizetti I identified this issue a few days ago, and created #1101, however, it hasn't progressed.

[2017-11-15 16:06] josedonizetti commented on #1107
@Tom-Fawcett Awesome the PR exist already.

[2017-11-15 16:34] fatalsaint commented on #1107
I would like to chime in that I have this same problem with the newer version 0.10.0 opsgenie but it's the 'tags' field causing my problems, not the 'teams' field (I don't use the teams field in alertmanager for opsgenie).  When I remove the 'tags' field from my config opsgenie successfully gets the post.

[2017-11-15 16:35] #1106 closed

[2017-11-15 20:09] Tom-Fawcett commented on #1107
@fatalsaint apologies, I'll fix that.

[2017-11-15 20:58] Tom-Fawcett commented on #1107
@josedonizetti @fatalsaint #1108

[2017-11-15 22:20] stuartnelson3 commented on #1107
@fatalsaint @XooR are either of you able to build from head and confirm the behavior is fixed for you?

[2017-11-15 22:33] fatalsaint commented on #1107
My setup utilizes the Docker containers.  I can try when the master tag in hub gets updated.  The Dockerfile in the repo looks like it requires a pre-built binary.

[2017-11-15 22:58] josedonizetti commented on #1107
Tested it on the account I've used to debug, and it worked perfectly. Both tags and teams.
<img width="949" alt="screen shot 2017-11-15 at 8 57 50 pm" src="https://user-images.githubusercontent.com/34032/32864821-b3beaef2-ca47-11e7-9fee-f6a228b41e44.png">

[2017-11-15 23:00] fatalsaint commented on #1107
Master tag updated, so I tested tags, and it worked.

Thanks for the fast response all.

[2017-11-16 08:59] XooR commented on #1107
I'm also confirming that it works both `tags` and `teams` option.

[2017-11-16 10:40] vaibhavsood commented on #1106
Thanks @sdurrheimer! Had a couple of queries

1) Are these docker images multi-arch (running on non-x86 platforms like ppc64le)?

2) If not, is there any plan to make them so?

Dockerhub has a way to build multi-arch images https://github.com/docker-library/official-images#multiple-architectures, but since these images are hosted on quay.io not sure ways to do it there

[2017-11-16 10:50] sdurrheimer commented on #1106
@vaibhavsood Not yet, I haven't got the time to look at this lately.

[2017-11-16 16:20] #1107 closed

[2017-11-16 23:05] swestcott opened #1110 "Unannounced BC break in 0.11.0"
#1087 renamed some config variables (Hipchat & OpsGenie), could these be added to the release notes?

[2017-11-16 23:15] stuartnelson3 commented on #1110
Yes, definitely. Thanks for catching that!

[2017-11-16 23:19] #1110 closed

[2017-11-17 13:11] randomvariable opened #1111 "Add Auto-Submitted: auto-generated header to email notifications"
**What did you expect to see?**
In order to play nicely with email systems, it is best practice to set the following header:

`Auto-Submitted: auto-generated` as per [RFC 8384](https://tools.ietf.org/search/rfc3834).

This reduces the possibility of email loops and storms on some email systems.

[2017-11-17 14:06] alkalinecoffee commented on #878
Seeing the same on the latest 0.10.0.

Can we get some input from the alertmanager folks on what we can do to help push this along?  It seems that most of our alerts now are being sent as resolved without the accompanying firing alert.

[2017-11-17 15:41] josedonizetti commented on #878
@alkalinecoffee Do you have a snippet of the log when this problem happened?

[2017-11-17 19:04] alkalinecoffee commented on #878
@josedonizetti The logs actually don't show anything about the alerts.  I just see the maintenance stuff, ie...

[code]

But I do think I found a pattern here.

I think what's happening is the alert fires, and before the alert is actually sent out, the resolved message comes in very soon after.  This reflects what's seen in the original post here.

So for example in my case, I have an alert for hi

[2017-11-17 19:24] stuartnelson3 commented on #1111
Looking at https://tools.ietf.org/search/rfc3834#section-5.2, I'm wondering about the meaning of "direct responses to other messages".

[code]

While the alertmanager message is being generated, it is directly in response to messages sent by Prometheus. Perhaps someone with more experience could help understand how to interpret this.

@brian-brazil @SuperQ

[2017-11-17 19:34] brian-brazil commented on #1111
I'd presume that "message" here means email.

What I'd wonder here if this would cause issues with some ticketing systems etc. which use these to (incorrectly) filter out undesirable messages, for which the user depends on the return "ticket created" message to go somewhere.

[2017-11-17 20:06] sandersaares commented on #878
I confirm that my experiences as I remember them seem to fit within the parameters described in the comment above.

[2017-11-18 11:00] randomvariable commented on #1111
They must mean email.
The concern about ticket flows is valid though. I've just googled a few I've used in the past (OTRS, BMC Remedy), and you can match on that header. However, with FreshDesk, new ticket notifications will be suppressed in the presence of "auto-" values. https://support.freshdesk.com/facebook/support/discussions/topics/1279/page/last

So we should feature flag this. Which way ro

[2017-11-18 11:10] bjoernhaeuser commented on #384
I started to work on this: prometheus/docs#917

[2017-11-18 11:40] brian-brazil commented on #1111
That's only the notifications, not the creation of the ticket.

I personally would prefer that we don't end up with N different configuration options for various email headers, but rather hardcode some headers that make sense and allow users to add more.

[2017-11-20 17:21] Gouthamve opened #1114 "GroupWait and Interval 0 causes a lot of allocs and logs"
**What did you do?**
Ran a single AM instance with GroupWait and Interval 0 and debug logging.

**What did you expect to see?**
Chatty but useful logs.

**What did you see instead? Under which circumstances?**
A huge flood!

* Alertmanager version:
alertmanager, version 0.11.0 (branch: HEAD, revision: 30dd0426c08b6479d9a26259ea5efd63bc1ee273)
  build user:       root@3e103e3fc918
  build date:

[2017-11-20 17:28] Gouthamve commented on #1114
Sorry. Config issue on my end. I put both `group_wait` and `group_interval` as 0.

Not sure if that should cause a barrage of notifications though. We can atleast protect this case by putting a check.

Feel free to close if this doesn't make sense.

[2017-11-20 17:47] Gouthamve commented on #1114
So notifications were being sent every `repeat_interval` only. But this loop being run so tightly is causing a lot of allocs: `rate(go_memstats_alloc_bytes_total) = 60M`

[2017-11-20 17:57] RichiH opened #1115 "Replace UID with UUID v4"
Alertmanager uses a UID instead of UUID v4 for meshing, see:

https://github.com/prometheus/alertmanager/blob/503a6c0569b1225d41347c6ff1570c6b12f93b39/vendor/github.com/weaveworks/mesh/peer.go#L138

Without testing, I am pretty sure there would need to be an intermediary version which understands both and still defaults to UID.

https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4

[2017-11-21 10:01] leoluk commented on #1037
I'm looking forward to use alertmanager HA in production, but this issue is still present, correct?

[2017-11-21 11:05] brancz commented on #1037
This is currently present, but I'm going to tackle this issue this or next week.

[2017-11-22 07:20] eugenekropotkin commented on #1023
A negative matching will be useful for this case: two receivers, one for full flow, another one for partial alerts flow (dev becomes as semi-prod, for example - just to change routes to try it as prod)
A negative comparison can be "not recommended", but it very useful and exists in almost any programming language. I think, carefully written, it will not decrease alerting performance.
I can try to

[2017-11-22 09:08] #992 closed

[2017-11-22 09:16] brian-brazil commented on #1023
You don't need a negative matcher for that, in fact it'd just complicate things. That is handled easily by two routes.

[2017-11-22 10:28] wutaizeng opened #1116 "PagerDuty v2 Source not execute template"
https://github.com/prometheus/alertmanager/blob/55a40d1d3af5d1f8f52b0251d4f78a60a152d495/notify/impl.go#L504

[2017-11-22 19:52] stuartnelson3 commented on #1116
Closed by #1117

[2017-11-22 19:52] #1116 closed

[2017-11-23 01:59] eugenekropotkin commented on #1023
Of course, I'm able to do my task by the way of adding more routes.... But with negative matching I can't shoot my leg by incorrect routes order, and rules will be more simple.
Just think about, it's not complex, just a "not"-wrap on match - 20-30 lines of code, and no more.

[2017-11-23 11:34] discordianfish commented on #634
So what about this? Can somebody with the authoritah finally decide if this is something that would be accepted?

[2017-11-23 16:02] ajuszczak opened #1119 "amtool accessible in docker image for alertmanager"
**What did you do?**

I'd like to be able to use `amtool` within alert manager docker image to be able to verify configuration passed to docker image before I will push it to Nexus.

[code]

**What did you expect to see?**
Help message returned by amtool script.

**What did you see instead? Under which circumstances?**

Error, which says that specific command doesn't exist.
[code]

Please note tha

[2017-11-24 16:21] discordianfish commented on #634
I've looked into their API and we would need to store their 'receipt' ID and I don't think there is a way yet in the AM to do that. Addin such fuctionality just for pushover doesn't seem to be worth it, unless we have the need to store similar state for other notifiers but it doesn't look like it.

[2017-11-24 16:30] discordianfish commented on #634
I've sent a feature request to pushover help, asking for a stateless way e.g by supporting a client provided identifier for the message.

[2017-11-26 04:06] Arnold1 opened #1122 "alerting to hipchat does not work with alertmanager"
Hi,

i try to test prometheus 2 with alerting. the alert shows up in the alert manager, but the notification to hipchat does not work (i dont see a notification msg in the hipchat room). does someone know where the issue is and how i can read the log files of the alerting manager? the alerting manager does not give any errors...

<img width="1379" alt="screen shot 2017-11-25 at 10 54 42 pm" src="h

[2017-11-26 05:08] Arnold1 commented on #1119
im also interested, is there a way to login to the running alertmanager container?

[2017-11-26 05:21] Arnold1 commented on #1122
i checked the logs, and see the following msg every 15 sec"
[code]

[2017-11-27 05:27] dogopupper commented on #307
the docs should have a link to this page @brancz

[2017-11-28 13:34] keithjohnhowe opened #1124 "Pod Crashes with CrashLoopBackOff"
Everytime I try to run this yaml file in minikube it fails with a CrashLoopBackOff error.
I have tried to get this working myself and have not had any joy, I would therefore welcome some input.

I have included the yaml file and various relevant logs.

$cat alertmanager.yaml
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
name: main
spec:
replicas: 3
resources:
requests:
memory:

[2017-11-28 13:48] stuartnelson3 commented on #1124
This is a usage question, which should be sent to prometheus-users@googlegroups.com.

The error is given to you in the log message:

[code]

Your config file is mixing kubernetes and alertmanager configs together. Additionally, I cannot see your formatting, but I'm guessing that is at fault.

[code]

the above is a working version of your config.

[2017-11-28 13:48] #1124 closed

[2017-11-28 14:15] keithjohnhowe commented on #1124
Thanks for this - I have obviously read the alertmanager guide incorrectly.

On 28 November 2017 at 13:48, stuart nelson <notifications@github.com>
wrote:

--

Keith Howe
Howe Computers
Ph: 0787 5911807
[image: https://uk.linkedin.com/in/howecomputers]
<https://uk.linkedin.com/in/howecomputers>

[2017-11-29 03:43] shogosanz opened #1125 "Why does alertmanager send multiple [resolved] alerts ?"
**What did you do?**

I have executed `mysql.server stop` to become db_status's value 0
[code]
![2017-11-29 12 01 06](https://user-images.githubusercontent.com/25962808/33355954-23a01e80-d4fd-11e7-9fd5-f0ec140b75c4.png)

**What did you expect to see?**
I expect alertmanager send only once resolved alert.

**What did you see instead? Under which circumstances?**
Alertmanager sent multiple alerts. e

[2017-11-29 08:55] ronenn1 commented on #1051
I've found the reason for this behavior, and a solution.
The root problem was my Prometheus alert rule:
ALERT some_alert
`IF (time() - container_last_seen{name="some_cont",instance="some_fqdn"} > 60) or absent(container_last_seen{name="some_cont",instance="some_fqdn"})
FOR 5m`
Initially, "some_cont" is up so there are no alerts.
Then, I stop the container.
After around a minute (depending on the s

[2017-11-29 16:08] fatalsaint commented on #1125
See issue #964 - for now if you raise your repeat_interval you can avoid it.  I set my critical alerts to 1h and warnings to 24h and have managed to avoid the duplicates.

[2017-11-30 04:33] shogosanz commented on #1125
Thank you for your advice.
I'll check #964 .
I cannot understand why Prometheus send duplicate [Resolved] POST to Alertmanager API. Despite that Alertmanager should send only once RESOLVED notification in principle.

[2017-11-30 16:02] josedonizetti commented on #1122
@Arnold1 This a usage question, which is better to be sent to prometheus-users@googlegroups.com.

i think that the documentation explains this well:

[code]

so you can change group_wait to a lower time so get the alert flushed right away.

[2017-11-30 16:09] LenzGr commented on #98
FWIW, there seem to be two alternative implementations that use webhooks to generate SNMP traps:

https://github.com/chrusty/prometheus_webhook_snmptrapper (and several forks thereof)
https://github.com/kaija/webhook-snmp (Javascript using Node.JS)

[2017-12-01 06:41] Zouruncheng commented on #259
This is a simple example!
http://tailnode.tk/2017/03/alertmanager%E9%82%AE%E4%BB%B6%E6%A8%A1%E7%89%88/

[2017-12-03 13:33] #1122 closed

[2017-12-03 14:15] #1119 closed

[2017-12-04 18:43] omadawn opened #1128 "log.format flag missing since 0.10.0"
**What did you do?**
Tried to upgrade to 0.10.0

**What did you expect to see?**
Alertmanager to run

**What did you see instead? Under which circumstances?**
Alertmanager failed to start with the error
flag provided but not defined: -log.format

**Environment**

* System information:
I confirmed this on two platforms:

Linux 3.10.0-514.26.1.el7.x86_64 x86_64
Darwin 16.7.0 x86_64

* Alertmanager v

[2017-12-05 02:55] fate-lovely commented on #964
I have the same problem, after the alert resolved, prometheus keeps sending resolved alerts to alertmanager, it should send only one resolved alert.

I use blackbox exporter to monitor two simple http servers, and a custom webhook receiver.

related information:

[code]

[code]

`prometheus.yml`

[code]

`blackbox.yml`

[code]

`alertmanager.yml`, I make the interval very short to test.

[code]

`

[2017-12-05 19:57] TalosThoren commented on #504
A config file that can pull secrets from the environment variable is a pretty standard feature. It's a long-standing industry standard that many of us have a real need for.

Why is there so much resistance to this?

[2017-12-05 21:10] brian-brazil commented on #504
I recently became aware of `envsubst` which is part of gettext and may be of interest.

[2017-12-05 22:09] josedonizetti commented on #1128
This was lost in the migration to go-kit/log. @juliusv does it make sense to add back? or is there another way to configure it? Prometheus is not supporting the flag as well (after the migration)

[2017-12-05 22:16] brian-brazil commented on #1128
The removal was intentional. Can you explain why you want this?

[2017-12-06 18:18] omadawn commented on #1128
Because I prefer to be able to deal with text based logs without having to redirect stdout/stderr in a service or use journalctl and I didn't realize it was intentional (I didn't see anything in the release notes about it. Please let me know if there was and I was looking in the wrong place.)

Digging into journald a bit it looks like I can get everything I want with that system so I agree with di

[2017-12-06 18:18] #1128 closed

[2017-12-07 12:12] #1000 closed

[2017-12-08 02:40] jtomell commented on #504
Every other CNCF project supports loading from environment variables. It is one hundred percent part of this industries standard options to configure a program. Ten years is a long time. The go language is only 8 years old. Nobody would be confused about what `${ALERTMANAGER_SLACK_API_URL}` would be coming from. No CNCF project except Kubernetes is a CM system. I agree, CM can do everything. That

[2017-12-08 03:05] shaneramey commented on #504
How would you suggest supporting multiple Slack API URLs?

[2017-12-08 04:34] jtomell commented on #504
https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html#_environment_variable_substitution

[2017-12-08 07:53] Youngcoder commented on #952
I have this problem, too. My alertmanager version is 0.5.1 and config is
[code]

[2017-12-08 09:23] stuartnelson3 opened #1130 "Alertmanager Duration ui incorrectly calculated"
**What did you do?**

Set a silence's start time after its end time

**What did you expect to see?**

the ui to either indicate that it is invalid, or not to update the duration

**What did you see instead? Under which circumstances?**

See picture:
![screenshot-2017-12-8 alertmanager](https://user-images.githubusercontent.com/1398104/33759163-9c89a2b6-dc01-11e7-9de2-ca5831405d07.png)

**Environme

[2017-12-08 09:26] stuartnelson3 commented on #952
We are currently on v0.11.0. I recommend you update.

[2017-12-08 09:59] w0rm commented on #1130
@stuartnelson3 good find, thanks for reporting this!

[2017-12-08 10:34] illusion202 commented on #952
We have upgraded to v0.11.0 but still have this problem. @stuartnelson3

[2017-12-08 11:42] brian-brazil commented on #504
Kubernetes is not a configuration management system, it's a cluster scheduler. Ksonnet would be a CM system in that space.

Thank you for collecting these examples. By your definition all Go binaries support environment variables due to `GOGC`, so I think you're overstating your case a bit.

They's several different use cases there, of which only one (CoreDNS) is relating to a config file. Only on

[2017-12-08 15:08] balboah commented on #504
I get the point where it's insecure if you have some shared environment with untrusted users that can configure your alertmanager to expose the environment variables in a bad way. I don't not know how common this shared case is, but how can storing clear text passwords in a file be more secure? How will you know that he who installs alertmanager will protect this file or any configuration file sub

[2017-12-08 15:54] brian-brazil commented on #504
Unix file permissions can protect the file. It's quite normal to store secrets plaintext in files, and it's not normal for debug output or systems to dump arbitrary files (which can be a directory traversal attack).

We don't, we can only try to ensure that the running binary doesn't expose secret fields. Umasks and general security practice should cover this. Environment variables do not have the

[2017-12-08 16:00] brian-brazil commented on #504
Finally found the old article I was looking for on environment variables and secrets: http://movingfast.io/articles/environment-variables-considered-harmful/

[2017-12-08 16:02] c-datculescu commented on #1125
Just to chip in: In the prometheus code there is a constant that keeps an alert for exactly 15 min if it has been resolved. Increasing the repeat_interval to 15 min fixes it for most of my cases (it is not yet clear for me why the 15 min is needed).

[2017-12-08 22:43] w0rm commented on #1130
I could not find a better solution than validating all time fields together, also noticed that we would parse the time even when it is empty

![silence](https://user-images.githubusercontent.com/43472/33788252-7a040112-dc71-11e7-9d02-c28687077441.gif)

[2017-12-09 14:22] #1037 closed

[2017-12-10 11:47] w0rm commented on #1093
I'm not sure about this too. My hope is that the default `startsAt=now` and the duration field is good enough.  Datetime pickers are usually pretty complicated:

1. the ui has a lot of elements and it is hard to make it accessible
2. it may not be the best way to input UTC timestamps
3. this brings in some localisation challenges (e.g. what is the first day of week, AM/PM or military)

[2017-12-10 13:42] moshebs commented on #511
+1

Hopefully it has impact on priority :-)

[2017-12-10 20:59] #899 closed

[2017-12-12 15:35] nre-ableton opened #1142 "Installation of amtool fails with go compiler error"
When attempting to install `amtool` via `go get`, I encounter the following error:

`go version` reports `go version go1.7.4 linux/amd64`. I don't know much about `go` or the architecture of `amtool`, but looking at the error it seems that this is emitted from a third-party framework. Could it be that `amtool` simply needs to bump the version of this framework to one that includes a fix for this?

[2017-12-12 15:43] stuartnelson3 commented on #1142
The easiest thing to do is to download a precompiled binary from our releases page: https://github.com/prometheus/alertmanager/releases

`time.Until` was added in go 1.8: https://golang.org/doc/go1.8#time

Your current version doesn't have this function, unfortunately.

[2017-12-12 15:43] #1142 closed

[2017-12-14 08:57] AndreaGiardini commented on #645
Just adding my comment to say that the workaround of @discordianfish works great with an headless service :+1: thanks!

[2017-12-14 10:20] oleg-glushak opened #1143 "Feature request: inhibit_rule per receiver"
It would be nice to have this feature.
Use case:

We use Alerta (via webhook_config) as alerts dashboard and Slack (via slack_config) to get notifications.
We have two alert rules in Prometheus:
1. Host is down. Label Severity: Warning
2. More then 10 hosts are down. Label Severity: Critical.

And we have inhibit_rule where we're muting Warning alerts when Critical one are fired to avoid spam in S

[2017-12-14 10:43] brian-brazil commented on #1143
You want #180. This doesn't make sense per-receiver, all logic of that sort is around routing.

[2017-12-14 10:43] #1143 closed

[2017-12-14 10:47] oleg-glushak commented on #180
+1

[2017-12-14 12:41] ashth231 opened #1144 "Alertmanager not printing labels when sending notifications"
**What did you do?**
I have configured **TargetInstanceDown** alert to send notifications to hipchat.I use the default hipchat message template.

**What did you expect to see?**
Notifications with labels saying which target is down
**What did you see instead? Under which circumstances?**
I did see the Notification with the labels for the first FIRING alert. But for the next alert for a different n

[2017-12-14 12:48] brian-brazil commented on #1144
This is the way the default templates work, it only uses labels that are common across the alerts. If you wish to change this, you can provide your own template: https://prometheus.io/docs/introduction/overview/

[2017-12-14 13:55] ashth231 commented on #1144
@brian-brazil Thanks for your response. I'll look into writing a template to change this behaviour.

[2017-12-14 14:00] #1144 closed

[2017-12-14 15:16] #1130 closed

[2017-12-15 10:46] w0rm commented on #688
Closing this issue as we now have checkboxes to show/hide silenced and inhibited alerts

![screen shot 2017-12-15 at 11 45 56](https://user-images.githubusercontent.com/43472/34038695-88f667a2-e18d-11e7-88d6-7b47e24b9c5e.png)

[2017-12-15 10:46] #688 closed

[2017-12-15 11:02] discordianfish commented on #645
@AndreaGiardini Full disclosure: In the end I went with @brancz original suggestion of using stateful sets since I got into split brain situations otherwise. But yeah I'm not happy with it since it's much more complicated than it should be for a 'cloud native' project. But I think we agree on that now and just need somebody to add a light DNS SD like the one in consul or oklog.

[2017-12-15 11:54] w0rm commented on #1029
@stuartnelson3 perhaps could be done via a redirect, we send a user to a location that parses the silence from the query string, populates the form and clears the location.

[2017-12-15 12:20] stuartnelson3 commented on #1029
sounds fine to me

[2017-12-15 13:04] w0rm opened #1147 "Proposal: use the same matcher format for creating silence as for filtering alerts"
Currently we can filter alerts using "!=" "!~" "=~" "=" matchers, but we can only create a silence with "=" or "=~". Supporting all types of matchers in the silence form would allow us to reuse some code on the frontend.

This is especially needed for an ability to create a silence from alert (https://github.com/prometheus/alertmanager/issues/1029). We have to stringify matchers into the location

[2017-12-15 13:35] beorn7 commented on #1147
:+1: This would go into the same direction of consolidation as the proposal 2 in #1023 .

[2017-12-15 13:41] #731 closed

[2017-12-18 08:25] erkules commented on #98
@LenzGr any experience using one of them?

[2017-12-18 08:42] LenzGr commented on #98
@erkules unfortunately not. All of these somewhat look like a kludge to me - I would be very much in favor of having native support in the alertmanager for that. Another problem with the Go-based solutions above is that they lack any kind of license information, which makes it problematic to actually deploy and use them (the JavaScript one is MIT licensed).

[2017-12-18 09:18] #1029 closed

[2017-12-18 13:11] brancz commented on #645
Basically my point from above stands, I think for initial peer discovery a simple DNS discovery is fine, but this should only be for initial discovery, after that the mesh should take over for adding/removing peers.

[2017-12-18 13:44] #739 closed

[2017-12-18 20:17] omadawn opened #1150 "Allow the configuration to be spread across multiple files."
For those who, like me, support multiple teams on a single Prometheus infrastructure it would be useful to be able to spread the Alertmanager config across multiple files.

I would like different teams to be able to control their own alert destinations and routing rules. It is simple enough to allow them to specify receivers and routes in their own files and combine those into a single file but th

[2017-12-18 20:31] stuartnelson3 commented on #1150
Typically we recommend that this be managed via configuration management (ansible, chef, etc). After stitching all the files together, the resultant config can be checked with `amtool check-config config.yml`.

[2017-12-18 22:49] omadawn commented on #1150
That's what I'm currently doing. (stitching together not running amtool yet.)

However that really just tells me if the resulting config is broken but make it far harder to determine which team caused the failure.

I doubt amtool check-config is going to help me with individual team config files since all of those will be missing the global configuration options.

Amtool gives an O.K. but not exce

[2017-12-20 08:21] anthraxn8b opened #1152 "Reloading configuration via HTTP-POST fails but returns 200"
**What did you do?**

1. I intentionally provided a bad config file!
2. Reload configuration via POST on "http://myhostname:9093/-/reload".

**What did you expect to see?**

An HTTP-400 return code.

**What did you see instead? Under which circumstances?**

An HTTP-200 return code:

Response (0.054s)
200 OK
HEADER:
* Date: Wed, 20 Dec 2017 08:04:18 GMT
* Content-Length: 31
* Content-Type: text/pla

[2017-12-20 09:18] oscarruizmrf opened #1153 "Alertmanager not disinhibiting alert"
**What did you do?**
We configured a couple of alarms and expect one of them (tooManyAlarms) to inhibit the other one (lowRevenueComparedToPredction).

**What did you expect to see?**
In the first 10 minutes range, alert tooManyAlarms inhibits lowRevenueComparedToPrediction that fires every 2 minutes. Alertmanager shows lowRevenueComparedToPrediction inhibited, as expected. Also, there is no notif

[2017-12-20 11:46] beorn7 commented on #1153
The binaries don't show the version most likely because you have built them directly with the `go` command (rather than `make`). It would be good if you could provide the git sha1 where you built the binaries from (run `git rev-parse HEAD` in the respective git repo).

[2017-12-21 09:21] oscarruizmrf commented on #1153
Yes, I built with go, but this release, downloaded as binaries fails also.

alertmanager, version 0.10.0 (branch: HEAD, revision: 133c888ef3644b47a52acbaeffb09f4cc637df1b)
 build user:       root@01302b7cd08a
 build date:       20171109-15:36:24
 go version:       go1.9.2

[2017-12-21 09:59] oscarruizmrf commented on #1153
Also tested with latest alertmanager

alertmanager, version 0.12.0 (branch: HEAD, revision: fc33cc78036f82ef8d4734c197a96f7cb6c952a3)
  build user:       root@c9169eb10d06
  build date:       20171215-14:14:51
  go version:       go1.9.2

[2017-12-21 10:07] simonpasquier commented on #1074
I think this issue can be closed since it clearly relates to Prometheus data, not AlertManager. @pgier @ilackarms can one of you confirm?

[2017-12-21 10:09] brian-brazil commented on #1074
Yes, this is for Prometheus. I believe this was already resolved over there.

[2017-12-21 10:09] #1074 closed

[2017-12-21 10:30] stuartnelson3 opened #1157 "Data race in api.Update()"
**Environment**

* System information:

	`Linux 3.13.0-135-generic x86_64`

* Alertmanager version:
https://github.com/prometheus/alertmanager/commit/8b8642935aa4426d955329ad5012eaab29bd0075, with `-alerts.gc-interval=60s`

* Logs:
[code]
@brancz

EDIT:
The config is being refreshed every 10min, which would be the source of this race.

[2017-12-21 10:31] stuartnelson3 commented on #1157
failed to restore the stack unfortunately -.-

[2017-12-21 10:35] stuartnelson3 commented on #1157
doesn't seem like such a show-stopper..

[2017-12-21 10:49] brancz commented on #1157
There is also not a lot we can do without the other stack trace, but you're probably right about the severity. My guess is that within the API one of the three fields being set are read without acquiring the mutex.

[2017-12-21 10:53] stuartnelson3 commented on #1157
probably https://github.com/prometheus/alertmanager/blob/master/api/api.go#L471

[2017-12-21 10:57] brancz commented on #1157
Maybe not the only one, but definitely a candidate. I would suggest to "load" the field in the beginning of the function and just surround that with the mutex lock - just so we don't lock for the entire function.

[2017-12-21 11:31] beorn7 commented on #1153
Doesn't look like a recent regression then, thanks.

@stuartnelson3 do you have an idea what could be going on?

[2017-12-21 11:36] simonpasquier commented on #991
I've submitted #1159  for adding `/-/healthy`. Any other idea regarding readiness apart from a fixed wait time after (re)start?

[2017-12-21 12:02] stuartnelson3 opened #1160 "UI non-responsive when typing into silence filter bar"
**What did you do?**
Was typing text into the silence filter bar. There were 10,000 silences rendered on the screen.
**What did you expect to see?**
The text to smoothly be entered into the filter bar
**What did you see instead? Under which circumstances?**
Long lag between pressing the button and it appearing in the text field
**Environment**

* System information:

	firefox developer

* Alertman

[2017-12-21 12:34] stuartnelson3 commented on #1157
fixed by https://github.com/prometheus/alertmanager/pull/1158

[2017-12-21 12:34] #1157 closed

[2017-12-21 13:57] w0rm commented on #1160
@stuartnelson3 is this a dupe of #981?

[2017-12-21 15:02] stuartnelson3 commented on #1160
ah, yes it is

[2017-12-21 15:02] #1160 closed

[2017-12-21 15:03] stuartnelson3 commented on #981
@w0rm any time to look at https://github.com/prometheus/alertmanager/issues/981#issuecomment-328357757 ?

[2017-12-21 15:05] w0rm commented on #981
@stuartnelson3 I’m on vacation now, so I got plenty of time, will have a look soon.

[2017-12-21 15:20] Deepak-Routray opened #1161 "Alerting issue in Prometheus is resolved and amtool shows empty alert but alert manager still sending alerts to configured email"
**What did you do?**
I setup alert manager with old email and afterwards chnaged the config email to a new email but old email still getting emails even when alert is resolved. Prometheus alert page and amtool not showing any firing alert.
**What did you expect to see?**
Alerts to both my old and new email should be stopped.
**What did you see instead? Under which circumstances?**
I am getting reg

[2017-12-22 12:42] stuartnelson3 opened #1165 "UI error outputs html as text"
**What did you do?**
Navigated within the UI after the backend had become unavailable
**What did you expect to see?**
A nicely formatted error message
**What did you see instead? Under which circumstances?**
HTML as text
**Environment**

* System information:

* Alertmanager version:
v0.12.0

![image](https://user-images.githubusercontent.com/1398104/34298383-d6035088-e71d-11e7-8296-15998f8aebd7.p

[2017-12-22 15:04] Deepak-Routray commented on #1161
It was because of my mail/postfix server issue and backdated emails were firing. Nothing to do with Alert Manager per se. Closing this out.

[2017-12-22 15:04] #1161 closed

[2017-12-22 16:38] beorn7 commented on #979
The same is probably true for inhibitions.

[2017-12-22 16:38] simonpasquier opened #1166 "Mesh router reports connections to peers as pending instead of established"
As discovered in https://github.com/prometheus/alertmanager/pull/1164, the mesh router reports peer connections as `pending` whereas they are definitely up. This issue is a placeholder for investigating further knowing that the problem is more likely in the mesh library.

[2017-12-22 16:39] simonpasquier commented on #1166
I'll try to dig further into this after the X-mas break.

[2017-12-22 16:42] beorn7 commented on #1153
This might have to do with the specific interaction of `group_wait`, `group_interval`, and `repeat_interval`. Could you try out what happens if you set them all to 15s?

[2017-12-25 09:56] ZeeShen opened #1168 "Alertmanager doesn't template pagerduty service key"
**What did you do?**
Send alerts to pagerduty via alertmanager

**What did you expect to see?**
Send alerts

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* System information:

	`Linux 3.13.0-48-generic x86_64`

* Alertmanager version:

[code]

* Alertmanager configuration file:
[code]
* Logs:
[code]

I think this 400 is caused by [this commit](https://github.c

[2017-12-26 09:26] vsknov opened #1169 "Need help on Prometheus/Alertmanager email customizing on Subject and labels."
Hi All,
I have configured Prometheus and Alertmanager in my environment and based on the Prometheus/Alertmanager configuration i am receiving notification mails from Alertmanager to my mail id.

Prometheus configuration:-
container.rules config:
#Alert If Container's Memory Usage exceeds 2 GB
ALERT container_memory_usage_bytes
  IF container_memory_usage_bytes{image=~"cri-registry:4777/harmony/cri

[2017-12-27 10:46] oscarruizmrf commented on #1153
Hi, we set all to 15s, but there is no difference in the behaviour.
The alarm that should dishinibit, does not.

[2017-12-28 07:55] pborzenkov opened #1170 "UI: silence's expire button always expires the last silence in list (not the one the button is clicked for)"
**What did you do?**
Go to "Silences" view, "Active" tab. Click "Expire" button on the first silence on the list.

**What did you expect to see?**
The first silence got expired.

**What did you see instead? Under which circumstances?**
The last silence onlist got expired. It always happens when there is more than 1 silence on the list.

**Environment**

* System information:

Chrome 63, MacOS 10.1